@mixin stack($mult: $curr-inner-y, $base: true) {

  $prev-inner-y: $curr-inner-y;
  $prev-stack: $curr-stack;
  $curr-inner-y: $mult !global;
  $curr-stack: & !global;

  @if $base {
    // padding-top: 0.1px; // prevent margin collapse
    // padding-bottom: 0.1px; // ^
    & > * + * { margin-top: inner-y($mult); }
  }

  @content;

  $curr-inner-y: $prev-inner-y !global;
  $curr-stack: $prev-stack !global;
}
