//   __            _             _       __            _ _
//  / _|          | |           | |     / _|          | | |
// | |_ ___  _ __ | |_ ______ __| | ___| |_ __ _ _   _| | |_ ___
// |  _/ _ \| '_ \| __|______/ _` |/ _ \  _/ _` | | | | | __/ __|
// | || (_) | | | | |_      | (_| |  __/ || (_| | |_| | | |_\__ \
// |_| \___/|_| |_|\__|      \__,_|\___|_| \__,_|\__,_|_|\__|___/

$fonts: () !default;

$fonts-defaults: (
  sans: ( font-family: ('Arial', sans-serif) ),
  serif: ( font-family: ('Georgia', serif) ),
  mono: ( font-family: ('Monaco', 'Consolas', monospace) )
);

$font-default: (
  line-height: 1.25em, // MUST HAVE A UNIT
  letter-spacing: 0, // calc(1px - 0.025em),
  dist-capline: 0em,
  dist-baseline: 0em,
  trim-adjacent: (1em/8), // calc((1em - 1ex)/2),
  trim-sides: 0, // calc(1px - 0.1em),
);


//   __            _          _          _
//  / _|          | |        | |        | |
// | |_ ___  _ __ | |_ ______| |__   ___| |_ __   ___ _ __ ___
// |  _/ _ \| '_ \| __|______| '_ \ / _ \ | '_ \ / _ \ '__/ __|
// | || (_) | | | | |_       | | | |  __/ | |_) |  __/ |  \__ \
// |_| \___/|_| |_|\__|      |_| |_|\___|_| .__/ \___|_|  |___/
//                                        | |
//                                        |_|

@mixin font-base($f, $trim: true) {
  --font-family: var(--font-family-#{$f});

  --font-size: var(--font-size-#{$f});
  --line-height: var(--line-height-#{$f});
  --letter-spacing: var(--letter-spacing-#{$f});

  @if $trim {
    --trim-sides: var(--trim-sides-#{$f});
    --dist-capline: var(--dist-capline-#{$f});
    --dist-baseline: var(--dist-baseline-#{$f});
    --trim-adjacent: var(--trim-adjacent-#{$f});
  }
}

@mixin font-mod($f, $s) {
  --font-size: var(--font-size-#{$f}-#{$s});
  // NB: --line-height-#{$f}-#{$s} might not exist, therefore fall back
  --line-height: var(--line-height-#{$f}-#{$s}, var(--line-height-#{$f}));
}

@mixin font-definition($f, $s, $trim: true) {
  @include font-base($f, $trim);
  @include font-mod($f, $s);
}
