//   __ _                                                  _          _
//  / _| |                                                | |        | |
// | |_| | _____      ________ ___ _ __   __ _ _ __ ______| |__   ___| |_ __   ___ _ __ ___
// |  _| |/ _ \ \ /\ / /______/ __| '_ \ / _` | '_ \______| '_ \ / _ \ | '_ \ / _ \ '__/ __|
// | | | | (_) \ V  V /       \__ \ |_) | (_| | | | |     | | | |  __/ | |_) |  __/ |  \__ \
// |_| |_|\___/ \_/\_/        |___/ .__/ \__,_|_| |_|     |_| |_|\___|_| .__/ \___|_|  |___/
//                                | |                                  | |
//                                |_|                                  |_|


@function span-d() {
  @return if($homework-is-modern, var(--span-d), m-var('grid-columns'));
}

@function row-gap($y: null) {
  @return if($homework-is-modern, var(--row-gap), inner-y($y));
}

@function column-gap($x: null) {
  @return if($homework-is-modern, var(--column-gap), inner-x($x));
}

@function max-columns() {
  @if not (length($media) > 0) { @return m-var('grid-columns'); }
  $column-counts: ();
  @each $m, $medium in $media {
    $column-counts: append($column-counts, map-get($media, $m, 'grid-columns'));
  }
  @return max($column-counts...);
}

@function span-width($n: 1, $span-d: span-d()) {
  @return calc(99.99999% * #{$n} / #{$span-d});
}

@function span-i-width($n: 1, $span-d: span-d()) {
  @return calc((99.99999% + #{column-gap()}) * #{$n} / #{$span-d} - #{column-gap()});
}

@function push-i-width($p: 1, $span-d: span-d()) {
  @return calc((99.99999% + #{column-gap()}) * #{$p} / #{$span-d});
}

@mixin span($n: null, $l: null, $r: null, $span-d: span-d()) {
  @if $n and $homework-is-modern { & > * { --span-d: #{$n}; } }
  @if $n { width: span-width($n, $span-d); }
  @if $l { margin-left: span-width($l, $span-d); }
  @if $r { margin-right: span-width($r, $span-d); }
}

@mixin spans($spans) {
  @each $m, $span in $spans {
    @include m($m) {
      @include span($span...);
    }
  }
}

@mixin span-i($n: null, $l: null, $r: null, $span-d: span-d()) {
  @if $n and $homework-is-modern { & > * { --span-d: #{$n}; } }
  @if $n { width: span-i-width($n, $span-d); }
  @if $l { margin-left: push-i-width($l, $span-d); }
  @if $r { margin-right: push-i-width($r, $span-d); }
}

@mixin spans-i($spans) {
  @each $m, $span in $spans {
    @include m($m) {
      @include span-i($span...);
    }
  }
}


@function ratio-str($ratio) { @return "#{nth($ratio,1)}-#{nth($ratio,2)}"; }
@function ratio-class($ratio, $index, $list, $root, $__m) { @return '.#{$root}-#{ratio-str($ratio)}#{$__m}'; }

@function ratio-span-width($ratio) { @return span-width(#{nth($ratio,1)}, #{nth($ratio,2)}); }
@function ratio-span-i-width($ratio) { @return span-i-width(#{nth($ratio,1)}, #{nth($ratio,2)}); }
@function ratio-push-i-width($ratio) { @return push-i-width(#{nth($ratio,1)}, #{nth($ratio,2)}); }
