//   __            _             _       __            _ _
//  / _|          | |           | |     / _|          | | |
// | |_ ___  _ __ | |_ ______ __| | ___| |_ __ _ _   _| | |_ ___
// |  _/ _ \| '_ \| __|______/ _` |/ _ \  _/ _` | | | | | __/ __|
// | || (_) | | | | |_      | (_| |  __/ || (_| | |_| | | |_\__ \
// |_| \___/|_| |_|\__|      \__,_|\___|_| \__,_|\__,_|_|\__|___/

// TODO
// handle non-px values in font-mods
// figure out what HTML elements require explicitly applying --font-family
// apply the increased --trim-top to cases where font is adjacent to font -- only to the custom property !


$fonts: () !default;

$fonts-defaults: (
  sans: ( font-family: (arial, sans-serif) ),
  serif: ( font-family: (georgia, serif) ),
  mono: ( font-family: (monaco, consolas, monospace) )
);

$font-default: (
  line-height: 1.4em,
  offset-capline: 0em,
  offset-baseline: 0em,
  trim-sides: 0, // calc(1px - 0.1em),
  letter-spacing: 0px, // calc(1px - 0.025em),
  adjust-adjacent: 0em, // calc((1em - 1ex)/2),
  font-feature-settings: (), // ('kern' 1),
);

// NOTES re feature-settings
// https://sparanoid.com/lab/opentype-features/
// https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Fonts/OpenType_fonts_guide
// https://developer.mozilla.org/en-US/docs/Web/CSS/font-feature-settings


//   __            _          _          _
//  / _|          | |        | |        | |
// | |_ ___  _ __ | |_ ______| |__   ___| |_ __   ___ _ __ ___
// |  _/ _ \| '_ \| __|______| '_ \ / _ \ | '_ \ / _ \ '__/ __|
// | || (_) | | | | |_       | | | |  __/ | |_) |  __/ |  \__ \
// |_| \___/|_| |_|\__|      |_| |_|\___|_| .__/ \___|_|  |___/
//                                        | |
//                                        |_|

@mixin font-base($f, $trim: true) {
  --font-family: var(--font-family-#{$f});
  --line-height: var(--line-height-#{$f});
  --letter-spacing: var(--letter-spacing-#{$f});
  --font-feature-settings: var(--font-feature-settings-#{$f});

  @if $trim {
    --trim-sides: var(--trim-sides-#{$f});
    --offset-capline: var(--offset-capline-#{$f});
    --offset-baseline: var(--offset-baseline-#{$f});
    --adjust-adjacent: var(--adjust-adjacent-#{$f});
  }
}

@mixin font-mod($f, $s) {
  --font-size: var(--font-size-#{$f}-#{$s});
  --line-height: var(--line-height-#{$f}-#{$s}, var(--line-height-#{$f}));
}
