//   __ _                                                  _          _
//  / _| |                                                | |        | |
// | |_| | _____      ________ ___ _ __   __ _ _ __ ______| |__   ___| |_ __   ___ _ __ ___
// |  _| |/ _ \ \ /\ / /______/ __| '_ \ / _` | '_ \______| '_ \ / _ \ | '_ \ / _ \ '__/ __|
// | | | | (_) \ V  V /       \__ \ |_) | (_| | | | |     | | | |  __/ | |_) |  __/ |  \__ \
// |_| |_|\___/ \_/\_/        |___/ .__/ \__,_|_| |_|     |_| |_|\___|_| .__/ \___|_|  |___/
//                                | |                                  | |
//                                |_|                                  |_|


@function span-d() {
  @return if($homework-is-modern, var(--span-d), m-var('grid-columns'));
}

@function row-gap($y: null) {
  @return if($homework-is-modern, var(--row-gap), inner-y($y));
}

@function column-gap($x: null) {
  @return if($homework-is-modern, var(--column-gap), inner-x($x));
}

@function max-columns() {
  @if not (length($media) > 0) { @return m-var('grid-columns'); }
  $column-counts: ();
  @each $m, $medium in $media {
    $column-counts: append($column-counts, map-get($media, $m, 'grid-columns'));
  }
  @return max($column-counts...);
}

@function flow-span($n: 1, $span-d: span-d()) {
  @return calc(99.99999% * #{$n} / #{$span-d});
}

@function flow-push($n: 1, $span-d: span-d()) {
  @return calc(99.99999% * #{$n} / #{$span-d});
}

@function solo-span($n: 1, $span-d: span-d()) {
  @return calc((99.99999% + #{column-gap()}) * #{$n} / #{$span-d} - #{column-gap()});
}

@function solo-push($p: 1, $span-d: span-d()) {
  @return calc((99.99999% + #{column-gap()}) * #{$p} / #{$span-d});
}

@mixin flow-cell($n: null, $l: null, $r: null, $span-d: span-d()) {
  @if $n and $homework-is-modern { & > * { --span-d: #{$n}; } }
  @if $n { width: flow-span($n, $span-d); }
  @if $l { margin-left: flow-span($l, $span-d); }
  @if $r { margin-right: flow-span($r, $span-d); }
}

@mixin flow-cells($cells) {
  @each $m, $cell in $cells {
    @include m($m) {
      @include flow-cell($cell...);
    }
  }
}

@mixin solo-cell($n: null, $l: null, $r: null, $span-d: span-d()) {
  @if $n and $homework-is-modern { & > * { --span-d: #{$n}; } }
  @if $n { width: solo-span($n, $span-d); }
  @if $l { margin-left: solo-push($l, $span-d); }
  @if $r { margin-right: solo-push($r, $span-d); }
}

@mixin solo-cells($cells) {
  @each $m, $cell in $cells {
    @include m($m) {
      @include solo-cell($cell...);
    }
  }
}


@function ratio-str($ratio) { @return "#{nth($ratio,1)}-#{nth($ratio,2)}"; }
@function ratio-class($ratio, $index, $list, $root, $__m) { @return '.#{$root}-#{ratio-str($ratio)}#{$__m}'; }

@function ratio-flow-span($ratio) { @return flow-span(#{nth($ratio,1)}, #{nth($ratio,2)}); }
@function ratio-flow-push($ratio) { @return flow-span(#{nth($ratio,1)}, #{nth($ratio,2)}); }
@function ratio-solo-span($ratio) { @return solo-span(#{nth($ratio,1)}, #{nth($ratio,2)}); }
@function ratio-solo-push($ratio) { @return solo-push(#{nth($ratio,1)}, #{nth($ratio,2)}); }
