//   __ _                                                  _          _
//  / _| |                                                | |        | |
// | |_| | _____      ________ ___ _ __   __ _ _ __ ______| |__   ___| |_ __   ___ _ __ ___
// |  _| |/ _ \ \ /\ / /______/ __| '_ \ / _` | '_ \______| '_ \ / _ \ | '_ \ / _ \ '__/ __|
// | | | | (_) \ V  V /       \__ \ |_) | (_| | | | |     | | | |  __/ | |_) |  __/ |  \__ \
// |_| |_|\___/ \_/\_/        |___/ .__/ \__,_|_| |_|     |_| |_|\___|_| .__/ \___|_|  |___/
//                                | |                                  | |
//                                |_|                                  |_|

@function fgrid-span($n: var(--local-columns, var(--global-columns)), $cols: var(--local-columns, var(--global-columns))) {
  @return calc(99.99999% * #{$n} / #{$cols});
}
@function fgrid-push($n: 1, $cols: var(--local-columns, var(--global-columns))) {
  @return calc(99.99999% * #{$n} / #{$cols});
}
@function fgrid-pull($n: 1, $cols: var(--local-columns, var(--global-columns))) {
  @return calc(99.99999% * #{-$n} / #{$cols});
}

@function solo-span($n: var(--local-columns, var(--global-columns)), $cols: var(--local-columns, var(--global-columns))) {
  @return calc((99.99999% + var(--column-gap, var(--inner-x))) * #{$n} / #{$cols} - var(--column-gap, var(--inner-x)));
}
@function solo-push($n: 1, $cols: var(--local-columns, var(--global-columns))) {
  @return calc((99.99999% + var(--column-gap, var(--inner-x))) * #{$n} / #{$cols});
}
@function solo-pull($n: 1, $cols: var(--local-columns, var(--global-columns))) {
  @return calc((99.99999% + var(--column-gap, var(--inner-x))) * #{-$n} / #{$cols});
}

@mixin fgrid-cell($n: null, $l: null, $r: null, $cols: var(--local-columns, var(--global-columns))) {
  @if $n { width: fgrid-span($n, $cols); & > * { --col-base: #{$n}; } }
  @if $l { margin-left: fgrid-span($l, $cols); }
  @if $r { margin-right: fgrid-span($r, $cols); }
}

@mixin fgrid-cells($cells) {
  @each $m, $cell in $cells {
    @include m($m) {
      @include fgrid-cell($cell...);
    }
  }
}

@mixin solo-cell($n: null, $l: null, $r: null, $cols: var(--local-columns, var(--global-columns))) {
  @if $n { width: solo-span($n, $cols); & > * { --col-base: #{$n}; } }
  @if $l { margin-left: solo-push($l, $cols); }
  @if $r { margin-right: solo-push($r, $cols); }
}

@mixin solo-cells($cells) {
  @each $m, $cell in $cells {
    @include m($m) {
      @include solo-cell($cell...);
    }
  }
}
