// _       _ _
// (_)     | (_)
// _ _ __ | |_ _ __   ___
// | | '_ \| | | '_ \ / _ \
// | | | | | | | | | |  __/
// |_|_| |_|_|_|_| |_|\___|

// abbr
// acronym
// b
// bdo
// big
// br
// cite
// code
// dfn
// em
// i
// kbd
// q
// samp
// script
// select
// small
// span
// strong
// sub
// sup
// time
// tt
// var

@mixin reset-inline {

  abbr, acronym, b, bdo, big, br, cite, code, dfn, em, i, kbd, q, samp, select, small, span, strong, sub, sup, time, tt, var {
    display: inline;
    vertical-align: baseline;
    white-space: normal;
  }

  code, kbd, pre, samp {
    font-family: monospace, monospace; // Correct the inheritance and scaling of font size in all browsers.
    font-size: 1em; //  Correct the odd `em` font sizing in all browsers.
  }

  abbr[title], dfn[title] {
    border-bottom: 0; // Remove the bottom border in Firefox 39-.
    text-decoration: underline; // Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
    text-decoration: underline dotted; // ^
    cursor: help;
  }

  dfn {
    font-style: italic; // add the correct font style in android 4.3-.
  }

  b, strong {
    font-weight: inherit; // prevent the duplicate application of `bolder` by the next rule in safari 6.
    font-weight: bold; // add the correct font weight in chrome, edge, and safari.
  }

  em, i {
    font-style: italic;
  }

  ins {
    background-color:#ff0;
    color:#000;
    text-decoration:none;
  }

  mark {
    background-color: #ff0; // add the correct background and color in ie 9-.
    color: #000; // ^
    font-style:italic;
    font-weight:bold;
  }

  small {
    font-size: 80%; // add the correct font size in all browsers.
  }

  sub,
  sup {
    font-size: 75%; // Prevent `sub` and `sup` elements from affecting the line height
    line-height: 0; // ^
    position: relative; // ^
    vertical-align: baseline; // ^
  }
  sub { bottom: -0.25em; }
  sup { top: -0.5em; }

  del {
    text-decoration: line-through;
  }
}
