@mixin homework-reset-display {

  abbr, acronym, b, bdo, big, br, cite, code, dfn, em, i, kbd, q, samp, select, small, span, strong, sub, sup, time, tt, var, a, button {
    display: inline;
    vertical-align: baseline;
    white-space: normal;
  }

  [hidden], template, slot, script, noscript, link, title, meta { display: none }
}
