//              _
//             | |
//   ___  _   _| |_ ___ _ __
//  / _ \| | | | __/ _ \ '__|
// | (_) | |_| | ||  __/ |
//  \___/ \__,_|\__\___|_|

// wrap, peel, frame, bleed -- explicit/implicit

@mixin homework-setup-outer() {

  $last-m: last(map-keys($media));

  // WRAP

  #{base-class('wrap', true)} {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
  }

  .wrap-left { margin-left: 0; }
  .wrap-right { margin-right: 0; }
  .wrap-each { max-width: var(--outer-width); }

  @each $m in join((null), map-keys($media)) {

    $-m: mod-suffix($m);

    @if $m {
      .wrap#{$-m},
      #{if($m == $last-m, '.wrap-last', '')} { max-width: var(--outer-width#{$-m}); }
    }

    @include m($m) {

      $m__: state-prefix();

      // PEEL
      // TODO: add peel-r-right, -r-left, -l-right, -l-left logic

      $wrap-offset: subtract(var(--outer-right), var(--outer-left));
      $peel-margin: subtract(100%, calc(100vw - var(--scroll-width, 0px)));

      .#{$m__}peel, .#{$m__}peel-right, .#{$m__}peel-left {
        max-width: none !important;
        width: initial !important;
      }
      .#{$m__}peel, .#{$m__}peel-right { margin-right: divide(subtract($peel-margin, $wrap-offset), 2) !important; }
      .#{$m__}peel, .#{$m__}peel-left { margin-left: divide(add($peel-margin, $wrap-offset), 2) !important; }

      // FRAME

      .#{$m__}frame, .#{$m__}frame-right { padding-right: var(--outer-right) !important; }
      .#{$m__}frame, .#{$m__}frame-left { padding-left: var(--outer-left) !important; }
      .#{$m__}frame-y, .#{$m__}frame-top { padding-top: var(--outer-top) !important; }
      .#{$m__}frame-y, .#{$m__}frame-bottom { padding-bottom: var(--outer-bottom) !important; }

      // BLEED

      .#{$m__}bleed, .#{$m__}bleed-right, .#{$m__}bleed-left {
        max-width: none !important;
        width: initial !important;
      }
      .#{$m__}bleed, .#{$m__}bleed-right { margin-right: calc(var(--outer-right) * -1) !important; }
      .#{$m__}bleed, .#{$m__}bleed-left { margin-left: calc(var(--outer-left) * -1) !important; }
      .#{$m__}bleed-y, .#{$m__}bleed-top { margin-top: calc(var(--outer-top) * -1) !important; }
      .#{$m__}bleed-y, .#{$m__}bleed-bottom { margin-bottom: calc(var(--outer-bottom) * -1) !important; }
    }
  }
}
