//      _        _
//     | |      | |
//  ___| |_ __ _| |_ ___
// / __| __/ _` | __/ _ \
// \__ \ || (_| | ||  __/
// |___/\__\__,_|\__\___|

// .hover__
// .focus__
// .active__
// .gr-hover__
// .group-hover__ (requires group)
// .focus-in__
// .focus-within__


@mixin homework-setup-state() {

    /////////////////////////////////////////////
  ////////////////// [states] /////////////////
  /////////////////////////////////////////////

  // hover
  // focus
  // active
  // disabled
  // parent-hover
  // focus-within

  .hover__ {

  }
  .focus__ {

  }
  .active__ {

  }
  .disabled__ {

  }
  .parent-hover__ {

  }
  .focus-within__ {

  }

  // show on focus, stolen from github;
  // see also: https://codepen.io/matuzo/pen/RZBNjP?editors=1000
  // NB: should be combined with vhide class below

  .focus__vshow {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: 0;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    &:focus {
      z-index: 20;
      width: auto;
      height: auto;
      clip: auto;
    }
  }

}
