//  _          _
// | |        | |
// | |__   ___| |_ __   ___ _ __
// | '_ \ / _ \ | '_ \ / _ \ '__|
// | | | |  __/ | |_) |  __/ |
// |_| |_|\___|_| .__/ \___|_|
//              | |
//              |_|

// (optional) clearfix, flt-left/-right/-none, clr-left/-right/-none
// skip -- see https://medium.freecodecamp.org/how-to-design-website-layouts-for-screen-readers-347b7b06e9cc
// clip, over-[auto|scroll|hidden|visible], clip-[x|y], over-[x|y]-[auto|scroll|hidden|visible]
// trim, trap, stop,
// fade (opacity)
// pill (border-radius: 50vmin)
// truncate, break, ws- (white-space)
// aspect
// pe (pointer-events)
// resize -- x|y|none|both
// cursor -- pointer|default
// select -- none, auto, text

// d, z (00-90)
// rel, fix, abs, show, hide, vhide, vshow
// ? fs- italic, normal
// ? fw- bold, bolder, light, etc. normal
// a, ac, as, jc, ai, flex, fit
// op -- (opacity) 00,02,04,06,08,10
// * replace fit with obj: .obj-contain /-cover /-fill /-none /-scale-down /-bottom /-center /-left /-left-bottom /-left-top /-right /-right-bottom /-right-top /-top
// (scroll-[auto|touch]) -- should maybe just be in reset

@mixin homework-setup-helper($modern: $homework-is-modern) {

  /////////////////////////////////////////////
  /////////////// float / clear ///////////////
  /////////////////////////////////////////////

  // ADD: flt-left/-right/-none, clr-left/-right/-none
  // ADD: $float option in mixin, default false

  // https://css-tricks.com/snippets/css/clear-fix/
  .clearfix {
    &::after {
      content:"";
      display:table;
      clear:both;
    }
    @supports (display: flow-root) {
      display: flow-root;
      &::after { content: none; }
    }
  }

  /////////////////////////////////////////////
  ///////////////// whitespace ////////////////
  /////////////////////////////////////////////

  // ADD: truncate, break, ws- (white-space)

  .nobr { white-space: nowrap; text-overflow: ellipsis; }

  // disable pointer on scrolling
  .is-scrolling,
  .is-scrolling * {
    pointer-events: none !important;
  }

  /////////////////////////////////////////////
  ////////////////// overflow /////////////////
  /////////////////////////////////////////////

  .clip, .clip-x, .clip-y {
    position: relative;
    z-index: 0; // make sure container can clip
  }
  .clip { overflow: hidden; }
  .clip-x { overflow-x: hidden; }
  .clip-y { overflow-y: hidden; }

  // over-[x|y]-[auto|scroll|hidden|visible]
  // #{base-class('overflow')} {
  // }
  // .overflow-x {}
  // .overflow-y {}
  // .overflow-auto {}
  // .overflow-scroll {}
  // .overflow-hidden {}
  // .overflow-visible {}

  /////////////////////////////////////////////
  /////////////// layout control //////////////
  /////////////////////////////////////////////

  #{base-class('hold')} {
    position: relative;
  }

  .stop, .trap, .trim {
    padding-top: 0.1px;
    padding-bottom: 0.1px;
  }

  /////////////////////////////////////////////
  ////////////////// opacity //////////////////
  /////////////////////////////////////////////

  // fade (opacity) 00,02,04,06,08,10
  @for $n from 0 through 9 { .fade-0#{$n} { opacity: $n/10; } }
  .fade-10 { opacity: 1; }

  /////////////////////////////////////////////
  /////////////// border-radius ///////////////
  /////////////////////////////////////////////

  // round, radius: s, m, l, xl
  #{base-class('round')} {

  }
  // pill, radius: 50vmin
  .pill { border-radius: 50vmin; }
  // oval, radius 50%
  .oval { border-radius: 50%; }

  /////////////////////////////////////////////
  ////////////////// aspect /////////////////
  /////////////////////////////////////////////

  #{base-class('aspect')} {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    >* { flex: 0 0 auto; width: 100%; }
    &::before {
      content: '';
      display: block;
      width: 0.01px;
      height: 0;
      padding-bottom: calc(1 / var(--aspect, 1) * 100%);
    }
  }

  /////////////////////////////////////////////
  //////////// cursor interactions ////////////
  /////////////////////////////////////////////

  // pe (pointer-events)
  #{base-class('pe')} {}

  // resize -- x|y|none|both
  #{base-class('resize')} {}

  // cursor -- pointer|default
  #{base-class('cursor')} {}

  // select -- none, auto, text
  #{base-class('select')} {}



  // show on focus, stolen from github;
  // see also: https://codepen.io/matuzo/pen/RZBNjP?editors=1000
  // NB: should be combined with vhide class below

  .focus__vshow {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: 0;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    &:focus {
      z-index: 20;
      width: auto;
      height: auto;
      clip: auto;
    }
  }

  @each $m in join(null, map-keys($media)) {

    @include m($m) {

      $m__: m-prefix();

      /////////////////////////////////////////////
      //////////////// width/height ///////////////
      /////////////////////////////////////////////

      // NOTE: add minh, maxh, minw, maxw ?

      .#{$m__}w-viewport { width: 100vw; }
      .#{$m__}w-unset { width: unset; }
      .#{$m__}w-auto { width: auto; }
      .#{$m__}w-100 { width: 100%; }
      .#{$m__}w-0 { width: 0; }

      .#{$m__}h-viewport { height: 100vh; }
      .#{$m__}h-unset { height: unset; }
      .#{$m__}h-auto { height: auto; }
      .#{$m__}h-100 { height: 100%; }
      .#{$m__}h-0 { height: 0; }

      // hide visually-only / img replacement
      // https://developer.yahoo.com/blogs/ydn/clip-hidden-content-better-accessibility-53456.html
      // https://css-tricks.com/the-image-replacement-museum/
      .#{$m__}vhide {
        position: absolute !important;
        clip: rect(0 0 0 0); // IE6, IE7
        clip: rect(0, 0, 0, 0);
        flex: 0 0 0%;
        padding: 0 !important;
        border: 0 !important;
        height: 1px !important;
        width: 1px !important;
        overflow: hidden;
        body:hover & a,
        body:hover & input,
        body:hover & button { display: none !important; }
      }

      // hide/show, without removing from DOM
      .#{$m__}hide {
        pointer-events: none;
        visibility: hidden;
        opacity: 0;
      }
      .#{$m__}show {
        pointer-events: initial;
        visibility: visible;
        opacity: 1;
      }

      // display
      .#{$m__}d-none { display: none !important; }
      .#{$m__}d-flex { display: flex !important; }
      .#{$m__}d-flex-y { display: flex !important; flex-direction: column; }
      .#{$m__}d-grid { display: grid !important; }
      .#{$m__}d-grid-y { display: grid !important; grid-auto-flow: column; }
      .#{$m__}d-block { display: block !important; }
      .#{$m__}d-iblock { display: inline-block !important; vertical-align: baseline; }
      .#{$m__}d-inline { display: inline !important; vertical-align: baseline; }

      /////////////////////////////////////////////
      ////////////////// z-index //////////////////
      /////////////////////////////////////////////

      .#{$m__}z-00 { z-index: 0; }
      @for $n from 1 through 10 { .#{$m__}z-#{$n*10} { z-index: $n*10; } }

      /////////////////////////////////////////////
      ////////////////// position /////////////////
      /////////////////////////////////////////////

      .#{$m__}static { position: static; }
      .#{$m__}rel { position: relative; }
      #{m-base-class('fix')} { position: fixed; }
      .#{$m__}fix-tl { top: 0; left: 0; }
      .#{$m__}fix-tr { top: 0; right: 0; }
      .#{$m__}fix-bl { bottom: 0; left: 0; }
      .#{$m__}fix-br { bottom: 0; right: 0; }
      .#{$m__}fix-trbl { top: 0; right: 0; bottom: 0; left: 0; }
      #{m-base-class('abs')} { position: absolute; }
      .#{$m__}abs-tl { top: 0; left: 0; }
      .#{$m__}abs-tr { top: 0; right: 0; }
      .#{$m__}abs-bl { bottom: 0; left: 0; }
      .#{$m__}abs-br { bottom: 0; right: 0; }
      .#{$m__}abs-trbl { top: 0; right: 0; bottom: 0; left: 0; }
      .#{$m__}abs-cover { top: 0; left: 0; width: 100%; height: 100%; object-fit: cover; }
      .#{$m__}abs-contain { top: 0; left: 0; width: 100%; height: 100%; object-fit: contain; }

      /////////////////////////////////////////////
      ////////////// inline alignment /////////////
      /////////////////////////////////////////////

      .#{$m__}a-left { text-align: left }
      .#{$m__}a-center { text-align: center }
      .#{$m__}a-right { text-align: right }
      .#{$m__}a-justify { text-align: justify }
      .#{$m__}a-top { vertical-align: top }
      .#{$m__}a-middle { vertical-align: middle }
      .#{$m__}a-baseline { vertical-align: baseline }
      .#{$m__}a-bottom { vertical-align: bottom }

      /////////////////////////////////////////////
      ////////////// block alignment //////////////
      /////////////////////////////////////////////

      // align-items
      .#{$m__}ai-stretch { align-items: stretch; }
      .#{$m__}ai-center { align-items: center; }
      .#{$m__}ai-baseline { align-items: baseline; }
      .#{$m__}ai-start { align-items: flex-start; }
      .#{$m__}ai-end { align-items: flex-end; }

      // align-self
      .#{$m__}as-stretch { align-self: stretch; }
      .#{$m__}as-center { align-self: center; }
      .#{$m__}as-baseline { align-self: baseline; }
      .#{$m__}as-start { align-self: flex-start; }
      .#{$m__}as-end { align-self: flex-end; }

      // align-content
      .#{$m__}ac-stretch { align-content: stretch; }
      .#{$m__}ac-center { align-content: center; }
      .#{$m__}ac-baseline { align-content: baseline; }
      .#{$m__}ac-start { align-content: flex-start; }
      .#{$m__}ac-end { align-content: flex-end; }
      .#{$m__}ac-between { align-content: space-between; }
      .#{$m__}ac-around { align-content: space-around; }

      // justify-content
      .#{$m__}jc-stretch { justify-content: stretch; }
      .#{$m__}jc-center { justify-content: center; }
      .#{$m__}jc-start { justify-content: flex-start; }
      .#{$m__}jc-end { justify-content: flex-end; }
      .#{$m__}jc-between { justify-content: space-between; }
      .#{$m__}jc-around { justify-content: space-around; }
      .#{$m__}jc-evenly { justify-content: space-evenly; }

      // flex
      .#{$m__}flex-1-0 { flex: 1 0 auto; }
      .#{$m__}flex-0-1 { flex: 0 1 auto; }
      .#{$m__}flex-1-1 { flex: 1 1 auto; }
      .#{$m__}flex-0-0 { flex: 0 0 auto; }

      /////////////////////////////////////////////
      //////////// object-fit/-position ///////////
      /////////////////////////////////////////////

      // obj-contain /-cover /-fill /-none /-scale-down
      .#{$m__}obj-none { object-fit: none; }
      .#{$m__}obj-fill { object-fit: fill; }
      .#{$m__}obj-cover { object-fit: cover; }
      .#{$m__}obj-contain { object-fit: contain; }
      .#{$m__}obj-scale-down { object-fit: scale-down; }

      // obj-bottom /-center /-left /-left-bottom /-left-top /-right /-right-bottom /-right-top /-top
      .#{$m__}obj-bottom { object-position: bottom; }
      .#{$m__}obj-center { object-position: center; }
      .#{$m__}obj-left { object-position: left; }
      .#{$m__}obj-left-bottom { object-position: left-bottom; }
      .#{$m__}obj-left-top { object-position: left-top; }
      .#{$m__}obj-right { object-position: right; }
      .#{$m__}obj-right-bottom { object-position: right-bottom; }
      .#{$m__}obj-right-top { object-position: right-top; }
      .#{$m__}obj-top { object-position: top; }
    }
  }



}
