//           _
//          | |
//  ___  ___| |_ _   _ _ __
// / __|/ _ \ __| | | | '_ \
// \__ \  __/ |_| |_| | |_) |
// |___/\___|\__|\__,_| .__/
//                    | |
//                    |_|

$done-homework-setup: false;

@mixin homework-setup($modern: true, $setups...) {

  // run homework reset, if not done
  @if not $done-homework-reset { @include homework-reset; }

  // default to all setups
  @if length($setups) == 0 {
    $setups: (
      'core',
      'root',
      'wrap',
      'frame',
      'stack',
      'font',
      'flow',
      'atomic',
      'helper',
      'theme',
      'debug',
    );
  }

  @if index($setups, 'core') { @include homework-setup-core($modern); }
  @if index($setups, 'root') { @include homework-setup-root($modern); }
  @if index($setups, 'font') { @include homework-setup-font($modern); }
  @if index($setups, 'wrap') { @include homework-setup-wrap($modern); }
  @if index($setups, 'frame') { @include homework-setup-frame($modern); }
  @if index($setups, 'stack') { @include homework-setup-stack($modern); }
  @if index($setups, 'grid') { @include homework-setup-flow($modern); }
  @if index($setups, 'atomic') { @include homework-setup-atomic($modern); }
  @if index($setups, 'helper') { @include homework-setup-helper($modern); }
  @if index($setups, 'theme') { @include homework-setup-theme($modern); }
  @if index($setups, 'debug') { @include homework-setup-debug($modern); }

  // set $done-homework to true
  $done-homework-setup: true !global;
}
