//   ___ ___  _ __ ___
//  / __/ _ \| '__/ _ \
// | (_| (_) | | |  __/
//  \___\___/|_|  \___|

// (m), :root -- implicitly responsive


@mixin homework-setup-core($modern: $homework-is-modern, $trim: true, $output: true) {

  $root-orig: $root !global;
  $media-orig: $media !global;
  $root: --parse-medium(map-merge($root-defaults, $root), 16px) !global;

  @if $output {

    @if $modern {
      :root {
        @include --output-medium-props($root);
        --inner-width: calc(var(--outer-width) - (var(--outer-right) + var(--outer-left)));
      }
      html {
        font-size: var(--font-size);
        line-height: var(--line-height);
      }
    } @else {
      html {
        font-size: map-get($incoming-medium, 'font-size');
        line-height: map-get($incoming-medium, 'line-height');
      }
    }

  }

  $outgoing-medium: $root;
  @each $m, $incoming-medium in $media {

    @if not index(map-keys($incoming-medium), 'breakpoint') {
      @include throw-error('homework: one of your $media does not have a breakpoint key');
    }

    $outgoing-medium: --parse-medium(--deep-merge($outgoing-medium, $incoming-medium));
    $media: map-merge($media, ($m: $outgoing-medium)) !global;

    @if $output {

      // TODO for wrap/peel
      // :root
      // --outer-width-#{$m}: ?
      // --inner-width-#{$m}: ?

      @media #{--query-string(map-get($incoming-medium, 'breakpoint'))} {

        @if $modern {
          :root {
            @include --output-medium-props($incoming-medium);
            --outer-width: #{map-get($outgoing-medium, 'outer-width')};
          }
        } @else {
          html {
            font-size: map-get($incoming-medium, 'font-size');
            line-height: map-get($incoming-medium, 'line-height');
          }
        }

      }
    }
  }
}
