//  _
// (_)
//  _ _ __  _ __   ___ _ __
// | | '_ \| '_ \ / _ \ '__|
// | | | | | | | |  __/ |
// |_|_| |_|_| |_|\___|_|

@mixin homework-setup-inner() {

  // gets lists of inner-y/-x-mod keys on $root
  $inner-y-keys: map-keys(inner-y-mods());
  $inner-x-keys: map-keys(inner-x-mods());

  :root {
    --ix: var(--inner-x);
    --iy: var(--inner-y);
  }

  // join with null, to also output suffix-less class
  @each $m in join((null), map-keys($media)) {

    @include m($m) {

      $m__: state-prefix();

      #{m-base-class('mt', false)}, #{m-base-class('my', false)} { margin-top: var(--mt) !important; }
      #{m-base-class('mr', false)}, #{m-base-class('mx', false)} { margin-right: var(--mr) !important; }
      #{m-base-class('mb', false)}, #{m-base-class('my', false)} { margin-bottom: var(--mb) !important; }
      #{m-base-class('ml', false)}, #{m-base-class('mx', false)} { margin-left: var(--ml) !important; }

      #{m-base-class('pt', false)}, #{m-base-class('py', false)} { padding-top: var(--pt) !important; }
      #{m-base-class('pr', false)}, #{m-base-class('px', false)} { padding-right: var(--pr) !important; }
      #{m-base-class('pb', false)}, #{m-base-class('py', false)} { padding-bottom: var(--pb) !important; }
      #{m-base-class('pl', false)}, #{m-base-class('px', false)} { padding-left: var(--pl) !important; }

      @each $y in $inner-y-keys {
        .#{$m__}my-neg-#{$y}, .#{$m__}mt-neg-#{$y} { --mt: calc(var(--inner-y-#{$y}) * -1); }
        .#{$m__}my-neg-#{$y}, .#{$m__}mb-neg-#{$y} { --mb: calc(var(--inner-y-#{$y}) * -1); }
        .#{$m__}my-#{$y}, .#{$m__}mt-#{$y} { --mt: var(--inner-y-#{$y}); }
        .#{$m__}my-#{$y}, .#{$m__}mb-#{$y} { --mb: var(--inner-y-#{$y}); }
        .#{$m__}py-#{$y}, .#{$m__}pt-#{$y} { --pt: var(--inner-y-#{$y}); }
        .#{$m__}py-#{$y}, .#{$m__}pb-#{$y} { --pb: var(--inner-y-#{$y}); }

        .#{$m__}iy-#{$y} { --iy: var(--inner-y-#{$y}); }
      }

      @each $x in $inner-x-keys {
        .#{$m__}mx-neg-#{$x}, .#{$m__}mr-neg-#{$x} { --mr: calc(var(--inner-x-#{$x}) * -1); }
        .#{$m__}mx-neg-#{$x}, .#{$m__}ml-neg-#{$x} { --ml: calc(var(--inner-x-#{$x}) * -1); }
        .#{$m__}mx-#{$x}, .#{$m__}mr-#{$x} { --mr: var(--inner-x-#{$x}); }
        .#{$m__}mx-#{$x}, .#{$m__}ml-#{$x} { --ml: var(--inner-x-#{$x}); }
        .#{$m__}px-#{$x}, .#{$m__}pr-#{$x} { --pr: var(--inner-x-#{$x}); }
        .#{$m__}px-#{$x}, .#{$m__}pl-#{$x} { --pl: var(--inner-x-#{$x}); }

        .#{$m__}ix-#{$x} { --ix: var(--inner-x-#{$x}); }
      }

      .#{$m__}my-auto, .#{$m__}mt-auto { --mt: auto; }
      .#{$m__}mx-auto, .#{$m__}mr-auto { --mr: auto; }
      .#{$m__}my-auto, .#{$m__}mb-auto { --mb: auto; }
      .#{$m__}mx-auto, .#{$m__}ml-auto { --ml: auto; }

      .#{$m__}my-0, .#{$m__}mt-0 { --mt: 0; }
      .#{$m__}mx-0, .#{$m__}mr-0 { --mr: 0; }
      .#{$m__}my-0, .#{$m__}mb-0 { --mb: 0; }
      .#{$m__}mx-0, .#{$m__}ml-0 { --ml: 0; }
      .#{$m__}py-0, .#{$m__}pt-0 { --pt: 0; }
      .#{$m__}px-0, .#{$m__}pr-0 { --pr: 0; }
      .#{$m__}py-0, .#{$m__}pb-0 { --pb: 0; }
      .#{$m__}px-0, .#{$m__}pl-0 { --pl: 0; }

      .#{$m__}iy-0 { --iy: 0; }
      .#{$m__}ix-0 { --ix: 0; }
    }
  }

}
