///
/// CLASSES
///

@function base-class($base, $solo: true, $_...) {
  @if $solo {
    @return selector-parse('.#{$base}, [class^="#{$base}-"], [class*=" #{$base}-"]');
  } @else {
    @return selector-parse('[class^="#{$base}-"], [class*=" #{$base}-"]');
  }
}

@function base-m-class($base, $solo: true, $_...) {
  @if $solo {
    @return selector-parse('.#{$base}, [class^="#{$base}__"], [class*=" #{$base}__"]');
  } @else {
    @return selector-parse('[class^="#{$base}__"], [class*=" #{$base}__"]');
  }
}

// @function base-class($str) {
//   @return selector-parse("[class^='#{$str}-'], [class*=' #{$str}-']");
// }

// @function mod-class($str) {
//   @return selector-parse("[class$='-#{$str}'], [class*='-#{$str} ']")
// }


@function m-suffix($m: $curr-m) {
  @return if($m, '__#{$m}', '');
}

@function m-suffixize($sel, $ms...) {
  $sel: selector-parse($sel); $out: ();
  @each $m in $ms {
    $fix: m-suffix($m);
    @each $sub in $sel {
      $out: append($out, selector-parse('#{$sub}#{$fix}'), 'comma');
    }
  }
  @return $out;
}
