@function __pad-start($str, $len, $chr) {
  $str: quote(#{$str});
  $chr: quote(#{$chr});
  @if str-length($str) >= $len {
    @return $str;
  }
  @while str-length($str) < $len {
    $str: str-insert($str, $chr, 1);
  }
  $start: str-length($str) - $len + 1;
  @return str-slice($str, $start, $start+$len);
}

@function __pad-end($str, $len, $chr) {
  $str: quote(#{$str});
  $chr: quote(#{$chr});
  @if str-length($str) >= $len {
    @return $str;
  }
  @while str-length($str) < $len {
    $str: str-insert($str, $chr, str-length($str) + 1);
  }
  @return str-slice($str, 1, $len);
}
