//                               _
//                              | |
//  ___ _ __  _ __ ___  __ _  __| |
// / __| '_ \| '__/ _ \/ _` |/ _` |
// \__ \ |_) | | |  __/ (_| | (_| |
// |___/ .__/|_|  \___|\__,_|\__,_|
//     | |
//     |_|


#{base-class('spread')} {

  @include mm-for('outer-x') {
    margin-left: outer-left(-1);
    margin-right: outer-right(-1);
    width: auto !important;
    // width: add(100%, add(outer-right(), outer-left()));

    // .outer { width: add(100%, add(outer-right(), outer-left()));}
    // .outer--right { width: add(100%, outer-right());}
    // .outer--left { width: add(100%, outer-left());}

  }

  @include m(l) { .area--main & { margin-right: 0; } }

  //  this corresponds to the exception set in the spans
  //  @include m(m,l) {
  //    .grid-group & {
  //      margin-right: subtract(intra-push(-1,10), outer-right(1));
  //      margin-left: subtract(intra-push(-1,10), outer-left(1));
  //    }
  //  }
}

.spread--left { margin-right: 0; }
.spread--right { margin-left: 0; }

