// $curr-stack: null !default; // selector

// $done-grid-setup: false !default;
// $done-stack-setup: false !default;
// $done-util-setup: false !default;

// $done-base-setup: false !default;
// $done-page-setup: false !default;
// $done-trim-setup: false !default;

// $base: () !default;

// $media: () !default;

$fonts: () !default;

$colors: () !default;

$layers: () !default;

$setups: (
  atomic: true,
  basic: true,
  debug: true,
  outer: true,
  wrap: true,
  peel: false,
  grid: true,
  font: true,
  stack: true,
  theme: true,
) !default;
