.flow, [class^="flow-"], [class*=" flow-"] {
  margin-top: calc(1.25rem / -2);
  margin-bottom: calc(1.25rem / -2);
}

.flow > *, [class^="flow-"] > *, [class*=" flow-"] > * {
  padding-top: calc(1.25rem / 2) !important;
  padding-bottom: calc(1.25rem / 2) !important;
}

.flow, [class^="flow-"], [class*=" flow-"] {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: calc(100% + 2rem) !important;
  margin-left: calc(2rem / -2);
  margin-right: calc(2rem / -2);
}

.flow > *, [class^="flow-"] > *, [class*=" flow-"] > * {
  flex: 0 0 auto;
  width: 100%;
  min-width: 0%;
  min-height: 1px;
  overflow-wrap: break-word;
  background-clip: content-box;
  padding-left: calc(2rem / 2) !important;
  padding-right: calc(2rem / 2) !important;
}

.flow-0 {
  width: 100% !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.flow-0 > * {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.span, [class^="span-"], [class*=" span-"] {
  width: 100%;
}

@media screen and (max-width: 19.999em) {
  .flow-s {
    margin-top: calc(1.25rem / -2);
    margin-bottom: calc(1.25rem / -2);
  }
  .flow-s > * {
    padding-top: calc(1.25rem / 2) !important;
    padding-bottom: calc(1.25rem / 2) !important;
  }
  .flow-m {
    margin-top: calc(2.5rem / -2);
    margin-bottom: calc(2.5rem / -2);
  }
  .flow-m > * {
    padding-top: calc(2.5rem / 2) !important;
    padding-bottom: calc(2.5rem / 2) !important;
  }
  .flow-l {
    margin-top: calc(4rem / -2);
    margin-bottom: calc(4rem / -2);
  }
  .flow-l > * {
    padding-top: calc(4rem / 2) !important;
    padding-bottom: calc(4rem / 2) !important;
  }
}

@media screen and (min-width: 20em) and (max-width: 29.999em) {
  .flow-s {
    margin-top: calc(1.25rem / -2);
    margin-bottom: calc(1.25rem / -2);
  }
  .flow-s > * {
    padding-top: calc(1.25rem / 2) !important;
    padding-bottom: calc(1.25rem / 2) !important;
  }
  .flow-m {
    margin-top: calc(2.5rem / -2);
    margin-bottom: calc(2.5rem / -2);
  }
  .flow-m > * {
    padding-top: calc(2.5rem / 2) !important;
    padding-bottom: calc(2.5rem / 2) !important;
  }
  .flow-l {
    margin-top: calc(4rem / -2);
    margin-bottom: calc(4rem / -2);
  }
  .flow-l > * {
    padding-top: calc(4rem / 2) !important;
    padding-bottom: calc(4rem / 2) !important;
  }
}

@media screen and (min-width: 30em) and (max-width: 39.999em) {
  .flow-s {
    margin-top: calc(1.25rem / -2);
    margin-bottom: calc(1.25rem / -2);
  }
  .flow-s > * {
    padding-top: calc(1.25rem / 2) !important;
    padding-bottom: calc(1.25rem / 2) !important;
  }
  .flow-m {
    margin-top: calc(2.5rem / -2);
    margin-bottom: calc(2.5rem / -2);
  }
  .flow-m > * {
    padding-top: calc(2.5rem / 2) !important;
    padding-bottom: calc(2.5rem / 2) !important;
  }
  .flow-l {
    margin-top: calc(4rem / -2);
    margin-bottom: calc(4rem / -2);
  }
  .flow-l > * {
    padding-top: calc(4rem / 2) !important;
    padding-bottom: calc(4rem / 2) !important;
  }
}

@media screen and (min-width: 40em) {
  .flow-s {
    margin-top: calc(1.25rem / -2);
    margin-bottom: calc(1.25rem / -2);
  }
  .flow-s > * {
    padding-top: calc(1.25rem / 2) !important;
    padding-bottom: calc(1.25rem / 2) !important;
  }
  .flow-m {
    margin-top: calc(2.5rem / -2);
    margin-bottom: calc(2.5rem / -2);
  }
  .flow-m > * {
    padding-top: calc(2.5rem / 2) !important;
    padding-bottom: calc(2.5rem / 2) !important;
  }
  .flow-l {
    margin-top: calc(4rem / -2);
    margin-bottom: calc(4rem / -2);
  }
  .flow-l > * {
    padding-top: calc(4rem / 2) !important;
    padding-bottom: calc(4rem / 2) !important;
  }
}

@media screen and (max-width: 19.999em) {
  .flow, [class^="flow-"], [class*=" flow-"] {
    width: calc(100% + 2rem) !important;
    margin-left: calc(2rem / -2);
    margin-right: calc(2rem / -2);
  }
  .flow > *, [class^="flow-"] > *, [class*=" flow-"] > * {
    padding-left: calc(2rem / 2) !important;
    padding-right: calc(2rem / 2) !important;
  }
}

@media screen and (min-width: 20em) and (max-width: 29.999em) {
  .flow, [class^="flow-"], [class*=" flow-"] {
    width: calc(100% + 2rem) !important;
    margin-left: calc(2rem / -2);
    margin-right: calc(2rem / -2);
  }
  .flow > *, [class^="flow-"] > *, [class*=" flow-"] > * {
    padding-left: calc(2rem / 2) !important;
    padding-right: calc(2rem / 2) !important;
  }
}

@media screen and (min-width: 30em) and (max-width: 39.999em) {
  .flow, [class^="flow-"], [class*=" flow-"] {
    width: calc(100% + 3rem) !important;
    margin-left: calc(3rem / -2);
    margin-right: calc(3rem / -2);
  }
  .flow > *, [class^="flow-"] > *, [class*=" flow-"] > * {
    padding-left: calc(3rem / 2) !important;
    padding-right: calc(3rem / 2) !important;
  }
}

@media screen and (min-width: 40em) {
  .flow, [class^="flow-"], [class*=" flow-"] {
    width: calc(100% + 3rem) !important;
    margin-left: calc(3rem / -2);
    margin-right: calc(3rem / -2);
  }
  .flow > *, [class^="flow-"] > *, [class*=" flow-"] > * {
    padding-left: calc(3rem / 2) !important;
    padding-right: calc(3rem / 2) !important;
  }
}

.span-1 {
  width: calc(99.99999% * 1 / 6);
}

.span-i-1 {
  width: calc((99.99999% + 2rem) * 1 / 6 - 2rem);
}

.ml-1 {
  margin-left: calc(99.99999% * 1 / 6);
}

.mr-1 {
  margin-right: calc(99.99999% * 1 / 6);
}

.ml-neg-1 {
  margin-left: calc(99.99999% * -1 / 6);
}

.mr-neg-1 {
  margin-right: calc(99.99999% * -1 / 6);
}

.ml-i-1 {
  margin-left: calc((99.99999% + 2rem) * 1 / 6);
}

.mr-i-1 {
  margin-right: calc((99.99999% + 2rem) * 1 / 6);
}

.ml-i-neg-1 {
  margin-left: calc((99.99999% + 2rem) * -1 / 6);
}

.mr-i-neg-1 {
  margin-right: calc((99.99999% + 2rem) * -1 / 6);
}

.span-2 {
  width: calc(99.99999% * 2 / 6);
}

.span-i-2 {
  width: calc((99.99999% + 2rem) * 2 / 6 - 2rem);
}

.ml-2 {
  margin-left: calc(99.99999% * 2 / 6);
}

.mr-2 {
  margin-right: calc(99.99999% * 2 / 6);
}

.ml-neg-2 {
  margin-left: calc(99.99999% * -2 / 6);
}

.mr-neg-2 {
  margin-right: calc(99.99999% * -2 / 6);
}

.ml-i-2 {
  margin-left: calc((99.99999% + 2rem) * 2 / 6);
}

.mr-i-2 {
  margin-right: calc((99.99999% + 2rem) * 2 / 6);
}

.ml-i-neg-2 {
  margin-left: calc((99.99999% + 2rem) * -2 / 6);
}

.mr-i-neg-2 {
  margin-right: calc((99.99999% + 2rem) * -2 / 6);
}

.span-3 {
  width: calc(99.99999% * 3 / 6);
}

.span-i-3 {
  width: calc((99.99999% + 2rem) * 3 / 6 - 2rem);
}

.ml-3 {
  margin-left: calc(99.99999% * 3 / 6);
}

.mr-3 {
  margin-right: calc(99.99999% * 3 / 6);
}

.ml-neg-3 {
  margin-left: calc(99.99999% * -3 / 6);
}

.mr-neg-3 {
  margin-right: calc(99.99999% * -3 / 6);
}

.ml-i-3 {
  margin-left: calc((99.99999% + 2rem) * 3 / 6);
}

.mr-i-3 {
  margin-right: calc((99.99999% + 2rem) * 3 / 6);
}

.ml-i-neg-3 {
  margin-left: calc((99.99999% + 2rem) * -3 / 6);
}

.mr-i-neg-3 {
  margin-right: calc((99.99999% + 2rem) * -3 / 6);
}

.span-4 {
  width: calc(99.99999% * 4 / 6);
}

.span-i-4 {
  width: calc((99.99999% + 2rem) * 4 / 6 - 2rem);
}

.ml-4 {
  margin-left: calc(99.99999% * 4 / 6);
}

.mr-4 {
  margin-right: calc(99.99999% * 4 / 6);
}

.ml-neg-4 {
  margin-left: calc(99.99999% * -4 / 6);
}

.mr-neg-4 {
  margin-right: calc(99.99999% * -4 / 6);
}

.ml-i-4 {
  margin-left: calc((99.99999% + 2rem) * 4 / 6);
}

.mr-i-4 {
  margin-right: calc((99.99999% + 2rem) * 4 / 6);
}

.ml-i-neg-4 {
  margin-left: calc((99.99999% + 2rem) * -4 / 6);
}

.mr-i-neg-4 {
  margin-right: calc((99.99999% + 2rem) * -4 / 6);
}

.span-5 {
  width: calc(99.99999% * 5 / 6);
}

.span-i-5 {
  width: calc((99.99999% + 2rem) * 5 / 6 - 2rem);
}

.ml-5 {
  margin-left: calc(99.99999% * 5 / 6);
}

.mr-5 {
  margin-right: calc(99.99999% * 5 / 6);
}

.ml-neg-5 {
  margin-left: calc(99.99999% * -5 / 6);
}

.mr-neg-5 {
  margin-right: calc(99.99999% * -5 / 6);
}

.ml-i-5 {
  margin-left: calc((99.99999% + 2rem) * 5 / 6);
}

.mr-i-5 {
  margin-right: calc((99.99999% + 2rem) * 5 / 6);
}

.ml-i-neg-5 {
  margin-left: calc((99.99999% + 2rem) * -5 / 6);
}

.mr-i-neg-5 {
  margin-right: calc((99.99999% + 2rem) * -5 / 6);
}

.span-6 {
  width: calc(99.99999% * 6 / 6);
}

.span-i-6 {
  width: calc((99.99999% + 2rem) * 6 / 6 - 2rem);
}

.ml-6 {
  margin-left: calc(99.99999% * 6 / 6);
}

.mr-6 {
  margin-right: calc(99.99999% * 6 / 6);
}

.ml-neg-6 {
  margin-left: calc(99.99999% * -6 / 6);
}

.mr-neg-6 {
  margin-right: calc(99.99999% * -6 / 6);
}

.ml-i-6 {
  margin-left: calc((99.99999% + 2rem) * 6 / 6);
}

.mr-i-6 {
  margin-right: calc((99.99999% + 2rem) * 6 / 6);
}

.ml-i-neg-6 {
  margin-left: calc((99.99999% + 2rem) * -6 / 6);
}

.mr-i-neg-6 {
  margin-right: calc((99.99999% + 2rem) * -6 / 6);
}

@media screen and (min-width: 20em) {
  .span-1__a {
    width: calc(99.99999% * 1 / 6);
  }
  .span-i-1__a {
    width: calc((99.99999% + 2rem) * 1 / 6 - 2rem);
  }
  .ml-1__a {
    margin-left: calc(99.99999% * 1 / 6);
  }
  .mr-1__a {
    margin-right: calc(99.99999% * 1 / 6);
  }
  .ml-neg-1__a {
    margin-left: calc(99.99999% * -1 / 6);
  }
  .mr-neg-1__a {
    margin-right: calc(99.99999% * -1 / 6);
  }
  .ml-i-1__a {
    margin-left: calc((99.99999% + 2rem) * 1 / 6);
  }
  .mr-i-1__a {
    margin-right: calc((99.99999% + 2rem) * 1 / 6);
  }
  .ml-i-neg-1__a {
    margin-left: calc((99.99999% + 2rem) * -1 / 6);
  }
  .mr-i-neg-1__a {
    margin-right: calc((99.99999% + 2rem) * -1 / 6);
  }
  .span-2__a {
    width: calc(99.99999% * 2 / 6);
  }
  .span-i-2__a {
    width: calc((99.99999% + 2rem) * 2 / 6 - 2rem);
  }
  .ml-2__a {
    margin-left: calc(99.99999% * 2 / 6);
  }
  .mr-2__a {
    margin-right: calc(99.99999% * 2 / 6);
  }
  .ml-neg-2__a {
    margin-left: calc(99.99999% * -2 / 6);
  }
  .mr-neg-2__a {
    margin-right: calc(99.99999% * -2 / 6);
  }
  .ml-i-2__a {
    margin-left: calc((99.99999% + 2rem) * 2 / 6);
  }
  .mr-i-2__a {
    margin-right: calc((99.99999% + 2rem) * 2 / 6);
  }
  .ml-i-neg-2__a {
    margin-left: calc((99.99999% + 2rem) * -2 / 6);
  }
  .mr-i-neg-2__a {
    margin-right: calc((99.99999% + 2rem) * -2 / 6);
  }
  .span-3__a {
    width: calc(99.99999% * 3 / 6);
  }
  .span-i-3__a {
    width: calc((99.99999% + 2rem) * 3 / 6 - 2rem);
  }
  .ml-3__a {
    margin-left: calc(99.99999% * 3 / 6);
  }
  .mr-3__a {
    margin-right: calc(99.99999% * 3 / 6);
  }
  .ml-neg-3__a {
    margin-left: calc(99.99999% * -3 / 6);
  }
  .mr-neg-3__a {
    margin-right: calc(99.99999% * -3 / 6);
  }
  .ml-i-3__a {
    margin-left: calc((99.99999% + 2rem) * 3 / 6);
  }
  .mr-i-3__a {
    margin-right: calc((99.99999% + 2rem) * 3 / 6);
  }
  .ml-i-neg-3__a {
    margin-left: calc((99.99999% + 2rem) * -3 / 6);
  }
  .mr-i-neg-3__a {
    margin-right: calc((99.99999% + 2rem) * -3 / 6);
  }
  .span-4__a {
    width: calc(99.99999% * 4 / 6);
  }
  .span-i-4__a {
    width: calc((99.99999% + 2rem) * 4 / 6 - 2rem);
  }
  .ml-4__a {
    margin-left: calc(99.99999% * 4 / 6);
  }
  .mr-4__a {
    margin-right: calc(99.99999% * 4 / 6);
  }
  .ml-neg-4__a {
    margin-left: calc(99.99999% * -4 / 6);
  }
  .mr-neg-4__a {
    margin-right: calc(99.99999% * -4 / 6);
  }
  .ml-i-4__a {
    margin-left: calc((99.99999% + 2rem) * 4 / 6);
  }
  .mr-i-4__a {
    margin-right: calc((99.99999% + 2rem) * 4 / 6);
  }
  .ml-i-neg-4__a {
    margin-left: calc((99.99999% + 2rem) * -4 / 6);
  }
  .mr-i-neg-4__a {
    margin-right: calc((99.99999% + 2rem) * -4 / 6);
  }
  .span-5__a {
    width: calc(99.99999% * 5 / 6);
  }
  .span-i-5__a {
    width: calc((99.99999% + 2rem) * 5 / 6 - 2rem);
  }
  .ml-5__a {
    margin-left: calc(99.99999% * 5 / 6);
  }
  .mr-5__a {
    margin-right: calc(99.99999% * 5 / 6);
  }
  .ml-neg-5__a {
    margin-left: calc(99.99999% * -5 / 6);
  }
  .mr-neg-5__a {
    margin-right: calc(99.99999% * -5 / 6);
  }
  .ml-i-5__a {
    margin-left: calc((99.99999% + 2rem) * 5 / 6);
  }
  .mr-i-5__a {
    margin-right: calc((99.99999% + 2rem) * 5 / 6);
  }
  .ml-i-neg-5__a {
    margin-left: calc((99.99999% + 2rem) * -5 / 6);
  }
  .mr-i-neg-5__a {
    margin-right: calc((99.99999% + 2rem) * -5 / 6);
  }
  .span-6__a {
    width: calc(99.99999% * 6 / 6);
  }
  .span-i-6__a {
    width: calc((99.99999% + 2rem) * 6 / 6 - 2rem);
  }
  .ml-6__a {
    margin-left: calc(99.99999% * 6 / 6);
  }
  .mr-6__a {
    margin-right: calc(99.99999% * 6 / 6);
  }
  .ml-neg-6__a {
    margin-left: calc(99.99999% * -6 / 6);
  }
  .mr-neg-6__a {
    margin-right: calc(99.99999% * -6 / 6);
  }
  .ml-i-6__a {
    margin-left: calc((99.99999% + 2rem) * 6 / 6);
  }
  .mr-i-6__a {
    margin-right: calc((99.99999% + 2rem) * 6 / 6);
  }
  .ml-i-neg-6__a {
    margin-left: calc((99.99999% + 2rem) * -6 / 6);
  }
  .mr-i-neg-6__a {
    margin-right: calc((99.99999% + 2rem) * -6 / 6);
  }
}

@media screen and (min-width: 30em) {
  .span-1__b {
    width: calc(99.99999% * 1 / 12);
  }
  .span-i-1__b {
    width: calc((99.99999% + 3rem) * 1 / 12 - 3rem);
  }
  .ml-1__b {
    margin-left: calc(99.99999% * 1 / 12);
  }
  .mr-1__b {
    margin-right: calc(99.99999% * 1 / 12);
  }
  .ml-neg-1__b {
    margin-left: calc(99.99999% * -1 / 12);
  }
  .mr-neg-1__b {
    margin-right: calc(99.99999% * -1 / 12);
  }
  .ml-i-1__b {
    margin-left: calc((99.99999% + 3rem) * 1 / 12);
  }
  .mr-i-1__b {
    margin-right: calc((99.99999% + 3rem) * 1 / 12);
  }
  .ml-i-neg-1__b {
    margin-left: calc((99.99999% + 3rem) * -1 / 12);
  }
  .mr-i-neg-1__b {
    margin-right: calc((99.99999% + 3rem) * -1 / 12);
  }
  .span-2__b {
    width: calc(99.99999% * 2 / 12);
  }
  .span-i-2__b {
    width: calc((99.99999% + 3rem) * 2 / 12 - 3rem);
  }
  .ml-2__b {
    margin-left: calc(99.99999% * 2 / 12);
  }
  .mr-2__b {
    margin-right: calc(99.99999% * 2 / 12);
  }
  .ml-neg-2__b {
    margin-left: calc(99.99999% * -2 / 12);
  }
  .mr-neg-2__b {
    margin-right: calc(99.99999% * -2 / 12);
  }
  .ml-i-2__b {
    margin-left: calc((99.99999% + 3rem) * 2 / 12);
  }
  .mr-i-2__b {
    margin-right: calc((99.99999% + 3rem) * 2 / 12);
  }
  .ml-i-neg-2__b {
    margin-left: calc((99.99999% + 3rem) * -2 / 12);
  }
  .mr-i-neg-2__b {
    margin-right: calc((99.99999% + 3rem) * -2 / 12);
  }
  .span-3__b {
    width: calc(99.99999% * 3 / 12);
  }
  .span-i-3__b {
    width: calc((99.99999% + 3rem) * 3 / 12 - 3rem);
  }
  .ml-3__b {
    margin-left: calc(99.99999% * 3 / 12);
  }
  .mr-3__b {
    margin-right: calc(99.99999% * 3 / 12);
  }
  .ml-neg-3__b {
    margin-left: calc(99.99999% * -3 / 12);
  }
  .mr-neg-3__b {
    margin-right: calc(99.99999% * -3 / 12);
  }
  .ml-i-3__b {
    margin-left: calc((99.99999% + 3rem) * 3 / 12);
  }
  .mr-i-3__b {
    margin-right: calc((99.99999% + 3rem) * 3 / 12);
  }
  .ml-i-neg-3__b {
    margin-left: calc((99.99999% + 3rem) * -3 / 12);
  }
  .mr-i-neg-3__b {
    margin-right: calc((99.99999% + 3rem) * -3 / 12);
  }
  .span-4__b {
    width: calc(99.99999% * 4 / 12);
  }
  .span-i-4__b {
    width: calc((99.99999% + 3rem) * 4 / 12 - 3rem);
  }
  .ml-4__b {
    margin-left: calc(99.99999% * 4 / 12);
  }
  .mr-4__b {
    margin-right: calc(99.99999% * 4 / 12);
  }
  .ml-neg-4__b {
    margin-left: calc(99.99999% * -4 / 12);
  }
  .mr-neg-4__b {
    margin-right: calc(99.99999% * -4 / 12);
  }
  .ml-i-4__b {
    margin-left: calc((99.99999% + 3rem) * 4 / 12);
  }
  .mr-i-4__b {
    margin-right: calc((99.99999% + 3rem) * 4 / 12);
  }
  .ml-i-neg-4__b {
    margin-left: calc((99.99999% + 3rem) * -4 / 12);
  }
  .mr-i-neg-4__b {
    margin-right: calc((99.99999% + 3rem) * -4 / 12);
  }
  .span-5__b {
    width: calc(99.99999% * 5 / 12);
  }
  .span-i-5__b {
    width: calc((99.99999% + 3rem) * 5 / 12 - 3rem);
  }
  .ml-5__b {
    margin-left: calc(99.99999% * 5 / 12);
  }
  .mr-5__b {
    margin-right: calc(99.99999% * 5 / 12);
  }
  .ml-neg-5__b {
    margin-left: calc(99.99999% * -5 / 12);
  }
  .mr-neg-5__b {
    margin-right: calc(99.99999% * -5 / 12);
  }
  .ml-i-5__b {
    margin-left: calc((99.99999% + 3rem) * 5 / 12);
  }
  .mr-i-5__b {
    margin-right: calc((99.99999% + 3rem) * 5 / 12);
  }
  .ml-i-neg-5__b {
    margin-left: calc((99.99999% + 3rem) * -5 / 12);
  }
  .mr-i-neg-5__b {
    margin-right: calc((99.99999% + 3rem) * -5 / 12);
  }
  .span-6__b {
    width: calc(99.99999% * 6 / 12);
  }
  .span-i-6__b {
    width: calc((99.99999% + 3rem) * 6 / 12 - 3rem);
  }
  .ml-6__b {
    margin-left: calc(99.99999% * 6 / 12);
  }
  .mr-6__b {
    margin-right: calc(99.99999% * 6 / 12);
  }
  .ml-neg-6__b {
    margin-left: calc(99.99999% * -6 / 12);
  }
  .mr-neg-6__b {
    margin-right: calc(99.99999% * -6 / 12);
  }
  .ml-i-6__b {
    margin-left: calc((99.99999% + 3rem) * 6 / 12);
  }
  .mr-i-6__b {
    margin-right: calc((99.99999% + 3rem) * 6 / 12);
  }
  .ml-i-neg-6__b {
    margin-left: calc((99.99999% + 3rem) * -6 / 12);
  }
  .mr-i-neg-6__b {
    margin-right: calc((99.99999% + 3rem) * -6 / 12);
  }
  .span-7__b {
    width: calc(99.99999% * 7 / 12);
  }
  .span-i-7__b {
    width: calc((99.99999% + 3rem) * 7 / 12 - 3rem);
  }
  .ml-7__b {
    margin-left: calc(99.99999% * 7 / 12);
  }
  .mr-7__b {
    margin-right: calc(99.99999% * 7 / 12);
  }
  .ml-neg-7__b {
    margin-left: calc(99.99999% * -7 / 12);
  }
  .mr-neg-7__b {
    margin-right: calc(99.99999% * -7 / 12);
  }
  .ml-i-7__b {
    margin-left: calc((99.99999% + 3rem) * 7 / 12);
  }
  .mr-i-7__b {
    margin-right: calc((99.99999% + 3rem) * 7 / 12);
  }
  .ml-i-neg-7__b {
    margin-left: calc((99.99999% + 3rem) * -7 / 12);
  }
  .mr-i-neg-7__b {
    margin-right: calc((99.99999% + 3rem) * -7 / 12);
  }
  .span-8__b {
    width: calc(99.99999% * 8 / 12);
  }
  .span-i-8__b {
    width: calc((99.99999% + 3rem) * 8 / 12 - 3rem);
  }
  .ml-8__b {
    margin-left: calc(99.99999% * 8 / 12);
  }
  .mr-8__b {
    margin-right: calc(99.99999% * 8 / 12);
  }
  .ml-neg-8__b {
    margin-left: calc(99.99999% * -8 / 12);
  }
  .mr-neg-8__b {
    margin-right: calc(99.99999% * -8 / 12);
  }
  .ml-i-8__b {
    margin-left: calc((99.99999% + 3rem) * 8 / 12);
  }
  .mr-i-8__b {
    margin-right: calc((99.99999% + 3rem) * 8 / 12);
  }
  .ml-i-neg-8__b {
    margin-left: calc((99.99999% + 3rem) * -8 / 12);
  }
  .mr-i-neg-8__b {
    margin-right: calc((99.99999% + 3rem) * -8 / 12);
  }
  .span-9__b {
    width: calc(99.99999% * 9 / 12);
  }
  .span-i-9__b {
    width: calc((99.99999% + 3rem) * 9 / 12 - 3rem);
  }
  .ml-9__b {
    margin-left: calc(99.99999% * 9 / 12);
  }
  .mr-9__b {
    margin-right: calc(99.99999% * 9 / 12);
  }
  .ml-neg-9__b {
    margin-left: calc(99.99999% * -9 / 12);
  }
  .mr-neg-9__b {
    margin-right: calc(99.99999% * -9 / 12);
  }
  .ml-i-9__b {
    margin-left: calc((99.99999% + 3rem) * 9 / 12);
  }
  .mr-i-9__b {
    margin-right: calc((99.99999% + 3rem) * 9 / 12);
  }
  .ml-i-neg-9__b {
    margin-left: calc((99.99999% + 3rem) * -9 / 12);
  }
  .mr-i-neg-9__b {
    margin-right: calc((99.99999% + 3rem) * -9 / 12);
  }
  .span-10__b {
    width: calc(99.99999% * 10 / 12);
  }
  .span-i-10__b {
    width: calc((99.99999% + 3rem) * 10 / 12 - 3rem);
  }
  .ml-10__b {
    margin-left: calc(99.99999% * 10 / 12);
  }
  .mr-10__b {
    margin-right: calc(99.99999% * 10 / 12);
  }
  .ml-neg-10__b {
    margin-left: calc(99.99999% * -10 / 12);
  }
  .mr-neg-10__b {
    margin-right: calc(99.99999% * -10 / 12);
  }
  .ml-i-10__b {
    margin-left: calc((99.99999% + 3rem) * 10 / 12);
  }
  .mr-i-10__b {
    margin-right: calc((99.99999% + 3rem) * 10 / 12);
  }
  .ml-i-neg-10__b {
    margin-left: calc((99.99999% + 3rem) * -10 / 12);
  }
  .mr-i-neg-10__b {
    margin-right: calc((99.99999% + 3rem) * -10 / 12);
  }
  .span-11__b {
    width: calc(99.99999% * 11 / 12);
  }
  .span-i-11__b {
    width: calc((99.99999% + 3rem) * 11 / 12 - 3rem);
  }
  .ml-11__b {
    margin-left: calc(99.99999% * 11 / 12);
  }
  .mr-11__b {
    margin-right: calc(99.99999% * 11 / 12);
  }
  .ml-neg-11__b {
    margin-left: calc(99.99999% * -11 / 12);
  }
  .mr-neg-11__b {
    margin-right: calc(99.99999% * -11 / 12);
  }
  .ml-i-11__b {
    margin-left: calc((99.99999% + 3rem) * 11 / 12);
  }
  .mr-i-11__b {
    margin-right: calc((99.99999% + 3rem) * 11 / 12);
  }
  .ml-i-neg-11__b {
    margin-left: calc((99.99999% + 3rem) * -11 / 12);
  }
  .mr-i-neg-11__b {
    margin-right: calc((99.99999% + 3rem) * -11 / 12);
  }
  .span-12__b {
    width: calc(99.99999% * 12 / 12);
  }
  .span-i-12__b {
    width: calc((99.99999% + 3rem) * 12 / 12 - 3rem);
  }
  .ml-12__b {
    margin-left: calc(99.99999% * 12 / 12);
  }
  .mr-12__b {
    margin-right: calc(99.99999% * 12 / 12);
  }
  .ml-neg-12__b {
    margin-left: calc(99.99999% * -12 / 12);
  }
  .mr-neg-12__b {
    margin-right: calc(99.99999% * -12 / 12);
  }
  .ml-i-12__b {
    margin-left: calc((99.99999% + 3rem) * 12 / 12);
  }
  .mr-i-12__b {
    margin-right: calc((99.99999% + 3rem) * 12 / 12);
  }
  .ml-i-neg-12__b {
    margin-left: calc((99.99999% + 3rem) * -12 / 12);
  }
  .mr-i-neg-12__b {
    margin-right: calc((99.99999% + 3rem) * -12 / 12);
  }
}

@media screen and (min-width: 40em) {
  .span-1__c {
    width: calc(99.99999% * 1 / 12);
  }
  .span-i-1__c {
    width: calc((99.99999% + 3rem) * 1 / 12 - 3rem);
  }
  .ml-1__c {
    margin-left: calc(99.99999% * 1 / 12);
  }
  .mr-1__c {
    margin-right: calc(99.99999% * 1 / 12);
  }
  .ml-neg-1__c {
    margin-left: calc(99.99999% * -1 / 12);
  }
  .mr-neg-1__c {
    margin-right: calc(99.99999% * -1 / 12);
  }
  .ml-i-1__c {
    margin-left: calc((99.99999% + 3rem) * 1 / 12);
  }
  .mr-i-1__c {
    margin-right: calc((99.99999% + 3rem) * 1 / 12);
  }
  .ml-i-neg-1__c {
    margin-left: calc((99.99999% + 3rem) * -1 / 12);
  }
  .mr-i-neg-1__c {
    margin-right: calc((99.99999% + 3rem) * -1 / 12);
  }
  .span-2__c {
    width: calc(99.99999% * 2 / 12);
  }
  .span-i-2__c {
    width: calc((99.99999% + 3rem) * 2 / 12 - 3rem);
  }
  .ml-2__c {
    margin-left: calc(99.99999% * 2 / 12);
  }
  .mr-2__c {
    margin-right: calc(99.99999% * 2 / 12);
  }
  .ml-neg-2__c {
    margin-left: calc(99.99999% * -2 / 12);
  }
  .mr-neg-2__c {
    margin-right: calc(99.99999% * -2 / 12);
  }
  .ml-i-2__c {
    margin-left: calc((99.99999% + 3rem) * 2 / 12);
  }
  .mr-i-2__c {
    margin-right: calc((99.99999% + 3rem) * 2 / 12);
  }
  .ml-i-neg-2__c {
    margin-left: calc((99.99999% + 3rem) * -2 / 12);
  }
  .mr-i-neg-2__c {
    margin-right: calc((99.99999% + 3rem) * -2 / 12);
  }
  .span-3__c {
    width: calc(99.99999% * 3 / 12);
  }
  .span-i-3__c {
    width: calc((99.99999% + 3rem) * 3 / 12 - 3rem);
  }
  .ml-3__c {
    margin-left: calc(99.99999% * 3 / 12);
  }
  .mr-3__c {
    margin-right: calc(99.99999% * 3 / 12);
  }
  .ml-neg-3__c {
    margin-left: calc(99.99999% * -3 / 12);
  }
  .mr-neg-3__c {
    margin-right: calc(99.99999% * -3 / 12);
  }
  .ml-i-3__c {
    margin-left: calc((99.99999% + 3rem) * 3 / 12);
  }
  .mr-i-3__c {
    margin-right: calc((99.99999% + 3rem) * 3 / 12);
  }
  .ml-i-neg-3__c {
    margin-left: calc((99.99999% + 3rem) * -3 / 12);
  }
  .mr-i-neg-3__c {
    margin-right: calc((99.99999% + 3rem) * -3 / 12);
  }
  .span-4__c {
    width: calc(99.99999% * 4 / 12);
  }
  .span-i-4__c {
    width: calc((99.99999% + 3rem) * 4 / 12 - 3rem);
  }
  .ml-4__c {
    margin-left: calc(99.99999% * 4 / 12);
  }
  .mr-4__c {
    margin-right: calc(99.99999% * 4 / 12);
  }
  .ml-neg-4__c {
    margin-left: calc(99.99999% * -4 / 12);
  }
  .mr-neg-4__c {
    margin-right: calc(99.99999% * -4 / 12);
  }
  .ml-i-4__c {
    margin-left: calc((99.99999% + 3rem) * 4 / 12);
  }
  .mr-i-4__c {
    margin-right: calc((99.99999% + 3rem) * 4 / 12);
  }
  .ml-i-neg-4__c {
    margin-left: calc((99.99999% + 3rem) * -4 / 12);
  }
  .mr-i-neg-4__c {
    margin-right: calc((99.99999% + 3rem) * -4 / 12);
  }
  .span-5__c {
    width: calc(99.99999% * 5 / 12);
  }
  .span-i-5__c {
    width: calc((99.99999% + 3rem) * 5 / 12 - 3rem);
  }
  .ml-5__c {
    margin-left: calc(99.99999% * 5 / 12);
  }
  .mr-5__c {
    margin-right: calc(99.99999% * 5 / 12);
  }
  .ml-neg-5__c {
    margin-left: calc(99.99999% * -5 / 12);
  }
  .mr-neg-5__c {
    margin-right: calc(99.99999% * -5 / 12);
  }
  .ml-i-5__c {
    margin-left: calc((99.99999% + 3rem) * 5 / 12);
  }
  .mr-i-5__c {
    margin-right: calc((99.99999% + 3rem) * 5 / 12);
  }
  .ml-i-neg-5__c {
    margin-left: calc((99.99999% + 3rem) * -5 / 12);
  }
  .mr-i-neg-5__c {
    margin-right: calc((99.99999% + 3rem) * -5 / 12);
  }
  .span-6__c {
    width: calc(99.99999% * 6 / 12);
  }
  .span-i-6__c {
    width: calc((99.99999% + 3rem) * 6 / 12 - 3rem);
  }
  .ml-6__c {
    margin-left: calc(99.99999% * 6 / 12);
  }
  .mr-6__c {
    margin-right: calc(99.99999% * 6 / 12);
  }
  .ml-neg-6__c {
    margin-left: calc(99.99999% * -6 / 12);
  }
  .mr-neg-6__c {
    margin-right: calc(99.99999% * -6 / 12);
  }
  .ml-i-6__c {
    margin-left: calc((99.99999% + 3rem) * 6 / 12);
  }
  .mr-i-6__c {
    margin-right: calc((99.99999% + 3rem) * 6 / 12);
  }
  .ml-i-neg-6__c {
    margin-left: calc((99.99999% + 3rem) * -6 / 12);
  }
  .mr-i-neg-6__c {
    margin-right: calc((99.99999% + 3rem) * -6 / 12);
  }
  .span-7__c {
    width: calc(99.99999% * 7 / 12);
  }
  .span-i-7__c {
    width: calc((99.99999% + 3rem) * 7 / 12 - 3rem);
  }
  .ml-7__c {
    margin-left: calc(99.99999% * 7 / 12);
  }
  .mr-7__c {
    margin-right: calc(99.99999% * 7 / 12);
  }
  .ml-neg-7__c {
    margin-left: calc(99.99999% * -7 / 12);
  }
  .mr-neg-7__c {
    margin-right: calc(99.99999% * -7 / 12);
  }
  .ml-i-7__c {
    margin-left: calc((99.99999% + 3rem) * 7 / 12);
  }
  .mr-i-7__c {
    margin-right: calc((99.99999% + 3rem) * 7 / 12);
  }
  .ml-i-neg-7__c {
    margin-left: calc((99.99999% + 3rem) * -7 / 12);
  }
  .mr-i-neg-7__c {
    margin-right: calc((99.99999% + 3rem) * -7 / 12);
  }
  .span-8__c {
    width: calc(99.99999% * 8 / 12);
  }
  .span-i-8__c {
    width: calc((99.99999% + 3rem) * 8 / 12 - 3rem);
  }
  .ml-8__c {
    margin-left: calc(99.99999% * 8 / 12);
  }
  .mr-8__c {
    margin-right: calc(99.99999% * 8 / 12);
  }
  .ml-neg-8__c {
    margin-left: calc(99.99999% * -8 / 12);
  }
  .mr-neg-8__c {
    margin-right: calc(99.99999% * -8 / 12);
  }
  .ml-i-8__c {
    margin-left: calc((99.99999% + 3rem) * 8 / 12);
  }
  .mr-i-8__c {
    margin-right: calc((99.99999% + 3rem) * 8 / 12);
  }
  .ml-i-neg-8__c {
    margin-left: calc((99.99999% + 3rem) * -8 / 12);
  }
  .mr-i-neg-8__c {
    margin-right: calc((99.99999% + 3rem) * -8 / 12);
  }
  .span-9__c {
    width: calc(99.99999% * 9 / 12);
  }
  .span-i-9__c {
    width: calc((99.99999% + 3rem) * 9 / 12 - 3rem);
  }
  .ml-9__c {
    margin-left: calc(99.99999% * 9 / 12);
  }
  .mr-9__c {
    margin-right: calc(99.99999% * 9 / 12);
  }
  .ml-neg-9__c {
    margin-left: calc(99.99999% * -9 / 12);
  }
  .mr-neg-9__c {
    margin-right: calc(99.99999% * -9 / 12);
  }
  .ml-i-9__c {
    margin-left: calc((99.99999% + 3rem) * 9 / 12);
  }
  .mr-i-9__c {
    margin-right: calc((99.99999% + 3rem) * 9 / 12);
  }
  .ml-i-neg-9__c {
    margin-left: calc((99.99999% + 3rem) * -9 / 12);
  }
  .mr-i-neg-9__c {
    margin-right: calc((99.99999% + 3rem) * -9 / 12);
  }
  .span-10__c {
    width: calc(99.99999% * 10 / 12);
  }
  .span-i-10__c {
    width: calc((99.99999% + 3rem) * 10 / 12 - 3rem);
  }
  .ml-10__c {
    margin-left: calc(99.99999% * 10 / 12);
  }
  .mr-10__c {
    margin-right: calc(99.99999% * 10 / 12);
  }
  .ml-neg-10__c {
    margin-left: calc(99.99999% * -10 / 12);
  }
  .mr-neg-10__c {
    margin-right: calc(99.99999% * -10 / 12);
  }
  .ml-i-10__c {
    margin-left: calc((99.99999% + 3rem) * 10 / 12);
  }
  .mr-i-10__c {
    margin-right: calc((99.99999% + 3rem) * 10 / 12);
  }
  .ml-i-neg-10__c {
    margin-left: calc((99.99999% + 3rem) * -10 / 12);
  }
  .mr-i-neg-10__c {
    margin-right: calc((99.99999% + 3rem) * -10 / 12);
  }
  .span-11__c {
    width: calc(99.99999% * 11 / 12);
  }
  .span-i-11__c {
    width: calc((99.99999% + 3rem) * 11 / 12 - 3rem);
  }
  .ml-11__c {
    margin-left: calc(99.99999% * 11 / 12);
  }
  .mr-11__c {
    margin-right: calc(99.99999% * 11 / 12);
  }
  .ml-neg-11__c {
    margin-left: calc(99.99999% * -11 / 12);
  }
  .mr-neg-11__c {
    margin-right: calc(99.99999% * -11 / 12);
  }
  .ml-i-11__c {
    margin-left: calc((99.99999% + 3rem) * 11 / 12);
  }
  .mr-i-11__c {
    margin-right: calc((99.99999% + 3rem) * 11 / 12);
  }
  .ml-i-neg-11__c {
    margin-left: calc((99.99999% + 3rem) * -11 / 12);
  }
  .mr-i-neg-11__c {
    margin-right: calc((99.99999% + 3rem) * -11 / 12);
  }
  .span-12__c {
    width: calc(99.99999% * 12 / 12);
  }
  .span-i-12__c {
    width: calc((99.99999% + 3rem) * 12 / 12 - 3rem);
  }
  .ml-12__c {
    margin-left: calc(99.99999% * 12 / 12);
  }
  .mr-12__c {
    margin-right: calc(99.99999% * 12 / 12);
  }
  .ml-neg-12__c {
    margin-left: calc(99.99999% * -12 / 12);
  }
  .mr-neg-12__c {
    margin-right: calc(99.99999% * -12 / 12);
  }
  .ml-i-12__c {
    margin-left: calc((99.99999% + 3rem) * 12 / 12);
  }
  .mr-i-12__c {
    margin-right: calc((99.99999% + 3rem) * 12 / 12);
  }
  .ml-i-neg-12__c {
    margin-left: calc((99.99999% + 3rem) * -12 / 12);
  }
  .mr-i-neg-12__c {
    margin-right: calc((99.99999% + 3rem) * -12 / 12);
  }
}

.test {
  width: calc(99.99999% * 1 / 6);
  margin-left: calc(99.99999% * -1 / 6);
  margin-right: calc(99.99999% * 2 / 6);
}

.test {
  width: calc((99.99999% + 2rem) * 1 / 6 - 2rem);
  margin-left: calc((99.99999% + 2rem) * -1 / 6);
  margin-right: calc((99.99999% + 2rem) * 2 / 6);
}

.m-test {
  width: calc(99.99999% * 2 / 6);
  margin-left: calc(99.99999% * 0 / 6);
  margin-right: calc(99.99999% * -1 / 6);
}

@media screen and (min-width: 20em) {
  .m-test {
    width: calc(99.99999% * 2 / 6);
    margin-left: calc(99.99999% * 0 / 6);
    margin-right: calc(99.99999% * -1 / 6);
  }
}

@media screen and (min-width: 30em) {
  .m-test {
    width: calc(99.99999% * 3 / 12);
    margin-left: calc(99.99999% * 0 / 12);
    margin-right: calc(99.99999% * 1 / 12);
  }
}

@media screen and (min-width: 20em) {
  .m-test .nest {
    width: calc((99.99999% + 2rem) * 3 / 6 - 2rem);
    margin-left: calc((99.99999% + 2rem) * 1 / 6);
    margin-right: calc((99.99999% + 2rem) * 1 / 6);
  }
}

@media screen and (min-width: 30em) {
  .m-test .nest {
    width: calc((99.99999% + 3rem) * 4 / 12 - 3rem);
    margin-left: calc((99.99999% + 3rem) * 2 / 12);
    margin-right: calc((99.99999% + 3rem) * 2 / 12);
  }
}
