.stack, [class^="stack-"], [class*=" stack-"] {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: stretch;
  padding-top: 0.01px;
  padding-bottom: 0.01px;
}

.stack > *, [class^="stack-"] > *, [class*=" stack-"] > * {
  flex: 0 0 auto;
  margin-top: 0;
  margin-bottom: 0;
}

.stack > * + *, [class^="stack-"] > * + *, [class*=" stack-"] > * + * {
  margin-top: 1.25rem;
}

.plain, [class^="plain-"], [class*=" plain-"] {
  padding-top: 0.01px;
  padding-bottom: 0.01px;
}

.plain > *, [class^="plain-"] > *, [class*=" plain-"] > * {
  margin-top: 0;
  margin-bottom: 0;
}

.plain > * + *, [class^="plain-"] > * + *, [class*=" plain-"] > * + * {
  margin-top: 1.25rem;
}

.chain, [class^="chain-"], [class*=" chain-"] {
  display: flex;
  width: 100%;
  flex-direction: row;
}

.chain > *, [class^="chain-"] > *, [class*=" chain-"] > * {
  flex: 0 0 auto;
  margin-left: 0;
  margin-right: 0;
  text-overflow: ellipsis;
}

.chain > * + *, [class^="chain-"] > * + *, [class*=" chain-"] > * + * {
  margin-left: 2rem;
}

.stack-0 > * + * {
  margin-top: 0;
}

.chain-0 > * + * {
  margin-left: 0;
}

@media screen and (max-width: 19.999em) {
  .plain .push-s, [class^="plain-"] .push-s, [class*=" plain-"] .push-s,
  .stack .push-s, [class^="stack-"] .push-s, [class*=" stack-"] .push-s {
    margin-top: 1.25rem;
  }
  .stack-s > * + * {
    margin-top: 1.25rem;
  }
  .plain .push-m, [class^="plain-"] .push-m, [class*=" plain-"] .push-m,
  .stack .push-m, [class^="stack-"] .push-m, [class*=" stack-"] .push-m {
    margin-top: 2.5rem;
  }
  .stack-m > * + * {
    margin-top: 2.5rem;
  }
  .plain .push-l, [class^="plain-"] .push-l, [class*=" plain-"] .push-l,
  .stack .push-l, [class^="stack-"] .push-l, [class*=" stack-"] .push-l {
    margin-top: 4rem;
  }
  .stack-l > * + * {
    margin-top: 4rem;
  }
}

@media screen and (min-width: 20em) and (max-width: 29.999em) {
  .plain .push-s, [class^="plain-"] .push-s, [class*=" plain-"] .push-s,
  .stack .push-s, [class^="stack-"] .push-s, [class*=" stack-"] .push-s {
    margin-top: 1.25rem;
  }
  .stack-s > * + * {
    margin-top: 1.25rem;
  }
  .plain .push-m, [class^="plain-"] .push-m, [class*=" plain-"] .push-m,
  .stack .push-m, [class^="stack-"] .push-m, [class*=" stack-"] .push-m {
    margin-top: 2.5rem;
  }
  .stack-m > * + * {
    margin-top: 2.5rem;
  }
  .plain .push-l, [class^="plain-"] .push-l, [class*=" plain-"] .push-l,
  .stack .push-l, [class^="stack-"] .push-l, [class*=" stack-"] .push-l {
    margin-top: 4rem;
  }
  .stack-l > * + * {
    margin-top: 4rem;
  }
}

@media screen and (min-width: 30em) and (max-width: 39.999em) {
  .plain .push-s, [class^="plain-"] .push-s, [class*=" plain-"] .push-s,
  .stack .push-s, [class^="stack-"] .push-s, [class*=" stack-"] .push-s {
    margin-top: 1.875rem;
  }
  .stack-s > * + * {
    margin-top: 1.875rem;
  }
  .plain .push-m, [class^="plain-"] .push-m, [class*=" plain-"] .push-m,
  .stack .push-m, [class^="stack-"] .push-m, [class*=" stack-"] .push-m {
    margin-top: 3.125rem;
  }
  .stack-m > * + * {
    margin-top: 3.125rem;
  }
  .plain .push-l, [class^="plain-"] .push-l, [class*=" plain-"] .push-l,
  .stack .push-l, [class^="stack-"] .push-l, [class*=" stack-"] .push-l {
    margin-top: 3.75rem;
  }
  .stack-l > * + * {
    margin-top: 3.75rem;
  }
}

@media screen and (min-width: 40em) {
  .plain .push-s, [class^="plain-"] .push-s, [class*=" plain-"] .push-s,
  .stack .push-s, [class^="stack-"] .push-s, [class*=" stack-"] .push-s {
    margin-top: 1.875rem;
  }
  .stack-s > * + * {
    margin-top: 1.875rem;
  }
  .plain .push-m, [class^="plain-"] .push-m, [class*=" plain-"] .push-m,
  .stack .push-m, [class^="stack-"] .push-m, [class*=" stack-"] .push-m {
    margin-top: 3.125rem;
  }
  .stack-m > * + * {
    margin-top: 3.125rem;
  }
  .plain .push-l, [class^="plain-"] .push-l, [class*=" plain-"] .push-l,
  .stack .push-l, [class^="stack-"] .push-l, [class*=" stack-"] .push-l {
    margin-top: 3.75rem;
  }
  .stack-l > * + * {
    margin-top: 3.75rem;
  }
}

@media screen and (max-width: 19.999em) {
  .chain .push-s, [class^="chain-"] .push-s, [class*=" chain-"] .push-s {
    margin-top: 1rem;
  }
  .chain-s > * + * {
    margin-left: 1rem;
  }
  .chain .push-form, [class^="chain-"] .push-form, [class*=" chain-"] .push-form {
    margin-top: 10px;
  }
  .chain-form > * + * {
    margin-left: 10px;
  }
}

@media screen and (min-width: 20em) and (max-width: 29.999em) {
  .chain .push-s, [class^="chain-"] .push-s, [class*=" chain-"] .push-s {
    margin-top: 1rem;
  }
  .chain-s > * + * {
    margin-left: 1rem;
  }
  .chain .push-form, [class^="chain-"] .push-form, [class*=" chain-"] .push-form {
    margin-top: 10px;
  }
  .chain-form > * + * {
    margin-left: 10px;
  }
}

@media screen and (min-width: 30em) and (max-width: 39.999em) {
  .chain .push-s, [class^="chain-"] .push-s, [class*=" chain-"] .push-s {
    margin-top: 1.5rem;
  }
  .chain-s > * + * {
    margin-left: 1.5rem;
  }
  .chain .push-form, [class^="chain-"] .push-form, [class*=" chain-"] .push-form {
    margin-top: 10px;
  }
  .chain-form > * + * {
    margin-left: 10px;
  }
}

@media screen and (min-width: 40em) {
  .chain .push-s, [class^="chain-"] .push-s, [class*=" chain-"] .push-s {
    margin-top: 1.5rem;
  }
  .chain-s > * + * {
    margin-left: 1.5rem;
  }
  .chain .push-form, [class^="chain-"] .push-form, [class*=" chain-"] .push-form {
    margin-top: 10px;
  }
  .chain-form > * + * {
    margin-left: 10px;
  }
}
