html {
  font-size: var(--font-size);
  line-height: var(--line-height);
}

:root {
  --font-size: 16px;
  --line-height: 1.25;
  --inner-x: 2rem;
  --inner-y: 1.25rem;
  --outer-top: 2rem;
  --outer-right: 2rem;
  --outer-bottom: 2rem;
  --outer-left: 2rem;
  --grid-columns: 12;
  --outer-width: 100%;
  --inner-width: calc(var(--outer-width) - (var(--outer-right) + var(--outer-left)));
  --inner-y-s: calc(var(--inner-y) * 1);
  --inner-y-m: calc(var(--inner-y) * 2);
  --inner-y-l: 4rem;
  --inner-x-s: calc(var(--inner-x) * 0.5);
  --inner-x-form: 10px;
  --font-size-sans-m: 1rem;
  --line-height-sans-m: 1.25;
  --trim-top-sans-m: calc((var(--line-height-sans-m) - 1) * 1em / 2 + var(--trim-capline-sans) * 1em);
  --trim-bottom-sans-m: calc((var(--line-height-sans-m) - 1) * 1em / 2 + var(--trim-baseline-sans) * 1em);
}

@media screen and (min-width: 20em) {
  :root {
    --breakpoint: 20em;
    --outer-width: 20rem;
  }
}

@media screen and (min-width: 30em) {
  :root {
    --inner-x: 3rem;
    --breakpoint: 30em;
    --outer-width: 30rem;
  }
}

@media screen and (min-width: 40em) {
  :root {
    --breakpoint: 40em;
    --outer-width: 40rem;
  }
}

:root {
  --stack-gap: var(--inner-y);
  --chain-gap: var(--inner-x);
}

.stack, [class^="stack-"], [class*=" stack-"],
.wysiwyg, [class^="wysiwyg-"], [class*=" wysiwyg-"] {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: stretch;
  padding-top: 0.01px;
  padding-bottom: 0.01px;
}

.stack > *, [class^="stack-"] > *, [class*=" stack-"] > *,
.wysiwyg > *, [class^="wysiwyg-"] > *, [class*=" wysiwyg-"] > * {
  flex: 0 0 auto;
  margin-top: 0;
  margin-bottom: 0;
}

.stack > * + *, [class^="stack-"] > * + *, [class*=" stack-"] > * + *,
.wysiwyg > * + *, [class^="wysiwyg-"] > * + *, [class*=" wysiwyg-"] > * + * {
  margin-top: var(--stack-gap);
}

.stack-0 > * {
  --stack-gap: 0;
}

.stack > .push-s, [class^="stack-"] > .push-s, [class*=" stack-"] > .push-s,
.wysiwyg > .push-s, [class^="wysiwyg-"] > .push-s, [class*=" wysiwyg-"] > .push-s {
  --stack-gap: var(--inner-y-s);
}

.stack-s > * {
  --stack-gap: var(--inner-y-s);
}

.stack > .push-m, [class^="stack-"] > .push-m, [class*=" stack-"] > .push-m,
.wysiwyg > .push-m, [class^="wysiwyg-"] > .push-m, [class*=" wysiwyg-"] > .push-m {
  --stack-gap: var(--inner-y-m);
}

.stack-m > * {
  --stack-gap: var(--inner-y-m);
}

.stack > .push-l, [class^="stack-"] > .push-l, [class*=" stack-"] > .push-l,
.wysiwyg > .push-l, [class^="wysiwyg-"] > .push-l, [class*=" wysiwyg-"] > .push-l {
  --stack-gap: var(--inner-y-l);
}

.stack-l > * {
  --stack-gap: var(--inner-y-l);
}

.chain, [class^="chain-"], [class*=" chain-"] {
  display: flex;
  width: 100%;
  flex-direction: row;
}

.chain > *, [class^="chain-"] > *, [class*=" chain-"] > * {
  flex: 0 0 auto;
  margin-left: 0;
  margin-right: 0;
  text-overflow: ellipsis;
}

.chain > * + *, [class^="chain-"] > * + *, [class*=" chain-"] > * + * {
  margin-left: var(--chain-gap);
}

.chain-0 > * {
  --chain-gap: 0;
}

.chain > .push-s, [class^="chain-"] > .push-s, [class*=" chain-"] > .push-s {
  --chain-gap: var(--inner-x-s);
}

.chain-s > * {
  --chain-gap: var(--inner-x-s);
}

.chain > .push-form, [class^="chain-"] > .push-form, [class*=" chain-"] > .push-form {
  --chain-gap: var(--inner-x-form);
}

.chain-form > * {
  --chain-gap: var(--inner-x-form);
}
