:root {
  --font-size: 16px;
  --line-height: 1.25;
  --inner-x: 2rem;
  --inner-y: 1.25rem;
  --outer-top: 2rem;
  --outer-right: 2rem;
  --outer-bottom: 2rem;
  --outer-left: 2rem;
  --grid-columns: 12;
  --outer-width: 100%;
  --inner-y-s: calc(var(--inner-y) * 1);
  --inner-y-m: calc(var(--inner-y) * 2);
  --inner-y-l: 4rem;
  --inner-x-s: calc(var(--inner-x) * 0.5);
  --inner-x-form: 10px;
  --inner-width: calc(var(--outer-width) - (var(--outer-right) + var(--outer-left)));
}

@media screen and (min-width: 20em) {
  :root {
    --breakpoint: 20em;
    --outer-width: assert(20em, rem);
  }
}

@media screen and (min-width: 30em) {
  :root {
    --inner-x: 3rem;
    --breakpoint: 30em;
    --outer-width: assert(30em, rem);
  }
}

@media screen and (min-width: 40em) {
  :root {
    --breakpoint: 40em;
    --outer-width: assert(40em, rem);
  }
}

[class^="wrap-"], [class*=" wrap-"] {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  max-width: var(--wrap-width);
}

.wrap-left {
  margin-left: 0;
}

.wrap-right {
  margin-right: 0;
}

:root {
  --wrap-width: 100%;
}

.wrap-each {
  --wrap-width: var(--outer-width);
}

@media screen and (min-width: map-get-z((a: (font-size: 16px, line-height: 1.25, inner-x: 2rem, inner-y: 1.25rem, outer-top: 2rem, outer-right: 2rem, outer-bottom: 2rem, outer-left: 2rem, grid-columns: 12, font-mods: (sans: (m: 16px 1.25)), inner-mods: (m: 1rem), inner-x-mods: (s: 0.5, form: 10px), inner-y-mods: (s: 1, m: 2, l: 4rem), "outer-width": assert(20em, rem), breakpoint: 20em), b: (font-size: 16px, line-height: 1.25, inner-x: 3rem, inner-y: 1.25rem, outer-top: 2rem, outer-right: 2rem, outer-bottom: 2rem, outer-left: 2rem, grid-columns: 12, font-mods: (sans: (m: 16px 1.25)), inner-mods: (m: 1rem), inner-x-mods: (s: 0.5, form: 10px), inner-y-mods: (s: 1, m: 2, l: 4rem), "outer-width": assert(30em, rem), breakpoint: 30em), c: (font-size: 16px, line-height: 1.25, inner-x: 3rem, inner-y: 1.25rem, outer-top: 2rem, outer-right: 2rem, outer-bottom: 2rem, outer-left: 2rem, grid-columns: 12, font-mods: (sans: (m: 16px 1.25)), inner-mods: (m: 1rem), inner-x-mods: (s: 0.5, form: 10px), inner-y-mods: (s: 1, m: 2, l: 4rem), "outer-width": assert(40em, rem), breakpoint: 40em)), a, "breakpoint")) {
  .wrap-each__a,
  .wrap-a {
    --wrap-width: var(--outer-width);
  }
}

@media screen and (min-width: map-get-z((a: (font-size: 16px, line-height: 1.25, inner-x: 2rem, inner-y: 1.25rem, outer-top: 2rem, outer-right: 2rem, outer-bottom: 2rem, outer-left: 2rem, grid-columns: 12, font-mods: (sans: (m: 16px 1.25)), inner-mods: (m: 1rem), inner-x-mods: (s: 0.5, form: 10px), inner-y-mods: (s: 1, m: 2, l: 4rem), "outer-width": assert(20em, rem), breakpoint: 20em), b: (font-size: 16px, line-height: 1.25, inner-x: 3rem, inner-y: 1.25rem, outer-top: 2rem, outer-right: 2rem, outer-bottom: 2rem, outer-left: 2rem, grid-columns: 12, font-mods: (sans: (m: 16px 1.25)), inner-mods: (m: 1rem), inner-x-mods: (s: 0.5, form: 10px), inner-y-mods: (s: 1, m: 2, l: 4rem), "outer-width": assert(30em, rem), breakpoint: 30em), c: (font-size: 16px, line-height: 1.25, inner-x: 3rem, inner-y: 1.25rem, outer-top: 2rem, outer-right: 2rem, outer-bottom: 2rem, outer-left: 2rem, grid-columns: 12, font-mods: (sans: (m: 16px 1.25)), inner-mods: (m: 1rem), inner-x-mods: (s: 0.5, form: 10px), inner-y-mods: (s: 1, m: 2, l: 4rem), "outer-width": assert(40em, rem), breakpoint: 40em)), b, "breakpoint")) {
  .wrap-each__b,
  .wrap-b {
    --wrap-width: var(--outer-width);
  }
}

@media screen and (min-width: map-get-z((a: (font-size: 16px, line-height: 1.25, inner-x: 2rem, inner-y: 1.25rem, outer-top: 2rem, outer-right: 2rem, outer-bottom: 2rem, outer-left: 2rem, grid-columns: 12, font-mods: (sans: (m: 16px 1.25)), inner-mods: (m: 1rem), inner-x-mods: (s: 0.5, form: 10px), inner-y-mods: (s: 1, m: 2, l: 4rem), "outer-width": assert(20em, rem), breakpoint: 20em), b: (font-size: 16px, line-height: 1.25, inner-x: 3rem, inner-y: 1.25rem, outer-top: 2rem, outer-right: 2rem, outer-bottom: 2rem, outer-left: 2rem, grid-columns: 12, font-mods: (sans: (m: 16px 1.25)), inner-mods: (m: 1rem), inner-x-mods: (s: 0.5, form: 10px), inner-y-mods: (s: 1, m: 2, l: 4rem), "outer-width": assert(30em, rem), breakpoint: 30em), c: (font-size: 16px, line-height: 1.25, inner-x: 3rem, inner-y: 1.25rem, outer-top: 2rem, outer-right: 2rem, outer-bottom: 2rem, outer-left: 2rem, grid-columns: 12, font-mods: (sans: (m: 16px 1.25)), inner-mods: (m: 1rem), inner-x-mods: (s: 0.5, form: 10px), inner-y-mods: (s: 1, m: 2, l: 4rem), "outer-width": assert(40em, rem), breakpoint: 40em)), c, "breakpoint")) {
  .wrap-each__c,
  .wrap-c {
    --wrap-width: var(--outer-width);
  }
}
