@import 'index';

$root: (
  inner-x: 2rem,
  inner-x-mods: (
    s: 0.5,
    form: 10px,
  ),
  inner-y-mods: (
    s: 1,
    m: 2,
    l: 4rem
  )
);

$media: (
  a: (breakpoint: 20em),
  b: (
    inner-x: 3rem,
    breakpoint: 30em
  ),
  c: (breakpoint: 40em),
);

@include homework-core-setup()
@include homework-wrap-setup()
@include homework-stack-setup()
@include homework-font-setup()
@include homework-frame-setup()
@include homework-grid-setup()
@include homework-atomic-setup()
@include homework-helper-setup()
@include homework-theme-setup()
@include homework-debug-setup()

/*
  --font-family-sans
  --font-sans-m: var(--font-size-sans-m)/var(--line-height-sans-m) var(--font-family-sans)
  --inner-y-xl
  --
*/
