html {
  font-size: var(--font-size);
  line-height: var(--line-height);
}

:root {
  --font-size: 16px;
  --line-height: 1.25;
  --inner-x: 2rem;
  --inner-y: 1.25rem;
  --outer-top: 2rem;
  --outer-right: 2rem;
  --outer-bottom: 2rem;
  --outer-left: 2rem;
  --grid-columns: 12;
  --outer-width: 100%;
  --inner-width: calc(var(--outer-width) - (var(--outer-right) + var(--outer-left)));
  --inner-y-s: calc(var(--inner-y) * 1);
  --inner-y-m: calc(var(--inner-y) * 2);
  --inner-y-l: 4rem;
  --inner-x-s: calc(var(--inner-x) * 0.5);
  --inner-x-form: 10px;
  --font-size-sans-m: 1rem;
  --line-height-sans-m: 1.25;
  --trim-top-sans-m: calc((var(--line-height-sans-m) - 1) * 1em / 2 + var(--trim-capline-sans) * 1em);
  --trim-bottom-sans-m: calc((var(--line-height-sans-m) - 1) * 1em / 2 + var(--trim-baseline-sans) * 1em);
}

@media screen and (min-width: 20em) {
  :root {
    --breakpoint: 20em;
    --outer-width: 20rem;
  }
}

@media screen and (min-width: 30em) {
  :root {
    --inner-x: 3rem;
    --breakpoint: 30em;
    --outer-width: 30rem;
  }
}

@media screen and (min-width: 40em) {
  :root {
    --breakpoint: 40em;
    --outer-width: 40rem;
  }
}

:root {
  --row-gap: var(--inner-y);
  --column-gap: var(--inner-x);
  --span-d: var(--grid-columns);
  --span-n: var(--span-d);
  --span-i: var(--span-d);
}

.flow, [class^="flow-"], [class*=" flow-"] {
  margin-top: calc(var(--row-gap) / -2);
  margin-bottom: calc(var(--row-gap) / -2);
}

.flow > *, [class^="flow-"] > *, [class*=" flow-"] > * {
  padding-top: calc(var(--row-gap) / 2);
  padding-bottom: calc(var(--row-gap) / 2);
}

.flow > .stack, .flow > [class^="stack-"], .flow > [class*=" stack-"], [class^="flow-"] > .stack, [class^="flow-"] > [class^="stack-"], [class^="flow-"] > [class*=" stack-"], [class*=" flow-"] > .stack, [class*=" flow-"] > [class^="stack-"], [class*=" flow-"] > [class*=" stack-"] {
  padding-top: calc(var(--row-gap) / 2);
  padding-bottom: calc(var(--row-gap) / 2);
}

.flow, [class^="flow-"], [class*=" flow-"] {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: calc(var(--column-gap) / -2);
  margin-right: calc(var(--column-gap) / -2);
}

.flow > *, [class^="flow-"] > *, [class*=" flow-"] > * {
  flex: 1 1 0%;
  min-width: 0%;
  min-height: 1px;
  overflow-wrap: break-word;
  background-clip: content-box;
  padding-left: calc(var(--column-gap) / 2);
  padding-right: calc(var(--column-gap) / 2);
}

.flow.null, [class^="flow-"].null, [class*=" flow-"].null {
  margin: 0;
}

.flow.null > *, [class^="flow-"].null > *, [class*=" flow-"].null > * {
  padding: 0;
}

.span, [class^="span-"], [class*=" span-"],
[class^="span__"], [class*=" span__"] {
  flex: 0 0 auto;
  width: calc(100% * var(--span-n) / var(--span-d));
}

.span-i, [class^="span-i-"], [class*=" span-i-"],
[class^="span-i__"], [class*=" span-i__"] {
  width: calc((100% + var(--column-gap)) * var(--span-i) / var(--span-d) - var(--column-gap));
}

.flow-s {
  --row-gap: var(--inner-y-s);
}

.flow-m {
  --row-gap: var(--inner-y-m);
}

.flow-l {
  --row-gap: var(--inner-y-l);
}

.span {
  --span-n: var(--span-d);
}

.span-i {
  --span-i: var(--span-d);
}

.span-1 {
  --span-n: 1;
}

.span-1 > * {
  --span-d: var(--span-n);
}

.span-i-1 {
  --span-i: 1;
}

.span-i-1 > * {
  --span-d: var(--span-i);
}

.ml-1 {
  margin-left: calc(100% * 1 / var(--span-d));
}

.mr-1 {
  margin-right: calc(100% * 1 / var(--span-d));
}

.ml-neg-1 {
  margin-left: calc(-100% * 1 / var(--span-d));
}

.mr-neg-1 {
  margin-right: calc(-100% * 1 / var(--span-d));
}

.ml-i-1 {
  margin-left: calc((100% + var(--column-gap)) * 1 / var(--span-d));
}

.mr-i-1 {
  margin-right: calc((100% + var(--column-gap)) * 1 / var(--span-d));
}

.ml-i-neg-1 {
  margin-left: calc((100% + var(--column-gap)) * -1 * 1 / var(--span-d));
}

.mr-i-neg-1 {
  margin-right: calc((100% + var(--column-gap)) * -1 * 1 / var(--span-d));
}

.span-2 {
  --span-n: 2;
}

.span-2 > * {
  --span-d: var(--span-n);
}

.span-i-2 {
  --span-i: 2;
}

.span-i-2 > * {
  --span-d: var(--span-i);
}

.ml-2 {
  margin-left: calc(100% * 2 / var(--span-d));
}

.mr-2 {
  margin-right: calc(100% * 2 / var(--span-d));
}

.ml-neg-2 {
  margin-left: calc(-100% * 2 / var(--span-d));
}

.mr-neg-2 {
  margin-right: calc(-100% * 2 / var(--span-d));
}

.ml-i-2 {
  margin-left: calc((100% + var(--column-gap)) * 2 / var(--span-d));
}

.mr-i-2 {
  margin-right: calc((100% + var(--column-gap)) * 2 / var(--span-d));
}

.ml-i-neg-2 {
  margin-left: calc((100% + var(--column-gap)) * -1 * 2 / var(--span-d));
}

.mr-i-neg-2 {
  margin-right: calc((100% + var(--column-gap)) * -1 * 2 / var(--span-d));
}

.span-3 {
  --span-n: 3;
}

.span-3 > * {
  --span-d: var(--span-n);
}

.span-i-3 {
  --span-i: 3;
}

.span-i-3 > * {
  --span-d: var(--span-i);
}

.ml-3 {
  margin-left: calc(100% * 3 / var(--span-d));
}

.mr-3 {
  margin-right: calc(100% * 3 / var(--span-d));
}

.ml-neg-3 {
  margin-left: calc(-100% * 3 / var(--span-d));
}

.mr-neg-3 {
  margin-right: calc(-100% * 3 / var(--span-d));
}

.ml-i-3 {
  margin-left: calc((100% + var(--column-gap)) * 3 / var(--span-d));
}

.mr-i-3 {
  margin-right: calc((100% + var(--column-gap)) * 3 / var(--span-d));
}

.ml-i-neg-3 {
  margin-left: calc((100% + var(--column-gap)) * -1 * 3 / var(--span-d));
}

.mr-i-neg-3 {
  margin-right: calc((100% + var(--column-gap)) * -1 * 3 / var(--span-d));
}

.span-4 {
  --span-n: 4;
}

.span-4 > * {
  --span-d: var(--span-n);
}

.span-i-4 {
  --span-i: 4;
}

.span-i-4 > * {
  --span-d: var(--span-i);
}

.ml-4 {
  margin-left: calc(100% * 4 / var(--span-d));
}

.mr-4 {
  margin-right: calc(100% * 4 / var(--span-d));
}

.ml-neg-4 {
  margin-left: calc(-100% * 4 / var(--span-d));
}

.mr-neg-4 {
  margin-right: calc(-100% * 4 / var(--span-d));
}

.ml-i-4 {
  margin-left: calc((100% + var(--column-gap)) * 4 / var(--span-d));
}

.mr-i-4 {
  margin-right: calc((100% + var(--column-gap)) * 4 / var(--span-d));
}

.ml-i-neg-4 {
  margin-left: calc((100% + var(--column-gap)) * -1 * 4 / var(--span-d));
}

.mr-i-neg-4 {
  margin-right: calc((100% + var(--column-gap)) * -1 * 4 / var(--span-d));
}

.span-5 {
  --span-n: 5;
}

.span-5 > * {
  --span-d: var(--span-n);
}

.span-i-5 {
  --span-i: 5;
}

.span-i-5 > * {
  --span-d: var(--span-i);
}

.ml-5 {
  margin-left: calc(100% * 5 / var(--span-d));
}

.mr-5 {
  margin-right: calc(100% * 5 / var(--span-d));
}

.ml-neg-5 {
  margin-left: calc(-100% * 5 / var(--span-d));
}

.mr-neg-5 {
  margin-right: calc(-100% * 5 / var(--span-d));
}

.ml-i-5 {
  margin-left: calc((100% + var(--column-gap)) * 5 / var(--span-d));
}

.mr-i-5 {
  margin-right: calc((100% + var(--column-gap)) * 5 / var(--span-d));
}

.ml-i-neg-5 {
  margin-left: calc((100% + var(--column-gap)) * -1 * 5 / var(--span-d));
}

.mr-i-neg-5 {
  margin-right: calc((100% + var(--column-gap)) * -1 * 5 / var(--span-d));
}

.span-6 {
  --span-n: 6;
}

.span-6 > * {
  --span-d: var(--span-n);
}

.span-i-6 {
  --span-i: 6;
}

.span-i-6 > * {
  --span-d: var(--span-i);
}

.ml-6 {
  margin-left: calc(100% * 6 / var(--span-d));
}

.mr-6 {
  margin-right: calc(100% * 6 / var(--span-d));
}

.ml-neg-6 {
  margin-left: calc(-100% * 6 / var(--span-d));
}

.mr-neg-6 {
  margin-right: calc(-100% * 6 / var(--span-d));
}

.ml-i-6 {
  margin-left: calc((100% + var(--column-gap)) * 6 / var(--span-d));
}

.mr-i-6 {
  margin-right: calc((100% + var(--column-gap)) * 6 / var(--span-d));
}

.ml-i-neg-6 {
  margin-left: calc((100% + var(--column-gap)) * -1 * 6 / var(--span-d));
}

.mr-i-neg-6 {
  margin-right: calc((100% + var(--column-gap)) * -1 * 6 / var(--span-d));
}

.span-7 {
  --span-n: 7;
}

.span-7 > * {
  --span-d: var(--span-n);
}

.span-i-7 {
  --span-i: 7;
}

.span-i-7 > * {
  --span-d: var(--span-i);
}

.ml-7 {
  margin-left: calc(100% * 7 / var(--span-d));
}

.mr-7 {
  margin-right: calc(100% * 7 / var(--span-d));
}

.ml-neg-7 {
  margin-left: calc(-100% * 7 / var(--span-d));
}

.mr-neg-7 {
  margin-right: calc(-100% * 7 / var(--span-d));
}

.ml-i-7 {
  margin-left: calc((100% + var(--column-gap)) * 7 / var(--span-d));
}

.mr-i-7 {
  margin-right: calc((100% + var(--column-gap)) * 7 / var(--span-d));
}

.ml-i-neg-7 {
  margin-left: calc((100% + var(--column-gap)) * -1 * 7 / var(--span-d));
}

.mr-i-neg-7 {
  margin-right: calc((100% + var(--column-gap)) * -1 * 7 / var(--span-d));
}

.span-8 {
  --span-n: 8;
}

.span-8 > * {
  --span-d: var(--span-n);
}

.span-i-8 {
  --span-i: 8;
}

.span-i-8 > * {
  --span-d: var(--span-i);
}

.ml-8 {
  margin-left: calc(100% * 8 / var(--span-d));
}

.mr-8 {
  margin-right: calc(100% * 8 / var(--span-d));
}

.ml-neg-8 {
  margin-left: calc(-100% * 8 / var(--span-d));
}

.mr-neg-8 {
  margin-right: calc(-100% * 8 / var(--span-d));
}

.ml-i-8 {
  margin-left: calc((100% + var(--column-gap)) * 8 / var(--span-d));
}

.mr-i-8 {
  margin-right: calc((100% + var(--column-gap)) * 8 / var(--span-d));
}

.ml-i-neg-8 {
  margin-left: calc((100% + var(--column-gap)) * -1 * 8 / var(--span-d));
}

.mr-i-neg-8 {
  margin-right: calc((100% + var(--column-gap)) * -1 * 8 / var(--span-d));
}

.span-9 {
  --span-n: 9;
}

.span-9 > * {
  --span-d: var(--span-n);
}

.span-i-9 {
  --span-i: 9;
}

.span-i-9 > * {
  --span-d: var(--span-i);
}

.ml-9 {
  margin-left: calc(100% * 9 / var(--span-d));
}

.mr-9 {
  margin-right: calc(100% * 9 / var(--span-d));
}

.ml-neg-9 {
  margin-left: calc(-100% * 9 / var(--span-d));
}

.mr-neg-9 {
  margin-right: calc(-100% * 9 / var(--span-d));
}

.ml-i-9 {
  margin-left: calc((100% + var(--column-gap)) * 9 / var(--span-d));
}

.mr-i-9 {
  margin-right: calc((100% + var(--column-gap)) * 9 / var(--span-d));
}

.ml-i-neg-9 {
  margin-left: calc((100% + var(--column-gap)) * -1 * 9 / var(--span-d));
}

.mr-i-neg-9 {
  margin-right: calc((100% + var(--column-gap)) * -1 * 9 / var(--span-d));
}

.span-10 {
  --span-n: 10;
}

.span-10 > * {
  --span-d: var(--span-n);
}

.span-i-10 {
  --span-i: 10;
}

.span-i-10 > * {
  --span-d: var(--span-i);
}

.ml-10 {
  margin-left: calc(100% * 10 / var(--span-d));
}

.mr-10 {
  margin-right: calc(100% * 10 / var(--span-d));
}

.ml-neg-10 {
  margin-left: calc(-100% * 10 / var(--span-d));
}

.mr-neg-10 {
  margin-right: calc(-100% * 10 / var(--span-d));
}

.ml-i-10 {
  margin-left: calc((100% + var(--column-gap)) * 10 / var(--span-d));
}

.mr-i-10 {
  margin-right: calc((100% + var(--column-gap)) * 10 / var(--span-d));
}

.ml-i-neg-10 {
  margin-left: calc((100% + var(--column-gap)) * -1 * 10 / var(--span-d));
}

.mr-i-neg-10 {
  margin-right: calc((100% + var(--column-gap)) * -1 * 10 / var(--span-d));
}

.span-11 {
  --span-n: 11;
}

.span-11 > * {
  --span-d: var(--span-n);
}

.span-i-11 {
  --span-i: 11;
}

.span-i-11 > * {
  --span-d: var(--span-i);
}

.ml-11 {
  margin-left: calc(100% * 11 / var(--span-d));
}

.mr-11 {
  margin-right: calc(100% * 11 / var(--span-d));
}

.ml-neg-11 {
  margin-left: calc(-100% * 11 / var(--span-d));
}

.mr-neg-11 {
  margin-right: calc(-100% * 11 / var(--span-d));
}

.ml-i-11 {
  margin-left: calc((100% + var(--column-gap)) * 11 / var(--span-d));
}

.mr-i-11 {
  margin-right: calc((100% + var(--column-gap)) * 11 / var(--span-d));
}

.ml-i-neg-11 {
  margin-left: calc((100% + var(--column-gap)) * -1 * 11 / var(--span-d));
}

.mr-i-neg-11 {
  margin-right: calc((100% + var(--column-gap)) * -1 * 11 / var(--span-d));
}

.span-12 {
  --span-n: 12;
}

.span-12 > * {
  --span-d: var(--span-n);
}

.span-i-12 {
  --span-i: 12;
}

.span-i-12 > * {
  --span-d: var(--span-i);
}

.ml-12 {
  margin-left: calc(100% * 12 / var(--span-d));
}

.mr-12 {
  margin-right: calc(100% * 12 / var(--span-d));
}

.ml-neg-12 {
  margin-left: calc(-100% * 12 / var(--span-d));
}

.mr-neg-12 {
  margin-right: calc(-100% * 12 / var(--span-d));
}

.ml-i-12 {
  margin-left: calc((100% + var(--column-gap)) * 12 / var(--span-d));
}

.mr-i-12 {
  margin-right: calc((100% + var(--column-gap)) * 12 / var(--span-d));
}

.ml-i-neg-12 {
  margin-left: calc((100% + var(--column-gap)) * -1 * 12 / var(--span-d));
}

.mr-i-neg-12 {
  margin-right: calc((100% + var(--column-gap)) * -1 * 12 / var(--span-d));
}

@media screen and (min-width: 20em) {
  .flow-s__a {
    --row-gap: var(--inner-y-s);
  }
  .flow-m__a {
    --row-gap: var(--inner-y-m);
  }
  .flow-l__a {
    --row-gap: var(--inner-y-l);
  }
  .span__a {
    --span-n: var(--span-d);
  }
  .span-i__a {
    --span-i: var(--span-d);
  }
  .span-1__a {
    --span-n: 1;
  }
  .span-1__a > * {
    --span-d: var(--span-n);
  }
  .span-i-1__a {
    --span-i: 1;
  }
  .span-i-1__a > * {
    --span-d: var(--span-i);
  }
  .ml-1__a {
    margin-left: calc(100% * 1 / var(--span-d));
  }
  .mr-1__a {
    margin-right: calc(100% * 1 / var(--span-d));
  }
  .ml-neg-1__a {
    margin-left: calc(-100% * 1 / var(--span-d));
  }
  .mr-neg-1__a {
    margin-right: calc(-100% * 1 / var(--span-d));
  }
  .ml-i-1__a {
    margin-left: calc((100% + var(--column-gap)) * 1 / var(--span-d));
  }
  .mr-i-1__a {
    margin-right: calc((100% + var(--column-gap)) * 1 / var(--span-d));
  }
  .ml-i-neg-1__a {
    margin-left: calc((100% + var(--column-gap)) * -1 * 1 / var(--span-d));
  }
  .mr-i-neg-1__a {
    margin-right: calc((100% + var(--column-gap)) * -1 * 1 / var(--span-d));
  }
  .span-2__a {
    --span-n: 2;
  }
  .span-2__a > * {
    --span-d: var(--span-n);
  }
  .span-i-2__a {
    --span-i: 2;
  }
  .span-i-2__a > * {
    --span-d: var(--span-i);
  }
  .ml-2__a {
    margin-left: calc(100% * 2 / var(--span-d));
  }
  .mr-2__a {
    margin-right: calc(100% * 2 / var(--span-d));
  }
  .ml-neg-2__a {
    margin-left: calc(-100% * 2 / var(--span-d));
  }
  .mr-neg-2__a {
    margin-right: calc(-100% * 2 / var(--span-d));
  }
  .ml-i-2__a {
    margin-left: calc((100% + var(--column-gap)) * 2 / var(--span-d));
  }
  .mr-i-2__a {
    margin-right: calc((100% + var(--column-gap)) * 2 / var(--span-d));
  }
  .ml-i-neg-2__a {
    margin-left: calc((100% + var(--column-gap)) * -1 * 2 / var(--span-d));
  }
  .mr-i-neg-2__a {
    margin-right: calc((100% + var(--column-gap)) * -1 * 2 / var(--span-d));
  }
  .span-3__a {
    --span-n: 3;
  }
  .span-3__a > * {
    --span-d: var(--span-n);
  }
  .span-i-3__a {
    --span-i: 3;
  }
  .span-i-3__a > * {
    --span-d: var(--span-i);
  }
  .ml-3__a {
    margin-left: calc(100% * 3 / var(--span-d));
  }
  .mr-3__a {
    margin-right: calc(100% * 3 / var(--span-d));
  }
  .ml-neg-3__a {
    margin-left: calc(-100% * 3 / var(--span-d));
  }
  .mr-neg-3__a {
    margin-right: calc(-100% * 3 / var(--span-d));
  }
  .ml-i-3__a {
    margin-left: calc((100% + var(--column-gap)) * 3 / var(--span-d));
  }
  .mr-i-3__a {
    margin-right: calc((100% + var(--column-gap)) * 3 / var(--span-d));
  }
  .ml-i-neg-3__a {
    margin-left: calc((100% + var(--column-gap)) * -1 * 3 / var(--span-d));
  }
  .mr-i-neg-3__a {
    margin-right: calc((100% + var(--column-gap)) * -1 * 3 / var(--span-d));
  }
  .span-4__a {
    --span-n: 4;
  }
  .span-4__a > * {
    --span-d: var(--span-n);
  }
  .span-i-4__a {
    --span-i: 4;
  }
  .span-i-4__a > * {
    --span-d: var(--span-i);
  }
  .ml-4__a {
    margin-left: calc(100% * 4 / var(--span-d));
  }
  .mr-4__a {
    margin-right: calc(100% * 4 / var(--span-d));
  }
  .ml-neg-4__a {
    margin-left: calc(-100% * 4 / var(--span-d));
  }
  .mr-neg-4__a {
    margin-right: calc(-100% * 4 / var(--span-d));
  }
  .ml-i-4__a {
    margin-left: calc((100% + var(--column-gap)) * 4 / var(--span-d));
  }
  .mr-i-4__a {
    margin-right: calc((100% + var(--column-gap)) * 4 / var(--span-d));
  }
  .ml-i-neg-4__a {
    margin-left: calc((100% + var(--column-gap)) * -1 * 4 / var(--span-d));
  }
  .mr-i-neg-4__a {
    margin-right: calc((100% + var(--column-gap)) * -1 * 4 / var(--span-d));
  }
  .span-5__a {
    --span-n: 5;
  }
  .span-5__a > * {
    --span-d: var(--span-n);
  }
  .span-i-5__a {
    --span-i: 5;
  }
  .span-i-5__a > * {
    --span-d: var(--span-i);
  }
  .ml-5__a {
    margin-left: calc(100% * 5 / var(--span-d));
  }
  .mr-5__a {
    margin-right: calc(100% * 5 / var(--span-d));
  }
  .ml-neg-5__a {
    margin-left: calc(-100% * 5 / var(--span-d));
  }
  .mr-neg-5__a {
    margin-right: calc(-100% * 5 / var(--span-d));
  }
  .ml-i-5__a {
    margin-left: calc((100% + var(--column-gap)) * 5 / var(--span-d));
  }
  .mr-i-5__a {
    margin-right: calc((100% + var(--column-gap)) * 5 / var(--span-d));
  }
  .ml-i-neg-5__a {
    margin-left: calc((100% + var(--column-gap)) * -1 * 5 / var(--span-d));
  }
  .mr-i-neg-5__a {
    margin-right: calc((100% + var(--column-gap)) * -1 * 5 / var(--span-d));
  }
  .span-6__a {
    --span-n: 6;
  }
  .span-6__a > * {
    --span-d: var(--span-n);
  }
  .span-i-6__a {
    --span-i: 6;
  }
  .span-i-6__a > * {
    --span-d: var(--span-i);
  }
  .ml-6__a {
    margin-left: calc(100% * 6 / var(--span-d));
  }
  .mr-6__a {
    margin-right: calc(100% * 6 / var(--span-d));
  }
  .ml-neg-6__a {
    margin-left: calc(-100% * 6 / var(--span-d));
  }
  .mr-neg-6__a {
    margin-right: calc(-100% * 6 / var(--span-d));
  }
  .ml-i-6__a {
    margin-left: calc((100% + var(--column-gap)) * 6 / var(--span-d));
  }
  .mr-i-6__a {
    margin-right: calc((100% + var(--column-gap)) * 6 / var(--span-d));
  }
  .ml-i-neg-6__a {
    margin-left: calc((100% + var(--column-gap)) * -1 * 6 / var(--span-d));
  }
  .mr-i-neg-6__a {
    margin-right: calc((100% + var(--column-gap)) * -1 * 6 / var(--span-d));
  }
  .span-7__a {
    --span-n: 7;
  }
  .span-7__a > * {
    --span-d: var(--span-n);
  }
  .span-i-7__a {
    --span-i: 7;
  }
  .span-i-7__a > * {
    --span-d: var(--span-i);
  }
  .ml-7__a {
    margin-left: calc(100% * 7 / var(--span-d));
  }
  .mr-7__a {
    margin-right: calc(100% * 7 / var(--span-d));
  }
  .ml-neg-7__a {
    margin-left: calc(-100% * 7 / var(--span-d));
  }
  .mr-neg-7__a {
    margin-right: calc(-100% * 7 / var(--span-d));
  }
  .ml-i-7__a {
    margin-left: calc((100% + var(--column-gap)) * 7 / var(--span-d));
  }
  .mr-i-7__a {
    margin-right: calc((100% + var(--column-gap)) * 7 / var(--span-d));
  }
  .ml-i-neg-7__a {
    margin-left: calc((100% + var(--column-gap)) * -1 * 7 / var(--span-d));
  }
  .mr-i-neg-7__a {
    margin-right: calc((100% + var(--column-gap)) * -1 * 7 / var(--span-d));
  }
  .span-8__a {
    --span-n: 8;
  }
  .span-8__a > * {
    --span-d: var(--span-n);
  }
  .span-i-8__a {
    --span-i: 8;
  }
  .span-i-8__a > * {
    --span-d: var(--span-i);
  }
  .ml-8__a {
    margin-left: calc(100% * 8 / var(--span-d));
  }
  .mr-8__a {
    margin-right: calc(100% * 8 / var(--span-d));
  }
  .ml-neg-8__a {
    margin-left: calc(-100% * 8 / var(--span-d));
  }
  .mr-neg-8__a {
    margin-right: calc(-100% * 8 / var(--span-d));
  }
  .ml-i-8__a {
    margin-left: calc((100% + var(--column-gap)) * 8 / var(--span-d));
  }
  .mr-i-8__a {
    margin-right: calc((100% + var(--column-gap)) * 8 / var(--span-d));
  }
  .ml-i-neg-8__a {
    margin-left: calc((100% + var(--column-gap)) * -1 * 8 / var(--span-d));
  }
  .mr-i-neg-8__a {
    margin-right: calc((100% + var(--column-gap)) * -1 * 8 / var(--span-d));
  }
  .span-9__a {
    --span-n: 9;
  }
  .span-9__a > * {
    --span-d: var(--span-n);
  }
  .span-i-9__a {
    --span-i: 9;
  }
  .span-i-9__a > * {
    --span-d: var(--span-i);
  }
  .ml-9__a {
    margin-left: calc(100% * 9 / var(--span-d));
  }
  .mr-9__a {
    margin-right: calc(100% * 9 / var(--span-d));
  }
  .ml-neg-9__a {
    margin-left: calc(-100% * 9 / var(--span-d));
  }
  .mr-neg-9__a {
    margin-right: calc(-100% * 9 / var(--span-d));
  }
  .ml-i-9__a {
    margin-left: calc((100% + var(--column-gap)) * 9 / var(--span-d));
  }
  .mr-i-9__a {
    margin-right: calc((100% + var(--column-gap)) * 9 / var(--span-d));
  }
  .ml-i-neg-9__a {
    margin-left: calc((100% + var(--column-gap)) * -1 * 9 / var(--span-d));
  }
  .mr-i-neg-9__a {
    margin-right: calc((100% + var(--column-gap)) * -1 * 9 / var(--span-d));
  }
  .span-10__a {
    --span-n: 10;
  }
  .span-10__a > * {
    --span-d: var(--span-n);
  }
  .span-i-10__a {
    --span-i: 10;
  }
  .span-i-10__a > * {
    --span-d: var(--span-i);
  }
  .ml-10__a {
    margin-left: calc(100% * 10 / var(--span-d));
  }
  .mr-10__a {
    margin-right: calc(100% * 10 / var(--span-d));
  }
  .ml-neg-10__a {
    margin-left: calc(-100% * 10 / var(--span-d));
  }
  .mr-neg-10__a {
    margin-right: calc(-100% * 10 / var(--span-d));
  }
  .ml-i-10__a {
    margin-left: calc((100% + var(--column-gap)) * 10 / var(--span-d));
  }
  .mr-i-10__a {
    margin-right: calc((100% + var(--column-gap)) * 10 / var(--span-d));
  }
  .ml-i-neg-10__a {
    margin-left: calc((100% + var(--column-gap)) * -1 * 10 / var(--span-d));
  }
  .mr-i-neg-10__a {
    margin-right: calc((100% + var(--column-gap)) * -1 * 10 / var(--span-d));
  }
  .span-11__a {
    --span-n: 11;
  }
  .span-11__a > * {
    --span-d: var(--span-n);
  }
  .span-i-11__a {
    --span-i: 11;
  }
  .span-i-11__a > * {
    --span-d: var(--span-i);
  }
  .ml-11__a {
    margin-left: calc(100% * 11 / var(--span-d));
  }
  .mr-11__a {
    margin-right: calc(100% * 11 / var(--span-d));
  }
  .ml-neg-11__a {
    margin-left: calc(-100% * 11 / var(--span-d));
  }
  .mr-neg-11__a {
    margin-right: calc(-100% * 11 / var(--span-d));
  }
  .ml-i-11__a {
    margin-left: calc((100% + var(--column-gap)) * 11 / var(--span-d));
  }
  .mr-i-11__a {
    margin-right: calc((100% + var(--column-gap)) * 11 / var(--span-d));
  }
  .ml-i-neg-11__a {
    margin-left: calc((100% + var(--column-gap)) * -1 * 11 / var(--span-d));
  }
  .mr-i-neg-11__a {
    margin-right: calc((100% + var(--column-gap)) * -1 * 11 / var(--span-d));
  }
  .span-12__a {
    --span-n: 12;
  }
  .span-12__a > * {
    --span-d: var(--span-n);
  }
  .span-i-12__a {
    --span-i: 12;
  }
  .span-i-12__a > * {
    --span-d: var(--span-i);
  }
  .ml-12__a {
    margin-left: calc(100% * 12 / var(--span-d));
  }
  .mr-12__a {
    margin-right: calc(100% * 12 / var(--span-d));
  }
  .ml-neg-12__a {
    margin-left: calc(-100% * 12 / var(--span-d));
  }
  .mr-neg-12__a {
    margin-right: calc(-100% * 12 / var(--span-d));
  }
  .ml-i-12__a {
    margin-left: calc((100% + var(--column-gap)) * 12 / var(--span-d));
  }
  .mr-i-12__a {
    margin-right: calc((100% + var(--column-gap)) * 12 / var(--span-d));
  }
  .ml-i-neg-12__a {
    margin-left: calc((100% + var(--column-gap)) * -1 * 12 / var(--span-d));
  }
  .mr-i-neg-12__a {
    margin-right: calc((100% + var(--column-gap)) * -1 * 12 / var(--span-d));
  }
}

@media screen and (min-width: 30em) {
  .flow-s__b {
    --row-gap: var(--inner-y-s);
  }
  .flow-m__b {
    --row-gap: var(--inner-y-m);
  }
  .flow-l__b {
    --row-gap: var(--inner-y-l);
  }
  .span__b {
    --span-n: var(--span-d);
  }
  .span-i__b {
    --span-i: var(--span-d);
  }
  .span-1__b {
    --span-n: 1;
  }
  .span-1__b > * {
    --span-d: var(--span-n);
  }
  .span-i-1__b {
    --span-i: 1;
  }
  .span-i-1__b > * {
    --span-d: var(--span-i);
  }
  .ml-1__b {
    margin-left: calc(100% * 1 / var(--span-d));
  }
  .mr-1__b {
    margin-right: calc(100% * 1 / var(--span-d));
  }
  .ml-neg-1__b {
    margin-left: calc(-100% * 1 / var(--span-d));
  }
  .mr-neg-1__b {
    margin-right: calc(-100% * 1 / var(--span-d));
  }
  .ml-i-1__b {
    margin-left: calc((100% + var(--column-gap)) * 1 / var(--span-d));
  }
  .mr-i-1__b {
    margin-right: calc((100% + var(--column-gap)) * 1 / var(--span-d));
  }
  .ml-i-neg-1__b {
    margin-left: calc((100% + var(--column-gap)) * -1 * 1 / var(--span-d));
  }
  .mr-i-neg-1__b {
    margin-right: calc((100% + var(--column-gap)) * -1 * 1 / var(--span-d));
  }
  .span-2__b {
    --span-n: 2;
  }
  .span-2__b > * {
    --span-d: var(--span-n);
  }
  .span-i-2__b {
    --span-i: 2;
  }
  .span-i-2__b > * {
    --span-d: var(--span-i);
  }
  .ml-2__b {
    margin-left: calc(100% * 2 / var(--span-d));
  }
  .mr-2__b {
    margin-right: calc(100% * 2 / var(--span-d));
  }
  .ml-neg-2__b {
    margin-left: calc(-100% * 2 / var(--span-d));
  }
  .mr-neg-2__b {
    margin-right: calc(-100% * 2 / var(--span-d));
  }
  .ml-i-2__b {
    margin-left: calc((100% + var(--column-gap)) * 2 / var(--span-d));
  }
  .mr-i-2__b {
    margin-right: calc((100% + var(--column-gap)) * 2 / var(--span-d));
  }
  .ml-i-neg-2__b {
    margin-left: calc((100% + var(--column-gap)) * -1 * 2 / var(--span-d));
  }
  .mr-i-neg-2__b {
    margin-right: calc((100% + var(--column-gap)) * -1 * 2 / var(--span-d));
  }
  .span-3__b {
    --span-n: 3;
  }
  .span-3__b > * {
    --span-d: var(--span-n);
  }
  .span-i-3__b {
    --span-i: 3;
  }
  .span-i-3__b > * {
    --span-d: var(--span-i);
  }
  .ml-3__b {
    margin-left: calc(100% * 3 / var(--span-d));
  }
  .mr-3__b {
    margin-right: calc(100% * 3 / var(--span-d));
  }
  .ml-neg-3__b {
    margin-left: calc(-100% * 3 / var(--span-d));
  }
  .mr-neg-3__b {
    margin-right: calc(-100% * 3 / var(--span-d));
  }
  .ml-i-3__b {
    margin-left: calc((100% + var(--column-gap)) * 3 / var(--span-d));
  }
  .mr-i-3__b {
    margin-right: calc((100% + var(--column-gap)) * 3 / var(--span-d));
  }
  .ml-i-neg-3__b {
    margin-left: calc((100% + var(--column-gap)) * -1 * 3 / var(--span-d));
  }
  .mr-i-neg-3__b {
    margin-right: calc((100% + var(--column-gap)) * -1 * 3 / var(--span-d));
  }
  .span-4__b {
    --span-n: 4;
  }
  .span-4__b > * {
    --span-d: var(--span-n);
  }
  .span-i-4__b {
    --span-i: 4;
  }
  .span-i-4__b > * {
    --span-d: var(--span-i);
  }
  .ml-4__b {
    margin-left: calc(100% * 4 / var(--span-d));
  }
  .mr-4__b {
    margin-right: calc(100% * 4 / var(--span-d));
  }
  .ml-neg-4__b {
    margin-left: calc(-100% * 4 / var(--span-d));
  }
  .mr-neg-4__b {
    margin-right: calc(-100% * 4 / var(--span-d));
  }
  .ml-i-4__b {
    margin-left: calc((100% + var(--column-gap)) * 4 / var(--span-d));
  }
  .mr-i-4__b {
    margin-right: calc((100% + var(--column-gap)) * 4 / var(--span-d));
  }
  .ml-i-neg-4__b {
    margin-left: calc((100% + var(--column-gap)) * -1 * 4 / var(--span-d));
  }
  .mr-i-neg-4__b {
    margin-right: calc((100% + var(--column-gap)) * -1 * 4 / var(--span-d));
  }
  .span-5__b {
    --span-n: 5;
  }
  .span-5__b > * {
    --span-d: var(--span-n);
  }
  .span-i-5__b {
    --span-i: 5;
  }
  .span-i-5__b > * {
    --span-d: var(--span-i);
  }
  .ml-5__b {
    margin-left: calc(100% * 5 / var(--span-d));
  }
  .mr-5__b {
    margin-right: calc(100% * 5 / var(--span-d));
  }
  .ml-neg-5__b {
    margin-left: calc(-100% * 5 / var(--span-d));
  }
  .mr-neg-5__b {
    margin-right: calc(-100% * 5 / var(--span-d));
  }
  .ml-i-5__b {
    margin-left: calc((100% + var(--column-gap)) * 5 / var(--span-d));
  }
  .mr-i-5__b {
    margin-right: calc((100% + var(--column-gap)) * 5 / var(--span-d));
  }
  .ml-i-neg-5__b {
    margin-left: calc((100% + var(--column-gap)) * -1 * 5 / var(--span-d));
  }
  .mr-i-neg-5__b {
    margin-right: calc((100% + var(--column-gap)) * -1 * 5 / var(--span-d));
  }
  .span-6__b {
    --span-n: 6;
  }
  .span-6__b > * {
    --span-d: var(--span-n);
  }
  .span-i-6__b {
    --span-i: 6;
  }
  .span-i-6__b > * {
    --span-d: var(--span-i);
  }
  .ml-6__b {
    margin-left: calc(100% * 6 / var(--span-d));
  }
  .mr-6__b {
    margin-right: calc(100% * 6 / var(--span-d));
  }
  .ml-neg-6__b {
    margin-left: calc(-100% * 6 / var(--span-d));
  }
  .mr-neg-6__b {
    margin-right: calc(-100% * 6 / var(--span-d));
  }
  .ml-i-6__b {
    margin-left: calc((100% + var(--column-gap)) * 6 / var(--span-d));
  }
  .mr-i-6__b {
    margin-right: calc((100% + var(--column-gap)) * 6 / var(--span-d));
  }
  .ml-i-neg-6__b {
    margin-left: calc((100% + var(--column-gap)) * -1 * 6 / var(--span-d));
  }
  .mr-i-neg-6__b {
    margin-right: calc((100% + var(--column-gap)) * -1 * 6 / var(--span-d));
  }
  .span-7__b {
    --span-n: 7;
  }
  .span-7__b > * {
    --span-d: var(--span-n);
  }
  .span-i-7__b {
    --span-i: 7;
  }
  .span-i-7__b > * {
    --span-d: var(--span-i);
  }
  .ml-7__b {
    margin-left: calc(100% * 7 / var(--span-d));
  }
  .mr-7__b {
    margin-right: calc(100% * 7 / var(--span-d));
  }
  .ml-neg-7__b {
    margin-left: calc(-100% * 7 / var(--span-d));
  }
  .mr-neg-7__b {
    margin-right: calc(-100% * 7 / var(--span-d));
  }
  .ml-i-7__b {
    margin-left: calc((100% + var(--column-gap)) * 7 / var(--span-d));
  }
  .mr-i-7__b {
    margin-right: calc((100% + var(--column-gap)) * 7 / var(--span-d));
  }
  .ml-i-neg-7__b {
    margin-left: calc((100% + var(--column-gap)) * -1 * 7 / var(--span-d));
  }
  .mr-i-neg-7__b {
    margin-right: calc((100% + var(--column-gap)) * -1 * 7 / var(--span-d));
  }
  .span-8__b {
    --span-n: 8;
  }
  .span-8__b > * {
    --span-d: var(--span-n);
  }
  .span-i-8__b {
    --span-i: 8;
  }
  .span-i-8__b > * {
    --span-d: var(--span-i);
  }
  .ml-8__b {
    margin-left: calc(100% * 8 / var(--span-d));
  }
  .mr-8__b {
    margin-right: calc(100% * 8 / var(--span-d));
  }
  .ml-neg-8__b {
    margin-left: calc(-100% * 8 / var(--span-d));
  }
  .mr-neg-8__b {
    margin-right: calc(-100% * 8 / var(--span-d));
  }
  .ml-i-8__b {
    margin-left: calc((100% + var(--column-gap)) * 8 / var(--span-d));
  }
  .mr-i-8__b {
    margin-right: calc((100% + var(--column-gap)) * 8 / var(--span-d));
  }
  .ml-i-neg-8__b {
    margin-left: calc((100% + var(--column-gap)) * -1 * 8 / var(--span-d));
  }
  .mr-i-neg-8__b {
    margin-right: calc((100% + var(--column-gap)) * -1 * 8 / var(--span-d));
  }
  .span-9__b {
    --span-n: 9;
  }
  .span-9__b > * {
    --span-d: var(--span-n);
  }
  .span-i-9__b {
    --span-i: 9;
  }
  .span-i-9__b > * {
    --span-d: var(--span-i);
  }
  .ml-9__b {
    margin-left: calc(100% * 9 / var(--span-d));
  }
  .mr-9__b {
    margin-right: calc(100% * 9 / var(--span-d));
  }
  .ml-neg-9__b {
    margin-left: calc(-100% * 9 / var(--span-d));
  }
  .mr-neg-9__b {
    margin-right: calc(-100% * 9 / var(--span-d));
  }
  .ml-i-9__b {
    margin-left: calc((100% + var(--column-gap)) * 9 / var(--span-d));
  }
  .mr-i-9__b {
    margin-right: calc((100% + var(--column-gap)) * 9 / var(--span-d));
  }
  .ml-i-neg-9__b {
    margin-left: calc((100% + var(--column-gap)) * -1 * 9 / var(--span-d));
  }
  .mr-i-neg-9__b {
    margin-right: calc((100% + var(--column-gap)) * -1 * 9 / var(--span-d));
  }
  .span-10__b {
    --span-n: 10;
  }
  .span-10__b > * {
    --span-d: var(--span-n);
  }
  .span-i-10__b {
    --span-i: 10;
  }
  .span-i-10__b > * {
    --span-d: var(--span-i);
  }
  .ml-10__b {
    margin-left: calc(100% * 10 / var(--span-d));
  }
  .mr-10__b {
    margin-right: calc(100% * 10 / var(--span-d));
  }
  .ml-neg-10__b {
    margin-left: calc(-100% * 10 / var(--span-d));
  }
  .mr-neg-10__b {
    margin-right: calc(-100% * 10 / var(--span-d));
  }
  .ml-i-10__b {
    margin-left: calc((100% + var(--column-gap)) * 10 / var(--span-d));
  }
  .mr-i-10__b {
    margin-right: calc((100% + var(--column-gap)) * 10 / var(--span-d));
  }
  .ml-i-neg-10__b {
    margin-left: calc((100% + var(--column-gap)) * -1 * 10 / var(--span-d));
  }
  .mr-i-neg-10__b {
    margin-right: calc((100% + var(--column-gap)) * -1 * 10 / var(--span-d));
  }
  .span-11__b {
    --span-n: 11;
  }
  .span-11__b > * {
    --span-d: var(--span-n);
  }
  .span-i-11__b {
    --span-i: 11;
  }
  .span-i-11__b > * {
    --span-d: var(--span-i);
  }
  .ml-11__b {
    margin-left: calc(100% * 11 / var(--span-d));
  }
  .mr-11__b {
    margin-right: calc(100% * 11 / var(--span-d));
  }
  .ml-neg-11__b {
    margin-left: calc(-100% * 11 / var(--span-d));
  }
  .mr-neg-11__b {
    margin-right: calc(-100% * 11 / var(--span-d));
  }
  .ml-i-11__b {
    margin-left: calc((100% + var(--column-gap)) * 11 / var(--span-d));
  }
  .mr-i-11__b {
    margin-right: calc((100% + var(--column-gap)) * 11 / var(--span-d));
  }
  .ml-i-neg-11__b {
    margin-left: calc((100% + var(--column-gap)) * -1 * 11 / var(--span-d));
  }
  .mr-i-neg-11__b {
    margin-right: calc((100% + var(--column-gap)) * -1 * 11 / var(--span-d));
  }
  .span-12__b {
    --span-n: 12;
  }
  .span-12__b > * {
    --span-d: var(--span-n);
  }
  .span-i-12__b {
    --span-i: 12;
  }
  .span-i-12__b > * {
    --span-d: var(--span-i);
  }
  .ml-12__b {
    margin-left: calc(100% * 12 / var(--span-d));
  }
  .mr-12__b {
    margin-right: calc(100% * 12 / var(--span-d));
  }
  .ml-neg-12__b {
    margin-left: calc(-100% * 12 / var(--span-d));
  }
  .mr-neg-12__b {
    margin-right: calc(-100% * 12 / var(--span-d));
  }
  .ml-i-12__b {
    margin-left: calc((100% + var(--column-gap)) * 12 / var(--span-d));
  }
  .mr-i-12__b {
    margin-right: calc((100% + var(--column-gap)) * 12 / var(--span-d));
  }
  .ml-i-neg-12__b {
    margin-left: calc((100% + var(--column-gap)) * -1 * 12 / var(--span-d));
  }
  .mr-i-neg-12__b {
    margin-right: calc((100% + var(--column-gap)) * -1 * 12 / var(--span-d));
  }
}

@media screen and (min-width: 40em) {
  .flow-s__c {
    --row-gap: var(--inner-y-s);
  }
  .flow-m__c {
    --row-gap: var(--inner-y-m);
  }
  .flow-l__c {
    --row-gap: var(--inner-y-l);
  }
  .span__c {
    --span-n: var(--span-d);
  }
  .span-i__c {
    --span-i: var(--span-d);
  }
  .span-1__c {
    --span-n: 1;
  }
  .span-1__c > * {
    --span-d: var(--span-n);
  }
  .span-i-1__c {
    --span-i: 1;
  }
  .span-i-1__c > * {
    --span-d: var(--span-i);
  }
  .ml-1__c {
    margin-left: calc(100% * 1 / var(--span-d));
  }
  .mr-1__c {
    margin-right: calc(100% * 1 / var(--span-d));
  }
  .ml-neg-1__c {
    margin-left: calc(-100% * 1 / var(--span-d));
  }
  .mr-neg-1__c {
    margin-right: calc(-100% * 1 / var(--span-d));
  }
  .ml-i-1__c {
    margin-left: calc((100% + var(--column-gap)) * 1 / var(--span-d));
  }
  .mr-i-1__c {
    margin-right: calc((100% + var(--column-gap)) * 1 / var(--span-d));
  }
  .ml-i-neg-1__c {
    margin-left: calc((100% + var(--column-gap)) * -1 * 1 / var(--span-d));
  }
  .mr-i-neg-1__c {
    margin-right: calc((100% + var(--column-gap)) * -1 * 1 / var(--span-d));
  }
  .span-2__c {
    --span-n: 2;
  }
  .span-2__c > * {
    --span-d: var(--span-n);
  }
  .span-i-2__c {
    --span-i: 2;
  }
  .span-i-2__c > * {
    --span-d: var(--span-i);
  }
  .ml-2__c {
    margin-left: calc(100% * 2 / var(--span-d));
  }
  .mr-2__c {
    margin-right: calc(100% * 2 / var(--span-d));
  }
  .ml-neg-2__c {
    margin-left: calc(-100% * 2 / var(--span-d));
  }
  .mr-neg-2__c {
    margin-right: calc(-100% * 2 / var(--span-d));
  }
  .ml-i-2__c {
    margin-left: calc((100% + var(--column-gap)) * 2 / var(--span-d));
  }
  .mr-i-2__c {
    margin-right: calc((100% + var(--column-gap)) * 2 / var(--span-d));
  }
  .ml-i-neg-2__c {
    margin-left: calc((100% + var(--column-gap)) * -1 * 2 / var(--span-d));
  }
  .mr-i-neg-2__c {
    margin-right: calc((100% + var(--column-gap)) * -1 * 2 / var(--span-d));
  }
  .span-3__c {
    --span-n: 3;
  }
  .span-3__c > * {
    --span-d: var(--span-n);
  }
  .span-i-3__c {
    --span-i: 3;
  }
  .span-i-3__c > * {
    --span-d: var(--span-i);
  }
  .ml-3__c {
    margin-left: calc(100% * 3 / var(--span-d));
  }
  .mr-3__c {
    margin-right: calc(100% * 3 / var(--span-d));
  }
  .ml-neg-3__c {
    margin-left: calc(-100% * 3 / var(--span-d));
  }
  .mr-neg-3__c {
    margin-right: calc(-100% * 3 / var(--span-d));
  }
  .ml-i-3__c {
    margin-left: calc((100% + var(--column-gap)) * 3 / var(--span-d));
  }
  .mr-i-3__c {
    margin-right: calc((100% + var(--column-gap)) * 3 / var(--span-d));
  }
  .ml-i-neg-3__c {
    margin-left: calc((100% + var(--column-gap)) * -1 * 3 / var(--span-d));
  }
  .mr-i-neg-3__c {
    margin-right: calc((100% + var(--column-gap)) * -1 * 3 / var(--span-d));
  }
  .span-4__c {
    --span-n: 4;
  }
  .span-4__c > * {
    --span-d: var(--span-n);
  }
  .span-i-4__c {
    --span-i: 4;
  }
  .span-i-4__c > * {
    --span-d: var(--span-i);
  }
  .ml-4__c {
    margin-left: calc(100% * 4 / var(--span-d));
  }
  .mr-4__c {
    margin-right: calc(100% * 4 / var(--span-d));
  }
  .ml-neg-4__c {
    margin-left: calc(-100% * 4 / var(--span-d));
  }
  .mr-neg-4__c {
    margin-right: calc(-100% * 4 / var(--span-d));
  }
  .ml-i-4__c {
    margin-left: calc((100% + var(--column-gap)) * 4 / var(--span-d));
  }
  .mr-i-4__c {
    margin-right: calc((100% + var(--column-gap)) * 4 / var(--span-d));
  }
  .ml-i-neg-4__c {
    margin-left: calc((100% + var(--column-gap)) * -1 * 4 / var(--span-d));
  }
  .mr-i-neg-4__c {
    margin-right: calc((100% + var(--column-gap)) * -1 * 4 / var(--span-d));
  }
  .span-5__c {
    --span-n: 5;
  }
  .span-5__c > * {
    --span-d: var(--span-n);
  }
  .span-i-5__c {
    --span-i: 5;
  }
  .span-i-5__c > * {
    --span-d: var(--span-i);
  }
  .ml-5__c {
    margin-left: calc(100% * 5 / var(--span-d));
  }
  .mr-5__c {
    margin-right: calc(100% * 5 / var(--span-d));
  }
  .ml-neg-5__c {
    margin-left: calc(-100% * 5 / var(--span-d));
  }
  .mr-neg-5__c {
    margin-right: calc(-100% * 5 / var(--span-d));
  }
  .ml-i-5__c {
    margin-left: calc((100% + var(--column-gap)) * 5 / var(--span-d));
  }
  .mr-i-5__c {
    margin-right: calc((100% + var(--column-gap)) * 5 / var(--span-d));
  }
  .ml-i-neg-5__c {
    margin-left: calc((100% + var(--column-gap)) * -1 * 5 / var(--span-d));
  }
  .mr-i-neg-5__c {
    margin-right: calc((100% + var(--column-gap)) * -1 * 5 / var(--span-d));
  }
  .span-6__c {
    --span-n: 6;
  }
  .span-6__c > * {
    --span-d: var(--span-n);
  }
  .span-i-6__c {
    --span-i: 6;
  }
  .span-i-6__c > * {
    --span-d: var(--span-i);
  }
  .ml-6__c {
    margin-left: calc(100% * 6 / var(--span-d));
  }
  .mr-6__c {
    margin-right: calc(100% * 6 / var(--span-d));
  }
  .ml-neg-6__c {
    margin-left: calc(-100% * 6 / var(--span-d));
  }
  .mr-neg-6__c {
    margin-right: calc(-100% * 6 / var(--span-d));
  }
  .ml-i-6__c {
    margin-left: calc((100% + var(--column-gap)) * 6 / var(--span-d));
  }
  .mr-i-6__c {
    margin-right: calc((100% + var(--column-gap)) * 6 / var(--span-d));
  }
  .ml-i-neg-6__c {
    margin-left: calc((100% + var(--column-gap)) * -1 * 6 / var(--span-d));
  }
  .mr-i-neg-6__c {
    margin-right: calc((100% + var(--column-gap)) * -1 * 6 / var(--span-d));
  }
  .span-7__c {
    --span-n: 7;
  }
  .span-7__c > * {
    --span-d: var(--span-n);
  }
  .span-i-7__c {
    --span-i: 7;
  }
  .span-i-7__c > * {
    --span-d: var(--span-i);
  }
  .ml-7__c {
    margin-left: calc(100% * 7 / var(--span-d));
  }
  .mr-7__c {
    margin-right: calc(100% * 7 / var(--span-d));
  }
  .ml-neg-7__c {
    margin-left: calc(-100% * 7 / var(--span-d));
  }
  .mr-neg-7__c {
    margin-right: calc(-100% * 7 / var(--span-d));
  }
  .ml-i-7__c {
    margin-left: calc((100% + var(--column-gap)) * 7 / var(--span-d));
  }
  .mr-i-7__c {
    margin-right: calc((100% + var(--column-gap)) * 7 / var(--span-d));
  }
  .ml-i-neg-7__c {
    margin-left: calc((100% + var(--column-gap)) * -1 * 7 / var(--span-d));
  }
  .mr-i-neg-7__c {
    margin-right: calc((100% + var(--column-gap)) * -1 * 7 / var(--span-d));
  }
  .span-8__c {
    --span-n: 8;
  }
  .span-8__c > * {
    --span-d: var(--span-n);
  }
  .span-i-8__c {
    --span-i: 8;
  }
  .span-i-8__c > * {
    --span-d: var(--span-i);
  }
  .ml-8__c {
    margin-left: calc(100% * 8 / var(--span-d));
  }
  .mr-8__c {
    margin-right: calc(100% * 8 / var(--span-d));
  }
  .ml-neg-8__c {
    margin-left: calc(-100% * 8 / var(--span-d));
  }
  .mr-neg-8__c {
    margin-right: calc(-100% * 8 / var(--span-d));
  }
  .ml-i-8__c {
    margin-left: calc((100% + var(--column-gap)) * 8 / var(--span-d));
  }
  .mr-i-8__c {
    margin-right: calc((100% + var(--column-gap)) * 8 / var(--span-d));
  }
  .ml-i-neg-8__c {
    margin-left: calc((100% + var(--column-gap)) * -1 * 8 / var(--span-d));
  }
  .mr-i-neg-8__c {
    margin-right: calc((100% + var(--column-gap)) * -1 * 8 / var(--span-d));
  }
  .span-9__c {
    --span-n: 9;
  }
  .span-9__c > * {
    --span-d: var(--span-n);
  }
  .span-i-9__c {
    --span-i: 9;
  }
  .span-i-9__c > * {
    --span-d: var(--span-i);
  }
  .ml-9__c {
    margin-left: calc(100% * 9 / var(--span-d));
  }
  .mr-9__c {
    margin-right: calc(100% * 9 / var(--span-d));
  }
  .ml-neg-9__c {
    margin-left: calc(-100% * 9 / var(--span-d));
  }
  .mr-neg-9__c {
    margin-right: calc(-100% * 9 / var(--span-d));
  }
  .ml-i-9__c {
    margin-left: calc((100% + var(--column-gap)) * 9 / var(--span-d));
  }
  .mr-i-9__c {
    margin-right: calc((100% + var(--column-gap)) * 9 / var(--span-d));
  }
  .ml-i-neg-9__c {
    margin-left: calc((100% + var(--column-gap)) * -1 * 9 / var(--span-d));
  }
  .mr-i-neg-9__c {
    margin-right: calc((100% + var(--column-gap)) * -1 * 9 / var(--span-d));
  }
  .span-10__c {
    --span-n: 10;
  }
  .span-10__c > * {
    --span-d: var(--span-n);
  }
  .span-i-10__c {
    --span-i: 10;
  }
  .span-i-10__c > * {
    --span-d: var(--span-i);
  }
  .ml-10__c {
    margin-left: calc(100% * 10 / var(--span-d));
  }
  .mr-10__c {
    margin-right: calc(100% * 10 / var(--span-d));
  }
  .ml-neg-10__c {
    margin-left: calc(-100% * 10 / var(--span-d));
  }
  .mr-neg-10__c {
    margin-right: calc(-100% * 10 / var(--span-d));
  }
  .ml-i-10__c {
    margin-left: calc((100% + var(--column-gap)) * 10 / var(--span-d));
  }
  .mr-i-10__c {
    margin-right: calc((100% + var(--column-gap)) * 10 / var(--span-d));
  }
  .ml-i-neg-10__c {
    margin-left: calc((100% + var(--column-gap)) * -1 * 10 / var(--span-d));
  }
  .mr-i-neg-10__c {
    margin-right: calc((100% + var(--column-gap)) * -1 * 10 / var(--span-d));
  }
  .span-11__c {
    --span-n: 11;
  }
  .span-11__c > * {
    --span-d: var(--span-n);
  }
  .span-i-11__c {
    --span-i: 11;
  }
  .span-i-11__c > * {
    --span-d: var(--span-i);
  }
  .ml-11__c {
    margin-left: calc(100% * 11 / var(--span-d));
  }
  .mr-11__c {
    margin-right: calc(100% * 11 / var(--span-d));
  }
  .ml-neg-11__c {
    margin-left: calc(-100% * 11 / var(--span-d));
  }
  .mr-neg-11__c {
    margin-right: calc(-100% * 11 / var(--span-d));
  }
  .ml-i-11__c {
    margin-left: calc((100% + var(--column-gap)) * 11 / var(--span-d));
  }
  .mr-i-11__c {
    margin-right: calc((100% + var(--column-gap)) * 11 / var(--span-d));
  }
  .ml-i-neg-11__c {
    margin-left: calc((100% + var(--column-gap)) * -1 * 11 / var(--span-d));
  }
  .mr-i-neg-11__c {
    margin-right: calc((100% + var(--column-gap)) * -1 * 11 / var(--span-d));
  }
  .span-12__c {
    --span-n: 12;
  }
  .span-12__c > * {
    --span-d: var(--span-n);
  }
  .span-i-12__c {
    --span-i: 12;
  }
  .span-i-12__c > * {
    --span-d: var(--span-i);
  }
  .ml-12__c {
    margin-left: calc(100% * 12 / var(--span-d));
  }
  .mr-12__c {
    margin-right: calc(100% * 12 / var(--span-d));
  }
  .ml-neg-12__c {
    margin-left: calc(-100% * 12 / var(--span-d));
  }
  .mr-neg-12__c {
    margin-right: calc(-100% * 12 / var(--span-d));
  }
  .ml-i-12__c {
    margin-left: calc((100% + var(--column-gap)) * 12 / var(--span-d));
  }
  .mr-i-12__c {
    margin-right: calc((100% + var(--column-gap)) * 12 / var(--span-d));
  }
  .ml-i-neg-12__c {
    margin-left: calc((100% + var(--column-gap)) * -1 * 12 / var(--span-d));
  }
  .mr-i-neg-12__c {
    margin-right: calc((100% + var(--column-gap)) * -1 * 12 / var(--span-d));
  }
}

.test {
  width: calc(100% * 1 / var(--span-d));
  margin-left: calc(100% * -1 / var(--span-d));
  margin-right: calc(100% * 2 / var(--span-d));
}

.test > * {
  --span-d: 1;
}

.test {
  width: calc(100% * 2 / var(--span-d));
  margin-left: calc(100% * -1 / var(--span-d));
  margin-right: calc(100% * 2 / var(--span-d));
}

.test > * {
  --span-d: 2;
}

.test {
  width: calc(100% * 3 / var(--span-d));
  margin-left: calc(100% * -1 / var(--span-d));
  margin-right: calc(100% * 2 / var(--span-d));
}

.test > * {
  --span-d: 3;
}

@media screen and (min-width: 20em) {
  .m-test {
    width: calc(100% * 2 / var(--span-d));
    margin-left: calc(100% * 0 / var(--span-d));
    margin-right: calc(100% * -1 / var(--span-d));
  }
  .m-test > * {
    --span-d: 2;
  }
}

@media screen and (min-width: 30em) {
  .m-test {
    width: calc(100% * 3 / var(--span-d));
    margin-left: calc(100% * 0 / var(--span-d));
    margin-right: calc(100% * 1 / var(--span-d));
  }
  .m-test > * {
    --span-d: 3;
  }
}

@media screen and (min-width: 20em) {
  .m-test .nest {
    width: calc((100% + var(--column-gap)) * 3 / var(--span-d) - var(--column-gap));
    margin-left: calc((100% + var(--column-gap)) * 1 / var(--span-d));
    margin-right: calc((100% + var(--column-gap)) * 1 / var(--span-d));
  }
  .m-test .nest > * {
    --span-d: 3;
  }
}

@media screen and (min-width: 30em) {
  .m-test .nest {
    width: calc((100% + var(--column-gap)) * 4 / var(--span-d) - var(--column-gap));
    margin-left: calc((100% + var(--column-gap)) * 2 / var(--span-d));
    margin-right: calc((100% + var(--column-gap)) * 2 / var(--span-d));
  }
  .m-test .nest > * {
    --span-d: 4;
  }
}
