html {
  font-size: var(--font-size);
  line-height: var(--line-height);
}

:root {
  --font-size: 16px;
  --line-height: 1.25;
  --inner-x: 2rem;
  --inner-y: 1.25rem;
  --outer-top: 2rem;
  --outer-right: 2rem;
  --outer-bottom: 2rem;
  --outer-left: 2rem;
  --grid-columns: 12;
  --outer-width: 100%;
  --inner-width: calc(var(--outer-width) - (var(--outer-right) + var(--outer-left)));
  --inner-y-s: 1rem;
  --inner-y-m: 2rem;
  --inner-x-m: 1rem;
  --font-size-sans-s: 0.875rem;
  --line-height-sans-s: 1.4;
  --font-size-sans-m: 1rem;
  --line-height-sans-m: 1.4;
  --font-size-serif-s: 1rem;
  --line-height-serif-s: 1.4;
  --font-size-serif-m: 1.125rem;
  --line-height-serif-m: 1.4;
}

@media screen and (min-width: 20em) {
  :root {
    --breakpoint: 20em;
    --outer-width: 20rem;
  }
}

@media screen and (min-width: 30em) {
  :root {
    --breakpoint: 30em;
    --inner-x: 3rem;
    --outer-width: 30rem;
    --font-size-sans-s: 1.25rem;
    --line-height-sans-s: 1.4;
    --font-size-sans-m: 1.5rem;
    --line-height-sans-m: 1.4;
    --font-size-serif-s: 1.375rem;
    --line-height-serif-s: 1.4;
    --font-size-serif-m: 1.625rem;
    --line-height-serif-m: 1.4;
  }
}

@media screen and (min-width: 40em) {
  :root {
    --breakpoint: 40em;
    --outer-width: 40rem;
  }
}

:root {
  --font-family-sans: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Helvetica, sans-serif;
  --letter-spacing-sans: calc(0 * 1px - 0 / 50 * 1em);
  --trim-top-sans: calc((var(--line-height) - 1) * 1em / 2 + 0em);
  --trim-bottom-sans: calc((var(--line-height) - 1) * 1em / 2 + 0em);
  --trim-x-sans: 0;
  --font-family-serif: serif;
  --letter-spacing-serif: calc(0 * 1px - 0 / 50 * 1em);
  --trim-top-serif: calc((var(--line-height) - 1) * 1em / 2 + 0em);
  --trim-bottom-serif: calc((var(--line-height) - 1) * 1em / 2 + 0em);
  --trim-x-serif: 0;
}

body {
  font-family: var(--font-family-sans);
  --font-size-s: var(--font-size-sans-s);
  --line-height-s: var(--line-height-sans-s);
  --font-size-m: var(--font-size-sans-m);
  --line-height-m: var(--line-height-sans-m);
}

[class^="font-"], [class*=" font-"] {
  font-family: var(--font-family);
  font-size: var(--font-size);
  line-height: var(--line-height);
  letter-spacing: var(--letter-spacing);
}

.trim > [class^="font-"], .trim > [class*=" font-"],
.stack > [class^="font-"], .stack > [class*=" font-"], [class^="stack-"] > [class^="font-"], [class^="stack-"] > [class*=" font-"], [class*=" stack-"] > [class^="font-"], [class*=" stack-"] > [class*=" font-"] {
  margin: calc(0px - var(--trim-top)) var(--trim-x) calc(0px - var(--trim-bottom));
}

.stack > * + [class^="font-"], .stack > * + [class*=" font-"], [class^="stack-"] > * + [class^="font-"], [class^="stack-"] > * + [class*=" font-"], [class*=" stack-"] > * + [class^="font-"], [class*=" stack-"] > * + [class*=" font-"] {
  margin-top: calc(var(--stack-gap) - var(--trim-top));
}

.stack > [class^="f-"] + [class^="font-"], .stack > [class^="f-"] + [class*=" font-"], .stack > [class*=" f-"] + [class^="font-"], .stack > [class*=" f-"] + [class*=" font-"], [class^="stack-"] > [class^="f-"] + [class^="font-"], [class^="stack-"] > [class^="f-"] + [class*=" font-"], [class^="stack-"] > [class*=" f-"] + [class^="font-"], [class^="stack-"] > [class*=" f-"] + [class*=" font-"], [class*=" stack-"] > [class^="f-"] + [class^="font-"], [class*=" stack-"] > [class^="f-"] + [class*=" font-"], [class*=" stack-"] > [class*=" f-"] + [class^="font-"], [class*=" stack-"] > [class*=" f-"] + [class*=" font-"] {
  margin-top: calc(var(--stack-gap) - var(--trim-top));
}

.font-sans, [class^="font-sans-"], [class*=" font-sans-"] {
  --font-family: var(--font-family-sans);
  --letter-spacing: var(--letter-spacing-sans);
  --trim-top: var(--trim-top-sans);
  --trim-bottom: var(--trim-bottom-sans);
  --trim-x: var(--trim-x-sans);
  --font-size-s: var(--font-size-sans-s);
  --line-height-s: var(--line-height-sans-s);
  --font-size-m: var(--font-size-sans-m);
  --line-height-m: var(--line-height-sans-m);
}

.font-serif, [class^="font-serif-"], [class*=" font-serif-"] {
  --font-family: var(--font-family-serif);
  --letter-spacing: var(--letter-spacing-serif);
  --trim-top: var(--trim-top-serif);
  --trim-bottom: var(--trim-bottom-serif);
  --trim-x: var(--trim-x-serif);
  --font-size-s: var(--font-size-serif-s);
  --line-height-s: var(--line-height-serif-s);
  --font-size-m: var(--font-size-serif-m);
  --line-height-m: var(--line-height-serif-m);
}

.font-s {
  --font-size: var(--font-size-s);
  --line-height: var(--line-height-s);
}

.font-sans-s {
  --font-size: var(--font-size-sans-s);
  --line-height: var(--line-height-sans-s);
}

.font-m {
  --font-size: var(--font-size-m);
  --line-height: var(--line-height-m);
}

.font-sans-m {
  --font-size: var(--font-size-sans-m);
  --line-height: var(--line-height-sans-m);
}

.font-s {
  --font-size: var(--font-size-s);
  --line-height: var(--line-height-s);
}

.font-serif-s {
  --font-size: var(--font-size-serif-s);
  --line-height: var(--line-height-serif-s);
}

.font-m {
  --font-size: var(--font-size-m);
  --line-height: var(--line-height-m);
}

.font-serif-m {
  --font-size: var(--font-size-serif-m);
  --line-height: var(--line-height-serif-m);
}
