html {
  font-size: var(--font-size);
  line-height: var(--line-height);
}

:root {
  --font-size: 16px;
  --line-height: 1.25;
  --inner-x: 2rem;
  --inner-y: 1.25rem;
  --outer-top: 2rem;
  --outer-right: 2rem;
  --outer-bottom: 2rem;
  --outer-left: 2rem;
  --grid-columns: 12;
  --outer-width: 100%;
  --inner-width: calc(var(--outer-width) - (var(--outer-right) + var(--outer-left)));
  --inner-y-s: 1rem;
  --inner-y-m: 2rem;
  --inner-x-m: 1rem;
  --font-size-sans-s: 0.875rem;
  --line-height-sans-s: 1.4;
  --font-size-sans-m: 1rem;
  --line-height-sans-m: 1.4;
  --font-size-serif-s: 1rem;
  --line-height-serif-s: 1.4;
  --font-size-serif-m: 1.125rem;
  --line-height-serif-m: 1.4;
}

@media screen and (min-width: 20em) {
  :root {
    --breakpoint: 20em;
    --outer-width: 20rem;
  }
}

@media screen and (min-width: 30em) {
  :root {
    --breakpoint: 30em;
    --inner-x: 3rem;
    --outer-width: 30rem;
    --font-size-sans-s: 1.25rem;
    --line-height-sans-s: 1.4;
    --font-size-sans-m: 1.5rem;
    --line-height-sans-m: 1.4;
    --font-size-serif-s: 1.375rem;
    --line-height-serif-s: 1.4;
    --font-size-serif-m: 1.625rem;
    --line-height-serif-m: 1.4;
  }
}

@media screen and (min-width: 40em) {
  :root {
    --breakpoint: 40em;
    --outer-width: 40rem;
  }
}

:root {
  --font-family-sans: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Helvetica, sans-serif;
  --letter-spacing-sans: calc(0 * 1px - 0 / 50 * 1em);
  --trim-x-sans: 0;
  --font-family-serif: serif;
  --letter-spacing-serif: calc(0 * 1px - 0 / 50 * 1em);
  --trim-x-serif: 0;
}

body {
  font-family: var(--font-family);
}

.sans, [class^="sans-"], [class*=" sans-"], .serif, [class^="serif-"], [class*=" serif-"] {
  font-size: var(--font-size);
  line-height: var(--line-height);
}

.stack > .sans, .stack > [class^="sans-"], .stack > [class*=" sans-"], .stack > .serif, .stack > [class^="serif-"], .stack > [class*=" serif-"], [class^="stack-"] > .sans, [class^="stack-"] > [class^="sans-"], [class^="stack-"] > [class*=" sans-"], [class^="stack-"] > .serif, [class^="stack-"] > [class^="serif-"], [class^="stack-"] > [class*=" serif-"], [class*=" stack-"] > .sans, [class*=" stack-"] > [class^="sans-"], [class*=" stack-"] > [class*=" sans-"], [class*=" stack-"] > .serif, [class*=" stack-"] > [class^="serif-"], [class*=" stack-"] > [class*=" serif-"] {
  margin: 0 var(--trim-x);
}

.stack > * + .sans, .stack > * + [class^="sans-"], .stack > * + [class*=" sans-"], .stack > * + .serif, .stack > * + [class^="serif-"], .stack > * + [class*=" serif-"], [class^="stack-"] > * + .sans, [class^="stack-"] > * + [class^="sans-"], [class^="stack-"] > * + [class*=" sans-"], [class^="stack-"] > * + .serif, [class^="stack-"] > * + [class^="serif-"], [class^="stack-"] > * + [class*=" serif-"], [class*=" stack-"] > * + .sans, [class*=" stack-"] > * + [class^="sans-"], [class*=" stack-"] > * + [class*=" sans-"], [class*=" stack-"] > * + .serif, [class*=" stack-"] > * + [class^="serif-"], [class*=" stack-"] > * + [class*=" serif-"] {
  margin-top: calc(var(--stack-gap));
}

body,
.sans, [class^="sans-"], [class*=" sans-"] {
  font-family: var(--font-family-sans);
  letter-spacing: var(--letter-spacing-sans);
  --trim-x: var(--trim-x-sans);
}


.serif, [class^="serif-"], [class*=" serif-"] {
  font-family: var(--font-family-serif);
  letter-spacing: var(--letter-spacing-serif);
  --trim-x: var(--trim-x-serif);
}

.sans-s {
  --font-size: var(--font-size-sans-s);
  --line-height: var(--line-height-sans-s);
}

.sans-m {
  --font-size: var(--font-size-sans-m);
  --line-height: var(--line-height-sans-m);
}

.serif-s {
  --font-size: var(--font-size-serif-s);
  --line-height: var(--line-height-serif-s);
}

.serif-m {
  --font-size: var(--font-size-serif-m);
  --line-height: var(--line-height-serif-m);
}

.wysiwyg, [class^="wysiwyg-"], [class*=" wysiwyg-"] {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding-top: 0.01px;
  padding-bottom: 0.01px;
}

.wysiwyg > *, [class^="wysiwyg-"] > *, [class*=" wysiwyg-"] > * {
  flex: 0 0 auto;
  margin-top: 0;
  margin-bottom: 0;
}

.wysiwyg > * + *, [class^="wysiwyg-"] > * + *, [class*=" wysiwyg-"] > * + * {
  margin-top: var(--stack-gap);
}

.wysiwyg p, .wysiwyg ul, .wysiwyg ol, .wysiwyg dl, .wysiwyg h3, .wysiwyg h4, .wysiwyg h5, .wysiwyg h6, [class^="wysiwyg-"] p, [class^="wysiwyg-"] ul, [class^="wysiwyg-"] ol, [class^="wysiwyg-"] dl, [class^="wysiwyg-"] h3, [class^="wysiwyg-"] h4, [class^="wysiwyg-"] h5, [class^="wysiwyg-"] h6, [class*=" wysiwyg-"] p, [class*=" wysiwyg-"] ul, [class*=" wysiwyg-"] ol, [class*=" wysiwyg-"] dl, [class*=" wysiwyg-"] h3, [class*=" wysiwyg-"] h4, [class*=" wysiwyg-"] h5, [class*=" wysiwyg-"] h6 {
  font-family: var(--font-family);
  font-size: var(--font-size);
  line-height: var(--line-height);
  letter-spacing: var(--letter-spacing);
}

.wysiwyg > p, .wysiwyg > ul, .wysiwyg > ol, .wysiwyg > dl, .wysiwyg > h3, .wysiwyg > h4, .wysiwyg > h5, .wysiwyg > h6, [class^="wysiwyg-"] > p, [class^="wysiwyg-"] > ul, [class^="wysiwyg-"] > ol, [class^="wysiwyg-"] > dl, [class^="wysiwyg-"] > h3, [class^="wysiwyg-"] > h4, [class^="wysiwyg-"] > h5, [class^="wysiwyg-"] > h6, [class*=" wysiwyg-"] > p, [class*=" wysiwyg-"] > ul, [class*=" wysiwyg-"] > ol, [class*=" wysiwyg-"] > dl, [class*=" wysiwyg-"] > h3, [class*=" wysiwyg-"] > h4, [class*=" wysiwyg-"] > h5, [class*=" wysiwyg-"] > h6 {
  margin: 0 var(--trim-x);
}

.wysiwyg > * + p, .wysiwyg > * + ul, .wysiwyg > * + ol, .wysiwyg > * + dl, .wysiwyg > * + h3, .wysiwyg > * + h4, .wysiwyg > * + h5, .wysiwyg > * + h6, [class^="wysiwyg-"] > * + p, [class^="wysiwyg-"] > * + ul, [class^="wysiwyg-"] > * + ol, [class^="wysiwyg-"] > * + dl, [class^="wysiwyg-"] > * + h3, [class^="wysiwyg-"] > * + h4, [class^="wysiwyg-"] > * + h5, [class^="wysiwyg-"] > * + h6, [class*=" wysiwyg-"] > * + p, [class*=" wysiwyg-"] > * + ul, [class*=" wysiwyg-"] > * + ol, [class*=" wysiwyg-"] > * + dl, [class*=" wysiwyg-"] > * + h3, [class*=" wysiwyg-"] > * + h4, [class*=" wysiwyg-"] > * + h5, [class*=" wysiwyg-"] > * + h6 {
  margin-top: calc(var(--stack-gap));
}
