/*
  TODO
  - handle non-px values in font-mods
  - convert to f-[font]-[size] pattern
  - add the new adjacency condition
*/
html {
  font-size: var(--font-size);
  line-height: var(--line-height);
}

:root {
  --font-size: 16px;
  --line-height: 1.25;
  --inner-x: 1rem;
  --inner-y: 1.25rem;
  --outer-top: 1rem;
  --outer-right: 1rem;
  --outer-bottom: 1rem;
  --outer-left: 1rem;
  --grid-columns: 12;
  --outer-width: 100%;
  --inner-width: calc(var(--outer-width) - (var(--outer-right) + var(--outer-left)));
  --inner-y--m: 1rem;
  --inner-x--m: 1rem;
  --font-size--sans--m: 1rem;
  --line-height--sans--m: 1.25;
}

@media screen and (min-width: 20em) {
  :root {
    --breakpoint: 20em;
    --outer-top: 2rem;
    --outer-right: 2rem;
    --outer-bottom: 2rem;
    --outer-left: 2rem;
    --outer-width: 20rem;
  }
}

@media screen and (min-width: 30em) {
  :root {
    --breakpoint: 30em;
    --outer-top: 3rem;
    --outer-right: 3rem;
    --outer-bottom: 3rem;
    --outer-left: 3rem;
    --outer-width: 30rem;
  }
}

@media screen and (min-width: 40em) {
  :root {
    --breakpoint: 40em;
    --outer-top: 4rem;
    --outer-right: 4rem;
    --outer-bottom: 4rem;
    --outer-left: 4rem;
    --outer-width: 40rem;
  }
}

.bleed, [class^="bleed-"], [class*=" bleed-"] {
  width: unset !important;
}

.frame, .frame-x, .frame-r {
  padding-right: var(--outer-right);
}

.frame, .frame-x, .frame-l {
  padding-left: var(--outer-left);
}

.frame-y, .frame-t {
  padding-top: var(--outer-top);
}

.frame-y, .frame-b {
  padding-bottom: var(--outer-left);
}

.bleed, .bleed-x, .bleed-r {
  margin-right: calc(var(--outer-right)/-1);
}

.bleed, .bleed-x, .bleed-l {
  margin-left: calc(var(--outer-left)/-1);
}

.bleed-y, .bleed-t {
  margin-top: calc(var(--outer-top)/-1);
}

.bleed-y, .bleed-b {
  margin-bottom: calc(var(--outer-left)/-1);
}

@media screen and (min-width: 20em) {
  .frame__a, .frame-x__a, .frame-r__a {
    padding-right: var(--outer-right);
  }
  .frame__a, .frame-x__a, .frame-l__a {
    padding-left: var(--outer-left);
  }
  .frame-y__a, .frame-t__a {
    padding-top: var(--outer-top);
  }
  .frame-y__a, .frame-b__a {
    padding-bottom: var(--outer-left);
  }
  .bleed__a, .bleed-x__a, .bleed-r__a {
    margin-right: calc(var(--outer-right)/-1);
  }
  .bleed__a, .bleed-x__a, .bleed-l__a {
    margin-left: calc(var(--outer-left)/-1);
  }
  .bleed-y__a, .bleed-t__a {
    margin-top: calc(var(--outer-top)/-1);
  }
  .bleed-y__a, .bleed-b__a {
    margin-bottom: calc(var(--outer-left)/-1);
  }
}

@media screen and (min-width: 30em) {
  .frame__b, .frame-x__b, .frame-r__b {
    padding-right: var(--outer-right);
  }
  .frame__b, .frame-x__b, .frame-l__b {
    padding-left: var(--outer-left);
  }
  .frame-y__b, .frame-t__b {
    padding-top: var(--outer-top);
  }
  .frame-y__b, .frame-b__b {
    padding-bottom: var(--outer-left);
  }
  .bleed__b, .bleed-x__b, .bleed-r__b {
    margin-right: calc(var(--outer-right)/-1);
  }
  .bleed__b, .bleed-x__b, .bleed-l__b {
    margin-left: calc(var(--outer-left)/-1);
  }
  .bleed-y__b, .bleed-t__b {
    margin-top: calc(var(--outer-top)/-1);
  }
  .bleed-y__b, .bleed-b__b {
    margin-bottom: calc(var(--outer-left)/-1);
  }
}

@media screen and (min-width: 40em) {
  .frame__c, .frame-x__c, .frame-r__c {
    padding-right: var(--outer-right);
  }
  .frame__c, .frame-x__c, .frame-l__c {
    padding-left: var(--outer-left);
  }
  .frame-y__c, .frame-t__c {
    padding-top: var(--outer-top);
  }
  .frame-y__c, .frame-b__c {
    padding-bottom: var(--outer-left);
  }
  .bleed__c, .bleed-x__c, .bleed-r__c {
    margin-right: calc(var(--outer-right)/-1);
  }
  .bleed__c, .bleed-x__c, .bleed-l__c {
    margin-left: calc(var(--outer-left)/-1);
  }
  .bleed-y__c, .bleed-t__c {
    margin-top: calc(var(--outer-top)/-1);
  }
  .bleed-y__c, .bleed-b__c {
    margin-bottom: calc(var(--outer-left)/-1);
  }
}
