@import 'index';

$root: (
  inner-x: 2rem,
  inner-x-mods: (
    s: 0.5,
    form: 10px,
  ),
  inner-y-mods: (
    s: 1,
    m: 2,
    l: 4rem
  )
);

$media: (
  a: (breakpoint: 20em),
  b: (
    inner-x: 3rem,
    breakpoint: 30em
  ),
  c: (breakpoint: 40em),
);

@include homework-core-setup();
@include homework-grid-setup();

.test { @include span(1, -1, 2); }
.test { @include span(2, -1, 2); }
.test { @include span(3, -1, 2); }

.m-test {
  @include spans((
    a: 2 0 -1,
    b: 3 0 1
  ));
  .nest {
    @include spans-i((
      a: 3 1 1,
      b: 4 2 2
    ));
  }
}
