/*
  TODO
  - handle non-px values in font-mods
  - convert to f-[font]-[size] pattern
  - add the new adjacency condition
*/
html {
  font-size: var(--font-size);
  line-height: var(--line-height);
}

:root {
  --font-size: 16px;
  --line-height: 1.25;
  --inner-x: 1rem;
  --inner-y: 1.5rem;
  --outer-top: 2rem;
  --outer-right: 2rem;
  --outer-bottom: 2rem;
  --outer-left: 2rem;
  --grid-columns: 12;
  --outer-width: 100%;
  --inner-width: calc(var(--outer-width) - (var(--outer-right) + var(--outer-left)));
  --inner-y--s: calc(var(--inner-y) * 0.5);
  --inner-y--m: 3.5rem;
  --inner-y--l: calc(var(--inner-y) * 2);
  --inner-x--s: calc(var(--inner-x) * 0.5);
  --inner-x--m: calc(var(--inner-x) * 1);
  --inner-x--l: calc(var(--inner-x) * 2);
  --font-size--sans--m: 1.125rem;
  --line-height--sans--m: 1.3;
  --font-size--sans--l: 1.5rem;
  --line-height--sans--l: 1.2;
  --font-size--serif--m: 1.125rem;
  --line-height--serif--m: 1.3;
  --font-size--serif--l: 1.5rem;
  --line-height--serif--l: 1.2;
}

@media screen and (min-width: 30em) {
  :root {
    --breakpoint: 30em;
    --outer-width: 30rem;
  }
}

@media screen and (min-width: 40em) {
  :root {
    --breakpoint: 40em;
    --outer-width: 40rem;
    --inner-y--l: 4px;
  }
}

@media screen and (min-width: 60em) {
  :root {
    --font-size: 18px;
    --breakpoint: 60em;
    --outer-right: 80px;
    --outer-width: 53.33333rem;
  }
}

.strong, .bold {
  font-weight: bold;
}

.em, .italic {
  font-style: italic;
}

.cf::after, .clearfix::after {
  content: "";
  display: table;
  clear: both;
}

@supports (display: flow-root) {
  .cf, .clearfix {
    display: flow-root;
  }
  .cf::after, .clearfix::after {
    content: none;
  }
}

.is-scrolling,
.is-scrolling * {
  pointer-events: none !important;
}

.hold, [class^="hold-"], [class*=" hold-"] {
  position: relative;
}

.stop, [class^="stop-"], [class*=" stop-"] {
  padding: 0.1px;
}

.clip, [class^="clip-"], [class*=" clip-"] {
  overflow: hidden !important;
  position: relative;
  z-index: 0;
}

.clip-circle {
  border-radius: 50%;
}

.vhide {
  position: absolute !important;
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
  flex: 0 0 0%;
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

body:hover .vhide a,
body:hover .vhide input,
body:hover .vhide button {
  display: none !important;
}

.hide {
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
}

.show {
  pointer-events: initial;
  visibility: visible;
  opacity: 1;
}

@media screen and (min-width: 30em) {
  .hide__a {
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
  }
  .show__a {
    pointer-events: initial;
    visibility: visible;
    opacity: 1;
  }
}

@media screen and (min-width: 40em) {
  .hide__b {
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
  }
  .show__b {
    pointer-events: initial;
    visibility: visible;
    opacity: 1;
  }
}

@media screen and (min-width: 60em) {
  .hide__c {
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
  }
  .show__c {
    pointer-events: initial;
    visibility: visible;
    opacity: 1;
  }
}

[class^="aspect-"], [class*=" aspect-"] {
  display: flex;
  flex-direction: row;
}

[class^="aspect-"] > *, [class*=" aspect-"] > * {
  flex: 0 0 auto;
}

[class^="aspect-"]:before, [class*=" aspect-"]:before {
  content: '';
  display: block;
  width: 100%;
  height: 0;
}

.aspect-1-1:before, .aspect-2-2:before, .aspect-3-3:before, .aspect-4-4:before, .aspect-5-5:before {
  padding-bottom: 100%;
}

.aspect-1-2:before, .aspect-2-4:before {
  padding-bottom: 200%;
}

.aspect-2-1:before, .aspect-4-2:before {
  padding-bottom: 50%;
}

.aspect-2-3:before, .aspect-4-6:before {
  padding-bottom: 150%;
}

.aspect-3-2:before {
  padding-bottom: 66.66667%;
}

.aspect-3-4:before {
  padding-bottom: 133.33333%;
}

.aspect-3-5:before {
  padding-bottom: 166.66667%;
}

.aspect-4-3:before {
  padding-bottom: 75%;
}

.aspect-4-5:before {
  padding-bottom: 125%;
}

.aspect-5-3:before {
  padding-bottom: 60%;
}

.aspect-5-4:before {
  padding-bottom: 80%;
}

.aspect-5-8:before {
  padding-bottom: 160%;
}

.aspect-16-9:before {
  padding-bottom: 56.25%;
}

[data-bg-size='cover'] {
  background-size: cover;
}

[data-bg-size='contain'] {
  background-size: contain;
}
