html {
  font-size: var(--font-size);
  line-height: var(--line-height);
}

:root {
  --font-size: 16px;
  --line-height: 1.25;
  --inner-x: 2rem;
  --inner-y: 1.25rem;
  --outer-top: 2rem;
  --outer-right: 2rem;
  --outer-bottom: 2rem;
  --outer-left: 2rem;
  --grid-columns: 12;
  --outer-width: 100%;
  --inner-width: calc(var(--outer-width) - (var(--outer-right) + var(--outer-left)));
  --inner-y--s: calc(var(--inner-y) * 1);
  --inner-y--m: calc(var(--inner-y) * 2);
  --inner-y--l: 4rem;
  --inner-x--s: calc(var(--inner-x) * 0.5);
  --inner-x--form: 10px;
  --font-size--sans--m: 1rem;
  --line-height--sans--m: 1.25;
}

@media screen and (min-width: 20em) {
  :root {
    --breakpoint: 20em;
    --outer-width: 20rem;
  }
}

@media screen and (min-width: 30em) {
  :root {
    --inner-x: 3rem;
    --breakpoint: 30em;
    --outer-width: 30rem;
  }
}

@media screen and (min-width: 40em) {
  :root {
    --breakpoint: 40em;
    --outer-width: 40rem;
  }
}

:root {
  --stack-gap: var(--inner-y);
  --chain-gap: var(--inner-x);
}

.stack, [class^="stack-"], [class*=" stack-"] {
  display: flex;
  flex-direction: column;
  padding-top: 0.01px;
  padding-bottom: 0.01px;
}

.stack > *, [class^="stack-"] > *, [class*=" stack-"] > * {
  flex: 0 0 auto;
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.stack > * + *, [class^="stack-"] > * + *, [class*=" stack-"] > * + * {
  margin-top: var(--stack-gap);
}

.stack-s > * {
  --stack-gap: var(--inner-y--s);
}

.stack-m > * {
  --stack-gap: var(--inner-y--m);
}

.stack-l > * {
  --stack-gap: var(--inner-y--l);
}

.chain, [class^="chain-"], [class*=" chain-"] {
  display: flex;
  flex-direction: row;
}

.chain > *, [class^="chain-"] > *, [class*=" chain-"] > * {
  flex: 0 0 auto;
  width: auto;
  margin-left: 0;
  margin-right: 0;
  text-overflow: ellipsis;
}

.chain > * + *, [class^="chain-"] > * + *, [class*=" chain-"] > * + * {
  margin-left: var(--chain-gap);
}

.chain-s > * {
  --stack-gap: var(--inner-x--s);
}

.chain-form > * {
  --stack-gap: var(--inner-x--form);
}
