.test {
  out: 80.5024;
}

:root {
  --fg-color: #111;
  --bg-color: #eee;
}

body {
  color: var(--fg-color);
  background-color: var(--bg-color);
}

[class^="fg-"], [class*=" fg-"] {
  color: var(--fg-color);
}

[class^="bg-"], [class*=" bg-"] {
  background-color: var(--bg-color);
}

:root {
  --color-dark: #111;
  --contrast-color-dark: #eee;
  --darkened-color-dark: #0f0f0f;
  --lightened-color-dark: #4d4d4d;
}

.fg-dark {
  --fg-color: var(--color-dark);
  --fg-contrast-color: var(--contrast-color-dark);
}

.fg-contrast-dark {
  --fg-color: var(--contrast-color-dark);
}

.bg-contrast-dark {
  --bg-color: var(--contrast-color-dark);
}

.bg-dark {
  --bg-color: var(--color-dark);
  --bg-contrast-color: var(--contrast-color-dark);
}

.theme-dark {
  --theme-color: var(--color-dark);
  --theme-contrast-color: var(--contrast-color-dark);
  --theme-darkened-color: var(--darkened-color-dark);
  --theme-lightened-color: var(--lightened-color-dark);
}

:root {
  --color-lite: #eee;
  --contrast-color-lite: #111;
  --darkened-color-lite: #d6d6d6;
  --lightened-color-lite: #f2f2f2;
}

.fg-lite {
  --fg-color: var(--color-lite);
  --fg-contrast-color: var(--contrast-color-lite);
}

.fg-contrast-lite {
  --fg-color: var(--contrast-color-lite);
}

.bg-contrast-lite {
  --bg-color: var(--contrast-color-lite);
}

.bg-lite {
  --bg-color: var(--color-lite);
  --bg-contrast-color: var(--contrast-color-lite);
}

.theme-lite {
  --theme-color: var(--color-lite);
  --theme-contrast-color: var(--contrast-color-lite);
  --theme-darkened-color: var(--darkened-color-lite);
  --theme-lightened-color: var(--lightened-color-lite);
}

:root {
  --color-foo: #508021;
  --contrast-color-foo: #eee;
  --darkened-color-foo: #48731e;
  --lightened-color-foo: #7ca059;
}

.fg-foo {
  --fg-color: var(--color-foo);
  --fg-contrast-color: var(--contrast-color-foo);
}

.fg-contrast-foo {
  --fg-color: var(--contrast-color-foo);
}

.bg-contrast-foo {
  --bg-color: var(--contrast-color-foo);
}

.bg-foo {
  --bg-color: var(--color-foo);
  --bg-contrast-color: var(--contrast-color-foo);
}

.theme-foo {
  --theme-color: var(--color-foo);
  --theme-contrast-color: var(--contrast-color-foo);
  --theme-darkened-color: var(--darkened-color-foo);
  --theme-lightened-color: var(--lightened-color-foo);
}

:root {
  --color-bar: #da50c9;
  --contrast-color-bar: #eee;
  --darkened-color-bar: #c448b5;
  --lightened-color-bar: #e37cd7;
}

.fg-bar {
  --fg-color: var(--color-bar);
  --fg-contrast-color: var(--contrast-color-bar);
}

.fg-contrast-bar {
  --fg-color: var(--contrast-color-bar);
}

.bg-contrast-bar {
  --bg-color: var(--contrast-color-bar);
}

.bg-bar {
  --bg-color: var(--color-bar);
  --bg-contrast-color: var(--contrast-color-bar);
}

.theme-bar {
  --theme-color: var(--color-bar);
  --theme-contrast-color: var(--contrast-color-bar);
  --theme-darkened-color: var(--darkened-color-bar);
  --theme-lightened-color: var(--lightened-color-bar);
}

:root {
  --color-baz: #4741ff;
  --contrast-color-baz: #eee;
  --darkened-color-baz: #403be6;
  --lightened-color-baz: #7571ff;
}

.fg-baz {
  --fg-color: var(--color-baz);
  --fg-contrast-color: var(--contrast-color-baz);
}

.fg-contrast-baz {
  --fg-color: var(--contrast-color-baz);
}

.bg-contrast-baz {
  --bg-color: var(--contrast-color-baz);
}

.bg-baz {
  --bg-color: var(--color-baz);
  --bg-contrast-color: var(--contrast-color-baz);
}

.theme-baz {
  --theme-color: var(--color-baz);
  --theme-contrast-color: var(--contrast-color-baz);
  --theme-darkened-color: var(--darkened-color-baz);
  --theme-lightened-color: var(--lightened-color-baz);
}

:root {
  --color-fiz: #da9b30;
  --contrast-color-fiz: #eee;
  --darkened-color-fiz: #c48c2b;
  --lightened-color-fiz: #e3b464;
}

.fg-fiz {
  --fg-color: var(--color-fiz);
  --fg-contrast-color: var(--contrast-color-fiz);
}

.fg-contrast-fiz {
  --fg-color: var(--contrast-color-fiz);
}

.bg-contrast-fiz {
  --bg-color: var(--contrast-color-fiz);
}

.bg-fiz {
  --bg-color: var(--color-fiz);
  --bg-contrast-color: var(--contrast-color-fiz);
}

.theme-fiz {
  --theme-color: var(--color-fiz);
  --theme-contrast-color: var(--contrast-color-fiz);
  --theme-darkened-color: var(--darkened-color-fiz);
  --theme-lightened-color: var(--lightened-color-fiz);
}

.fg-theme {
  --fg-color: var(--theme-color);
  --fg-contrast-color: var(--theme-contrast-color);
}

.bg-theme {
  --bg-color: var(--theme-color);
  --bg-contrast-color: var(--theme-contrast-color);
}

.fg-contrast-theme {
  --fg-color: var(--theme-contrast-color);
}

.bg-contrast-theme {
  --bg-color: var(--theme-contrast-color);
}

.fg-contrast {
  --fg-color: var(--bg-contrast-color);
}

.bg-contrast {
  --bg-color: var(--fg-contrast-color);
}
