.test {
  out: 80.5024;
}

:root {
  --color: #111;
  --bg-color: #eee;
}

body {
  color: var(--color);
  background-color: var(--bg-color);
}

[class^="color-"], [class*=" color-"] {
  color: var(--color);
}

[class^="bg-"], [class*=" bg-"] {
  background-color: var(--bg-color);
}

.color-yiq, [class^="color-yiq-"], [class*=" color-yiq-"] {
  color: var(--yiq-color);
}

.bg-yiq, [class^="bg-yiq-"], [class*=" bg-yiq-"] {
  background-color: var(--bg-yiq-color);
}

:root {
  --color-dark: #111;
  --yiq-color-dark: #eee;
}

.theme-dark {
  --theme-color: var(--color-dark);
  --theme-yiq-color: var(--yiq-color-dark);
}

.color-dark {
  --color: var(--color-dark);
  --bg-yiq-color: var(--yiq-color-dark);
}

.bg-dark {
  --bg-color: var(--color-dark);
  --yiq-color: var(--yiq-color-dark);
}

:root {
  --color-lite: #eee;
  --yiq-color-lite: #111;
}

.theme-lite {
  --theme-color: var(--color-lite);
  --theme-yiq-color: var(--yiq-color-lite);
}

.color-lite {
  --color: var(--color-lite);
  --bg-yiq-color: var(--yiq-color-lite);
}

.bg-lite {
  --bg-color: var(--color-lite);
  --yiq-color: var(--yiq-color-lite);
}

:root {
  --color-foo: #508021;
  --yiq-color-foo: #eee;
}

.theme-foo {
  --theme-color: var(--color-foo);
  --theme-yiq-color: var(--yiq-color-foo);
}

.color-foo {
  --color: var(--color-foo);
  --bg-yiq-color: var(--yiq-color-foo);
}

.bg-foo {
  --bg-color: var(--color-foo);
  --yiq-color: var(--yiq-color-foo);
}

:root {
  --color-bar: #da50c9;
  --yiq-color-bar: #eee;
}

.theme-bar {
  --theme-color: var(--color-bar);
  --theme-yiq-color: var(--yiq-color-bar);
}

.color-bar {
  --color: var(--color-bar);
  --bg-yiq-color: var(--yiq-color-bar);
}

.bg-bar {
  --bg-color: var(--color-bar);
  --yiq-color: var(--yiq-color-bar);
}

:root {
  --color-baz: #4741ff;
  --yiq-color-baz: #eee;
}

.theme-baz {
  --theme-color: var(--color-baz);
  --theme-yiq-color: var(--yiq-color-baz);
}

.color-baz {
  --color: var(--color-baz);
  --bg-yiq-color: var(--yiq-color-baz);
}

.bg-baz {
  --bg-color: var(--color-baz);
  --yiq-color: var(--yiq-color-baz);
}

:root {
  --color-fiz: #da9b30;
  --yiq-color-fiz: #eee;
}

.theme-fiz {
  --theme-color: var(--color-fiz);
  --theme-yiq-color: var(--yiq-color-fiz);
}

.color-fiz {
  --color: var(--color-fiz);
  --bg-yiq-color: var(--yiq-color-fiz);
}

.bg-fiz {
  --bg-color: var(--color-fiz);
  --yiq-color: var(--yiq-color-fiz);
}

.color-key {
  --color: var(--theme-color);
  --bg-yiq-color: var(--theme-yiq-color);
}

.bg-key {
  --bg-color: var(--theme-color);
  --yiq-color: var(--theme-yiq-color);
}

.color-yiq-dark {
  --yiq-color: var(--yiq-color-dark);
}

.bg-yiq-dark {
  --bg-yiq-color: var(--yiq-color-dark);
}

.color-yiq-lite {
  --yiq-color: var(--yiq-color-lite);
}

.bg-yiq-lite {
  --bg-yiq-color: var(--yiq-color-lite);
}

.color-yiq-foo {
  --yiq-color: var(--yiq-color-foo);
}

.bg-yiq-foo {
  --bg-yiq-color: var(--yiq-color-foo);
}

.color-yiq-bar {
  --yiq-color: var(--yiq-color-bar);
}

.bg-yiq-bar {
  --bg-yiq-color: var(--yiq-color-bar);
}

.color-yiq-baz {
  --yiq-color: var(--yiq-color-baz);
}

.bg-yiq-baz {
  --bg-yiq-color: var(--yiq-color-baz);
}

.color-yiq-fiz {
  --yiq-color: var(--yiq-color-fiz);
}

.bg-yiq-fiz {
  --bg-yiq-color: var(--yiq-color-fiz);
}

.color-yiq-key {
  --yiq-color: var(--theme-yiq-color);
}

.bg-yiq-key {
  --bg-yiq-color: var(--theme-yiq-color);
}
