extends _app

append defs
  - title = 'Test: Grid'

append head
  style.
    .ph::before {
      content: counter(cp);
    }
    .ph {
      font-family: monospace;
      padding: 1em;
      counter-reset: cp var(--col-span);
      height: auto;
      background-color: #ddd;
    }

block body

  mixin solo-flow-cells
    .span-5
      .ph
      .span-4.push-2.pull-r-1
        .ph
    .span-5.push-1.l__push-2
      .ph
    .cols-6
      .span-3
        .ph
        .cols-4
          .span-2
            .ph

  .wrap-last
    .frame.stack-l

      h3 solo cells
      +solo-flow-cells

      h3 flow cells
      .stop: .flow-m
        +solo-flow-cells

      h3 grid cells

      .grid
        .col-1-3.span-y-2
          .ph
        .col-3-8
          .ph
          .grid-xs.grid-x-xs.cols-10
            .span-2
              .ph
            .span-3
              .ph
            .span-3
              .ph
            .span-2
              .ph
        .span-2.l__span-4
          .ph
        .span-3.l__span-4
          .ph

      .stop.flow-m
        .span-2.l__span-auto(style='background-color: orangered')
          p= _casual.text
        .span
          .cell
          .ispan.ispan-1: p test
          .ispan.ispan-2: p test
          .ispan.ispan-3: p test
          .ispan.ispan-4: p test
          .ispan.ispan-5: p test
          .ispan.ispan-6: p test
          .ispan.ispan-7: p test
          .ispan.ispan-8: p test
          .ispan.ispan-9: p test
          .ispan.ispan-10: p test
          .ispan.ispan-11: p test
          .ispan.ispan-12: p test
          .ispan.ispan-1.iml.iml-1: p test
          .ispan.ispan-1.iml.iml-2: p test
          .ispan.ispan-1.iml.iml-3: p test
          .ispan.ispan-1.iml.iml-4: p test
          .ispan.ispan-1.iml.iml-5: p test
          .ispan.ispan-1.iml.iml-6: p test
          .ispan.ispan-1.iml.iml-7: p test
          .ispan.ispan-1.iml.iml-8: p test
          .ispan.ispan-1.iml.iml-9: p test
          .ispan.ispan-1.iml.iml-10: p test
          .ispan.ispan-1.iml.iml-11: p test
          .ispan.ispan-1.iml.iml-12: p test

      .flow-m
        .span
          .cell
        .span-6__m
          .cell
        .span-6__m
          .ispan: p test
          .ispan.ispan-1: p test
          .ispan.ispan-2: p test
          .ispan.ispan-3: p test
          .ispan.ispan-4: p test
          .flow-m
            .span
              .cell
            .span-4
              .cell
        .span-3__l
          .cell
        .span-9__l
          .flow-m
            .span
              .cell
            .span-4
              .cell
            .span-5
              .flow-m
                .span: .cell
                .span-3
                  .flow-m
                    .span: .cell
                    .span-2: .cell
                    .span-1: .cell
                .span-2
                  .flow-m
                    .span: .cell
                    .span-1: .cell
                    .span-1: .cell
