@import 'index';

$root: (
  inner-x: 2rem,
  inner-x-mods: (
    s: 0.5,
    form: 10px,
  ),
  inner-y-mods: (
    s: 1,
    m: 2,
    l: 4rem
  )
);

$media: (
  a: (breakpoint: 20em),
  b: (
    inner-x: 3rem,
    breakpoint: 30em,
    inner-y-mods: (
      s: 1.5,
      m: 2.5,
      l: 3
    )
  ),
  c: (breakpoint: 40em),
);

@include homework-setup-core(false);
@include homework-setup-stack(false);
