@import 'index';
@import '../scss/setup-flow2';

$root: (
  inner-x: 2rem,
  inner-x-mods: (
    xs: 0.5,
    s: 10px,
    m: 1.5rem
  ),
  inner-y-mods: (
    s: 1,
    m: 2,
    l: 4rem
  )
);

$media: (
  a: (breakpoint: 20em),
  b: (
    inner-x: 3rem,
    breakpoint: 30em
  ),
  c: (breakpoint: 40em),
);

@include homework-setup-core($output: false);

// .grid-fns {
//   /* fetching vars */
//   content: cols();
//   content: rows();
//   content: col-gap();
//   content: row-gap();
//   content: max-columns();
//   /* flow span */
//   content: flow-span();
//   content: flow-span(1);
//   content: flow-span(var(--span));
//   content: flow-push();
//   content: flow-pull();
//   /* solo span */
//   content: solo-span();
//   content: solo-span(1);
//   content: solo-span(var(--span));
//   content: solo-push();
//   content: solo-pull();
// }

// .flow-cell-mixins {
//   @include flow-cell();
//   @include flow-cell(2);
//   @include flow-cell(2,1);
//   @include flow-cell(2,1,1);
//   @include flow-cell(2,-1,-1);
// }

// .solo-cell-mixins {
//   @include solo-cell();
//   @include solo-cell(2);
//   @include solo-cell(2,1);
//   @include solo-cell(2,1,1);
//   @include solo-cell(2,-1,-1);
// }

// .flow-cells-mixins {
//   @include flow-cells((
//     null: 3,
//     b: ()
//   ));
//   @include flow-cells((
//     null: 3,
//     b: (2)
//   ));
//   @include flow-cells((
//     null: 3,
//     b: (2,1)
//   ));
//   @include flow-cells((
//     null: 3,
//     b: (2,1,1)
//   ));
//   @include flow-cells((
//     null: 3,
//     b: (2,-1,-1)
//   ));
// }

// .solo-cells-mixins {
//   @include solo-cells((
//     null: 3,
//     b: ()
//   ));
//   @include solo-cells((
//     null: 3,
//     b: (2)
//   ));
//   @include solo-cells((
//     null: 3,
//     b: (2,1)
//   ));
//   @include solo-cells((
//     null: 3,
//     b: (2,1,1)
//   ));
//   @include solo-cells((
//     null: 3,
//     b: (2,-1,-1)
//   ));
// }

@include homework-setup-flow2();
