.flow, [class^="flow-"], [class*=" flow-"] {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.flow > *, [class^="flow-"] > *, [class*=" flow-"] > * {
  flex: 0 0 auto;
  width: 100%;
  min-width: 0%;
  min-height: 1px;
  overflow-wrap: break-word;
  background-clip: content-box;
}

:root {
  --row-gap: var(--inner-y);
  --column-gap: var(--inner-x);
  --span-d: var(--grid-columns);
  --span-n: var(--span-d);
}

.flow, [class^="flow-"], [class*=" flow-"] {
  width: calc(100% + var(--column-gap)) !important;
  margin-left: calc(var(--column-gap) / -2);
  margin-right: calc(var(--column-gap) / -2);
  margin-top: calc(var(--row-gap) / -2);
  margin-bottom: calc(var(--row-gap) / -2);
}

.flow > *, [class^="flow-"] > *, [class*=" flow-"] > * {
  padding-left: calc(var(--column-gap) / 2) !important;
  padding-right: calc(var(--column-gap) / 2) !important;
  padding-top: calc(var(--row-gap) / 2) !important;
  padding-bottom: calc(var(--row-gap) / 2) !important;
}

.span, [class^="span-"], [class*=" span-"],
[class^="span__"], [class*=" span__"] {
  width: calc(99.99999% * var(--span-n) / var(--span-d));
}

.span-i, [class^="span-i-"], [class*=" span-i-"],
[class^="span-i__"], [class*=" span-i__"] {
  width: calc((99.99999% + var(--column-gap)) * var(--span-n) / var(--span-d) - var(--column-gap));
}

.flow-s {
  --row-gap: var(--inner-y-s);
}

.flow-m {
  --row-gap: var(--inner-y-m);
}

.flow-l {
  --row-gap: var(--inner-y-l);
}

.span {
  --span-n: var(--span-d);
}

.span-i {
  --span-n: var(--span-d);
}

.span-1 {
  --span-n: 1;
}

.span-1 > * {
  --span-d: var(--span-n);
}

.span-i-1 {
  --span-n: 1;
}

.span-i-1 > * {
  --span-d: var(--span-n);
}

.ml-1 {
  margin-left: calc(99.99999% * 1 / var(--span-d)) !important;
}

.mr-1 {
  margin-right: calc(99.99999% * 1 / var(--span-d)) !important;
}

.ml-neg-1 {
  margin-left: calc(99.99999% * -1 / var(--span-d)) !important;
}

.mr-neg-1 {
  margin-right: calc(99.99999% * -1 / var(--span-d)) !important;
}

.ml-i-1 {
  margin-left: calc((99.99999% + var(--column-gap)) * 1 / var(--span-d)) !important;
}

.mr-i-1 {
  margin-right: calc((99.99999% + var(--column-gap)) * 1 / var(--span-d)) !important;
}

.ml-i-neg-1 {
  margin-left: calc((99.99999% + var(--column-gap)) * -1 / var(--span-d)) !important;
}

.mr-i-neg-1 {
  margin-right: calc((99.99999% + var(--column-gap)) * -1 / var(--span-d)) !important;
}

.span-2 {
  --span-n: 2;
}

.span-2 > * {
  --span-d: var(--span-n);
}

.span-i-2 {
  --span-n: 2;
}

.span-i-2 > * {
  --span-d: var(--span-n);
}

.ml-2 {
  margin-left: calc(99.99999% * 2 / var(--span-d)) !important;
}

.mr-2 {
  margin-right: calc(99.99999% * 2 / var(--span-d)) !important;
}

.ml-neg-2 {
  margin-left: calc(99.99999% * -2 / var(--span-d)) !important;
}

.mr-neg-2 {
  margin-right: calc(99.99999% * -2 / var(--span-d)) !important;
}

.ml-i-2 {
  margin-left: calc((99.99999% + var(--column-gap)) * 2 / var(--span-d)) !important;
}

.mr-i-2 {
  margin-right: calc((99.99999% + var(--column-gap)) * 2 / var(--span-d)) !important;
}

.ml-i-neg-2 {
  margin-left: calc((99.99999% + var(--column-gap)) * -2 / var(--span-d)) !important;
}

.mr-i-neg-2 {
  margin-right: calc((99.99999% + var(--column-gap)) * -2 / var(--span-d)) !important;
}

.span-3 {
  --span-n: 3;
}

.span-3 > * {
  --span-d: var(--span-n);
}

.span-i-3 {
  --span-n: 3;
}

.span-i-3 > * {
  --span-d: var(--span-n);
}

.ml-3 {
  margin-left: calc(99.99999% * 3 / var(--span-d)) !important;
}

.mr-3 {
  margin-right: calc(99.99999% * 3 / var(--span-d)) !important;
}

.ml-neg-3 {
  margin-left: calc(99.99999% * -3 / var(--span-d)) !important;
}

.mr-neg-3 {
  margin-right: calc(99.99999% * -3 / var(--span-d)) !important;
}

.ml-i-3 {
  margin-left: calc((99.99999% + var(--column-gap)) * 3 / var(--span-d)) !important;
}

.mr-i-3 {
  margin-right: calc((99.99999% + var(--column-gap)) * 3 / var(--span-d)) !important;
}

.ml-i-neg-3 {
  margin-left: calc((99.99999% + var(--column-gap)) * -3 / var(--span-d)) !important;
}

.mr-i-neg-3 {
  margin-right: calc((99.99999% + var(--column-gap)) * -3 / var(--span-d)) !important;
}

.span-4 {
  --span-n: 4;
}

.span-4 > * {
  --span-d: var(--span-n);
}

.span-i-4 {
  --span-n: 4;
}

.span-i-4 > * {
  --span-d: var(--span-n);
}

.ml-4 {
  margin-left: calc(99.99999% * 4 / var(--span-d)) !important;
}

.mr-4 {
  margin-right: calc(99.99999% * 4 / var(--span-d)) !important;
}

.ml-neg-4 {
  margin-left: calc(99.99999% * -4 / var(--span-d)) !important;
}

.mr-neg-4 {
  margin-right: calc(99.99999% * -4 / var(--span-d)) !important;
}

.ml-i-4 {
  margin-left: calc((99.99999% + var(--column-gap)) * 4 / var(--span-d)) !important;
}

.mr-i-4 {
  margin-right: calc((99.99999% + var(--column-gap)) * 4 / var(--span-d)) !important;
}

.ml-i-neg-4 {
  margin-left: calc((99.99999% + var(--column-gap)) * -4 / var(--span-d)) !important;
}

.mr-i-neg-4 {
  margin-right: calc((99.99999% + var(--column-gap)) * -4 / var(--span-d)) !important;
}

.span-5 {
  --span-n: 5;
}

.span-5 > * {
  --span-d: var(--span-n);
}

.span-i-5 {
  --span-n: 5;
}

.span-i-5 > * {
  --span-d: var(--span-n);
}

.ml-5 {
  margin-left: calc(99.99999% * 5 / var(--span-d)) !important;
}

.mr-5 {
  margin-right: calc(99.99999% * 5 / var(--span-d)) !important;
}

.ml-neg-5 {
  margin-left: calc(99.99999% * -5 / var(--span-d)) !important;
}

.mr-neg-5 {
  margin-right: calc(99.99999% * -5 / var(--span-d)) !important;
}

.ml-i-5 {
  margin-left: calc((99.99999% + var(--column-gap)) * 5 / var(--span-d)) !important;
}

.mr-i-5 {
  margin-right: calc((99.99999% + var(--column-gap)) * 5 / var(--span-d)) !important;
}

.ml-i-neg-5 {
  margin-left: calc((99.99999% + var(--column-gap)) * -5 / var(--span-d)) !important;
}

.mr-i-neg-5 {
  margin-right: calc((99.99999% + var(--column-gap)) * -5 / var(--span-d)) !important;
}

.span-6 {
  --span-n: 6;
}

.span-6 > * {
  --span-d: var(--span-n);
}

.span-i-6 {
  --span-n: 6;
}

.span-i-6 > * {
  --span-d: var(--span-n);
}

.ml-6 {
  margin-left: calc(99.99999% * 6 / var(--span-d)) !important;
}

.mr-6 {
  margin-right: calc(99.99999% * 6 / var(--span-d)) !important;
}

.ml-neg-6 {
  margin-left: calc(99.99999% * -6 / var(--span-d)) !important;
}

.mr-neg-6 {
  margin-right: calc(99.99999% * -6 / var(--span-d)) !important;
}

.ml-i-6 {
  margin-left: calc((99.99999% + var(--column-gap)) * 6 / var(--span-d)) !important;
}

.mr-i-6 {
  margin-right: calc((99.99999% + var(--column-gap)) * 6 / var(--span-d)) !important;
}

.ml-i-neg-6 {
  margin-left: calc((99.99999% + var(--column-gap)) * -6 / var(--span-d)) !important;
}

.mr-i-neg-6 {
  margin-right: calc((99.99999% + var(--column-gap)) * -6 / var(--span-d)) !important;
}

.span-7 {
  --span-n: 7;
}

.span-7 > * {
  --span-d: var(--span-n);
}

.span-i-7 {
  --span-n: 7;
}

.span-i-7 > * {
  --span-d: var(--span-n);
}

.ml-7 {
  margin-left: calc(99.99999% * 7 / var(--span-d)) !important;
}

.mr-7 {
  margin-right: calc(99.99999% * 7 / var(--span-d)) !important;
}

.ml-neg-7 {
  margin-left: calc(99.99999% * -7 / var(--span-d)) !important;
}

.mr-neg-7 {
  margin-right: calc(99.99999% * -7 / var(--span-d)) !important;
}

.ml-i-7 {
  margin-left: calc((99.99999% + var(--column-gap)) * 7 / var(--span-d)) !important;
}

.mr-i-7 {
  margin-right: calc((99.99999% + var(--column-gap)) * 7 / var(--span-d)) !important;
}

.ml-i-neg-7 {
  margin-left: calc((99.99999% + var(--column-gap)) * -7 / var(--span-d)) !important;
}

.mr-i-neg-7 {
  margin-right: calc((99.99999% + var(--column-gap)) * -7 / var(--span-d)) !important;
}

.span-8 {
  --span-n: 8;
}

.span-8 > * {
  --span-d: var(--span-n);
}

.span-i-8 {
  --span-n: 8;
}

.span-i-8 > * {
  --span-d: var(--span-n);
}

.ml-8 {
  margin-left: calc(99.99999% * 8 / var(--span-d)) !important;
}

.mr-8 {
  margin-right: calc(99.99999% * 8 / var(--span-d)) !important;
}

.ml-neg-8 {
  margin-left: calc(99.99999% * -8 / var(--span-d)) !important;
}

.mr-neg-8 {
  margin-right: calc(99.99999% * -8 / var(--span-d)) !important;
}

.ml-i-8 {
  margin-left: calc((99.99999% + var(--column-gap)) * 8 / var(--span-d)) !important;
}

.mr-i-8 {
  margin-right: calc((99.99999% + var(--column-gap)) * 8 / var(--span-d)) !important;
}

.ml-i-neg-8 {
  margin-left: calc((99.99999% + var(--column-gap)) * -8 / var(--span-d)) !important;
}

.mr-i-neg-8 {
  margin-right: calc((99.99999% + var(--column-gap)) * -8 / var(--span-d)) !important;
}

.span-9 {
  --span-n: 9;
}

.span-9 > * {
  --span-d: var(--span-n);
}

.span-i-9 {
  --span-n: 9;
}

.span-i-9 > * {
  --span-d: var(--span-n);
}

.ml-9 {
  margin-left: calc(99.99999% * 9 / var(--span-d)) !important;
}

.mr-9 {
  margin-right: calc(99.99999% * 9 / var(--span-d)) !important;
}

.ml-neg-9 {
  margin-left: calc(99.99999% * -9 / var(--span-d)) !important;
}

.mr-neg-9 {
  margin-right: calc(99.99999% * -9 / var(--span-d)) !important;
}

.ml-i-9 {
  margin-left: calc((99.99999% + var(--column-gap)) * 9 / var(--span-d)) !important;
}

.mr-i-9 {
  margin-right: calc((99.99999% + var(--column-gap)) * 9 / var(--span-d)) !important;
}

.ml-i-neg-9 {
  margin-left: calc((99.99999% + var(--column-gap)) * -9 / var(--span-d)) !important;
}

.mr-i-neg-9 {
  margin-right: calc((99.99999% + var(--column-gap)) * -9 / var(--span-d)) !important;
}

.span-10 {
  --span-n: 10;
}

.span-10 > * {
  --span-d: var(--span-n);
}

.span-i-10 {
  --span-n: 10;
}

.span-i-10 > * {
  --span-d: var(--span-n);
}

.ml-10 {
  margin-left: calc(99.99999% * 10 / var(--span-d)) !important;
}

.mr-10 {
  margin-right: calc(99.99999% * 10 / var(--span-d)) !important;
}

.ml-neg-10 {
  margin-left: calc(99.99999% * -10 / var(--span-d)) !important;
}

.mr-neg-10 {
  margin-right: calc(99.99999% * -10 / var(--span-d)) !important;
}

.ml-i-10 {
  margin-left: calc((99.99999% + var(--column-gap)) * 10 / var(--span-d)) !important;
}

.mr-i-10 {
  margin-right: calc((99.99999% + var(--column-gap)) * 10 / var(--span-d)) !important;
}

.ml-i-neg-10 {
  margin-left: calc((99.99999% + var(--column-gap)) * -10 / var(--span-d)) !important;
}

.mr-i-neg-10 {
  margin-right: calc((99.99999% + var(--column-gap)) * -10 / var(--span-d)) !important;
}

.span-11 {
  --span-n: 11;
}

.span-11 > * {
  --span-d: var(--span-n);
}

.span-i-11 {
  --span-n: 11;
}

.span-i-11 > * {
  --span-d: var(--span-n);
}

.ml-11 {
  margin-left: calc(99.99999% * 11 / var(--span-d)) !important;
}

.mr-11 {
  margin-right: calc(99.99999% * 11 / var(--span-d)) !important;
}

.ml-neg-11 {
  margin-left: calc(99.99999% * -11 / var(--span-d)) !important;
}

.mr-neg-11 {
  margin-right: calc(99.99999% * -11 / var(--span-d)) !important;
}

.ml-i-11 {
  margin-left: calc((99.99999% + var(--column-gap)) * 11 / var(--span-d)) !important;
}

.mr-i-11 {
  margin-right: calc((99.99999% + var(--column-gap)) * 11 / var(--span-d)) !important;
}

.ml-i-neg-11 {
  margin-left: calc((99.99999% + var(--column-gap)) * -11 / var(--span-d)) !important;
}

.mr-i-neg-11 {
  margin-right: calc((99.99999% + var(--column-gap)) * -11 / var(--span-d)) !important;
}

.span-12 {
  --span-n: 12;
}

.span-12 > * {
  --span-d: var(--span-n);
}

.span-i-12 {
  --span-n: 12;
}

.span-i-12 > * {
  --span-d: var(--span-n);
}

.ml-12 {
  margin-left: calc(99.99999% * 12 / var(--span-d)) !important;
}

.mr-12 {
  margin-right: calc(99.99999% * 12 / var(--span-d)) !important;
}

.ml-neg-12 {
  margin-left: calc(99.99999% * -12 / var(--span-d)) !important;
}

.mr-neg-12 {
  margin-right: calc(99.99999% * -12 / var(--span-d)) !important;
}

.ml-i-12 {
  margin-left: calc((99.99999% + var(--column-gap)) * 12 / var(--span-d)) !important;
}

.mr-i-12 {
  margin-right: calc((99.99999% + var(--column-gap)) * 12 / var(--span-d)) !important;
}

.ml-i-neg-12 {
  margin-left: calc((99.99999% + var(--column-gap)) * -12 / var(--span-d)) !important;
}

.mr-i-neg-12 {
  margin-right: calc((99.99999% + var(--column-gap)) * -12 / var(--span-d)) !important;
}

@media screen and (min-width: 20em) {
  .span__a {
    --span-n: var(--span-d);
  }
  .span-i__a {
    --span-n: var(--span-d);
  }
  .span-1__a {
    --span-n: 1;
  }
  .span-1__a > * {
    --span-d: var(--span-n);
  }
  .span-i-1__a {
    --span-n: 1;
  }
  .span-i-1__a > * {
    --span-d: var(--span-n);
  }
  .ml-1__a {
    margin-left: calc(99.99999% * 1 / var(--span-d)) !important;
  }
  .mr-1__a {
    margin-right: calc(99.99999% * 1 / var(--span-d)) !important;
  }
  .ml-neg-1__a {
    margin-left: calc(99.99999% * -1 / var(--span-d)) !important;
  }
  .mr-neg-1__a {
    margin-right: calc(99.99999% * -1 / var(--span-d)) !important;
  }
  .ml-i-1__a {
    margin-left: calc((99.99999% + var(--column-gap)) * 1 / var(--span-d)) !important;
  }
  .mr-i-1__a {
    margin-right: calc((99.99999% + var(--column-gap)) * 1 / var(--span-d)) !important;
  }
  .ml-i-neg-1__a {
    margin-left: calc((99.99999% + var(--column-gap)) * -1 / var(--span-d)) !important;
  }
  .mr-i-neg-1__a {
    margin-right: calc((99.99999% + var(--column-gap)) * -1 / var(--span-d)) !important;
  }
  .span-2__a {
    --span-n: 2;
  }
  .span-2__a > * {
    --span-d: var(--span-n);
  }
  .span-i-2__a {
    --span-n: 2;
  }
  .span-i-2__a > * {
    --span-d: var(--span-n);
  }
  .ml-2__a {
    margin-left: calc(99.99999% * 2 / var(--span-d)) !important;
  }
  .mr-2__a {
    margin-right: calc(99.99999% * 2 / var(--span-d)) !important;
  }
  .ml-neg-2__a {
    margin-left: calc(99.99999% * -2 / var(--span-d)) !important;
  }
  .mr-neg-2__a {
    margin-right: calc(99.99999% * -2 / var(--span-d)) !important;
  }
  .ml-i-2__a {
    margin-left: calc((99.99999% + var(--column-gap)) * 2 / var(--span-d)) !important;
  }
  .mr-i-2__a {
    margin-right: calc((99.99999% + var(--column-gap)) * 2 / var(--span-d)) !important;
  }
  .ml-i-neg-2__a {
    margin-left: calc((99.99999% + var(--column-gap)) * -2 / var(--span-d)) !important;
  }
  .mr-i-neg-2__a {
    margin-right: calc((99.99999% + var(--column-gap)) * -2 / var(--span-d)) !important;
  }
  .span-3__a {
    --span-n: 3;
  }
  .span-3__a > * {
    --span-d: var(--span-n);
  }
  .span-i-3__a {
    --span-n: 3;
  }
  .span-i-3__a > * {
    --span-d: var(--span-n);
  }
  .ml-3__a {
    margin-left: calc(99.99999% * 3 / var(--span-d)) !important;
  }
  .mr-3__a {
    margin-right: calc(99.99999% * 3 / var(--span-d)) !important;
  }
  .ml-neg-3__a {
    margin-left: calc(99.99999% * -3 / var(--span-d)) !important;
  }
  .mr-neg-3__a {
    margin-right: calc(99.99999% * -3 / var(--span-d)) !important;
  }
  .ml-i-3__a {
    margin-left: calc((99.99999% + var(--column-gap)) * 3 / var(--span-d)) !important;
  }
  .mr-i-3__a {
    margin-right: calc((99.99999% + var(--column-gap)) * 3 / var(--span-d)) !important;
  }
  .ml-i-neg-3__a {
    margin-left: calc((99.99999% + var(--column-gap)) * -3 / var(--span-d)) !important;
  }
  .mr-i-neg-3__a {
    margin-right: calc((99.99999% + var(--column-gap)) * -3 / var(--span-d)) !important;
  }
  .span-4__a {
    --span-n: 4;
  }
  .span-4__a > * {
    --span-d: var(--span-n);
  }
  .span-i-4__a {
    --span-n: 4;
  }
  .span-i-4__a > * {
    --span-d: var(--span-n);
  }
  .ml-4__a {
    margin-left: calc(99.99999% * 4 / var(--span-d)) !important;
  }
  .mr-4__a {
    margin-right: calc(99.99999% * 4 / var(--span-d)) !important;
  }
  .ml-neg-4__a {
    margin-left: calc(99.99999% * -4 / var(--span-d)) !important;
  }
  .mr-neg-4__a {
    margin-right: calc(99.99999% * -4 / var(--span-d)) !important;
  }
  .ml-i-4__a {
    margin-left: calc((99.99999% + var(--column-gap)) * 4 / var(--span-d)) !important;
  }
  .mr-i-4__a {
    margin-right: calc((99.99999% + var(--column-gap)) * 4 / var(--span-d)) !important;
  }
  .ml-i-neg-4__a {
    margin-left: calc((99.99999% + var(--column-gap)) * -4 / var(--span-d)) !important;
  }
  .mr-i-neg-4__a {
    margin-right: calc((99.99999% + var(--column-gap)) * -4 / var(--span-d)) !important;
  }
  .span-5__a {
    --span-n: 5;
  }
  .span-5__a > * {
    --span-d: var(--span-n);
  }
  .span-i-5__a {
    --span-n: 5;
  }
  .span-i-5__a > * {
    --span-d: var(--span-n);
  }
  .ml-5__a {
    margin-left: calc(99.99999% * 5 / var(--span-d)) !important;
  }
  .mr-5__a {
    margin-right: calc(99.99999% * 5 / var(--span-d)) !important;
  }
  .ml-neg-5__a {
    margin-left: calc(99.99999% * -5 / var(--span-d)) !important;
  }
  .mr-neg-5__a {
    margin-right: calc(99.99999% * -5 / var(--span-d)) !important;
  }
  .ml-i-5__a {
    margin-left: calc((99.99999% + var(--column-gap)) * 5 / var(--span-d)) !important;
  }
  .mr-i-5__a {
    margin-right: calc((99.99999% + var(--column-gap)) * 5 / var(--span-d)) !important;
  }
  .ml-i-neg-5__a {
    margin-left: calc((99.99999% + var(--column-gap)) * -5 / var(--span-d)) !important;
  }
  .mr-i-neg-5__a {
    margin-right: calc((99.99999% + var(--column-gap)) * -5 / var(--span-d)) !important;
  }
  .span-6__a {
    --span-n: 6;
  }
  .span-6__a > * {
    --span-d: var(--span-n);
  }
  .span-i-6__a {
    --span-n: 6;
  }
  .span-i-6__a > * {
    --span-d: var(--span-n);
  }
  .ml-6__a {
    margin-left: calc(99.99999% * 6 / var(--span-d)) !important;
  }
  .mr-6__a {
    margin-right: calc(99.99999% * 6 / var(--span-d)) !important;
  }
  .ml-neg-6__a {
    margin-left: calc(99.99999% * -6 / var(--span-d)) !important;
  }
  .mr-neg-6__a {
    margin-right: calc(99.99999% * -6 / var(--span-d)) !important;
  }
  .ml-i-6__a {
    margin-left: calc((99.99999% + var(--column-gap)) * 6 / var(--span-d)) !important;
  }
  .mr-i-6__a {
    margin-right: calc((99.99999% + var(--column-gap)) * 6 / var(--span-d)) !important;
  }
  .ml-i-neg-6__a {
    margin-left: calc((99.99999% + var(--column-gap)) * -6 / var(--span-d)) !important;
  }
  .mr-i-neg-6__a {
    margin-right: calc((99.99999% + var(--column-gap)) * -6 / var(--span-d)) !important;
  }
  .span-7__a {
    --span-n: 7;
  }
  .span-7__a > * {
    --span-d: var(--span-n);
  }
  .span-i-7__a {
    --span-n: 7;
  }
  .span-i-7__a > * {
    --span-d: var(--span-n);
  }
  .ml-7__a {
    margin-left: calc(99.99999% * 7 / var(--span-d)) !important;
  }
  .mr-7__a {
    margin-right: calc(99.99999% * 7 / var(--span-d)) !important;
  }
  .ml-neg-7__a {
    margin-left: calc(99.99999% * -7 / var(--span-d)) !important;
  }
  .mr-neg-7__a {
    margin-right: calc(99.99999% * -7 / var(--span-d)) !important;
  }
  .ml-i-7__a {
    margin-left: calc((99.99999% + var(--column-gap)) * 7 / var(--span-d)) !important;
  }
  .mr-i-7__a {
    margin-right: calc((99.99999% + var(--column-gap)) * 7 / var(--span-d)) !important;
  }
  .ml-i-neg-7__a {
    margin-left: calc((99.99999% + var(--column-gap)) * -7 / var(--span-d)) !important;
  }
  .mr-i-neg-7__a {
    margin-right: calc((99.99999% + var(--column-gap)) * -7 / var(--span-d)) !important;
  }
  .span-8__a {
    --span-n: 8;
  }
  .span-8__a > * {
    --span-d: var(--span-n);
  }
  .span-i-8__a {
    --span-n: 8;
  }
  .span-i-8__a > * {
    --span-d: var(--span-n);
  }
  .ml-8__a {
    margin-left: calc(99.99999% * 8 / var(--span-d)) !important;
  }
  .mr-8__a {
    margin-right: calc(99.99999% * 8 / var(--span-d)) !important;
  }
  .ml-neg-8__a {
    margin-left: calc(99.99999% * -8 / var(--span-d)) !important;
  }
  .mr-neg-8__a {
    margin-right: calc(99.99999% * -8 / var(--span-d)) !important;
  }
  .ml-i-8__a {
    margin-left: calc((99.99999% + var(--column-gap)) * 8 / var(--span-d)) !important;
  }
  .mr-i-8__a {
    margin-right: calc((99.99999% + var(--column-gap)) * 8 / var(--span-d)) !important;
  }
  .ml-i-neg-8__a {
    margin-left: calc((99.99999% + var(--column-gap)) * -8 / var(--span-d)) !important;
  }
  .mr-i-neg-8__a {
    margin-right: calc((99.99999% + var(--column-gap)) * -8 / var(--span-d)) !important;
  }
  .span-9__a {
    --span-n: 9;
  }
  .span-9__a > * {
    --span-d: var(--span-n);
  }
  .span-i-9__a {
    --span-n: 9;
  }
  .span-i-9__a > * {
    --span-d: var(--span-n);
  }
  .ml-9__a {
    margin-left: calc(99.99999% * 9 / var(--span-d)) !important;
  }
  .mr-9__a {
    margin-right: calc(99.99999% * 9 / var(--span-d)) !important;
  }
  .ml-neg-9__a {
    margin-left: calc(99.99999% * -9 / var(--span-d)) !important;
  }
  .mr-neg-9__a {
    margin-right: calc(99.99999% * -9 / var(--span-d)) !important;
  }
  .ml-i-9__a {
    margin-left: calc((99.99999% + var(--column-gap)) * 9 / var(--span-d)) !important;
  }
  .mr-i-9__a {
    margin-right: calc((99.99999% + var(--column-gap)) * 9 / var(--span-d)) !important;
  }
  .ml-i-neg-9__a {
    margin-left: calc((99.99999% + var(--column-gap)) * -9 / var(--span-d)) !important;
  }
  .mr-i-neg-9__a {
    margin-right: calc((99.99999% + var(--column-gap)) * -9 / var(--span-d)) !important;
  }
  .span-10__a {
    --span-n: 10;
  }
  .span-10__a > * {
    --span-d: var(--span-n);
  }
  .span-i-10__a {
    --span-n: 10;
  }
  .span-i-10__a > * {
    --span-d: var(--span-n);
  }
  .ml-10__a {
    margin-left: calc(99.99999% * 10 / var(--span-d)) !important;
  }
  .mr-10__a {
    margin-right: calc(99.99999% * 10 / var(--span-d)) !important;
  }
  .ml-neg-10__a {
    margin-left: calc(99.99999% * -10 / var(--span-d)) !important;
  }
  .mr-neg-10__a {
    margin-right: calc(99.99999% * -10 / var(--span-d)) !important;
  }
  .ml-i-10__a {
    margin-left: calc((99.99999% + var(--column-gap)) * 10 / var(--span-d)) !important;
  }
  .mr-i-10__a {
    margin-right: calc((99.99999% + var(--column-gap)) * 10 / var(--span-d)) !important;
  }
  .ml-i-neg-10__a {
    margin-left: calc((99.99999% + var(--column-gap)) * -10 / var(--span-d)) !important;
  }
  .mr-i-neg-10__a {
    margin-right: calc((99.99999% + var(--column-gap)) * -10 / var(--span-d)) !important;
  }
  .span-11__a {
    --span-n: 11;
  }
  .span-11__a > * {
    --span-d: var(--span-n);
  }
  .span-i-11__a {
    --span-n: 11;
  }
  .span-i-11__a > * {
    --span-d: var(--span-n);
  }
  .ml-11__a {
    margin-left: calc(99.99999% * 11 / var(--span-d)) !important;
  }
  .mr-11__a {
    margin-right: calc(99.99999% * 11 / var(--span-d)) !important;
  }
  .ml-neg-11__a {
    margin-left: calc(99.99999% * -11 / var(--span-d)) !important;
  }
  .mr-neg-11__a {
    margin-right: calc(99.99999% * -11 / var(--span-d)) !important;
  }
  .ml-i-11__a {
    margin-left: calc((99.99999% + var(--column-gap)) * 11 / var(--span-d)) !important;
  }
  .mr-i-11__a {
    margin-right: calc((99.99999% + var(--column-gap)) * 11 / var(--span-d)) !important;
  }
  .ml-i-neg-11__a {
    margin-left: calc((99.99999% + var(--column-gap)) * -11 / var(--span-d)) !important;
  }
  .mr-i-neg-11__a {
    margin-right: calc((99.99999% + var(--column-gap)) * -11 / var(--span-d)) !important;
  }
  .span-12__a {
    --span-n: 12;
  }
  .span-12__a > * {
    --span-d: var(--span-n);
  }
  .span-i-12__a {
    --span-n: 12;
  }
  .span-i-12__a > * {
    --span-d: var(--span-n);
  }
  .ml-12__a {
    margin-left: calc(99.99999% * 12 / var(--span-d)) !important;
  }
  .mr-12__a {
    margin-right: calc(99.99999% * 12 / var(--span-d)) !important;
  }
  .ml-neg-12__a {
    margin-left: calc(99.99999% * -12 / var(--span-d)) !important;
  }
  .mr-neg-12__a {
    margin-right: calc(99.99999% * -12 / var(--span-d)) !important;
  }
  .ml-i-12__a {
    margin-left: calc((99.99999% + var(--column-gap)) * 12 / var(--span-d)) !important;
  }
  .mr-i-12__a {
    margin-right: calc((99.99999% + var(--column-gap)) * 12 / var(--span-d)) !important;
  }
  .ml-i-neg-12__a {
    margin-left: calc((99.99999% + var(--column-gap)) * -12 / var(--span-d)) !important;
  }
  .mr-i-neg-12__a {
    margin-right: calc((99.99999% + var(--column-gap)) * -12 / var(--span-d)) !important;
  }
}

@media screen and (min-width: 30em) {
  .span__b {
    --span-n: var(--span-d);
  }
  .span-i__b {
    --span-n: var(--span-d);
  }
  .span-1__b {
    --span-n: 1;
  }
  .span-1__b > * {
    --span-d: var(--span-n);
  }
  .span-i-1__b {
    --span-n: 1;
  }
  .span-i-1__b > * {
    --span-d: var(--span-n);
  }
  .ml-1__b {
    margin-left: calc(99.99999% * 1 / var(--span-d)) !important;
  }
  .mr-1__b {
    margin-right: calc(99.99999% * 1 / var(--span-d)) !important;
  }
  .ml-neg-1__b {
    margin-left: calc(99.99999% * -1 / var(--span-d)) !important;
  }
  .mr-neg-1__b {
    margin-right: calc(99.99999% * -1 / var(--span-d)) !important;
  }
  .ml-i-1__b {
    margin-left: calc((99.99999% + var(--column-gap)) * 1 / var(--span-d)) !important;
  }
  .mr-i-1__b {
    margin-right: calc((99.99999% + var(--column-gap)) * 1 / var(--span-d)) !important;
  }
  .ml-i-neg-1__b {
    margin-left: calc((99.99999% + var(--column-gap)) * -1 / var(--span-d)) !important;
  }
  .mr-i-neg-1__b {
    margin-right: calc((99.99999% + var(--column-gap)) * -1 / var(--span-d)) !important;
  }
  .span-2__b {
    --span-n: 2;
  }
  .span-2__b > * {
    --span-d: var(--span-n);
  }
  .span-i-2__b {
    --span-n: 2;
  }
  .span-i-2__b > * {
    --span-d: var(--span-n);
  }
  .ml-2__b {
    margin-left: calc(99.99999% * 2 / var(--span-d)) !important;
  }
  .mr-2__b {
    margin-right: calc(99.99999% * 2 / var(--span-d)) !important;
  }
  .ml-neg-2__b {
    margin-left: calc(99.99999% * -2 / var(--span-d)) !important;
  }
  .mr-neg-2__b {
    margin-right: calc(99.99999% * -2 / var(--span-d)) !important;
  }
  .ml-i-2__b {
    margin-left: calc((99.99999% + var(--column-gap)) * 2 / var(--span-d)) !important;
  }
  .mr-i-2__b {
    margin-right: calc((99.99999% + var(--column-gap)) * 2 / var(--span-d)) !important;
  }
  .ml-i-neg-2__b {
    margin-left: calc((99.99999% + var(--column-gap)) * -2 / var(--span-d)) !important;
  }
  .mr-i-neg-2__b {
    margin-right: calc((99.99999% + var(--column-gap)) * -2 / var(--span-d)) !important;
  }
  .span-3__b {
    --span-n: 3;
  }
  .span-3__b > * {
    --span-d: var(--span-n);
  }
  .span-i-3__b {
    --span-n: 3;
  }
  .span-i-3__b > * {
    --span-d: var(--span-n);
  }
  .ml-3__b {
    margin-left: calc(99.99999% * 3 / var(--span-d)) !important;
  }
  .mr-3__b {
    margin-right: calc(99.99999% * 3 / var(--span-d)) !important;
  }
  .ml-neg-3__b {
    margin-left: calc(99.99999% * -3 / var(--span-d)) !important;
  }
  .mr-neg-3__b {
    margin-right: calc(99.99999% * -3 / var(--span-d)) !important;
  }
  .ml-i-3__b {
    margin-left: calc((99.99999% + var(--column-gap)) * 3 / var(--span-d)) !important;
  }
  .mr-i-3__b {
    margin-right: calc((99.99999% + var(--column-gap)) * 3 / var(--span-d)) !important;
  }
  .ml-i-neg-3__b {
    margin-left: calc((99.99999% + var(--column-gap)) * -3 / var(--span-d)) !important;
  }
  .mr-i-neg-3__b {
    margin-right: calc((99.99999% + var(--column-gap)) * -3 / var(--span-d)) !important;
  }
  .span-4__b {
    --span-n: 4;
  }
  .span-4__b > * {
    --span-d: var(--span-n);
  }
  .span-i-4__b {
    --span-n: 4;
  }
  .span-i-4__b > * {
    --span-d: var(--span-n);
  }
  .ml-4__b {
    margin-left: calc(99.99999% * 4 / var(--span-d)) !important;
  }
  .mr-4__b {
    margin-right: calc(99.99999% * 4 / var(--span-d)) !important;
  }
  .ml-neg-4__b {
    margin-left: calc(99.99999% * -4 / var(--span-d)) !important;
  }
  .mr-neg-4__b {
    margin-right: calc(99.99999% * -4 / var(--span-d)) !important;
  }
  .ml-i-4__b {
    margin-left: calc((99.99999% + var(--column-gap)) * 4 / var(--span-d)) !important;
  }
  .mr-i-4__b {
    margin-right: calc((99.99999% + var(--column-gap)) * 4 / var(--span-d)) !important;
  }
  .ml-i-neg-4__b {
    margin-left: calc((99.99999% + var(--column-gap)) * -4 / var(--span-d)) !important;
  }
  .mr-i-neg-4__b {
    margin-right: calc((99.99999% + var(--column-gap)) * -4 / var(--span-d)) !important;
  }
  .span-5__b {
    --span-n: 5;
  }
  .span-5__b > * {
    --span-d: var(--span-n);
  }
  .span-i-5__b {
    --span-n: 5;
  }
  .span-i-5__b > * {
    --span-d: var(--span-n);
  }
  .ml-5__b {
    margin-left: calc(99.99999% * 5 / var(--span-d)) !important;
  }
  .mr-5__b {
    margin-right: calc(99.99999% * 5 / var(--span-d)) !important;
  }
  .ml-neg-5__b {
    margin-left: calc(99.99999% * -5 / var(--span-d)) !important;
  }
  .mr-neg-5__b {
    margin-right: calc(99.99999% * -5 / var(--span-d)) !important;
  }
  .ml-i-5__b {
    margin-left: calc((99.99999% + var(--column-gap)) * 5 / var(--span-d)) !important;
  }
  .mr-i-5__b {
    margin-right: calc((99.99999% + var(--column-gap)) * 5 / var(--span-d)) !important;
  }
  .ml-i-neg-5__b {
    margin-left: calc((99.99999% + var(--column-gap)) * -5 / var(--span-d)) !important;
  }
  .mr-i-neg-5__b {
    margin-right: calc((99.99999% + var(--column-gap)) * -5 / var(--span-d)) !important;
  }
  .span-6__b {
    --span-n: 6;
  }
  .span-6__b > * {
    --span-d: var(--span-n);
  }
  .span-i-6__b {
    --span-n: 6;
  }
  .span-i-6__b > * {
    --span-d: var(--span-n);
  }
  .ml-6__b {
    margin-left: calc(99.99999% * 6 / var(--span-d)) !important;
  }
  .mr-6__b {
    margin-right: calc(99.99999% * 6 / var(--span-d)) !important;
  }
  .ml-neg-6__b {
    margin-left: calc(99.99999% * -6 / var(--span-d)) !important;
  }
  .mr-neg-6__b {
    margin-right: calc(99.99999% * -6 / var(--span-d)) !important;
  }
  .ml-i-6__b {
    margin-left: calc((99.99999% + var(--column-gap)) * 6 / var(--span-d)) !important;
  }
  .mr-i-6__b {
    margin-right: calc((99.99999% + var(--column-gap)) * 6 / var(--span-d)) !important;
  }
  .ml-i-neg-6__b {
    margin-left: calc((99.99999% + var(--column-gap)) * -6 / var(--span-d)) !important;
  }
  .mr-i-neg-6__b {
    margin-right: calc((99.99999% + var(--column-gap)) * -6 / var(--span-d)) !important;
  }
  .span-7__b {
    --span-n: 7;
  }
  .span-7__b > * {
    --span-d: var(--span-n);
  }
  .span-i-7__b {
    --span-n: 7;
  }
  .span-i-7__b > * {
    --span-d: var(--span-n);
  }
  .ml-7__b {
    margin-left: calc(99.99999% * 7 / var(--span-d)) !important;
  }
  .mr-7__b {
    margin-right: calc(99.99999% * 7 / var(--span-d)) !important;
  }
  .ml-neg-7__b {
    margin-left: calc(99.99999% * -7 / var(--span-d)) !important;
  }
  .mr-neg-7__b {
    margin-right: calc(99.99999% * -7 / var(--span-d)) !important;
  }
  .ml-i-7__b {
    margin-left: calc((99.99999% + var(--column-gap)) * 7 / var(--span-d)) !important;
  }
  .mr-i-7__b {
    margin-right: calc((99.99999% + var(--column-gap)) * 7 / var(--span-d)) !important;
  }
  .ml-i-neg-7__b {
    margin-left: calc((99.99999% + var(--column-gap)) * -7 / var(--span-d)) !important;
  }
  .mr-i-neg-7__b {
    margin-right: calc((99.99999% + var(--column-gap)) * -7 / var(--span-d)) !important;
  }
  .span-8__b {
    --span-n: 8;
  }
  .span-8__b > * {
    --span-d: var(--span-n);
  }
  .span-i-8__b {
    --span-n: 8;
  }
  .span-i-8__b > * {
    --span-d: var(--span-n);
  }
  .ml-8__b {
    margin-left: calc(99.99999% * 8 / var(--span-d)) !important;
  }
  .mr-8__b {
    margin-right: calc(99.99999% * 8 / var(--span-d)) !important;
  }
  .ml-neg-8__b {
    margin-left: calc(99.99999% * -8 / var(--span-d)) !important;
  }
  .mr-neg-8__b {
    margin-right: calc(99.99999% * -8 / var(--span-d)) !important;
  }
  .ml-i-8__b {
    margin-left: calc((99.99999% + var(--column-gap)) * 8 / var(--span-d)) !important;
  }
  .mr-i-8__b {
    margin-right: calc((99.99999% + var(--column-gap)) * 8 / var(--span-d)) !important;
  }
  .ml-i-neg-8__b {
    margin-left: calc((99.99999% + var(--column-gap)) * -8 / var(--span-d)) !important;
  }
  .mr-i-neg-8__b {
    margin-right: calc((99.99999% + var(--column-gap)) * -8 / var(--span-d)) !important;
  }
  .span-9__b {
    --span-n: 9;
  }
  .span-9__b > * {
    --span-d: var(--span-n);
  }
  .span-i-9__b {
    --span-n: 9;
  }
  .span-i-9__b > * {
    --span-d: var(--span-n);
  }
  .ml-9__b {
    margin-left: calc(99.99999% * 9 / var(--span-d)) !important;
  }
  .mr-9__b {
    margin-right: calc(99.99999% * 9 / var(--span-d)) !important;
  }
  .ml-neg-9__b {
    margin-left: calc(99.99999% * -9 / var(--span-d)) !important;
  }
  .mr-neg-9__b {
    margin-right: calc(99.99999% * -9 / var(--span-d)) !important;
  }
  .ml-i-9__b {
    margin-left: calc((99.99999% + var(--column-gap)) * 9 / var(--span-d)) !important;
  }
  .mr-i-9__b {
    margin-right: calc((99.99999% + var(--column-gap)) * 9 / var(--span-d)) !important;
  }
  .ml-i-neg-9__b {
    margin-left: calc((99.99999% + var(--column-gap)) * -9 / var(--span-d)) !important;
  }
  .mr-i-neg-9__b {
    margin-right: calc((99.99999% + var(--column-gap)) * -9 / var(--span-d)) !important;
  }
  .span-10__b {
    --span-n: 10;
  }
  .span-10__b > * {
    --span-d: var(--span-n);
  }
  .span-i-10__b {
    --span-n: 10;
  }
  .span-i-10__b > * {
    --span-d: var(--span-n);
  }
  .ml-10__b {
    margin-left: calc(99.99999% * 10 / var(--span-d)) !important;
  }
  .mr-10__b {
    margin-right: calc(99.99999% * 10 / var(--span-d)) !important;
  }
  .ml-neg-10__b {
    margin-left: calc(99.99999% * -10 / var(--span-d)) !important;
  }
  .mr-neg-10__b {
    margin-right: calc(99.99999% * -10 / var(--span-d)) !important;
  }
  .ml-i-10__b {
    margin-left: calc((99.99999% + var(--column-gap)) * 10 / var(--span-d)) !important;
  }
  .mr-i-10__b {
    margin-right: calc((99.99999% + var(--column-gap)) * 10 / var(--span-d)) !important;
  }
  .ml-i-neg-10__b {
    margin-left: calc((99.99999% + var(--column-gap)) * -10 / var(--span-d)) !important;
  }
  .mr-i-neg-10__b {
    margin-right: calc((99.99999% + var(--column-gap)) * -10 / var(--span-d)) !important;
  }
  .span-11__b {
    --span-n: 11;
  }
  .span-11__b > * {
    --span-d: var(--span-n);
  }
  .span-i-11__b {
    --span-n: 11;
  }
  .span-i-11__b > * {
    --span-d: var(--span-n);
  }
  .ml-11__b {
    margin-left: calc(99.99999% * 11 / var(--span-d)) !important;
  }
  .mr-11__b {
    margin-right: calc(99.99999% * 11 / var(--span-d)) !important;
  }
  .ml-neg-11__b {
    margin-left: calc(99.99999% * -11 / var(--span-d)) !important;
  }
  .mr-neg-11__b {
    margin-right: calc(99.99999% * -11 / var(--span-d)) !important;
  }
  .ml-i-11__b {
    margin-left: calc((99.99999% + var(--column-gap)) * 11 / var(--span-d)) !important;
  }
  .mr-i-11__b {
    margin-right: calc((99.99999% + var(--column-gap)) * 11 / var(--span-d)) !important;
  }
  .ml-i-neg-11__b {
    margin-left: calc((99.99999% + var(--column-gap)) * -11 / var(--span-d)) !important;
  }
  .mr-i-neg-11__b {
    margin-right: calc((99.99999% + var(--column-gap)) * -11 / var(--span-d)) !important;
  }
  .span-12__b {
    --span-n: 12;
  }
  .span-12__b > * {
    --span-d: var(--span-n);
  }
  .span-i-12__b {
    --span-n: 12;
  }
  .span-i-12__b > * {
    --span-d: var(--span-n);
  }
  .ml-12__b {
    margin-left: calc(99.99999% * 12 / var(--span-d)) !important;
  }
  .mr-12__b {
    margin-right: calc(99.99999% * 12 / var(--span-d)) !important;
  }
  .ml-neg-12__b {
    margin-left: calc(99.99999% * -12 / var(--span-d)) !important;
  }
  .mr-neg-12__b {
    margin-right: calc(99.99999% * -12 / var(--span-d)) !important;
  }
  .ml-i-12__b {
    margin-left: calc((99.99999% + var(--column-gap)) * 12 / var(--span-d)) !important;
  }
  .mr-i-12__b {
    margin-right: calc((99.99999% + var(--column-gap)) * 12 / var(--span-d)) !important;
  }
  .ml-i-neg-12__b {
    margin-left: calc((99.99999% + var(--column-gap)) * -12 / var(--span-d)) !important;
  }
  .mr-i-neg-12__b {
    margin-right: calc((99.99999% + var(--column-gap)) * -12 / var(--span-d)) !important;
  }
}

@media screen and (min-width: 40em) {
  .span__c {
    --span-n: var(--span-d);
  }
  .span-i__c {
    --span-n: var(--span-d);
  }
  .span-1__c {
    --span-n: 1;
  }
  .span-1__c > * {
    --span-d: var(--span-n);
  }
  .span-i-1__c {
    --span-n: 1;
  }
  .span-i-1__c > * {
    --span-d: var(--span-n);
  }
  .ml-1__c {
    margin-left: calc(99.99999% * 1 / var(--span-d)) !important;
  }
  .mr-1__c {
    margin-right: calc(99.99999% * 1 / var(--span-d)) !important;
  }
  .ml-neg-1__c {
    margin-left: calc(99.99999% * -1 / var(--span-d)) !important;
  }
  .mr-neg-1__c {
    margin-right: calc(99.99999% * -1 / var(--span-d)) !important;
  }
  .ml-i-1__c {
    margin-left: calc((99.99999% + var(--column-gap)) * 1 / var(--span-d)) !important;
  }
  .mr-i-1__c {
    margin-right: calc((99.99999% + var(--column-gap)) * 1 / var(--span-d)) !important;
  }
  .ml-i-neg-1__c {
    margin-left: calc((99.99999% + var(--column-gap)) * -1 / var(--span-d)) !important;
  }
  .mr-i-neg-1__c {
    margin-right: calc((99.99999% + var(--column-gap)) * -1 / var(--span-d)) !important;
  }
  .span-2__c {
    --span-n: 2;
  }
  .span-2__c > * {
    --span-d: var(--span-n);
  }
  .span-i-2__c {
    --span-n: 2;
  }
  .span-i-2__c > * {
    --span-d: var(--span-n);
  }
  .ml-2__c {
    margin-left: calc(99.99999% * 2 / var(--span-d)) !important;
  }
  .mr-2__c {
    margin-right: calc(99.99999% * 2 / var(--span-d)) !important;
  }
  .ml-neg-2__c {
    margin-left: calc(99.99999% * -2 / var(--span-d)) !important;
  }
  .mr-neg-2__c {
    margin-right: calc(99.99999% * -2 / var(--span-d)) !important;
  }
  .ml-i-2__c {
    margin-left: calc((99.99999% + var(--column-gap)) * 2 / var(--span-d)) !important;
  }
  .mr-i-2__c {
    margin-right: calc((99.99999% + var(--column-gap)) * 2 / var(--span-d)) !important;
  }
  .ml-i-neg-2__c {
    margin-left: calc((99.99999% + var(--column-gap)) * -2 / var(--span-d)) !important;
  }
  .mr-i-neg-2__c {
    margin-right: calc((99.99999% + var(--column-gap)) * -2 / var(--span-d)) !important;
  }
  .span-3__c {
    --span-n: 3;
  }
  .span-3__c > * {
    --span-d: var(--span-n);
  }
  .span-i-3__c {
    --span-n: 3;
  }
  .span-i-3__c > * {
    --span-d: var(--span-n);
  }
  .ml-3__c {
    margin-left: calc(99.99999% * 3 / var(--span-d)) !important;
  }
  .mr-3__c {
    margin-right: calc(99.99999% * 3 / var(--span-d)) !important;
  }
  .ml-neg-3__c {
    margin-left: calc(99.99999% * -3 / var(--span-d)) !important;
  }
  .mr-neg-3__c {
    margin-right: calc(99.99999% * -3 / var(--span-d)) !important;
  }
  .ml-i-3__c {
    margin-left: calc((99.99999% + var(--column-gap)) * 3 / var(--span-d)) !important;
  }
  .mr-i-3__c {
    margin-right: calc((99.99999% + var(--column-gap)) * 3 / var(--span-d)) !important;
  }
  .ml-i-neg-3__c {
    margin-left: calc((99.99999% + var(--column-gap)) * -3 / var(--span-d)) !important;
  }
  .mr-i-neg-3__c {
    margin-right: calc((99.99999% + var(--column-gap)) * -3 / var(--span-d)) !important;
  }
  .span-4__c {
    --span-n: 4;
  }
  .span-4__c > * {
    --span-d: var(--span-n);
  }
  .span-i-4__c {
    --span-n: 4;
  }
  .span-i-4__c > * {
    --span-d: var(--span-n);
  }
  .ml-4__c {
    margin-left: calc(99.99999% * 4 / var(--span-d)) !important;
  }
  .mr-4__c {
    margin-right: calc(99.99999% * 4 / var(--span-d)) !important;
  }
  .ml-neg-4__c {
    margin-left: calc(99.99999% * -4 / var(--span-d)) !important;
  }
  .mr-neg-4__c {
    margin-right: calc(99.99999% * -4 / var(--span-d)) !important;
  }
  .ml-i-4__c {
    margin-left: calc((99.99999% + var(--column-gap)) * 4 / var(--span-d)) !important;
  }
  .mr-i-4__c {
    margin-right: calc((99.99999% + var(--column-gap)) * 4 / var(--span-d)) !important;
  }
  .ml-i-neg-4__c {
    margin-left: calc((99.99999% + var(--column-gap)) * -4 / var(--span-d)) !important;
  }
  .mr-i-neg-4__c {
    margin-right: calc((99.99999% + var(--column-gap)) * -4 / var(--span-d)) !important;
  }
  .span-5__c {
    --span-n: 5;
  }
  .span-5__c > * {
    --span-d: var(--span-n);
  }
  .span-i-5__c {
    --span-n: 5;
  }
  .span-i-5__c > * {
    --span-d: var(--span-n);
  }
  .ml-5__c {
    margin-left: calc(99.99999% * 5 / var(--span-d)) !important;
  }
  .mr-5__c {
    margin-right: calc(99.99999% * 5 / var(--span-d)) !important;
  }
  .ml-neg-5__c {
    margin-left: calc(99.99999% * -5 / var(--span-d)) !important;
  }
  .mr-neg-5__c {
    margin-right: calc(99.99999% * -5 / var(--span-d)) !important;
  }
  .ml-i-5__c {
    margin-left: calc((99.99999% + var(--column-gap)) * 5 / var(--span-d)) !important;
  }
  .mr-i-5__c {
    margin-right: calc((99.99999% + var(--column-gap)) * 5 / var(--span-d)) !important;
  }
  .ml-i-neg-5__c {
    margin-left: calc((99.99999% + var(--column-gap)) * -5 / var(--span-d)) !important;
  }
  .mr-i-neg-5__c {
    margin-right: calc((99.99999% + var(--column-gap)) * -5 / var(--span-d)) !important;
  }
  .span-6__c {
    --span-n: 6;
  }
  .span-6__c > * {
    --span-d: var(--span-n);
  }
  .span-i-6__c {
    --span-n: 6;
  }
  .span-i-6__c > * {
    --span-d: var(--span-n);
  }
  .ml-6__c {
    margin-left: calc(99.99999% * 6 / var(--span-d)) !important;
  }
  .mr-6__c {
    margin-right: calc(99.99999% * 6 / var(--span-d)) !important;
  }
  .ml-neg-6__c {
    margin-left: calc(99.99999% * -6 / var(--span-d)) !important;
  }
  .mr-neg-6__c {
    margin-right: calc(99.99999% * -6 / var(--span-d)) !important;
  }
  .ml-i-6__c {
    margin-left: calc((99.99999% + var(--column-gap)) * 6 / var(--span-d)) !important;
  }
  .mr-i-6__c {
    margin-right: calc((99.99999% + var(--column-gap)) * 6 / var(--span-d)) !important;
  }
  .ml-i-neg-6__c {
    margin-left: calc((99.99999% + var(--column-gap)) * -6 / var(--span-d)) !important;
  }
  .mr-i-neg-6__c {
    margin-right: calc((99.99999% + var(--column-gap)) * -6 / var(--span-d)) !important;
  }
  .span-7__c {
    --span-n: 7;
  }
  .span-7__c > * {
    --span-d: var(--span-n);
  }
  .span-i-7__c {
    --span-n: 7;
  }
  .span-i-7__c > * {
    --span-d: var(--span-n);
  }
  .ml-7__c {
    margin-left: calc(99.99999% * 7 / var(--span-d)) !important;
  }
  .mr-7__c {
    margin-right: calc(99.99999% * 7 / var(--span-d)) !important;
  }
  .ml-neg-7__c {
    margin-left: calc(99.99999% * -7 / var(--span-d)) !important;
  }
  .mr-neg-7__c {
    margin-right: calc(99.99999% * -7 / var(--span-d)) !important;
  }
  .ml-i-7__c {
    margin-left: calc((99.99999% + var(--column-gap)) * 7 / var(--span-d)) !important;
  }
  .mr-i-7__c {
    margin-right: calc((99.99999% + var(--column-gap)) * 7 / var(--span-d)) !important;
  }
  .ml-i-neg-7__c {
    margin-left: calc((99.99999% + var(--column-gap)) * -7 / var(--span-d)) !important;
  }
  .mr-i-neg-7__c {
    margin-right: calc((99.99999% + var(--column-gap)) * -7 / var(--span-d)) !important;
  }
  .span-8__c {
    --span-n: 8;
  }
  .span-8__c > * {
    --span-d: var(--span-n);
  }
  .span-i-8__c {
    --span-n: 8;
  }
  .span-i-8__c > * {
    --span-d: var(--span-n);
  }
  .ml-8__c {
    margin-left: calc(99.99999% * 8 / var(--span-d)) !important;
  }
  .mr-8__c {
    margin-right: calc(99.99999% * 8 / var(--span-d)) !important;
  }
  .ml-neg-8__c {
    margin-left: calc(99.99999% * -8 / var(--span-d)) !important;
  }
  .mr-neg-8__c {
    margin-right: calc(99.99999% * -8 / var(--span-d)) !important;
  }
  .ml-i-8__c {
    margin-left: calc((99.99999% + var(--column-gap)) * 8 / var(--span-d)) !important;
  }
  .mr-i-8__c {
    margin-right: calc((99.99999% + var(--column-gap)) * 8 / var(--span-d)) !important;
  }
  .ml-i-neg-8__c {
    margin-left: calc((99.99999% + var(--column-gap)) * -8 / var(--span-d)) !important;
  }
  .mr-i-neg-8__c {
    margin-right: calc((99.99999% + var(--column-gap)) * -8 / var(--span-d)) !important;
  }
  .span-9__c {
    --span-n: 9;
  }
  .span-9__c > * {
    --span-d: var(--span-n);
  }
  .span-i-9__c {
    --span-n: 9;
  }
  .span-i-9__c > * {
    --span-d: var(--span-n);
  }
  .ml-9__c {
    margin-left: calc(99.99999% * 9 / var(--span-d)) !important;
  }
  .mr-9__c {
    margin-right: calc(99.99999% * 9 / var(--span-d)) !important;
  }
  .ml-neg-9__c {
    margin-left: calc(99.99999% * -9 / var(--span-d)) !important;
  }
  .mr-neg-9__c {
    margin-right: calc(99.99999% * -9 / var(--span-d)) !important;
  }
  .ml-i-9__c {
    margin-left: calc((99.99999% + var(--column-gap)) * 9 / var(--span-d)) !important;
  }
  .mr-i-9__c {
    margin-right: calc((99.99999% + var(--column-gap)) * 9 / var(--span-d)) !important;
  }
  .ml-i-neg-9__c {
    margin-left: calc((99.99999% + var(--column-gap)) * -9 / var(--span-d)) !important;
  }
  .mr-i-neg-9__c {
    margin-right: calc((99.99999% + var(--column-gap)) * -9 / var(--span-d)) !important;
  }
  .span-10__c {
    --span-n: 10;
  }
  .span-10__c > * {
    --span-d: var(--span-n);
  }
  .span-i-10__c {
    --span-n: 10;
  }
  .span-i-10__c > * {
    --span-d: var(--span-n);
  }
  .ml-10__c {
    margin-left: calc(99.99999% * 10 / var(--span-d)) !important;
  }
  .mr-10__c {
    margin-right: calc(99.99999% * 10 / var(--span-d)) !important;
  }
  .ml-neg-10__c {
    margin-left: calc(99.99999% * -10 / var(--span-d)) !important;
  }
  .mr-neg-10__c {
    margin-right: calc(99.99999% * -10 / var(--span-d)) !important;
  }
  .ml-i-10__c {
    margin-left: calc((99.99999% + var(--column-gap)) * 10 / var(--span-d)) !important;
  }
  .mr-i-10__c {
    margin-right: calc((99.99999% + var(--column-gap)) * 10 / var(--span-d)) !important;
  }
  .ml-i-neg-10__c {
    margin-left: calc((99.99999% + var(--column-gap)) * -10 / var(--span-d)) !important;
  }
  .mr-i-neg-10__c {
    margin-right: calc((99.99999% + var(--column-gap)) * -10 / var(--span-d)) !important;
  }
  .span-11__c {
    --span-n: 11;
  }
  .span-11__c > * {
    --span-d: var(--span-n);
  }
  .span-i-11__c {
    --span-n: 11;
  }
  .span-i-11__c > * {
    --span-d: var(--span-n);
  }
  .ml-11__c {
    margin-left: calc(99.99999% * 11 / var(--span-d)) !important;
  }
  .mr-11__c {
    margin-right: calc(99.99999% * 11 / var(--span-d)) !important;
  }
  .ml-neg-11__c {
    margin-left: calc(99.99999% * -11 / var(--span-d)) !important;
  }
  .mr-neg-11__c {
    margin-right: calc(99.99999% * -11 / var(--span-d)) !important;
  }
  .ml-i-11__c {
    margin-left: calc((99.99999% + var(--column-gap)) * 11 / var(--span-d)) !important;
  }
  .mr-i-11__c {
    margin-right: calc((99.99999% + var(--column-gap)) * 11 / var(--span-d)) !important;
  }
  .ml-i-neg-11__c {
    margin-left: calc((99.99999% + var(--column-gap)) * -11 / var(--span-d)) !important;
  }
  .mr-i-neg-11__c {
    margin-right: calc((99.99999% + var(--column-gap)) * -11 / var(--span-d)) !important;
  }
  .span-12__c {
    --span-n: 12;
  }
  .span-12__c > * {
    --span-d: var(--span-n);
  }
  .span-i-12__c {
    --span-n: 12;
  }
  .span-i-12__c > * {
    --span-d: var(--span-n);
  }
  .ml-12__c {
    margin-left: calc(99.99999% * 12 / var(--span-d)) !important;
  }
  .mr-12__c {
    margin-right: calc(99.99999% * 12 / var(--span-d)) !important;
  }
  .ml-neg-12__c {
    margin-left: calc(99.99999% * -12 / var(--span-d)) !important;
  }
  .mr-neg-12__c {
    margin-right: calc(99.99999% * -12 / var(--span-d)) !important;
  }
  .ml-i-12__c {
    margin-left: calc((99.99999% + var(--column-gap)) * 12 / var(--span-d)) !important;
  }
  .mr-i-12__c {
    margin-right: calc((99.99999% + var(--column-gap)) * 12 / var(--span-d)) !important;
  }
  .ml-i-neg-12__c {
    margin-left: calc((99.99999% + var(--column-gap)) * -12 / var(--span-d)) !important;
  }
  .mr-i-neg-12__c {
    margin-right: calc((99.99999% + var(--column-gap)) * -12 / var(--span-d)) !important;
  }
}

.test {
  width: calc(99.99999% * 1 / var(--span-d));
  margin-left: calc(99.99999% * -1 / var(--span-d));
  margin-right: calc(99.99999% * 2 / var(--span-d));
}

.test > * {
  --span-d: 1;
}

.test {
  width: calc(99.99999% * 2 / var(--span-d));
  margin-left: calc(99.99999% * -1 / var(--span-d));
  margin-right: calc(99.99999% * 2 / var(--span-d));
}

.test > * {
  --span-d: 2;
}

.test {
  width: calc(99.99999% * 3 / var(--span-d));
  margin-left: calc(99.99999% * -1 / var(--span-d));
  margin-right: calc(99.99999% * 2 / var(--span-d));
}

.test > * {
  --span-d: 3;
}

@media screen and (min-width: 20em) {
  .m-test {
    width: calc(99.99999% * 2 / var(--span-d));
    margin-left: calc(99.99999% * 0 / var(--span-d));
    margin-right: calc(99.99999% * -1 / var(--span-d));
  }
  .m-test > * {
    --span-d: 2;
  }
}

@media screen and (min-width: 30em) {
  .m-test {
    width: calc(99.99999% * 3 / var(--span-d));
    margin-left: calc(99.99999% * 0 / var(--span-d));
    margin-right: calc(99.99999% * 1 / var(--span-d));
  }
  .m-test > * {
    --span-d: 3;
  }
}

@media screen and (min-width: 20em) {
  .m-test .nest {
    width: calc((99.99999% + var(--column-gap)) * 3 / var(--span-d) - var(--column-gap));
    margin-left: calc((99.99999% + var(--column-gap)) * 1 / var(--span-d));
    margin-right: calc((99.99999% + var(--column-gap)) * 1 / var(--span-d));
  }
  .m-test .nest > * {
    --span-d: 3;
  }
}

@media screen and (min-width: 30em) {
  .m-test .nest {
    width: calc((99.99999% + var(--column-gap)) * 4 / var(--span-d) - var(--column-gap));
    margin-left: calc((99.99999% + var(--column-gap)) * 2 / var(--span-d));
    margin-right: calc((99.99999% + var(--column-gap)) * 2 / var(--span-d));
  }
  .m-test .nest > * {
    --span-d: 4;
  }
}
