.stack, [class^="stack-"], [class*=" stack-"] {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: stretch;
  padding-top: 0.01px;
  padding-bottom: 0.01px;
}

.stack > *, [class^="stack-"] > *, [class*=" stack-"] > * {
  flex: 0 0 auto;
  margin-top: 0;
  margin-bottom: 0;
}

.stack > * + *, [class^="stack-"] > * + *, [class*=" stack-"] > * + * {
  margin-top: var(--stack-gap);
}

.plain, [class^="plain-"], [class*=" plain-"] {
  padding-top: 0.01px;
  padding-bottom: 0.01px;
}

.plain > *, [class^="plain-"] > *, [class*=" plain-"] > * {
  margin-top: 0;
  margin-bottom: 0;
}

.plain > * + *, [class^="plain-"] > * + *, [class*=" plain-"] > * + * {
  margin-top: var(--stack-gap);
}

.chain, [class^="chain-"], [class*=" chain-"] {
  display: flex;
  width: 100%;
  flex-direction: row;
}

.chain > *, [class^="chain-"] > *, [class*=" chain-"] > * {
  flex: 0 0 auto;
  margin-left: 0;
  margin-right: 0;
  text-overflow: ellipsis;
}

.chain > * + *, [class^="chain-"] > * + *, [class*=" chain-"] > * + * {
  margin-left: var(--chain-gap);
}

:root {
  --stack-gap: var(--inner-y);
  --chain-gap: var(--inner-x);
}

.stack-0 > * {
  --stack-gap: 0;
}

.plain > .shim-s, [class^="plain-"] > .shim-s, [class*=" plain-"] > .shim-s,
.stack > .shim-s, [class^="stack-"] > .shim-s, [class*=" stack-"] > .shim-s {
  --stack-gap: var(--inner-y-s);
}

.stack-s > * {
  --stack-gap: var(--inner-y-s);
}

.plain > .shim-m, [class^="plain-"] > .shim-m, [class*=" plain-"] > .shim-m,
.stack > .shim-m, [class^="stack-"] > .shim-m, [class*=" stack-"] > .shim-m {
  --stack-gap: var(--inner-y-m);
}

.stack-m > * {
  --stack-gap: var(--inner-y-m);
}

.plain > .shim-l, [class^="plain-"] > .shim-l, [class*=" plain-"] > .shim-l,
.stack > .shim-l, [class^="stack-"] > .shim-l, [class*=" stack-"] > .shim-l {
  --stack-gap: var(--inner-y-l);
}

.stack-l > * {
  --stack-gap: var(--inner-y-l);
}

.chain-0 > * {
  --chain-gap: 0;
}

.chain > .shim-s, [class^="chain-"] > .shim-s, [class*=" chain-"] > .shim-s {
  --chain-gap: var(--inner-x-s);
}

.chain-s > * {
  --chain-gap: var(--inner-x-s);
}

.chain > .shim-form, [class^="chain-"] > .shim-form, [class*=" chain-"] > .shim-form {
  --chain-gap: var(--inner-x-form);
}

.chain-form > * {
  --chain-gap: var(--inner-x-form);
}
