[class^="wrap-"], [class*=" wrap-"] {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  max-width: var(--wrap-width);
}

.wrap-left {
  margin-left: 0;
}

.wrap-right {
  margin-right: 0;
}

:root {
  --wrap-width: 100%;
}

.wrap-each {
  --wrap-width: var(--outer-width);
}

@media screen and (min-width: 20em) {
  .a__wrap-each,
  .wrap-a {
    --wrap-width: var(--outer-width);
  }
}

@media screen and (min-width: 30em) {
  .b__wrap-each,
  .wrap-b {
    --wrap-width: var(--outer-width);
  }
}

@media screen and (min-width: 40em) {
  .c__wrap-each,
  .wrap-c,
  .wrap-last {
    --wrap-width: var(--outer-width);
  }
}
