:root {
  --font-family-sans: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Helvetica, sans-serif;
  --letter-spacing-sans: calc(0 * 1px - 0 / 50 * 1em);
  --trim-x-sans: 0;
  --trim-capline-sans: 0;
  --trim-baseline-sans: 0;
  --font-family-serif: serif;
  --letter-spacing-serif: calc(0 * 1px - 0 / 50 * 1em);
  --trim-x-serif: 0;
  --trim-capline-serif: 0;
  --trim-baseline-serif: 0;
  --font-size-sans-s: 0.875rem;
  --line-height-sans-s: 1.4;
  --trim-top-sans-s: calc((var(--line-height-sans-s) - 1) * 1em / 2 + var(--trim-capline-sans) * 1em);
  --trim-bottom-sans-s: calc((var(--line-height-sans-s) - 1) * 1em / 2 + var(--trim-baseline-sans) * 1em);
  --font-size-sans-m: 1rem;
  --line-height-sans-m: 1.4;
  --trim-top-sans-m: calc((var(--line-height-sans-m) - 1) * 1em / 2 + var(--trim-capline-sans) * 1em);
  --trim-bottom-sans-m: calc((var(--line-height-sans-m) - 1) * 1em / 2 + var(--trim-baseline-sans) * 1em);
  --font-size-serif-s: 1rem;
  --line-height-serif-s: 1.4;
  --trim-top-serif-s: calc((var(--line-height-serif-s) - 1) * 1em / 2 + var(--trim-capline-serif) * 1em);
  --trim-bottom-serif-s: calc((var(--line-height-serif-s) - 1) * 1em / 2 + var(--trim-baseline-serif) * 1em);
  --font-size-serif-m: 1.125rem;
  --line-height-serif-m: 1.4;
  --trim-top-serif-m: calc((var(--line-height-serif-m) - 1) * 1em / 2 + var(--trim-capline-serif) * 1em);
  --trim-bottom-serif-m: calc((var(--line-height-serif-m) - 1) * 1em / 2 + var(--trim-baseline-serif) * 1em);
}
@media screen and (min-width: 20em) {
  :root {
    --font-size-sans-s: 0.875rem;
    --line-height-sans-s: 1.4;
    --trim-top-sans-s: calc((var(--line-height-sans-s) - 1) * 1em / 2 + var(--trim-capline-sans) * 1em);
    --trim-bottom-sans-s: calc((var(--line-height-sans-s) - 1) * 1em / 2 + var(--trim-baseline-sans) * 1em);
    --font-size-sans-m: 1rem;
    --line-height-sans-m: 1.4;
    --trim-top-sans-m: calc((var(--line-height-sans-m) - 1) * 1em / 2 + var(--trim-capline-sans) * 1em);
    --trim-bottom-sans-m: calc((var(--line-height-sans-m) - 1) * 1em / 2 + var(--trim-baseline-sans) * 1em);
    --font-size-serif-s: 1rem;
    --line-height-serif-s: 1.4;
    --trim-top-serif-s: calc((var(--line-height-serif-s) - 1) * 1em / 2 + var(--trim-capline-serif) * 1em);
    --trim-bottom-serif-s: calc((var(--line-height-serif-s) - 1) * 1em / 2 + var(--trim-baseline-serif) * 1em);
    --font-size-serif-m: 1.125rem;
    --line-height-serif-m: 1.4;
    --trim-top-serif-m: calc((var(--line-height-serif-m) - 1) * 1em / 2 + var(--trim-capline-serif) * 1em);
    --trim-bottom-serif-m: calc((var(--line-height-serif-m) - 1) * 1em / 2 + var(--trim-baseline-serif) * 1em);
  }
}
@media screen and (min-width: 30em) {
  :root {
    --font-size-sans-s: 1.25rem;
    --line-height-sans-s: 1.4;
    --trim-top-sans-s: calc((var(--line-height-sans-s) - 1) * 1em / 2 + var(--trim-capline-sans) * 1em);
    --trim-bottom-sans-s: calc((var(--line-height-sans-s) - 1) * 1em / 2 + var(--trim-baseline-sans) * 1em);
    --font-size-sans-m: 1.5rem;
    --line-height-sans-m: 1.4;
    --trim-top-sans-m: calc((var(--line-height-sans-m) - 1) * 1em / 2 + var(--trim-capline-sans) * 1em);
    --trim-bottom-sans-m: calc((var(--line-height-sans-m) - 1) * 1em / 2 + var(--trim-baseline-sans) * 1em);
    --font-size-serif-s: 1.375rem;
    --line-height-serif-s: 1.4;
    --trim-top-serif-s: calc((var(--line-height-serif-s) - 1) * 1em / 2 + var(--trim-capline-serif) * 1em);
    --trim-bottom-serif-s: calc((var(--line-height-serif-s) - 1) * 1em / 2 + var(--trim-baseline-serif) * 1em);
    --font-size-serif-m: 1.625rem;
    --line-height-serif-m: 1.4;
    --trim-top-serif-m: calc((var(--line-height-serif-m) - 1) * 1em / 2 + var(--trim-capline-serif) * 1em);
    --trim-bottom-serif-m: calc((var(--line-height-serif-m) - 1) * 1em / 2 + var(--trim-baseline-serif) * 1em);
  }
}
@media screen and (min-width: 40em) {
  :root {
    --font-size-sans-s: 1.25rem;
    --line-height-sans-s: 1.4;
    --trim-top-sans-s: calc((var(--line-height-sans-s) - 1) * 1em / 2 + var(--trim-capline-sans) * 1em);
    --trim-bottom-sans-s: calc((var(--line-height-sans-s) - 1) * 1em / 2 + var(--trim-baseline-sans) * 1em);
    --font-size-sans-m: 1.5rem;
    --line-height-sans-m: 1.4;
    --trim-top-sans-m: calc((var(--line-height-sans-m) - 1) * 1em / 2 + var(--trim-capline-sans) * 1em);
    --trim-bottom-sans-m: calc((var(--line-height-sans-m) - 1) * 1em / 2 + var(--trim-baseline-sans) * 1em);
    --font-size-serif-s: 1.375rem;
    --line-height-serif-s: 1.4;
    --trim-top-serif-s: calc((var(--line-height-serif-s) - 1) * 1em / 2 + var(--trim-capline-serif) * 1em);
    --trim-bottom-serif-s: calc((var(--line-height-serif-s) - 1) * 1em / 2 + var(--trim-baseline-serif) * 1em);
    --font-size-serif-m: 1.625rem;
    --line-height-serif-m: 1.4;
    --trim-top-serif-m: calc((var(--line-height-serif-m) - 1) * 1em / 2 + var(--trim-capline-serif) * 1em);
    --trim-bottom-serif-m: calc((var(--line-height-serif-m) - 1) * 1em / 2 + var(--trim-baseline-serif) * 1em);
  }
}

.sans, [class^=sans-], [class*=" sans-"], .serif, [class^=serif-], [class*=" serif-"] {
  font-size: var(--font-size);
  line-height: var(--line-height);
}
.stack > .sans, .stack > [class^=sans-], .stack > [class*=" sans-"], .stack > .serif, .stack > [class^=serif-], .stack > [class*=" serif-"], [class^=stack-] > .sans, [class^=stack-] > [class^=sans-], [class^=stack-] > [class*=" sans-"], [class^=stack-] > .serif, [class^=stack-] > [class^=serif-], [class^=stack-] > [class*=" serif-"], [class*=" stack-"] > .sans, [class*=" stack-"] > [class^=sans-], [class*=" stack-"] > [class*=" sans-"], [class*=" stack-"] > .serif, [class*=" stack-"] > [class^=serif-], [class*=" stack-"] > [class*=" serif-"] {
  margin-top: calc(0px - var(--trim-top));
  margin-bottom: calc(0px - var(--trim-bottom));
  margin-right: var(--trim-x);
  margin-left: var(--trim-x);
}

.stack > * + .sans, .stack > * + [class^=sans-], .stack > * + [class*=" sans-"], .stack > * + .serif, .stack > * + [class^=serif-], .stack > * + [class*=" serif-"], [class^=stack-] > * + .sans, [class^=stack-] > * + [class^=sans-], [class^=stack-] > * + [class*=" sans-"], [class^=stack-] > * + .serif, [class^=stack-] > * + [class^=serif-], [class^=stack-] > * + [class*=" serif-"], [class*=" stack-"] > * + .sans, [class*=" stack-"] > * + [class^=sans-], [class*=" stack-"] > * + [class*=" sans-"], [class*=" stack-"] > * + .serif, [class*=" stack-"] > * + [class^=serif-], [class*=" stack-"] > * + [class*=" serif-"] {
  margin-top: calc(var(--stack-gap) - var(--trim-top));
}

.sans, [class^=sans-], [class*=" sans-"],
body {
  font-family: var(--font-family-sans);
  letter-spacing: var(--letter-spacing-sans);
  --trim-x: var(--trim-x-sans);
}

.serif, [class^=serif-], [class*=" serif-"] {
  font-family: var(--font-family-serif);
  letter-spacing: var(--letter-spacing-serif);
  --trim-x: var(--trim-x-serif);
}

.sans-s {
  --font-size: var(--font-size-sans-s);
  --line-height: var(--line-height-sans-s);
  --trim-top: var(--trim-top-sans-s);
  --trim-bottom: var(--trim-bottom-sans-s);
}

.sans-m {
  --font-size: var(--font-size-sans-m);
  --line-height: var(--line-height-sans-m);
  --trim-top: var(--trim-top-sans-m);
  --trim-bottom: var(--trim-bottom-sans-m);
}

.serif-s {
  --font-size: var(--font-size-serif-s);
  --line-height: var(--line-height-serif-s);
  --trim-top: var(--trim-top-serif-s);
  --trim-bottom: var(--trim-bottom-serif-s);
}

.serif-m {
  --font-size: var(--font-size-serif-m);
  --line-height: var(--line-height-serif-m);
  --trim-top: var(--trim-top-serif-m);
  --trim-bottom: var(--trim-bottom-serif-m);
}

p > .plain, p > [class^=plain-], p > [class*=" plain-"], ul > .plain, ul > [class^=plain-], ul > [class*=" plain-"], ol > .plain, ol > [class^=plain-], ol > [class*=" plain-"], dl > .plain, dl > [class^=plain-], dl > [class*=" plain-"], h3 > .plain, h3 > [class^=plain-], h3 > [class*=" plain-"], h4 > .plain, h4 > [class^=plain-], h4 > [class*=" plain-"], h5 > .plain, h5 > [class^=plain-], h5 > [class*=" plain-"], h6 > .plain, h6 > [class^=plain-], h6 > [class*=" plain-"], blockquote > .plain, blockquote > [class^=plain-], blockquote > [class*=" plain-"] {
  font-family: var(--font-family);
  font-size: var(--font-size);
  line-height: var(--line-height);
  letter-spacing: var(--letter-spacing);
  margin: calc(0px - var(--trim-top)) var(--trim-x) calc(0px - var(--trim-bottom));
}

p > * + .plain, p > * + [class^=plain-], p > * + [class*=" plain-"], ul > * + .plain, ul > * + [class^=plain-], ul > * + [class*=" plain-"], ol > * + .plain, ol > * + [class^=plain-], ol > * + [class*=" plain-"], dl > * + .plain, dl > * + [class^=plain-], dl > * + [class*=" plain-"], h3 > * + .plain, h3 > * + [class^=plain-], h3 > * + [class*=" plain-"], h4 > * + .plain, h4 > * + [class^=plain-], h4 > * + [class*=" plain-"], h5 > * + .plain, h5 > * + [class^=plain-], h5 > * + [class*=" plain-"], h6 > * + .plain, h6 > * + [class^=plain-], h6 > * + [class*=" plain-"], blockquote > * + .plain, blockquote > * + [class^=plain-], blockquote > * + [class*=" plain-"] {
  margin-top: calc(var(--stack-gap) - var(--trim-top));
}