:root {
  --font-size: 16px;
  --line-height: 1.25;
  --inner-x: 1rem;
  --inner-y: 1.5rem;
  --outer-top: 2rem;
  --outer-right: 2rem;
  --outer-bottom: 2rem;
  --outer-left: 2rem;
  --grid-cols: 12;
  --outer-width: 100%;
  --inner-y-s: calc(var(--inner-y) * 0.5);
  --inner-y-m: 3.5rem;
  --inner-y-l: calc(var(--inner-y) * 2);
  --inner-x-s: calc(var(--inner-x) * 0.5);
  --inner-x-m: calc(var(--inner-x) * 1);
  --inner-x-l: calc(var(--inner-x) * 2);
  --inner-width: calc(var(--outer-width) - (var(--outer-right) + var(--outer-left)));
}

@media screen and (min-width: 30em) {
  :root {
    --breakpoint: 30em;
    --outer-width: 30rem;
  }
}

@media screen and (min-width: 40em) {
  :root {
    --breakpoint: 40em;
    --inner-y-l: 4px;
    --outer-width: 40rem;
  }
}

@media screen and (min-width: 60em) {
  :root {
    --font-size: 18px;
    --breakpoint: 60em;
    --outer-right: 80px;
    --outer-width: 53.3333333333rem;
  }
}

.w-unset {
  width: unset;
}

.h-unset {
  height: unset;
}

.w-auto {
  width: auto;
}

.h-auto {
  height: auto;
}

.my-auto, .mt-auto {
  margin-top: auto;
}

.mx-auto, .mr-auto {
  margin-right: auto;
}

.my-auto, .mb-auto {
  margin-bottom: auto;
}

.mx-auto, .ml-auto {
  margin-left: auto;
}

.w-0 {
  width: 0;
}

.h-0 {
  height: 0;
}

.my-0, .mt-0 {
  margin-top: 0 !important;
}

.mx-0, .mr-0 {
  margin-right: 0 !important;
}

.my-0, .mb-0 {
  margin-bottom: 0 !important;
}

.mx-0, .ml-0 {
  margin-left: 0 !important;
}

.py-0, .pt-0 {
  padding-top: 0 !important;
}

.px-0, .pr-0 {
  padding-right: 0 !important;
}

.py-0, .pb-0 {
  padding-bottom: 0 !important;
}

.px-0, .pl-0 {
  padding-left: 0 !important;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

@media screen and (min-width: 30em) {
  .w-unset__a {
    width: unset;
  }
  .h-unset__a {
    height: unset;
  }
  .w-auto__a {
    width: auto;
  }
  .h-auto__a {
    height: auto;
  }
  .my-auto__a, .mt-auto__a {
    margin-top: auto;
  }
  .mx-auto__a, .mr-auto__a {
    margin-right: auto;
  }
  .my-auto__a, .mb-auto__a {
    margin-bottom: auto;
  }
  .mx-auto__a, .ml-auto__a {
    margin-left: auto;
  }
  .w-0__a {
    width: 0;
  }
  .h-0__a {
    height: 0;
  }
  .my-0__a, .mt-0__a {
    margin-top: 0 !important;
  }
  .mx-0__a, .mr-0__a {
    margin-right: 0 !important;
  }
  .my-0__a, .mb-0__a {
    margin-bottom: 0 !important;
  }
  .mx-0__a, .ml-0__a {
    margin-left: 0 !important;
  }
  .py-0__a, .pt-0__a {
    padding-top: 0 !important;
  }
  .px-0__a, .pr-0__a {
    padding-right: 0 !important;
  }
  .py-0__a, .pb-0__a {
    padding-bottom: 0 !important;
  }
  .px-0__a, .pl-0__a {
    padding-left: 0 !important;
  }
  .w-100__a {
    width: 100%;
  }
  .h-100__a {
    height: 100%;
  }
}

@media screen and (min-width: 40em) {
  .w-unset__b {
    width: unset;
  }
  .h-unset__b {
    height: unset;
  }
  .w-auto__b {
    width: auto;
  }
  .h-auto__b {
    height: auto;
  }
  .my-auto__b, .mt-auto__b {
    margin-top: auto;
  }
  .mx-auto__b, .mr-auto__b {
    margin-right: auto;
  }
  .my-auto__b, .mb-auto__b {
    margin-bottom: auto;
  }
  .mx-auto__b, .ml-auto__b {
    margin-left: auto;
  }
  .w-0__b {
    width: 0;
  }
  .h-0__b {
    height: 0;
  }
  .my-0__b, .mt-0__b {
    margin-top: 0 !important;
  }
  .mx-0__b, .mr-0__b {
    margin-right: 0 !important;
  }
  .my-0__b, .mb-0__b {
    margin-bottom: 0 !important;
  }
  .mx-0__b, .ml-0__b {
    margin-left: 0 !important;
  }
  .py-0__b, .pt-0__b {
    padding-top: 0 !important;
  }
  .px-0__b, .pr-0__b {
    padding-right: 0 !important;
  }
  .py-0__b, .pb-0__b {
    padding-bottom: 0 !important;
  }
  .px-0__b, .pl-0__b {
    padding-left: 0 !important;
  }
  .w-100__b {
    width: 100%;
  }
  .h-100__b {
    height: 100%;
  }
}

@media screen and (min-width: 60em) {
  .w-unset__c {
    width: unset;
  }
  .h-unset__c {
    height: unset;
  }
  .w-auto__c {
    width: auto;
  }
  .h-auto__c {
    height: auto;
  }
  .my-auto__c, .mt-auto__c {
    margin-top: auto;
  }
  .mx-auto__c, .mr-auto__c {
    margin-right: auto;
  }
  .my-auto__c, .mb-auto__c {
    margin-bottom: auto;
  }
  .mx-auto__c, .ml-auto__c {
    margin-left: auto;
  }
  .w-0__c {
    width: 0;
  }
  .h-0__c {
    height: 0;
  }
  .my-0__c, .mt-0__c {
    margin-top: 0 !important;
  }
  .mx-0__c, .mr-0__c {
    margin-right: 0 !important;
  }
  .my-0__c, .mb-0__c {
    margin-bottom: 0 !important;
  }
  .mx-0__c, .ml-0__c {
    margin-left: 0 !important;
  }
  .py-0__c, .pt-0__c {
    padding-top: 0 !important;
  }
  .px-0__c, .pr-0__c {
    padding-right: 0 !important;
  }
  .py-0__c, .pb-0__c {
    padding-bottom: 0 !important;
  }
  .px-0__c, .pl-0__c {
    padding-left: 0 !important;
  }
  .w-100__c {
    width: 100%;
  }
  .h-100__c {
    height: 100%;
  }
}

.my-s, .mt-s {
  margin-top: var(--inner-y-s);
}

.my-s, .mb-s {
  margin-bottom: var(--inner-y-s);
}

.my-neg-s, .mt-neg-s {
  margin-top: calc(-1 * var(--inner-y-s));
}

.my-neg-s, .mb-neg-s {
  margin-bottom: calc(-1 * var(--inner-y-s));
}

.py-s, .pt-s {
  padding-top: var(--inner-y-s);
}

.py-s, .pb-s {
  padding-bottom: var(--inner-y-s);
}

.my-m, .mt-m {
  margin-top: var(--inner-y-m);
}

.my-m, .mb-m {
  margin-bottom: var(--inner-y-m);
}

.my-neg-m, .mt-neg-m {
  margin-top: calc(-1 * var(--inner-y-m));
}

.my-neg-m, .mb-neg-m {
  margin-bottom: calc(-1 * var(--inner-y-m));
}

.py-m, .pt-m {
  padding-top: var(--inner-y-m);
}

.py-m, .pb-m {
  padding-bottom: var(--inner-y-m);
}

.my-l, .mt-l {
  margin-top: var(--inner-y-l);
}

.my-l, .mb-l {
  margin-bottom: var(--inner-y-l);
}

.my-neg-l, .mt-neg-l {
  margin-top: calc(-1 * var(--inner-y-l));
}

.my-neg-l, .mb-neg-l {
  margin-bottom: calc(-1 * var(--inner-y-l));
}

.py-l, .pt-l {
  padding-top: var(--inner-y-l);
}

.py-l, .pb-l {
  padding-bottom: var(--inner-y-l);
}

.mx-s, .mr-s {
  margin-right: var(--inner-x-s);
}

.mx-s, .ml-s {
  margin-left: var(--inner-x-s);
}

.mx-neg-s, .mr-neg-s {
  margin-right: calc(-1 * var(--inner-x-s));
}

.mx-neg-s, .ml-neg-s {
  margin-left: calc(-1 * var(--inner-x-s));
}

.px-s, .pr-s {
  padding-right: var(--inner-x-s);
}

.px-s, .pl-s {
  padding-left: var(--inner-x-s);
}

.mx-m, .mr-m {
  margin-right: var(--inner-x-m);
}

.mx-m, .ml-m {
  margin-left: var(--inner-x-m);
}

.mx-neg-m, .mr-neg-m {
  margin-right: calc(-1 * var(--inner-x-m));
}

.mx-neg-m, .ml-neg-m {
  margin-left: calc(-1 * var(--inner-x-m));
}

.px-m, .pr-m {
  padding-right: var(--inner-x-m);
}

.px-m, .pl-m {
  padding-left: var(--inner-x-m);
}

.mx-l, .mr-l {
  margin-right: var(--inner-x-l);
}

.mx-l, .ml-l {
  margin-left: var(--inner-x-l);
}

.mx-neg-l, .mr-neg-l {
  margin-right: calc(-1 * var(--inner-x-l));
}

.mx-neg-l, .ml-neg-l {
  margin-left: calc(-1 * var(--inner-x-l));
}

.px-l, .pr-l {
  padding-right: var(--inner-x-l);
}

.px-l, .pl-l {
  padding-left: var(--inner-x-l);
}

@media screen and (min-width: 30em) {
  .my-s__a, .mt-s__a {
    margin-top: var(--inner-y-s);
  }
  .my-s__a, .mb-s__a {
    margin-bottom: var(--inner-y-s);
  }
  .my-neg-s__a, .mt-neg-s__a {
    margin-top: calc(-1 * var(--inner-y-s));
  }
  .my-neg-s__a, .mb-neg-s__a {
    margin-bottom: calc(-1 * var(--inner-y-s));
  }
  .py-s__a, .pt-s__a {
    padding-top: var(--inner-y-s);
  }
  .py-s__a, .pb-s__a {
    padding-bottom: var(--inner-y-s);
  }
  .my-m__a, .mt-m__a {
    margin-top: var(--inner-y-m);
  }
  .my-m__a, .mb-m__a {
    margin-bottom: var(--inner-y-m);
  }
  .my-neg-m__a, .mt-neg-m__a {
    margin-top: calc(-1 * var(--inner-y-m));
  }
  .my-neg-m__a, .mb-neg-m__a {
    margin-bottom: calc(-1 * var(--inner-y-m));
  }
  .py-m__a, .pt-m__a {
    padding-top: var(--inner-y-m);
  }
  .py-m__a, .pb-m__a {
    padding-bottom: var(--inner-y-m);
  }
  .my-l__a, .mt-l__a {
    margin-top: var(--inner-y-l);
  }
  .my-l__a, .mb-l__a {
    margin-bottom: var(--inner-y-l);
  }
  .my-neg-l__a, .mt-neg-l__a {
    margin-top: calc(-1 * var(--inner-y-l));
  }
  .my-neg-l__a, .mb-neg-l__a {
    margin-bottom: calc(-1 * var(--inner-y-l));
  }
  .py-l__a, .pt-l__a {
    padding-top: var(--inner-y-l);
  }
  .py-l__a, .pb-l__a {
    padding-bottom: var(--inner-y-l);
  }
  .mx-s__a, .mr-s__a {
    margin-right: var(--inner-x-s);
  }
  .mx-s__a, .ml-s__a {
    margin-left: var(--inner-x-s);
  }
  .mx-neg-s__a, .mr-neg-s__a {
    margin-right: calc(-1 * var(--inner-x-s));
  }
  .mx-neg-s__a, .ml-neg-s__a {
    margin-left: calc(-1 * var(--inner-x-s));
  }
  .px-s__a, .pr-s__a {
    padding-right: var(--inner-x-s);
  }
  .px-s__a, .pl-s__a {
    padding-left: var(--inner-x-s);
  }
  .mx-m__a, .mr-m__a {
    margin-right: var(--inner-x-m);
  }
  .mx-m__a, .ml-m__a {
    margin-left: var(--inner-x-m);
  }
  .mx-neg-m__a, .mr-neg-m__a {
    margin-right: calc(-1 * var(--inner-x-m));
  }
  .mx-neg-m__a, .ml-neg-m__a {
    margin-left: calc(-1 * var(--inner-x-m));
  }
  .px-m__a, .pr-m__a {
    padding-right: var(--inner-x-m);
  }
  .px-m__a, .pl-m__a {
    padding-left: var(--inner-x-m);
  }
  .mx-l__a, .mr-l__a {
    margin-right: var(--inner-x-l);
  }
  .mx-l__a, .ml-l__a {
    margin-left: var(--inner-x-l);
  }
  .mx-neg-l__a, .mr-neg-l__a {
    margin-right: calc(-1 * var(--inner-x-l));
  }
  .mx-neg-l__a, .ml-neg-l__a {
    margin-left: calc(-1 * var(--inner-x-l));
  }
  .px-l__a, .pr-l__a {
    padding-right: var(--inner-x-l);
  }
  .px-l__a, .pl-l__a {
    padding-left: var(--inner-x-l);
  }
}

@media screen and (min-width: 40em) {
  .my-s__b, .mt-s__b {
    margin-top: var(--inner-y-s);
  }
  .my-s__b, .mb-s__b {
    margin-bottom: var(--inner-y-s);
  }
  .my-neg-s__b, .mt-neg-s__b {
    margin-top: calc(-1 * var(--inner-y-s));
  }
  .my-neg-s__b, .mb-neg-s__b {
    margin-bottom: calc(-1 * var(--inner-y-s));
  }
  .py-s__b, .pt-s__b {
    padding-top: var(--inner-y-s);
  }
  .py-s__b, .pb-s__b {
    padding-bottom: var(--inner-y-s);
  }
  .my-m__b, .mt-m__b {
    margin-top: var(--inner-y-m);
  }
  .my-m__b, .mb-m__b {
    margin-bottom: var(--inner-y-m);
  }
  .my-neg-m__b, .mt-neg-m__b {
    margin-top: calc(-1 * var(--inner-y-m));
  }
  .my-neg-m__b, .mb-neg-m__b {
    margin-bottom: calc(-1 * var(--inner-y-m));
  }
  .py-m__b, .pt-m__b {
    padding-top: var(--inner-y-m);
  }
  .py-m__b, .pb-m__b {
    padding-bottom: var(--inner-y-m);
  }
  .my-l__b, .mt-l__b {
    margin-top: var(--inner-y-l);
  }
  .my-l__b, .mb-l__b {
    margin-bottom: var(--inner-y-l);
  }
  .my-neg-l__b, .mt-neg-l__b {
    margin-top: calc(-1 * var(--inner-y-l));
  }
  .my-neg-l__b, .mb-neg-l__b {
    margin-bottom: calc(-1 * var(--inner-y-l));
  }
  .py-l__b, .pt-l__b {
    padding-top: var(--inner-y-l);
  }
  .py-l__b, .pb-l__b {
    padding-bottom: var(--inner-y-l);
  }
  .mx-s__b, .mr-s__b {
    margin-right: var(--inner-x-s);
  }
  .mx-s__b, .ml-s__b {
    margin-left: var(--inner-x-s);
  }
  .mx-neg-s__b, .mr-neg-s__b {
    margin-right: calc(-1 * var(--inner-x-s));
  }
  .mx-neg-s__b, .ml-neg-s__b {
    margin-left: calc(-1 * var(--inner-x-s));
  }
  .px-s__b, .pr-s__b {
    padding-right: var(--inner-x-s);
  }
  .px-s__b, .pl-s__b {
    padding-left: var(--inner-x-s);
  }
  .mx-m__b, .mr-m__b {
    margin-right: var(--inner-x-m);
  }
  .mx-m__b, .ml-m__b {
    margin-left: var(--inner-x-m);
  }
  .mx-neg-m__b, .mr-neg-m__b {
    margin-right: calc(-1 * var(--inner-x-m));
  }
  .mx-neg-m__b, .ml-neg-m__b {
    margin-left: calc(-1 * var(--inner-x-m));
  }
  .px-m__b, .pr-m__b {
    padding-right: var(--inner-x-m);
  }
  .px-m__b, .pl-m__b {
    padding-left: var(--inner-x-m);
  }
  .mx-l__b, .mr-l__b {
    margin-right: var(--inner-x-l);
  }
  .mx-l__b, .ml-l__b {
    margin-left: var(--inner-x-l);
  }
  .mx-neg-l__b, .mr-neg-l__b {
    margin-right: calc(-1 * var(--inner-x-l));
  }
  .mx-neg-l__b, .ml-neg-l__b {
    margin-left: calc(-1 * var(--inner-x-l));
  }
  .px-l__b, .pr-l__b {
    padding-right: var(--inner-x-l);
  }
  .px-l__b, .pl-l__b {
    padding-left: var(--inner-x-l);
  }
}

@media screen and (min-width: 60em) {
  .my-s__c, .mt-s__c {
    margin-top: var(--inner-y-s);
  }
  .my-s__c, .mb-s__c {
    margin-bottom: var(--inner-y-s);
  }
  .my-neg-s__c, .mt-neg-s__c {
    margin-top: calc(-1 * var(--inner-y-s));
  }
  .my-neg-s__c, .mb-neg-s__c {
    margin-bottom: calc(-1 * var(--inner-y-s));
  }
  .py-s__c, .pt-s__c {
    padding-top: var(--inner-y-s);
  }
  .py-s__c, .pb-s__c {
    padding-bottom: var(--inner-y-s);
  }
  .my-m__c, .mt-m__c {
    margin-top: var(--inner-y-m);
  }
  .my-m__c, .mb-m__c {
    margin-bottom: var(--inner-y-m);
  }
  .my-neg-m__c, .mt-neg-m__c {
    margin-top: calc(-1 * var(--inner-y-m));
  }
  .my-neg-m__c, .mb-neg-m__c {
    margin-bottom: calc(-1 * var(--inner-y-m));
  }
  .py-m__c, .pt-m__c {
    padding-top: var(--inner-y-m);
  }
  .py-m__c, .pb-m__c {
    padding-bottom: var(--inner-y-m);
  }
  .my-l__c, .mt-l__c {
    margin-top: var(--inner-y-l);
  }
  .my-l__c, .mb-l__c {
    margin-bottom: var(--inner-y-l);
  }
  .my-neg-l__c, .mt-neg-l__c {
    margin-top: calc(-1 * var(--inner-y-l));
  }
  .my-neg-l__c, .mb-neg-l__c {
    margin-bottom: calc(-1 * var(--inner-y-l));
  }
  .py-l__c, .pt-l__c {
    padding-top: var(--inner-y-l);
  }
  .py-l__c, .pb-l__c {
    padding-bottom: var(--inner-y-l);
  }
  .mx-s__c, .mr-s__c {
    margin-right: var(--inner-x-s);
  }
  .mx-s__c, .ml-s__c {
    margin-left: var(--inner-x-s);
  }
  .mx-neg-s__c, .mr-neg-s__c {
    margin-right: calc(-1 * var(--inner-x-s));
  }
  .mx-neg-s__c, .ml-neg-s__c {
    margin-left: calc(-1 * var(--inner-x-s));
  }
  .px-s__c, .pr-s__c {
    padding-right: var(--inner-x-s);
  }
  .px-s__c, .pl-s__c {
    padding-left: var(--inner-x-s);
  }
  .mx-m__c, .mr-m__c {
    margin-right: var(--inner-x-m);
  }
  .mx-m__c, .ml-m__c {
    margin-left: var(--inner-x-m);
  }
  .mx-neg-m__c, .mr-neg-m__c {
    margin-right: calc(-1 * var(--inner-x-m));
  }
  .mx-neg-m__c, .ml-neg-m__c {
    margin-left: calc(-1 * var(--inner-x-m));
  }
  .px-m__c, .pr-m__c {
    padding-right: var(--inner-x-m);
  }
  .px-m__c, .pl-m__c {
    padding-left: var(--inner-x-m);
  }
  .mx-l__c, .mr-l__c {
    margin-right: var(--inner-x-l);
  }
  .mx-l__c, .ml-l__c {
    margin-left: var(--inner-x-l);
  }
  .mx-neg-l__c, .mr-neg-l__c {
    margin-right: calc(-1 * var(--inner-x-l));
  }
  .mx-neg-l__c, .ml-neg-l__c {
    margin-left: calc(-1 * var(--inner-x-l));
  }
  .px-l__c, .pr-l__c {
    padding-right: var(--inner-x-l);
  }
  .px-l__c, .pl-l__c {
    padding-left: var(--inner-x-l);
  }
}
