[class^="f-"], [class*=" f-"] {
  font-size: var(--font-size);
  line-height: var(--line-height);
  font-family: var(--font-family);
  letter-spacing: calc(var(--spacing-max) * 1px - var(--spacing-max) / var(--spacing-end) * 1em);
  --trim-top: calc((var(--line-height) - 1) * 1em / 2 + var(--trim-capline) * 1em);
  --trim-bottom: calc((var(--line-height) - 1) * 1em / 2 + var(--trim-baseline) * 1em);
}

.stack > [class^="f-"], .stack > [class*=" f-"], [class^="stack-"] > [class^="f-"], [class^="stack-"] > [class*=" f-"], [class*=" stack-"] > [class^="f-"], [class*=" stack-"] > [class*=" f-"] {
  margin-top: calc(0px - var(--trim-top));
  margin-bottom: calc(0px - var(--trim-bottom));
  margin-right: var(--trim-x);
  margin-left: var(--trim-x);
}

.stack > * + [class^="f-"], .stack > * + [class*=" f-"], [class^="stack-"] > * + [class^="f-"], [class^="stack-"] > * + [class*=" f-"], [class*=" stack-"] > * + [class^="f-"], [class*=" stack-"] > * + [class*=" f-"] {
  margin-top: calc(var(--stack-gap) - var(--trim-top));
}

.stack > .f + [class^="f-"], .stack > .f + [class*=" f-"], .stack > [class^="f-"] + [class^="f-"], .stack > [class^="f-"] + [class*=" f-"], .stack > [class*=" f-"] + [class^="f-"], .stack > [class*=" f-"] + [class*=" f-"], [class^="stack-"] > .f + [class^="f-"], [class^="stack-"] > .f + [class*=" f-"], [class^="stack-"] > [class^="f-"] + [class^="f-"], [class^="stack-"] > [class^="f-"] + [class*=" f-"], [class^="stack-"] > [class*=" f-"] + [class^="f-"], [class^="stack-"] > [class*=" f-"] + [class*=" f-"], [class*=" stack-"] > .f + [class^="f-"], [class*=" stack-"] > .f + [class*=" f-"], [class*=" stack-"] > [class^="f-"] + [class^="f-"], [class*=" stack-"] > [class^="f-"] + [class*=" f-"], [class*=" stack-"] > [class*=" f-"] + [class^="f-"], [class*=" stack-"] > [class*=" f-"] + [class*=" f-"] {
  margin-top: calc(var(--stack-gap) - (var(--trim-top) + 0.3333333333em));
}

.f-sans, [class^="f-sans-"], [class*=" f-sans-"], body {
  --font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Helvetica, sans-serif;
  --spacing-max: 0;
  --spacing-end: 50;
  --trim-x: 0;
  --trim-capline: 0;
  --trim-baseline: 0;
}

.f-serif, [class^="f-serif-"], [class*=" f-serif-"] {
  --font-family: serif;
  --spacing-max: 0;
  --spacing-end: 50;
  --trim-x: 0;
  --trim-capline: 0;
  --trim-baseline: 0;
}

@media screen and (max-width: 29.999em) {
  .sans-s {
    --font-size: 0.875rem;
    --line-height: 1.4;
  }
  .sans-m {
    --font-size: 1rem;
    --line-height: 1.4;
  }
  .serif-s {
    --font-size: 1rem;
    --line-height: 1.4;
  }
  .serif-m {
    --font-size: 1.125rem;
    --line-height: 1.4;
  }
}

@media screen and (min-width: 30em) {
  .sans-s {
    --font-size: 1.25rem;
    --line-height: 1.4;
  }
  .sans-m {
    --font-size: 1.5rem;
    --line-height: 1.4;
  }
  .serif-s {
    --font-size: 1.375rem;
    --line-height: 1.4;
  }
  .serif-m {
    --font-size: 1.625rem;
    --line-height: 1.4;
  }
}

.plain > p, .plain > ul, .plain > ol, .plain > dl, .plain > h3, .plain > h4, .plain > h5, .plain > h6, .plain > blockquote, [class^="plain-"] > p, [class^="plain-"] > ul, [class^="plain-"] > ol, [class^="plain-"] > dl, [class^="plain-"] > h3, [class^="plain-"] > h4, [class^="plain-"] > h5, [class^="plain-"] > h6, [class^="plain-"] > blockquote, [class*=" plain-"] > p, [class*=" plain-"] > ul, [class*=" plain-"] > ol, [class*=" plain-"] > dl, [class*=" plain-"] > h3, [class*=" plain-"] > h4, [class*=" plain-"] > h5, [class*=" plain-"] > h6, [class*=" plain-"] > blockquote {
  font-family: var(--font-family);
  font-size: var(--font-size);
  line-height: var(--line-height);
  letter-spacing: var(--letter-spacing);
  margin: calc(0px - var(--trim-top)) var(--trim-x) calc(0px - var(--trim-bottom));
}

.plain > * + p, .plain > * + ul, .plain > * + ol, .plain > * + dl, .plain > * + h3, .plain > * + h4, .plain > * + h5, .plain > * + h6, .plain > * + blockquote, [class^="plain-"] > * + p, [class^="plain-"] > * + ul, [class^="plain-"] > * + ol, [class^="plain-"] > * + dl, [class^="plain-"] > * + h3, [class^="plain-"] > * + h4, [class^="plain-"] > * + h5, [class^="plain-"] > * + h6, [class^="plain-"] > * + blockquote, [class*=" plain-"] > * + p, [class*=" plain-"] > * + ul, [class*=" plain-"] > * + ol, [class*=" plain-"] > * + dl, [class*=" plain-"] > * + h3, [class*=" plain-"] > * + h4, [class*=" plain-"] > * + h5, [class*=" plain-"] > * + h6, [class*=" plain-"] > * + blockquote {
  margin-top: calc(var(--stack-gap) - var(--trim-top));
}
