.skip {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  word-wrap: normal !important;
}

.skip:focus {
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #888;
  display: block;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
}

.focus__vshow {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: 0;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

.focus__vshow:focus {
  z-index: 20;
  width: auto;
  height: auto;
  clip: auto;
}

.vhide {
  position: absolute;
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
  height: 1px;
  width: 1px;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.vhide:hover a, .vhide:hover input, .vhide:hover button, .vhide:hover select, .vhide:hover textarea {
  display: none;
}

.vshow {
  position: static;
  clip: initial;
  height: initial;
  width: initial;
  overflow: initial;
}

.vshow:hover a, .vshow:hover input, .vshow:hover button, .vshow:hover select, .vshow:hover textarea {
  display: initial;
}

.fw-900, .fw-bolder, .fw-black {
  font-weight: 900;
}

.fw-800, .fw-extrabold {
  font-weight: 800;
}

.fw-700, .fw-bold {
  font-weight: 700;
}

.fw-600, .fw-semibold {
  font-weight: 600;
}

.fw-500, .fw-medium {
  font-weight: 500;
}

.fw-400, .fw-normal {
  font-weight: 400;
}

.fw-300, .fw-light {
  font-weight: 300;
}

.fw-200, .fw-extralight {
  font-weight: 200;
}

.fw-100, .fw-lighter, .fw-thin {
  font-weight: 100;
}

.fs-italic {
  font-style: italic;
}

.fs-oblique {
  font-style: oblique;
}

.fs-normal {
  font-style: normal;
}

.nobr {
  white-space: nowrap;
  text-overflow: ellipsis;
}

.ws-normal {
  white-space: normal;
}

.ws-nowrap {
  white-space: nowrap;
}

.ws-pre {
  white-space: pre;
}

.ws-pre-wrap {
  white-space: pre-wrap;
}

.ws-pre-line {
  white-space: pre-line;
}

.clip, [class^="clip-"]:not([class$="clip-"]), [class*=" clip-"]:not([class$="clip-"]) {
  position: relative;
  z-index: 0;
}

.clip {
  overflow: hidden;
}

.clip-x {
  overflow-x: hidden;
}

.clip-y {
  overflow-y: hidden;
}

.over-auto {
  overflow: auto;
}

.over-scroll {
  overflow: scroll;
}

.over-hidden {
  overflow: hidden;
}

.over-visible {
  overflow: visible;
}

.hold, [class^="hold-"]:not([class$="hold-"]), [class*=" hold-"]:not([class$="hold-"]) {
  position: relative;
}

.stop, .trap, .trim {
  padding-top: 0.1px;
  padding-bottom: 0.1px;
}

.aspect, [class^="aspect-"]:not([class$="aspect-"]), [class*=" aspect-"]:not([class$="aspect-"]) {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.aspect > *, [class^="aspect-"]:not([class$="aspect-"]) > *, [class*=" aspect-"]:not([class$="aspect-"]) > * {
  flex: 0 0 auto;
  width: 100%;
}

.aspect::before, [class^="aspect-"]:not([class$="aspect-"])::before, [class*=" aspect-"]:not([class$="aspect-"])::before {
  content: '';
  display: block;
  width: 0.01px;
  height: 0;
  padding-bottom: calc(1 / var(--aspect, 1) * 100%);
}

.overscroll-auto {
  -webkit-overflow-scrolling: auto;
}

.overscroll-touch {
  -webkit-overflow-scrolling: touch;
}

.pe-auto {
  pointer-events: auto;
}

.pe-none {
  pointer-events: none;
}

.us-none {
  user-select: none;
}

.us-auto {
  user-select: auto;
}

.us-text {
  user-select: text;
}

.resize-none {
  resize: none;
}

.resize-both {
  resize: both;
}

.resize-x {
  resize: horizontal;
}

.resize-y {
  resize: vertical;
}

.cur-default {
  cursor: default;
}

.cur-auto {
  cursor: auto;
}

.cur-none {
  cursor: none;
}

.cur-help {
  cursor: help;
}

.cur-pointer {
  cursor: pointer;
}

.cur-wait {
  cursor: wait;
}

.cur-crosshair {
  cursor: crosshair;
}

.cur-text {
  cursor: text;
}

.cur-move {
  cursor: move;
}

.cur-no-drop {
  cursor: no-drop;
}

.cur-not-allowed {
  cursor: not-allowed;
}

.cur-grab {
  cursor: grab;
}

.cur-grabbing {
  cursor: grabbing;
}

.cur-n-resize {
  cursor: n-resize;
}

.cur-e-resize {
  cursor: e-resize;
}

.cur-s-resize {
  cursor: s-resize;
}

.cur-w-resize {
  cursor: w-resize;
}

.cur-ne-resize {
  cursor: ne-resize;
}

.cur-nw-resize {
  cursor: nw-resize;
}

.cur-se-resize {
  cursor: se-resize;
}

.cur-sw-resize {
  cursor: sw-resize;
}

.cur-ew-resize {
  cursor: ew-resize;
}

.cur-ns-resize {
  cursor: ns-resize;
}

.cur-nesw-resize {
  cursor: nesw-resize;
}

.cur-nwse-resize {
  cursor: nwse-resize;
}

.cur-zoom-in {
  cursor: zoom-in;
}

.cur-zoom-out {
  cursor: zoom-out;
}
