/* ( inner-x: 2rem, inner-y-mods: ( s: 1rem, m: 2rem ), font-mods: ( sans: ( xs: 16, s: 16, m: calc(3.125vw + 0.625rem), l: 48 ), serif: ( xs: 16 1.3, s: 16 1.3, m: 32 1.2, l: 48 1.1 ), modern: ( xs: 16 1.3, s: 16 1.3, m: 32 1.2, l: 48 1.1 ) ) ) */
body * {
  font-family: var(--font-family);
  font-size: calc(var(--font-size));
  line-height: calc(var(--line-height));
  letter-spacing: calc(var(--letter-spacing));
}

.trim {
  --trim-vertical: calc(var(--trim-capline, 0em) + var(--trim-baseline, 0em));
  margin-right: var(--trim-sides);
  margin-left: var(--trim-sides);
  transform: translatey(calc((1em - var(--line-height))/2 - var(--trim-capline, 0em)));
}
.trim::after {
  content: "";
  display: block;
  height: 0.1px;
  margin-top: calc((1em - var(--line-height)) - var(--trim-vertical));
}

.stack > .trim + .trim, [class^=stack-] > .trim + .trim, [class*=" stack-"] > .trim + .trim {
  --stack-gap-adjust: var(--trim-adjacent);
}

.stack > .trim + .trim, [class^=stack-] > .trim + .trim, [class*=" stack-"] > .trim + .trim,
.plain > :-webkit-any(h1, h2, h3, h4, h5, h6, p, ul, ol, blockquote) + :-webkit-any(h1, h2, h3, h4, h5, h6, p, ul, ol, blockquote), [class^=plain-] > :-webkit-any(h1, h2, h3, h4, h5, h6, p, ul, ol, blockquote) + :-webkit-any(h1, h2, h3, h4, h5, h6, p, ul, ol, blockquote), [class*=" plain-"] > :-webkit-any(h1, h2, h3, h4, h5, h6, p, ul, ol, blockquote) + :-webkit-any(h1, h2, h3, h4, h5, h6, p, ul, ol, blockquote) {
  --stack-gap-adjust: var(--trim-adjacent);
}

.trim + .trim {
  --trim-top-adjust: var(--trim-adjacent);
}

.plain > :-webkit-any(h1, h2, h3, h4, h5, h6, p, ul, ol, blockquote), [class^=plain-] > :-webkit-any(h1, h2, h3, h4, h5, h6, p, ul, ol, blockquote), [class*=" plain-"] > :-webkit-any(h1, h2, h3, h4, h5, h6, p, ul, ol, blockquote) {
  --trim-vertical: calc(var(--trim-capline, 0em) + var(--trim-baseline, 0em));
  margin-right: var(--trim-sides);
  margin-left: var(--trim-sides);
  transform: translatey(calc((1em - var(--line-height))/2 - var(--trim-capline, 0em)));
}
.plain > :-webkit-any(h1, h2, h3, h4, h5, h6, p, ul, ol, blockquote)::after, [class^=plain-] > :-webkit-any(h1, h2, h3, h4, h5, h6, p, ul, ol, blockquote)::after, [class*=" plain-"] > :-webkit-any(h1, h2, h3, h4, h5, h6, p, ul, ol, blockquote)::after {
  content: "";
  display: block;
  height: 0.1px;
  margin-top: calc((1em - var(--line-height)) - var(--trim-vertical));
}

.plain > :-webkit-any(h1, h2, h3, h4, h5, h6, p, ul, ol, blockquote) + :-webkit-any(h1, h2, h3, h4, h5, h6, p, ul, ol, blockquote), [class^=plain-] > :-webkit-any(h1, h2, h3, h4, h5, h6, p, ul, ol, blockquote) + :-webkit-any(h1, h2, h3, h4, h5, h6, p, ul, ol, blockquote), [class*=" plain-"] > :-webkit-any(h1, h2, h3, h4, h5, h6, p, ul, ol, blockquote) + :-webkit-any(h1, h2, h3, h4, h5, h6, p, ul, ol, blockquote) {
  --trim-top-adjust: var(--trim-adjacent);
}

.plain > :-moz-any(h1, h2, h3, h4, h5, h6, p, ul, ol, blockquote), [class^=plain-] > :-moz-any(h1, h2, h3, h4, h5, h6, p, ul, ol, blockquote), [class*=" plain-"] > :-moz-any(h1, h2, h3, h4, h5, h6, p, ul, ol, blockquote) {
  --trim-vertical: calc(var(--trim-capline, 0em) + var(--trim-baseline, 0em));
  margin-right: var(--trim-sides);
  margin-left: var(--trim-sides);
  transform: translatey(calc((1em - var(--line-height))/2 - var(--trim-capline, 0em)));
}
.plain > :-moz-any(h1, h2, h3, h4, h5, h6, p, ul, ol, blockquote)::after, [class^=plain-] > :-moz-any(h1, h2, h3, h4, h5, h6, p, ul, ol, blockquote)::after, [class*=" plain-"] > :-moz-any(h1, h2, h3, h4, h5, h6, p, ul, ol, blockquote)::after {
  content: "";
  display: block;
  height: 0.1px;
  margin-top: calc((1em - var(--line-height)) - var(--trim-vertical));
}

.plain > :-moz-any(h1, h2, h3, h4, h5, h6, p, ul, ol, blockquote) + :-moz-any(h1, h2, h3, h4, h5, h6, p, ul, ol, blockquote), [class^=plain-] > :-moz-any(h1, h2, h3, h4, h5, h6, p, ul, ol, blockquote) + :-moz-any(h1, h2, h3, h4, h5, h6, p, ul, ol, blockquote), [class*=" plain-"] > :-moz-any(h1, h2, h3, h4, h5, h6, p, ul, ol, blockquote) + :-moz-any(h1, h2, h3, h4, h5, h6, p, ul, ol, blockquote) {
  --trim-top-adjust: var(--trim-adjacent);
}

:root {
  --font-family-sans: MessinaSans;
  --line-height-sans: 1.25em;
  --letter-spacing-sans: 0;
  --trim-capline-sans: 0em;
  --trim-baseline-sans: 0em;
  --trim-sides-sans: 0;
  --trim-adjacent-sans: 0.125em;
}

.f-sans, [class^=f-sans-], [class*=" f-sans-"], body {
  --font-family: var(--font-family-sans);
  --line-height: var(--line-height-sans);
  --letter-spacing: var(--letter-spacing-sans);
  --trim-capline: var(--trim-capline-sans);
  --trim-baseline: var(--trim-baseline-sans);
  --trim-sides: var(--trim-sides-sans);
  --trim-adjacent: var(--trim-adjacent-sans);
}

:root {
  --font-family-serif: MessinaSerif;
  --line-height-serif: 1.25em;
  --letter-spacing-serif: 0;
  --trim-capline-serif: 0em;
  --trim-baseline-serif: 0em;
  --trim-sides-serif: 0;
  --trim-adjacent-serif: 0.125em;
}

.f-serif, [class^=f-serif-], [class*=" f-serif-"] {
  --font-family: var(--font-family-serif);
  --line-height: var(--line-height-serif);
  --letter-spacing: var(--letter-spacing-serif);
  --trim-capline: var(--trim-capline-serif);
  --trim-baseline: var(--trim-baseline-serif);
  --trim-sides: var(--trim-sides-serif);
  --trim-adjacent: var(--trim-adjacent-serif);
}

:root {
  --font-family-modern: MessinaModern;
  --line-height-modern: 1.25em;
  --letter-spacing-modern: 0;
  --trim-capline-modern: 0em;
  --trim-baseline-modern: 0em;
  --trim-sides-modern: 0;
  --trim-adjacent-modern: 0.125em;
}

.f-modern, [class^=f-modern-], [class*=" f-modern-"] {
  --font-family: var(--font-family-modern);
  --line-height: var(--line-height-modern);
  --letter-spacing: var(--letter-spacing-modern);
  --trim-capline: var(--trim-capline-modern);
  --trim-baseline: var(--trim-baseline-modern);
  --trim-sides: var(--trim-sides-modern);
  --trim-adjacent: var(--trim-adjacent-modern);
}

:root {
  --font-size-sans-xs: 16rem;
  --font-size-sans-s: 16rem;
  --font-size-sans-m: (3.125vw + 0.625rem);
  --font-size-sans-l: 48rem;
}
.f-sans-xs {
  --font-size: var(--font-size-sans-xs);
  --line-height: var(--line-height-sans-xs, var(--line-height-sans));
}

.f-sans-s {
  --font-size: var(--font-size-sans-s);
  --line-height: var(--line-height-sans-s, var(--line-height-sans));
}

.f-sans-m {
  --font-size: var(--font-size-sans-m);
  --line-height: var(--line-height-sans-m, var(--line-height-sans));
}

.f-sans-l {
  --font-size: var(--font-size-sans-l);
  --line-height: var(--line-height-sans-l, var(--line-height-sans));
}

:root {
  --font-size-serif-xs: 16rem;
  --line-height-serif-xs: 1.3em;
  --font-size-serif-s: 16rem;
  --line-height-serif-s: 1.3em;
  --font-size-serif-m: 32rem;
  --line-height-serif-m: 1.2em;
  --font-size-serif-l: 48rem;
  --line-height-serif-l: 1.1em;
}
.f-serif-xs {
  --font-size: var(--font-size-serif-xs);
  --line-height: var(--line-height-serif-xs, var(--line-height-serif));
}

.f-serif-s {
  --font-size: var(--font-size-serif-s);
  --line-height: var(--line-height-serif-s, var(--line-height-serif));
}

.f-serif-m {
  --font-size: var(--font-size-serif-m);
  --line-height: var(--line-height-serif-m, var(--line-height-serif));
}

.f-serif-l {
  --font-size: var(--font-size-serif-l);
  --line-height: var(--line-height-serif-l, var(--line-height-serif));
}

:root {
  --font-size-modern-xs: 16rem;
  --line-height-modern-xs: 1.3em;
  --font-size-modern-s: 16rem;
  --line-height-modern-s: 1.3em;
  --font-size-modern-m: 32rem;
  --line-height-modern-m: 1.2em;
  --font-size-modern-l: 48rem;
  --line-height-modern-l: 1.1em;
}
.f-modern-xs {
  --font-size: var(--font-size-modern-xs);
  --line-height: var(--line-height-modern-xs, var(--line-height-modern));
}

.f-modern-s {
  --font-size: var(--font-size-modern-s);
  --line-height: var(--line-height-modern-s, var(--line-height-modern));
}

.f-modern-m {
  --font-size: var(--font-size-modern-m);
  --line-height: var(--line-height-modern-m, var(--line-height-modern));
}

.f-modern-l {
  --font-size: var(--font-size-modern-l);
  --line-height: var(--line-height-modern-l, var(--line-height-modern));
}

@media screen and (min-width: 30em) {
  :root {
    --font-size-serif-xs: 18rem;
    --font-size-serif-s: 18rem;
    --font-size-serif-m: 36rem;
    --font-size-serif-l: 64rem;
  }
}