/*
  TODO: theme spec v3

  1.contrast-color should work in terms of base-lite & base-dark, or fg and bg colors of the theme
  2.theme processing should build color names within the ui key expecting either a map or map of maps or list of maps
  3.theme-color names must be built up progressively, e.g. theme-ui-link-color or theme-ui-hover-color

  STANDARD KEYS: fg bg bd ol fill stroke
  .fg-theme -- use theme FG color as FG
  .fg-theme-bg -- use theme BG color as FG

  DYNAMIC KEYS: any non-standard key names, [ui], e.g. primary, secondary
  .bg-theme-[ui]-link -- use theme [ui] link color as BG
  .bg-theme-[ui] -- use dynamic state colors on background
  .bd-theme-ui -- use dynamic state colors on border
  .fg-contrast -- !! should dynamically change, as bg UI colors change with state

  TYPICAL base spec of a theme is as follows:

  $themes: (
    lite: (
      fg: base-black,
      bg: base-white,
      ui: (
        link: baz,
        hover: bar,
      ),
    ),
    dark: (
      fg: base-white,
      bg: base-black,
      ui: (
        link: fiz,
        hover: foo,
      ),
    ),
  );

 */
:root {
  --fg-color: var(--theme-fg-color);
  --fg-contrast: var(--theme-fg-contrast);
  --bg-color: var(--theme-bg-color);
  --bg-contrast: var(--theme-bg-contrast);
  --bd-color: var(--theme-bd-color, var(--theme-fg-color));
  --ol-color: var(--theme-ol-color, var(--theme-fg-color));
  --fill-color: var(--theme-fill-color, var(--theme-fg-color));
  --stroke-color: var(--theme-stroke-color, var(--theme-fg-color));
  --link-color: var(--theme-link-color, var(--theme-fg-color));
  --visited-color: var(--theme-visited-color, var(--theme-link-color, var(--theme-fg-color)));
  --hover-color: var(--theme-hover-color, var(--theme-link-color, var(--theme-fg-color)));
  --focus-color: var(--theme-focus-color, var(--theme-hover-color, var(--theme-link-color, var(--theme-fg-color))));
  --active-color: var(--theme-active-color, var(--theme-hover-color, var(--theme-link-color, var(--theme-fg-color))));
  --color-base-black: 0, 0, 0;
  --contrast-base-black: var(--color-base-white);
  --color-base-white: 255, 255, 255;
  --contrast-base-white: var(--color-base-black);
  --color-gray-1: 34, 34, 34;
  --contrast-gray-1: 255, 255, 255;
  --color-gray-2: 84, 84, 84;
  --contrast-gray-2: 255, 255, 255;
  --color-gray-3: 133, 133, 133;
  --contrast-gray-3: 0, 0, 0;
  --color-gray-4: 183, 183, 183;
  --contrast-gray-4: 0, 0, 0;
  --color-gray-5: 233, 233, 233;
  --contrast-gray-5: 0, 0, 0;
  --color-foo: 80, 128, 33;
  --contrast-foo: 255, 255, 255;
  --color-bar: 218, 80, 201;
  --contrast-bar: 0, 0, 0;
  --color-baz: 71, 65, 255;
  --contrast-baz: 255, 255, 255;
  --color-fiz: 218, 155, 48;
  --contrast-fiz: 0, 0, 0;
  --color-purple-1: 17, 16, 62;
  --contrast-purple-1: 255, 255, 255;
  --color-purple-2: 46, 45, 107;
  --contrast-purple-2: 255, 255, 255;
  --color-purple-3: 90, 88, 152;
  --contrast-purple-3: 255, 255, 255;
  --color-purple-4: 148, 147, 198;
  --contrast-purple-4: 0, 0, 0;
  --color-purple-5: 221, 220, 243;
  --contrast-purple-5: 0, 0, 0;
  --color-pink-a: 51, 5, 42;
  --contrast-pink-a: 255, 255, 255;
  --color-pink-b: 102, 20, 86;
  --contrast-pink-b: 255, 255, 255;
  --color-pink-c: 153, 46, 132;
  --contrast-pink-c: 255, 255, 255;
  --color-pink-d: 204, 82, 180;
  --contrast-pink-d: 0, 0, 0;
  --color-pink-e: 255, 128, 229;
  --contrast-pink-e: 0, 0, 0;
}

.theme-lite,
:root {
  --theme-fg-color: var(--color-base-black);
  --theme-fg-contrast: var(--contrast-base-black);
  --theme-bg-color: var(--color-base-white);
  --theme-bg-contrast: var(--contrast-base-white);
  --theme-link-color: var(--color-baz);
}

.theme-dark {
  --theme-fg-color: var(--color-base-white);
  --theme-fg-contrast: var(--contrast-base-white);
  --theme-bg-color: var(--color-base-black);
  --theme-bg-contrast: var(--contrast-base-black);
  --theme-link-color: var(--color-fiz);
}

body * {
  color: rgba(var(--fg-color), var(--fg-opacity, 1));
  background-color: rgba(var(--bg-color), var(--bg-opacity, 1));
}

a:link {
  --fg-color: rgba(var(--link-color), var(--fg-opacity, 1));
}

a:visited {
  --fg-color: rgba(var(--visited-color), var(--fg-opacity, 1));
}

a:hover {
  --fg-color: rgba(var(--hover-color), var(--fg-opacity, 1));
}

a:focus {
  --fg-color: rgba(var(--focus-color), var(--fg-opacity, 1));
}

a:active {
  --fg-color: rgba(var(--active-color), var(--fg-opacity, 1));
}

[class^=fg-], [class*=" fg-"] {
  color: rgba(var(--fg-color), var(--fg-opacity, 1));
}

[class^=bg-], [class*=" bg-"] {
  background-color: rgba(var(--bg-color), var(--bg-opacity, 1));
}

[class^=bd-], [class*=" bd-"] {
  border-color: rgba(var(--bd-color, var(--fg-color)), var(--bd-opacity, 1));
  border-style: var(--bd-style, solid);
  border-top-width: var(--bd-top-width, 0);
  border-right-width: var(--bd-right-width, 0);
  border-bottom-width: var(--bd-bottom-width, 0);
  border-left-width: var(--bd-left-width, 0);
}

[class^=ol-], [class*=" ol-"] {
  outline-color: rgba(var(--ol-color, var(--fg-color)), var(--ol-opacity, 1));
  outline-width: var(--ol-width);
}

[class^=fill-], [class*=" fill-"] {
  fill: rgb(var(--fill-color, var(--fg-color)));
  fill-opacity: var(--fill-opacity, 1);
}

[class^=stroke-], [class*=" stroke-"] {
  stroke: rgb(var(--stroke-color, var(--fg-color)));
  stroke-opacity: var(--stroke-opacity, 1);
  stroke-width: var(--stroke-width);
}

.bg-contrast {
  --bg-color: var(--fg-contrast);
}

.fg-contrast {
  --fg-color: var(--bg-contrast);
}

.bd-contrast {
  --bd-color: var(--bg-contrast);
}

.ol-contrast {
  --ol-color: var(--bg-contrast);
}

.fill-contrast {
  --fill-color: var(--bg-contrast);
}

.stroke-contrast {
  --stroke-color: var(--bg-contrast);
}

.fg-key {
  --fg-color: var(--key-color);
  --fg-contrast: var(--key-contrast);
}

.bg-key {
  --bg-color: var(--key-color);
  --bg-contrast: var(--key-contrast);
}

.bd-key {
  --bd-color: var(--key-color);
}

.ol-key {
  --ol-color: var(--key-color);
}

.fill-key {
  --fill-color: var(--key-color);
}

.stroke-key {
  --stroke-color: var(--key-color);
}

.key-theme-fg {
  --key-color: var(--theme-fg-color);
  --key-contrast: var(--theme-fg-contrast);
}

.fg-theme {
  --fg-color: var(--theme-fg-color);
  --fg-contrast: var(--theme-fg-contrast);
}

.bg-theme-fg {
  --bg-color: var(--theme-fg-color);
  --bg-contrast: var(--theme-fg-contrast);
}

.bd-theme-fg {
  --bd-color: var(--theme-fg-color);
}

.ol-theme-fg {
  --ol-color: var(--theme-fg-color);
}

.fill-theme-fg {
  --fill-color: var(--theme-fg-color);
}

.stroke-theme-fg {
  --stroke-color: var(--theme-fg-color);
}

.key-theme-bg {
  --key-color: var(--theme-bg-color);
  --key-contrast: var(--theme-bg-contrast);
}

.fg-theme-bg {
  --fg-color: var(--theme-bg-color);
  --fg-contrast: var(--theme-bg-contrast);
}

.bg-theme {
  --bg-color: var(--theme-bg-color);
  --bg-contrast: var(--theme-bg-contrast);
}

.bd-theme-bg {
  --bd-color: var(--theme-bg-color);
}

.ol-theme-bg {
  --ol-color: var(--theme-bg-color);
}

.fill-theme-bg {
  --fill-color: var(--theme-bg-color);
}

.stroke-theme-bg {
  --stroke-color: var(--theme-bg-color);
}

.key-theme-link {
  --key-color: var(--theme-link-color);
  --key-contrast: var(--theme-link-contrast);
}

.fg-theme-link {
  --fg-color: var(--theme-link-color);
  --fg-contrast: var(--theme-link-contrast);
}

.bg-theme-link {
  --bg-color: var(--theme-link-color);
  --bg-contrast: var(--theme-link-contrast);
}

.bd-theme-link {
  --bd-color: var(--theme-link-color);
}

.ol-theme-link {
  --ol-color: var(--theme-link-color);
}

.fill-theme-link {
  --fill-color: var(--theme-link-color);
}

.stroke-theme-link {
  --stroke-color: var(--theme-link-color);
}

.key-base-black {
  --key-color: var(--color-base-black);
  --key-contrast: var(--contrast-base-black);
}

.fg-base-black {
  --fg-color: var(--color-base-black);
  --fg-contrast: var(--contrast-base-black);
}

.bg-base-black {
  --bg-color: var(--color-base-black);
  --bg-contrast: var(--contrast-base-black);
}

.bd-base-black {
  --bd-color: var(--color-base-black);
}

.ol-base-black {
  --ol-color: var(--color-base-black);
}

.fill-base-black {
  --fill-color: var(--color-base-black);
}

.stroke-base-black {
  --stroke-color: var(--color-base-black);
}

.key-base-white {
  --key-color: var(--color-base-white);
  --key-contrast: var(--contrast-base-white);
}

.fg-base-white {
  --fg-color: var(--color-base-white);
  --fg-contrast: var(--contrast-base-white);
}

.bg-base-white {
  --bg-color: var(--color-base-white);
  --bg-contrast: var(--contrast-base-white);
}

.bd-base-white {
  --bd-color: var(--color-base-white);
}

.ol-base-white {
  --ol-color: var(--color-base-white);
}

.fill-base-white {
  --fill-color: var(--color-base-white);
}

.stroke-base-white {
  --stroke-color: var(--color-base-white);
}

.key-gray-1 {
  --key-color: var(--color-gray-1);
  --key-contrast: var(--contrast-gray-1);
}

.fg-gray-1 {
  --fg-color: var(--color-gray-1);
  --fg-contrast: var(--contrast-gray-1);
}

.bg-gray-1 {
  --bg-color: var(--color-gray-1);
  --bg-contrast: var(--contrast-gray-1);
}

.bd-gray-1 {
  --bd-color: var(--color-gray-1);
}

.ol-gray-1 {
  --ol-color: var(--color-gray-1);
}

.fill-gray-1 {
  --fill-color: var(--color-gray-1);
}

.stroke-gray-1 {
  --stroke-color: var(--color-gray-1);
}

.key-gray-2 {
  --key-color: var(--color-gray-2);
  --key-contrast: var(--contrast-gray-2);
}

.fg-gray-2 {
  --fg-color: var(--color-gray-2);
  --fg-contrast: var(--contrast-gray-2);
}

.bg-gray-2 {
  --bg-color: var(--color-gray-2);
  --bg-contrast: var(--contrast-gray-2);
}

.bd-gray-2 {
  --bd-color: var(--color-gray-2);
}

.ol-gray-2 {
  --ol-color: var(--color-gray-2);
}

.fill-gray-2 {
  --fill-color: var(--color-gray-2);
}

.stroke-gray-2 {
  --stroke-color: var(--color-gray-2);
}

.key-gray-3 {
  --key-color: var(--color-gray-3);
  --key-contrast: var(--contrast-gray-3);
}

.fg-gray-3 {
  --fg-color: var(--color-gray-3);
  --fg-contrast: var(--contrast-gray-3);
}

.bg-gray-3 {
  --bg-color: var(--color-gray-3);
  --bg-contrast: var(--contrast-gray-3);
}

.bd-gray-3 {
  --bd-color: var(--color-gray-3);
}

.ol-gray-3 {
  --ol-color: var(--color-gray-3);
}

.fill-gray-3 {
  --fill-color: var(--color-gray-3);
}

.stroke-gray-3 {
  --stroke-color: var(--color-gray-3);
}

.key-gray-4 {
  --key-color: var(--color-gray-4);
  --key-contrast: var(--contrast-gray-4);
}

.fg-gray-4 {
  --fg-color: var(--color-gray-4);
  --fg-contrast: var(--contrast-gray-4);
}

.bg-gray-4 {
  --bg-color: var(--color-gray-4);
  --bg-contrast: var(--contrast-gray-4);
}

.bd-gray-4 {
  --bd-color: var(--color-gray-4);
}

.ol-gray-4 {
  --ol-color: var(--color-gray-4);
}

.fill-gray-4 {
  --fill-color: var(--color-gray-4);
}

.stroke-gray-4 {
  --stroke-color: var(--color-gray-4);
}

.key-gray-5 {
  --key-color: var(--color-gray-5);
  --key-contrast: var(--contrast-gray-5);
}

.fg-gray-5 {
  --fg-color: var(--color-gray-5);
  --fg-contrast: var(--contrast-gray-5);
}

.bg-gray-5 {
  --bg-color: var(--color-gray-5);
  --bg-contrast: var(--contrast-gray-5);
}

.bd-gray-5 {
  --bd-color: var(--color-gray-5);
}

.ol-gray-5 {
  --ol-color: var(--color-gray-5);
}

.fill-gray-5 {
  --fill-color: var(--color-gray-5);
}

.stroke-gray-5 {
  --stroke-color: var(--color-gray-5);
}

.key-foo {
  --key-color: var(--color-foo);
  --key-contrast: var(--contrast-foo);
}

.fg-foo {
  --fg-color: var(--color-foo);
  --fg-contrast: var(--contrast-foo);
}

.bg-foo {
  --bg-color: var(--color-foo);
  --bg-contrast: var(--contrast-foo);
}

.bd-foo {
  --bd-color: var(--color-foo);
}

.ol-foo {
  --ol-color: var(--color-foo);
}

.fill-foo {
  --fill-color: var(--color-foo);
}

.stroke-foo {
  --stroke-color: var(--color-foo);
}

.key-bar {
  --key-color: var(--color-bar);
  --key-contrast: var(--contrast-bar);
}

.fg-bar {
  --fg-color: var(--color-bar);
  --fg-contrast: var(--contrast-bar);
}

.bg-bar {
  --bg-color: var(--color-bar);
  --bg-contrast: var(--contrast-bar);
}

.bd-bar {
  --bd-color: var(--color-bar);
}

.ol-bar {
  --ol-color: var(--color-bar);
}

.fill-bar {
  --fill-color: var(--color-bar);
}

.stroke-bar {
  --stroke-color: var(--color-bar);
}

.key-baz {
  --key-color: var(--color-baz);
  --key-contrast: var(--contrast-baz);
}

.fg-baz {
  --fg-color: var(--color-baz);
  --fg-contrast: var(--contrast-baz);
}

.bg-baz {
  --bg-color: var(--color-baz);
  --bg-contrast: var(--contrast-baz);
}

.bd-baz {
  --bd-color: var(--color-baz);
}

.ol-baz {
  --ol-color: var(--color-baz);
}

.fill-baz {
  --fill-color: var(--color-baz);
}

.stroke-baz {
  --stroke-color: var(--color-baz);
}

.key-fiz {
  --key-color: var(--color-fiz);
  --key-contrast: var(--contrast-fiz);
}

.fg-fiz {
  --fg-color: var(--color-fiz);
  --fg-contrast: var(--contrast-fiz);
}

.bg-fiz {
  --bg-color: var(--color-fiz);
  --bg-contrast: var(--contrast-fiz);
}

.bd-fiz {
  --bd-color: var(--color-fiz);
}

.ol-fiz {
  --ol-color: var(--color-fiz);
}

.fill-fiz {
  --fill-color: var(--color-fiz);
}

.stroke-fiz {
  --stroke-color: var(--color-fiz);
}

.key-purple-1 {
  --key-color: var(--color-purple-1);
  --key-contrast: var(--contrast-purple-1);
}

.fg-purple-1 {
  --fg-color: var(--color-purple-1);
  --fg-contrast: var(--contrast-purple-1);
}

.bg-purple-1 {
  --bg-color: var(--color-purple-1);
  --bg-contrast: var(--contrast-purple-1);
}

.bd-purple-1 {
  --bd-color: var(--color-purple-1);
}

.ol-purple-1 {
  --ol-color: var(--color-purple-1);
}

.fill-purple-1 {
  --fill-color: var(--color-purple-1);
}

.stroke-purple-1 {
  --stroke-color: var(--color-purple-1);
}

.key-purple-2 {
  --key-color: var(--color-purple-2);
  --key-contrast: var(--contrast-purple-2);
}

.fg-purple-2 {
  --fg-color: var(--color-purple-2);
  --fg-contrast: var(--contrast-purple-2);
}

.bg-purple-2 {
  --bg-color: var(--color-purple-2);
  --bg-contrast: var(--contrast-purple-2);
}

.bd-purple-2 {
  --bd-color: var(--color-purple-2);
}

.ol-purple-2 {
  --ol-color: var(--color-purple-2);
}

.fill-purple-2 {
  --fill-color: var(--color-purple-2);
}

.stroke-purple-2 {
  --stroke-color: var(--color-purple-2);
}

.key-purple-3 {
  --key-color: var(--color-purple-3);
  --key-contrast: var(--contrast-purple-3);
}

.fg-purple-3 {
  --fg-color: var(--color-purple-3);
  --fg-contrast: var(--contrast-purple-3);
}

.bg-purple-3 {
  --bg-color: var(--color-purple-3);
  --bg-contrast: var(--contrast-purple-3);
}

.bd-purple-3 {
  --bd-color: var(--color-purple-3);
}

.ol-purple-3 {
  --ol-color: var(--color-purple-3);
}

.fill-purple-3 {
  --fill-color: var(--color-purple-3);
}

.stroke-purple-3 {
  --stroke-color: var(--color-purple-3);
}

.key-purple-4 {
  --key-color: var(--color-purple-4);
  --key-contrast: var(--contrast-purple-4);
}

.fg-purple-4 {
  --fg-color: var(--color-purple-4);
  --fg-contrast: var(--contrast-purple-4);
}

.bg-purple-4 {
  --bg-color: var(--color-purple-4);
  --bg-contrast: var(--contrast-purple-4);
}

.bd-purple-4 {
  --bd-color: var(--color-purple-4);
}

.ol-purple-4 {
  --ol-color: var(--color-purple-4);
}

.fill-purple-4 {
  --fill-color: var(--color-purple-4);
}

.stroke-purple-4 {
  --stroke-color: var(--color-purple-4);
}

.key-purple-5 {
  --key-color: var(--color-purple-5);
  --key-contrast: var(--contrast-purple-5);
}

.fg-purple-5 {
  --fg-color: var(--color-purple-5);
  --fg-contrast: var(--contrast-purple-5);
}

.bg-purple-5 {
  --bg-color: var(--color-purple-5);
  --bg-contrast: var(--contrast-purple-5);
}

.bd-purple-5 {
  --bd-color: var(--color-purple-5);
}

.ol-purple-5 {
  --ol-color: var(--color-purple-5);
}

.fill-purple-5 {
  --fill-color: var(--color-purple-5);
}

.stroke-purple-5 {
  --stroke-color: var(--color-purple-5);
}

.key-pink-a {
  --key-color: var(--color-pink-a);
  --key-contrast: var(--contrast-pink-a);
}

.fg-pink-a {
  --fg-color: var(--color-pink-a);
  --fg-contrast: var(--contrast-pink-a);
}

.bg-pink-a {
  --bg-color: var(--color-pink-a);
  --bg-contrast: var(--contrast-pink-a);
}

.bd-pink-a {
  --bd-color: var(--color-pink-a);
}

.ol-pink-a {
  --ol-color: var(--color-pink-a);
}

.fill-pink-a {
  --fill-color: var(--color-pink-a);
}

.stroke-pink-a {
  --stroke-color: var(--color-pink-a);
}

.key-pink-b {
  --key-color: var(--color-pink-b);
  --key-contrast: var(--contrast-pink-b);
}

.fg-pink-b {
  --fg-color: var(--color-pink-b);
  --fg-contrast: var(--contrast-pink-b);
}

.bg-pink-b {
  --bg-color: var(--color-pink-b);
  --bg-contrast: var(--contrast-pink-b);
}

.bd-pink-b {
  --bd-color: var(--color-pink-b);
}

.ol-pink-b {
  --ol-color: var(--color-pink-b);
}

.fill-pink-b {
  --fill-color: var(--color-pink-b);
}

.stroke-pink-b {
  --stroke-color: var(--color-pink-b);
}

.key-pink-c {
  --key-color: var(--color-pink-c);
  --key-contrast: var(--contrast-pink-c);
}

.fg-pink-c {
  --fg-color: var(--color-pink-c);
  --fg-contrast: var(--contrast-pink-c);
}

.bg-pink-c {
  --bg-color: var(--color-pink-c);
  --bg-contrast: var(--contrast-pink-c);
}

.bd-pink-c {
  --bd-color: var(--color-pink-c);
}

.ol-pink-c {
  --ol-color: var(--color-pink-c);
}

.fill-pink-c {
  --fill-color: var(--color-pink-c);
}

.stroke-pink-c {
  --stroke-color: var(--color-pink-c);
}

.key-pink-d {
  --key-color: var(--color-pink-d);
  --key-contrast: var(--contrast-pink-d);
}

.fg-pink-d {
  --fg-color: var(--color-pink-d);
  --fg-contrast: var(--contrast-pink-d);
}

.bg-pink-d {
  --bg-color: var(--color-pink-d);
  --bg-contrast: var(--contrast-pink-d);
}

.bd-pink-d {
  --bd-color: var(--color-pink-d);
}

.ol-pink-d {
  --ol-color: var(--color-pink-d);
}

.fill-pink-d {
  --fill-color: var(--color-pink-d);
}

.stroke-pink-d {
  --stroke-color: var(--color-pink-d);
}

.key-pink-e {
  --key-color: var(--color-pink-e);
  --key-contrast: var(--contrast-pink-e);
}

.fg-pink-e {
  --fg-color: var(--color-pink-e);
  --fg-contrast: var(--contrast-pink-e);
}

.bg-pink-e {
  --bg-color: var(--color-pink-e);
  --bg-contrast: var(--contrast-pink-e);
}

.bd-pink-e {
  --bd-color: var(--color-pink-e);
}

.ol-pink-e {
  --ol-color: var(--color-pink-e);
}

.fill-pink-e {
  --fill-color: var(--color-pink-e);
}

.stroke-pink-e {
  --stroke-color: var(--color-pink-e);
}

.fill-current {
  --fill-color: currentColor;
}

.stroke-current {
  --stroke-color: currentColor;
}

.o-100 {
  opacity: 1;
}

.o-00 {
  opacity: 0;
}

.o-10 {
  opacity: 0.1;
}

.o-20 {
  opacity: 0.2;
}

.o-30 {
  opacity: 0.3;
}

.o-40 {
  opacity: 0.4;
}

.o-50 {
  opacity: 0.5;
}

.o-60 {
  opacity: 0.6;
}

.o-70 {
  opacity: 0.7;
}

.o-80 {
  opacity: 0.8;
}

.o-90 {
  opacity: 0.9;
}

.fg-o-00 {
  --fg-opacity: 0;
}

.bg-o-00 {
  --bg-opacity: 0;
}

.bd-o-00 {
  --bd-opacity: 0;
}

.ol-o-00 {
  --ol-opacity: 0;
}

.fill-o-00 {
  --fill-opacity: 0;
}

.stroke-o-00 {
  --stroke-opacity: 0;
}

.fg-o-10 {
  --fg-opacity: 0.1;
}

.bg-o-10 {
  --bg-opacity: 0.1;
}

.bd-o-10 {
  --bd-opacity: 0.1;
}

.ol-o-10 {
  --ol-opacity: 0.1;
}

.fill-o-10 {
  --fill-opacity: 0.1;
}

.stroke-o-10 {
  --stroke-opacity: 0.1;
}

.fg-o-20 {
  --fg-opacity: 0.2;
}

.bg-o-20 {
  --bg-opacity: 0.2;
}

.bd-o-20 {
  --bd-opacity: 0.2;
}

.ol-o-20 {
  --ol-opacity: 0.2;
}

.fill-o-20 {
  --fill-opacity: 0.2;
}

.stroke-o-20 {
  --stroke-opacity: 0.2;
}

.fg-o-30 {
  --fg-opacity: 0.3;
}

.bg-o-30 {
  --bg-opacity: 0.3;
}

.bd-o-30 {
  --bd-opacity: 0.3;
}

.ol-o-30 {
  --ol-opacity: 0.3;
}

.fill-o-30 {
  --fill-opacity: 0.3;
}

.stroke-o-30 {
  --stroke-opacity: 0.3;
}

.fg-o-40 {
  --fg-opacity: 0.4;
}

.bg-o-40 {
  --bg-opacity: 0.4;
}

.bd-o-40 {
  --bd-opacity: 0.4;
}

.ol-o-40 {
  --ol-opacity: 0.4;
}

.fill-o-40 {
  --fill-opacity: 0.4;
}

.stroke-o-40 {
  --stroke-opacity: 0.4;
}

.fg-o-50 {
  --fg-opacity: 0.5;
}

.bg-o-50 {
  --bg-opacity: 0.5;
}

.bd-o-50 {
  --bd-opacity: 0.5;
}

.ol-o-50 {
  --ol-opacity: 0.5;
}

.fill-o-50 {
  --fill-opacity: 0.5;
}

.stroke-o-50 {
  --stroke-opacity: 0.5;
}

.fg-o-60 {
  --fg-opacity: 0.6;
}

.bg-o-60 {
  --bg-opacity: 0.6;
}

.bd-o-60 {
  --bd-opacity: 0.6;
}

.ol-o-60 {
  --ol-opacity: 0.6;
}

.fill-o-60 {
  --fill-opacity: 0.6;
}

.stroke-o-60 {
  --stroke-opacity: 0.6;
}

.fg-o-70 {
  --fg-opacity: 0.7;
}

.bg-o-70 {
  --bg-opacity: 0.7;
}

.bd-o-70 {
  --bd-opacity: 0.7;
}

.ol-o-70 {
  --ol-opacity: 0.7;
}

.fill-o-70 {
  --fill-opacity: 0.7;
}

.stroke-o-70 {
  --stroke-opacity: 0.7;
}

.fg-o-80 {
  --fg-opacity: 0.8;
}

.bg-o-80 {
  --bg-opacity: 0.8;
}

.bd-o-80 {
  --bd-opacity: 0.8;
}

.ol-o-80 {
  --ol-opacity: 0.8;
}

.fill-o-80 {
  --fill-opacity: 0.8;
}

.stroke-o-80 {
  --stroke-opacity: 0.8;
}

.fg-o-90 {
  --fg-opacity: 0.9;
}

.bg-o-90 {
  --bg-opacity: 0.9;
}

.bd-o-90 {
  --bd-opacity: 0.9;
}

.ol-o-90 {
  --ol-opacity: 0.9;
}

.fill-o-90 {
  --fill-opacity: 0.9;
}

.stroke-o-90 {
  --stroke-opacity: 0.9;
}