.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
@supports (display: flow-root) {
  .clearfix {
    display: flow-root;
  }
  .clearfix::after {
    content: none;
  }
}

.nowrap {
  white-space: nowrap;
}

.nobr {
  white-space: nowrap;
  text-overflow: ellipsis;
}

.is-scrolling,
.is-scrolling * {
  pointer-events: none !important;
}

.clip, .clip-x, .clip-y {
  position: relative;
  z-index: 0;
}

.clip {
  overflow: hidden;
}

.clip-x {
  overflow-x: hidden;
}

.clip-y {
  overflow-y: hidden;
}

.hold, [class^=hold-], [class*=" hold-"] {
  position: relative;
}

.stop, .trap, .trim {
  padding-top: 0.1px;
  padding-bottom: 0.1px;
}

.fade-00 {
  opacity: 0;
}

.fade-01 {
  opacity: 0.1;
}

.fade-02 {
  opacity: 0.2;
}

.fade-03 {
  opacity: 0.3;
}

.fade-04 {
  opacity: 0.4;
}

.fade-05 {
  opacity: 0.5;
}

.fade-06 {
  opacity: 0.6;
}

.fade-07 {
  opacity: 0.7;
}

.fade-08 {
  opacity: 0.8;
}

.fade-09 {
  opacity: 0.9;
}

.fade-10 {
  opacity: 1;
}

.pill {
  border-radius: 50vmin;
}

.oval {
  border-radius: 50%;
}

.aspect, [class^=aspect-], [class*=" aspect-"] {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.aspect > *, [class^=aspect-] > *, [class*=" aspect-"] > * {
  flex: 0 0 auto;
  width: 100%;
}
.aspect::before, [class^=aspect-]::before, [class*=" aspect-"]::before {
  content: "";
  display: block;
  width: 0.01px;
  height: 0;
  padding-bottom: calc(1 / var(--aspect, 1) * 100%);
}

.focus__vshow {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: 0;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}
.focus__vshow:focus {
  z-index: 20;
  width: auto;
  height: auto;
  clip: auto;
}

.w-viewport {
  width: 100vw;
}

.w-unset {
  width: unset;
}

.w-auto {
  width: auto;
}

.w-100 {
  width: 100%;
}

.w-0 {
  width: 0;
}

.h-viewport {
  height: 100vh;
}

.h-unset {
  height: unset;
}

.h-auto {
  height: auto;
}

.h-100 {
  height: 100%;
}

.h-0 {
  height: 0;
}

.vhide {
  position: absolute !important;
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
  flex: 0 0 0%;
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
body:hover .vhide a, body:hover .vhide input, body:hover .vhide button {
  display: none !important;
}

.hide {
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
}

.show {
  pointer-events: initial;
  visibility: visible;
  opacity: 1;
}

.d-none {
  display: none !important;
}

.d-flex {
  display: flex !important;
}

.d-flex-y {
  display: flex !important;
  flex-direction: column;
}

.d-grid {
  display: grid !important;
}

.d-grid-y {
  display: grid !important;
  grid-auto-flow: column;
}

.d-block {
  display: block !important;
}

.d-iblock {
  display: inline-block !important;
  vertical-align: baseline;
}

.d-inline {
  display: inline !important;
  vertical-align: baseline;
}

.z-00 {
  z-index: 0;
}

.z-10 {
  z-index: 10;
}

.z-20 {
  z-index: 20;
}

.z-30 {
  z-index: 30;
}

.z-40 {
  z-index: 40;
}

.z-50 {
  z-index: 50;
}

.z-60 {
  z-index: 60;
}

.z-70 {
  z-index: 70;
}

.z-80 {
  z-index: 80;
}

.z-90 {
  z-index: 90;
}

.z-100 {
  z-index: 100;
}

.static {
  position: static;
}

.rel {
  position: relative;
}

.fix, [class^=fix-], [class*=" fix-"] {
  position: fixed;
}

.fix-tl {
  top: 0;
  left: 0;
}

.fix-tr {
  top: 0;
  right: 0;
}

.fix-bl {
  bottom: 0;
  left: 0;
}

.fix-br {
  bottom: 0;
  right: 0;
}

.fix-trbl {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.abs, [class^=abs-], [class*=" abs-"] {
  position: absolute;
}

.abs-tl {
  top: 0;
  left: 0;
}

.abs-tr {
  top: 0;
  right: 0;
}

.abs-bl {
  bottom: 0;
  left: 0;
}

.abs-br {
  bottom: 0;
  right: 0;
}

.abs-trbl {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.abs-cover {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.abs-contain {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.a-left {
  text-align: left;
}

.a-center {
  text-align: center;
}

.a-right {
  text-align: right;
}

.a-justify {
  text-align: justify;
}

.a-top {
  vertical-align: top;
}

.a-middle {
  vertical-align: middle;
}

.a-baseline {
  vertical-align: baseline;
}

.a-bottom {
  vertical-align: bottom;
}

.ai-stretch {
  align-items: stretch;
}

.ai-center {
  align-items: center;
}

.ai-baseline {
  align-items: baseline;
}

.ai-start {
  align-items: flex-start;
}

.ai-end {
  align-items: flex-end;
}

.as-stretch {
  align-self: stretch;
}

.as-center {
  align-self: center;
}

.as-baseline {
  align-self: baseline;
}

.as-start {
  align-self: flex-start;
}

.as-end {
  align-self: flex-end;
}

.ac-stretch {
  align-content: stretch;
}

.ac-center {
  align-content: center;
}

.ac-baseline {
  align-content: baseline;
}

.ac-start {
  align-content: flex-start;
}

.ac-end {
  align-content: flex-end;
}

.ac-between {
  align-content: space-between;
}

.ac-around {
  align-content: space-around;
}

.jc-stretch {
  justify-content: stretch;
}

.jc-center {
  justify-content: center;
}

.jc-start {
  justify-content: flex-start;
}

.jc-end {
  justify-content: flex-end;
}

.jc-between {
  justify-content: space-between;
}

.jc-around {
  justify-content: space-around;
}

.jc-evenly {
  justify-content: space-evenly;
}

.flex-1-0 {
  flex: 1 0 auto;
}

.flex-0-1 {
  flex: 0 1 auto;
}

.flex-1-1 {
  flex: 1 1 auto;
}

.flex-0-0 {
  flex: 0 0 auto;
}

.obj-none {
  object-fit: none;
}

.obj-fill {
  object-fit: fill;
}

.obj-cover {
  object-fit: cover;
}

.obj-contain {
  object-fit: contain;
}

.obj-scale-down {
  object-fit: scale-down;
}

.obj-bottom {
  object-position: bottom;
}

.obj-center {
  object-position: center;
}

.obj-left {
  object-position: left;
}

.obj-left-bottom {
  object-position: left-bottom;
}

.obj-left-top {
  object-position: left-top;
}

.obj-right {
  object-position: right;
}

.obj-right-bottom {
  object-position: right-bottom;
}

.obj-right-top {
  object-position: right-top;
}

.obj-top {
  object-position: top;
}

@media screen and (min-width: 30em) {
  .a__w-viewport {
    width: 100vw;
  }

  .a__w-unset {
    width: unset;
  }

  .a__w-auto {
    width: auto;
  }

  .a__w-100 {
    width: 100%;
  }

  .a__w-0 {
    width: 0;
  }

  .a__h-viewport {
    height: 100vh;
  }

  .a__h-unset {
    height: unset;
  }

  .a__h-auto {
    height: auto;
  }

  .a__h-100 {
    height: 100%;
  }

  .a__h-0 {
    height: 0;
  }

  .a__vhide {
    position: absolute !important;
    clip: rect(0 0 0 0);
    clip: rect(0, 0, 0, 0);
    flex: 0 0 0%;
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
  }
  body:hover .a__vhide a, body:hover .a__vhide input, body:hover .a__vhide button {
    display: none !important;
  }

  .a__hide {
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
  }

  .a__show {
    pointer-events: initial;
    visibility: visible;
    opacity: 1;
  }

  .a__d-none {
    display: none !important;
  }

  .a__d-flex {
    display: flex !important;
  }

  .a__d-flex-y {
    display: flex !important;
    flex-direction: column;
  }

  .a__d-grid {
    display: grid !important;
  }

  .a__d-grid-y {
    display: grid !important;
    grid-auto-flow: column;
  }

  .a__d-block {
    display: block !important;
  }

  .a__d-iblock {
    display: inline-block !important;
    vertical-align: baseline;
  }

  .a__d-inline {
    display: inline !important;
    vertical-align: baseline;
  }

  .a__z-00 {
    z-index: 0;
  }

  .a__z-10 {
    z-index: 10;
  }

  .a__z-20 {
    z-index: 20;
  }

  .a__z-30 {
    z-index: 30;
  }

  .a__z-40 {
    z-index: 40;
  }

  .a__z-50 {
    z-index: 50;
  }

  .a__z-60 {
    z-index: 60;
  }

  .a__z-70 {
    z-index: 70;
  }

  .a__z-80 {
    z-index: 80;
  }

  .a__z-90 {
    z-index: 90;
  }

  .a__z-100 {
    z-index: 100;
  }

  .a__static {
    position: static;
  }

  .a__rel {
    position: relative;
  }

  .a__fix, [class^=a__fix-], [class*=" a__fix-"] {
    position: fixed;
  }

  .a__fix-tl {
    top: 0;
    left: 0;
  }

  .a__fix-tr {
    top: 0;
    right: 0;
  }

  .a__fix-bl {
    bottom: 0;
    left: 0;
  }

  .a__fix-br {
    bottom: 0;
    right: 0;
  }

  .a__fix-trbl {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .a__abs, [class^=a__abs-], [class*=" a__abs-"] {
    position: absolute;
  }

  .a__abs-tl {
    top: 0;
    left: 0;
  }

  .a__abs-tr {
    top: 0;
    right: 0;
  }

  .a__abs-bl {
    bottom: 0;
    left: 0;
  }

  .a__abs-br {
    bottom: 0;
    right: 0;
  }

  .a__abs-trbl {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .a__abs-cover {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .a__abs-contain {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .a__a-left {
    text-align: left;
  }

  .a__a-center {
    text-align: center;
  }

  .a__a-right {
    text-align: right;
  }

  .a__a-justify {
    text-align: justify;
  }

  .a__a-top {
    vertical-align: top;
  }

  .a__a-middle {
    vertical-align: middle;
  }

  .a__a-baseline {
    vertical-align: baseline;
  }

  .a__a-bottom {
    vertical-align: bottom;
  }

  .a__ai-stretch {
    align-items: stretch;
  }

  .a__ai-center {
    align-items: center;
  }

  .a__ai-baseline {
    align-items: baseline;
  }

  .a__ai-start {
    align-items: flex-start;
  }

  .a__ai-end {
    align-items: flex-end;
  }

  .a__as-stretch {
    align-self: stretch;
  }

  .a__as-center {
    align-self: center;
  }

  .a__as-baseline {
    align-self: baseline;
  }

  .a__as-start {
    align-self: flex-start;
  }

  .a__as-end {
    align-self: flex-end;
  }

  .a__ac-stretch {
    align-content: stretch;
  }

  .a__ac-center {
    align-content: center;
  }

  .a__ac-baseline {
    align-content: baseline;
  }

  .a__ac-start {
    align-content: flex-start;
  }

  .a__ac-end {
    align-content: flex-end;
  }

  .a__ac-between {
    align-content: space-between;
  }

  .a__ac-around {
    align-content: space-around;
  }

  .a__jc-stretch {
    justify-content: stretch;
  }

  .a__jc-center {
    justify-content: center;
  }

  .a__jc-start {
    justify-content: flex-start;
  }

  .a__jc-end {
    justify-content: flex-end;
  }

  .a__jc-between {
    justify-content: space-between;
  }

  .a__jc-around {
    justify-content: space-around;
  }

  .a__jc-evenly {
    justify-content: space-evenly;
  }

  .a__flex-1-0 {
    flex: 1 0 auto;
  }

  .a__flex-0-1 {
    flex: 0 1 auto;
  }

  .a__flex-1-1 {
    flex: 1 1 auto;
  }

  .a__flex-0-0 {
    flex: 0 0 auto;
  }

  .a__obj-none {
    object-fit: none;
  }

  .a__obj-fill {
    object-fit: fill;
  }

  .a__obj-cover {
    object-fit: cover;
  }

  .a__obj-contain {
    object-fit: contain;
  }

  .a__obj-scale-down {
    object-fit: scale-down;
  }

  .a__obj-bottom {
    object-position: bottom;
  }

  .a__obj-center {
    object-position: center;
  }

  .a__obj-left {
    object-position: left;
  }

  .a__obj-left-bottom {
    object-position: left-bottom;
  }

  .a__obj-left-top {
    object-position: left-top;
  }

  .a__obj-right {
    object-position: right;
  }

  .a__obj-right-bottom {
    object-position: right-bottom;
  }

  .a__obj-right-top {
    object-position: right-top;
  }

  .a__obj-top {
    object-position: top;
  }
}
@media screen and (min-width: 40em) {
  .b__w-viewport {
    width: 100vw;
  }

  .b__w-unset {
    width: unset;
  }

  .b__w-auto {
    width: auto;
  }

  .b__w-100 {
    width: 100%;
  }

  .b__w-0 {
    width: 0;
  }

  .b__h-viewport {
    height: 100vh;
  }

  .b__h-unset {
    height: unset;
  }

  .b__h-auto {
    height: auto;
  }

  .b__h-100 {
    height: 100%;
  }

  .b__h-0 {
    height: 0;
  }

  .b__vhide {
    position: absolute !important;
    clip: rect(0 0 0 0);
    clip: rect(0, 0, 0, 0);
    flex: 0 0 0%;
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
  }
  body:hover .b__vhide a, body:hover .b__vhide input, body:hover .b__vhide button {
    display: none !important;
  }

  .b__hide {
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
  }

  .b__show {
    pointer-events: initial;
    visibility: visible;
    opacity: 1;
  }

  .b__d-none {
    display: none !important;
  }

  .b__d-flex {
    display: flex !important;
  }

  .b__d-flex-y {
    display: flex !important;
    flex-direction: column;
  }

  .b__d-grid {
    display: grid !important;
  }

  .b__d-grid-y {
    display: grid !important;
    grid-auto-flow: column;
  }

  .b__d-block {
    display: block !important;
  }

  .b__d-iblock {
    display: inline-block !important;
    vertical-align: baseline;
  }

  .b__d-inline {
    display: inline !important;
    vertical-align: baseline;
  }

  .b__z-00 {
    z-index: 0;
  }

  .b__z-10 {
    z-index: 10;
  }

  .b__z-20 {
    z-index: 20;
  }

  .b__z-30 {
    z-index: 30;
  }

  .b__z-40 {
    z-index: 40;
  }

  .b__z-50 {
    z-index: 50;
  }

  .b__z-60 {
    z-index: 60;
  }

  .b__z-70 {
    z-index: 70;
  }

  .b__z-80 {
    z-index: 80;
  }

  .b__z-90 {
    z-index: 90;
  }

  .b__z-100 {
    z-index: 100;
  }

  .b__static {
    position: static;
  }

  .b__rel {
    position: relative;
  }

  .b__fix, [class^=b__fix-], [class*=" b__fix-"] {
    position: fixed;
  }

  .b__fix-tl {
    top: 0;
    left: 0;
  }

  .b__fix-tr {
    top: 0;
    right: 0;
  }

  .b__fix-bl {
    bottom: 0;
    left: 0;
  }

  .b__fix-br {
    bottom: 0;
    right: 0;
  }

  .b__fix-trbl {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .b__abs, [class^=b__abs-], [class*=" b__abs-"] {
    position: absolute;
  }

  .b__abs-tl {
    top: 0;
    left: 0;
  }

  .b__abs-tr {
    top: 0;
    right: 0;
  }

  .b__abs-bl {
    bottom: 0;
    left: 0;
  }

  .b__abs-br {
    bottom: 0;
    right: 0;
  }

  .b__abs-trbl {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .b__abs-cover {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .b__abs-contain {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .b__a-left {
    text-align: left;
  }

  .b__a-center {
    text-align: center;
  }

  .b__a-right {
    text-align: right;
  }

  .b__a-justify {
    text-align: justify;
  }

  .b__a-top {
    vertical-align: top;
  }

  .b__a-middle {
    vertical-align: middle;
  }

  .b__a-baseline {
    vertical-align: baseline;
  }

  .b__a-bottom {
    vertical-align: bottom;
  }

  .b__ai-stretch {
    align-items: stretch;
  }

  .b__ai-center {
    align-items: center;
  }

  .b__ai-baseline {
    align-items: baseline;
  }

  .b__ai-start {
    align-items: flex-start;
  }

  .b__ai-end {
    align-items: flex-end;
  }

  .b__as-stretch {
    align-self: stretch;
  }

  .b__as-center {
    align-self: center;
  }

  .b__as-baseline {
    align-self: baseline;
  }

  .b__as-start {
    align-self: flex-start;
  }

  .b__as-end {
    align-self: flex-end;
  }

  .b__ac-stretch {
    align-content: stretch;
  }

  .b__ac-center {
    align-content: center;
  }

  .b__ac-baseline {
    align-content: baseline;
  }

  .b__ac-start {
    align-content: flex-start;
  }

  .b__ac-end {
    align-content: flex-end;
  }

  .b__ac-between {
    align-content: space-between;
  }

  .b__ac-around {
    align-content: space-around;
  }

  .b__jc-stretch {
    justify-content: stretch;
  }

  .b__jc-center {
    justify-content: center;
  }

  .b__jc-start {
    justify-content: flex-start;
  }

  .b__jc-end {
    justify-content: flex-end;
  }

  .b__jc-between {
    justify-content: space-between;
  }

  .b__jc-around {
    justify-content: space-around;
  }

  .b__jc-evenly {
    justify-content: space-evenly;
  }

  .b__flex-1-0 {
    flex: 1 0 auto;
  }

  .b__flex-0-1 {
    flex: 0 1 auto;
  }

  .b__flex-1-1 {
    flex: 1 1 auto;
  }

  .b__flex-0-0 {
    flex: 0 0 auto;
  }

  .b__obj-none {
    object-fit: none;
  }

  .b__obj-fill {
    object-fit: fill;
  }

  .b__obj-cover {
    object-fit: cover;
  }

  .b__obj-contain {
    object-fit: contain;
  }

  .b__obj-scale-down {
    object-fit: scale-down;
  }

  .b__obj-bottom {
    object-position: bottom;
  }

  .b__obj-center {
    object-position: center;
  }

  .b__obj-left {
    object-position: left;
  }

  .b__obj-left-bottom {
    object-position: left-bottom;
  }

  .b__obj-left-top {
    object-position: left-top;
  }

  .b__obj-right {
    object-position: right;
  }

  .b__obj-right-bottom {
    object-position: right-bottom;
  }

  .b__obj-right-top {
    object-position: right-top;
  }

  .b__obj-top {
    object-position: top;
  }
}
@media screen and (min-width: 60em) {
  .c__w-viewport {
    width: 100vw;
  }

  .c__w-unset {
    width: unset;
  }

  .c__w-auto {
    width: auto;
  }

  .c__w-100 {
    width: 100%;
  }

  .c__w-0 {
    width: 0;
  }

  .c__h-viewport {
    height: 100vh;
  }

  .c__h-unset {
    height: unset;
  }

  .c__h-auto {
    height: auto;
  }

  .c__h-100 {
    height: 100%;
  }

  .c__h-0 {
    height: 0;
  }

  .c__vhide {
    position: absolute !important;
    clip: rect(0 0 0 0);
    clip: rect(0, 0, 0, 0);
    flex: 0 0 0%;
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
  }
  body:hover .c__vhide a, body:hover .c__vhide input, body:hover .c__vhide button {
    display: none !important;
  }

  .c__hide {
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
  }

  .c__show {
    pointer-events: initial;
    visibility: visible;
    opacity: 1;
  }

  .c__d-none {
    display: none !important;
  }

  .c__d-flex {
    display: flex !important;
  }

  .c__d-flex-y {
    display: flex !important;
    flex-direction: column;
  }

  .c__d-grid {
    display: grid !important;
  }

  .c__d-grid-y {
    display: grid !important;
    grid-auto-flow: column;
  }

  .c__d-block {
    display: block !important;
  }

  .c__d-iblock {
    display: inline-block !important;
    vertical-align: baseline;
  }

  .c__d-inline {
    display: inline !important;
    vertical-align: baseline;
  }

  .c__z-00 {
    z-index: 0;
  }

  .c__z-10 {
    z-index: 10;
  }

  .c__z-20 {
    z-index: 20;
  }

  .c__z-30 {
    z-index: 30;
  }

  .c__z-40 {
    z-index: 40;
  }

  .c__z-50 {
    z-index: 50;
  }

  .c__z-60 {
    z-index: 60;
  }

  .c__z-70 {
    z-index: 70;
  }

  .c__z-80 {
    z-index: 80;
  }

  .c__z-90 {
    z-index: 90;
  }

  .c__z-100 {
    z-index: 100;
  }

  .c__static {
    position: static;
  }

  .c__rel {
    position: relative;
  }

  .c__fix, [class^=c__fix-], [class*=" c__fix-"] {
    position: fixed;
  }

  .c__fix-tl {
    top: 0;
    left: 0;
  }

  .c__fix-tr {
    top: 0;
    right: 0;
  }

  .c__fix-bl {
    bottom: 0;
    left: 0;
  }

  .c__fix-br {
    bottom: 0;
    right: 0;
  }

  .c__fix-trbl {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .c__abs, [class^=c__abs-], [class*=" c__abs-"] {
    position: absolute;
  }

  .c__abs-tl {
    top: 0;
    left: 0;
  }

  .c__abs-tr {
    top: 0;
    right: 0;
  }

  .c__abs-bl {
    bottom: 0;
    left: 0;
  }

  .c__abs-br {
    bottom: 0;
    right: 0;
  }

  .c__abs-trbl {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .c__abs-cover {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .c__abs-contain {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .c__a-left {
    text-align: left;
  }

  .c__a-center {
    text-align: center;
  }

  .c__a-right {
    text-align: right;
  }

  .c__a-justify {
    text-align: justify;
  }

  .c__a-top {
    vertical-align: top;
  }

  .c__a-middle {
    vertical-align: middle;
  }

  .c__a-baseline {
    vertical-align: baseline;
  }

  .c__a-bottom {
    vertical-align: bottom;
  }

  .c__ai-stretch {
    align-items: stretch;
  }

  .c__ai-center {
    align-items: center;
  }

  .c__ai-baseline {
    align-items: baseline;
  }

  .c__ai-start {
    align-items: flex-start;
  }

  .c__ai-end {
    align-items: flex-end;
  }

  .c__as-stretch {
    align-self: stretch;
  }

  .c__as-center {
    align-self: center;
  }

  .c__as-baseline {
    align-self: baseline;
  }

  .c__as-start {
    align-self: flex-start;
  }

  .c__as-end {
    align-self: flex-end;
  }

  .c__ac-stretch {
    align-content: stretch;
  }

  .c__ac-center {
    align-content: center;
  }

  .c__ac-baseline {
    align-content: baseline;
  }

  .c__ac-start {
    align-content: flex-start;
  }

  .c__ac-end {
    align-content: flex-end;
  }

  .c__ac-between {
    align-content: space-between;
  }

  .c__ac-around {
    align-content: space-around;
  }

  .c__jc-stretch {
    justify-content: stretch;
  }

  .c__jc-center {
    justify-content: center;
  }

  .c__jc-start {
    justify-content: flex-start;
  }

  .c__jc-end {
    justify-content: flex-end;
  }

  .c__jc-between {
    justify-content: space-between;
  }

  .c__jc-around {
    justify-content: space-around;
  }

  .c__jc-evenly {
    justify-content: space-evenly;
  }

  .c__flex-1-0 {
    flex: 1 0 auto;
  }

  .c__flex-0-1 {
    flex: 0 1 auto;
  }

  .c__flex-1-1 {
    flex: 1 1 auto;
  }

  .c__flex-0-0 {
    flex: 0 0 auto;
  }

  .c__obj-none {
    object-fit: none;
  }

  .c__obj-fill {
    object-fit: fill;
  }

  .c__obj-cover {
    object-fit: cover;
  }

  .c__obj-contain {
    object-fit: contain;
  }

  .c__obj-scale-down {
    object-fit: scale-down;
  }

  .c__obj-bottom {
    object-position: bottom;
  }

  .c__obj-center {
    object-position: center;
  }

  .c__obj-left {
    object-position: left;
  }

  .c__obj-left-bottom {
    object-position: left-bottom;
  }

  .c__obj-left-top {
    object-position: left-top;
  }

  .c__obj-right {
    object-position: right;
  }

  .c__obj-right-bottom {
    object-position: right-bottom;
  }

  .c__obj-right-top {
    object-position: right-top;
  }

  .c__obj-top {
    object-position: top;
  }
}