body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-kerning: normal;
}

.fw-normal {
  font-weight: normal;
}

.fw-bold, .bold, .strong, strong {
  font-weight: bold;
}

.fs-normal {
  font-style: normal;
}

.fs-italic, .italic, .em, em {
  font-style: italic;
}

* {
  font-size: var(--font-size, inherit);
  font-family: var(--font-family, inherit);
  line-height: var(--line-height, inherit);
  letter-spacing: var(--letter-spacing, inherit);
  font-feature-settings: var(--font-feature-settings, inherit);
}

.f-sans, [class^=f-sans-], [class*=" f-sans-"] {
  --font-family: MessinaSans;
  --line-height: 1.4;
  --letter-spacing: calc(1px - 0.025em);
  --font-feature-settings: "kern" 1;
  --trim-sides: calc(1px - 0.1em);
  --trim-capline: 0;
  --trim-baseline: 0;
}

.f-serif, [class^=f-serif-], [class*=" f-serif-"] {
  --font-family: MessinaSerif;
  --line-height: 1.4;
  --letter-spacing: calc(1px - 0.025em);
  --font-feature-settings: "kern" 1;
  --trim-sides: calc(1px - 0.1em);
  --trim-capline: 0;
  --trim-baseline: 0;
}

.f-modern, [class^=f-modern-], [class*=" f-modern-"] {
  --font-family: MessinaModern;
  --line-height: 1.4;
  --letter-spacing: calc(1px - 0.025em);
  --font-feature-settings: "kern" 1;
  --trim-sides: calc(1px - 0.1em);
  --trim-capline: 0;
  --trim-baseline: 0;
}

[class^=f-], [class*=" f-"] {
  --trim-top: calc((var(--line-height) - 1em) / 2 + var(--trim-capline) + var(--trim-adjacent));
  --trim-bottom: calc((var(--line-height) - 1em) / 2 + var(--trim-baseline));
  --trim-adjacent: 0%;
}
.trim > [class^=f-], .trim > [class*=" f-"], [class^=trim-] > [class^=f-], [class^=trim-] > [class*=" f-"], [class*=" trim-"] > [class^=f-], [class*=" trim-"] > [class*=" f-"] {
  margin-top: calc(0% - var(--trim-top));
  margin-bottom: calc(0% - var(--trim-bottom));
  margin-right: var(--trim-sides);
  margin-left: var(--trim-sides);
}

.trim > * + [class^=f-], .trim > * + [class*=" f-"], [class^=trim-] > * + [class^=f-], [class^=trim-] > * + [class*=" f-"], [class*=" trim-"] > * + [class^=f-], [class*=" trim-"] > * + [class*=" f-"] {
  margin-top: calc(var(--stack-gap) - var(--trim-top));
}

[class^=f-] + [class^=f-], [class^=f-] + [class*=" f-"], [class*=" f-"] + [class^=f-], [class*=" f-"] + [class*=" f-"] {
  --trim-adjacent: var(--trim-ascender);
}

.plain *:not(div):not(table):not(figure):not(img):not(svg):not(video):not(iframe):not(object):not(section):not(aside):not(header):not(footer):not(article), [class^=plain-] *:not(div):not(table):not(figure):not(img):not(svg):not(video):not(iframe):not(object):not(section):not(aside):not(header):not(footer):not(article), [class*=" plain-"] *:not(div):not(table):not(figure):not(img):not(svg):not(video):not(iframe):not(object):not(section):not(aside):not(header):not(footer):not(article) {
  --trim-top: calc((var(--line-height) - 1em) / 2 + var(--trim-capline) + var(--trim-adjacent));
  --trim-bottom: calc((var(--line-height) - 1em) / 2 + var(--trim-baseline));
  --trim-adjacent: 0%;
}
.plain > *:not(div):not(table):not(figure):not(img):not(svg):not(video):not(iframe):not(object):not(section):not(aside):not(header):not(footer):not(article), [class^=plain-] > *:not(div):not(table):not(figure):not(img):not(svg):not(video):not(iframe):not(object):not(section):not(aside):not(header):not(footer):not(article), [class*=" plain-"] > *:not(div):not(table):not(figure):not(img):not(svg):not(video):not(iframe):not(object):not(section):not(aside):not(header):not(footer):not(article) {
  margin-top: calc(0% - var(--trim-top));
  margin-bottom: calc(0% - var(--trim-bottom));
  margin-right: var(--trim-sides);
  margin-left: var(--trim-sides);
}

.plain > * + *:not(div):not(table):not(figure):not(img):not(svg):not(video):not(iframe):not(object):not(section):not(aside):not(header):not(footer):not(article), [class^=plain-] > * + *:not(div):not(table):not(figure):not(img):not(svg):not(video):not(iframe):not(object):not(section):not(aside):not(header):not(footer):not(article), [class*=" plain-"] > * + *:not(div):not(table):not(figure):not(img):not(svg):not(video):not(iframe):not(object):not(section):not(aside):not(header):not(footer):not(article) {
  margin-top: calc(var(--stack-gap) - var(--trim-top));
}

.plain *:not(div):not(table):not(figure):not(img):not(svg):not(video):not(iframe):not(object):not(section):not(aside):not(header):not(footer):not(article) + *:not(div):not(table):not(figure):not(img):not(svg):not(video):not(iframe):not(object):not(section):not(aside):not(header):not(footer):not(article), [class^=plain-] *:not(div):not(table):not(figure):not(img):not(svg):not(video):not(iframe):not(object):not(section):not(aside):not(header):not(footer):not(article) + *:not(div):not(table):not(figure):not(img):not(svg):not(video):not(iframe):not(object):not(section):not(aside):not(header):not(footer):not(article), [class*=" plain-"] *:not(div):not(table):not(figure):not(img):not(svg):not(video):not(iframe):not(object):not(section):not(aside):not(header):not(footer):not(article) + *:not(div):not(table):not(figure):not(img):not(svg):not(video):not(iframe):not(object):not(section):not(aside):not(header):not(footer):not(article) {
  --trim-adjacent: var(--trim-ascender);
}

.f-sans-xs {
  --font-size: 1rem;
  --line-height: 1.3;
}

.f-sans-s {
  --font-size: 1rem;
  --line-height: 1.3;
}

.f-sans-m {
  --font-size: 2rem;
  --line-height: 1.2;
}

.f-sans-l {
  --font-size: 3rem;
  --line-height: 1.1;
}

.f-serif-xs {
  --font-size: 1rem;
  --line-height: 1.3;
}

.f-serif-s {
  --font-size: 1rem;
  --line-height: 1.3;
}

.f-serif-m {
  --font-size: 2rem;
  --line-height: 1.2;
}

.f-serif-l {
  --font-size: 3rem;
  --line-height: 1.1;
}

.f-modern-xs {
  --font-size: 1rem;
  --line-height: 1.3;
}

.f-modern-s {
  --font-size: 1rem;
  --line-height: 1.3;
}

.f-modern-m {
  --font-size: 2rem;
  --line-height: 1.2;
}

.f-modern-l {
  --font-size: 3rem;
  --line-height: 1.1;
}