:root {
  --color-dark: 10, 10, 10;
  --contrast-dark: 240, 240, 240;
  --color-lite: 240, 240, 240;
  --contrast-lite: 10, 10, 10;
  --color-gray-1: 34, 34, 34;
  --contrast-gray-1: 240, 240, 240;
  --color-gray-2: 84, 84, 84;
  --contrast-gray-2: 240, 240, 240;
  --color-gray-3: 133, 133, 133;
  --contrast-gray-3: 10, 10, 10;
  --color-gray-4: 183, 183, 183;
  --contrast-gray-4: 10, 10, 10;
  --color-gray-5: 233, 233, 233;
  --contrast-gray-5: 10, 10, 10;
  --color-foo: 80, 128, 33;
  --contrast-foo: 240, 240, 240;
  --color-bar: 218, 80, 201;
  --contrast-bar: 10, 10, 10;
  --color-baz: 71, 65, 255;
  --contrast-baz: 240, 240, 240;
  --color-fiz: 218, 155, 48;
  --contrast-fiz: 10, 10, 10;
  --color-purple-1: 17, 16, 62;
  --contrast-purple-1: 240, 240, 240;
  --color-purple-2: 46, 45, 107;
  --contrast-purple-2: 240, 240, 240;
  --color-purple-3: 90, 88, 152;
  --contrast-purple-3: 240, 240, 240;
  --color-purple-4: 148, 147, 198;
  --contrast-purple-4: 10, 10, 10;
  --color-purple-5: 221, 220, 243;
  --contrast-purple-5: 10, 10, 10;
  --color-pink-a: 51, 5, 42;
  --contrast-pink-a: 240, 240, 240;
  --color-pink-b: 102, 20, 86;
  --contrast-pink-b: 240, 240, 240;
  --color-pink-c: 153, 46, 132;
  --contrast-pink-c: 240, 240, 240;
  --color-pink-d: 204, 82, 180;
  --contrast-pink-d: 10, 10, 10;
  --color-pink-e: 255, 128, 229;
  --contrast-pink-e: 10, 10, 10;
}

body {
  background-color: rgb(var(--color-lite));
  color: rgb(var(--contrast-lite));
}

[class^=fg-], [class*=" fg-"] {
  color: rgba(var(--fg-color), var(--fg-opacity, 1));
}

[class^=bg-], [class*=" bg-"] {
  background-color: rgba(var(--bg-color), var(--bg-opacity, 1));
}

[class^=bd-], [class*=" bd-"] {
  border-color: rgba(var(--bd-color, var(--fg-color)), var(--bd-opacity, 1));
  border-style: var(--bd-style, solid);
  border-top-width: var(--bd-top-width, 0);
  border-right-width: var(--bd-right-width, 0);
  border-bottom-width: var(--bd-bottom-width, 0);
  border-left-width: var(--bd-left-width, 0);
}

[class^=ol-], [class*=" ol-"] {
  outline-color: rgba(var(--ol-color, var(--fg-color)), var(--ol-opacity, 1));
  outline-width: var(--ol-width);
}

[class^=fill-], [class*=" fill-"] {
  fill: rgb(var(--fill-color));
  fill-opacity: var(--fill-opacity, 1);
}

[class^=stroke-], [class*=" stroke-"] {
  stroke: rgb(var(--stroke-color));
  stroke-opacity: var(--stroke-opacity, 1);
  stroke-width: var(--stroke-width);
}

.theme-dark {
  --theme-color: var(--color-dark);
  --theme-contrast: var(--contrast-dark);
}

.fg-dark {
  --fg-color: var(--color-dark);
  --fg-contrast: var(--contrast-dark);
}

.bg-dark {
  --bg-color: var(--color-dark);
  --bg-contrast: var(--contrast-dark);
}

.bd-dark {
  --bd-color: var(--color-dark);
}

.ol-dark {
  --ol-color: var(--color-dark);
}

.fill-dark {
  --fill-color: var(--color-dark);
}

.stroke-dark {
  --stroke-color: var(--color-dark);
}

.theme-lite {
  --theme-color: var(--color-lite);
  --theme-contrast: var(--contrast-lite);
}

.fg-lite {
  --fg-color: var(--color-lite);
  --fg-contrast: var(--contrast-lite);
}

.bg-lite {
  --bg-color: var(--color-lite);
  --bg-contrast: var(--contrast-lite);
}

.bd-lite {
  --bd-color: var(--color-lite);
}

.ol-lite {
  --ol-color: var(--color-lite);
}

.fill-lite {
  --fill-color: var(--color-lite);
}

.stroke-lite {
  --stroke-color: var(--color-lite);
}

.theme-gray-1 {
  --theme-color: var(--color-gray-1);
  --theme-contrast: var(--contrast-gray-1);
}

.fg-gray-1 {
  --fg-color: var(--color-gray-1);
  --fg-contrast: var(--contrast-gray-1);
}

.bg-gray-1 {
  --bg-color: var(--color-gray-1);
  --bg-contrast: var(--contrast-gray-1);
}

.bd-gray-1 {
  --bd-color: var(--color-gray-1);
}

.ol-gray-1 {
  --ol-color: var(--color-gray-1);
}

.fill-gray-1 {
  --fill-color: var(--color-gray-1);
}

.stroke-gray-1 {
  --stroke-color: var(--color-gray-1);
}

.theme-gray-2 {
  --theme-color: var(--color-gray-2);
  --theme-contrast: var(--contrast-gray-2);
}

.fg-gray-2 {
  --fg-color: var(--color-gray-2);
  --fg-contrast: var(--contrast-gray-2);
}

.bg-gray-2 {
  --bg-color: var(--color-gray-2);
  --bg-contrast: var(--contrast-gray-2);
}

.bd-gray-2 {
  --bd-color: var(--color-gray-2);
}

.ol-gray-2 {
  --ol-color: var(--color-gray-2);
}

.fill-gray-2 {
  --fill-color: var(--color-gray-2);
}

.stroke-gray-2 {
  --stroke-color: var(--color-gray-2);
}

.theme-gray-3 {
  --theme-color: var(--color-gray-3);
  --theme-contrast: var(--contrast-gray-3);
}

.fg-gray-3 {
  --fg-color: var(--color-gray-3);
  --fg-contrast: var(--contrast-gray-3);
}

.bg-gray-3 {
  --bg-color: var(--color-gray-3);
  --bg-contrast: var(--contrast-gray-3);
}

.bd-gray-3 {
  --bd-color: var(--color-gray-3);
}

.ol-gray-3 {
  --ol-color: var(--color-gray-3);
}

.fill-gray-3 {
  --fill-color: var(--color-gray-3);
}

.stroke-gray-3 {
  --stroke-color: var(--color-gray-3);
}

.theme-gray-4 {
  --theme-color: var(--color-gray-4);
  --theme-contrast: var(--contrast-gray-4);
}

.fg-gray-4 {
  --fg-color: var(--color-gray-4);
  --fg-contrast: var(--contrast-gray-4);
}

.bg-gray-4 {
  --bg-color: var(--color-gray-4);
  --bg-contrast: var(--contrast-gray-4);
}

.bd-gray-4 {
  --bd-color: var(--color-gray-4);
}

.ol-gray-4 {
  --ol-color: var(--color-gray-4);
}

.fill-gray-4 {
  --fill-color: var(--color-gray-4);
}

.stroke-gray-4 {
  --stroke-color: var(--color-gray-4);
}

.theme-gray-5 {
  --theme-color: var(--color-gray-5);
  --theme-contrast: var(--contrast-gray-5);
}

.fg-gray-5 {
  --fg-color: var(--color-gray-5);
  --fg-contrast: var(--contrast-gray-5);
}

.bg-gray-5 {
  --bg-color: var(--color-gray-5);
  --bg-contrast: var(--contrast-gray-5);
}

.bd-gray-5 {
  --bd-color: var(--color-gray-5);
}

.ol-gray-5 {
  --ol-color: var(--color-gray-5);
}

.fill-gray-5 {
  --fill-color: var(--color-gray-5);
}

.stroke-gray-5 {
  --stroke-color: var(--color-gray-5);
}

.theme-foo {
  --theme-color: var(--color-foo);
  --theme-contrast: var(--contrast-foo);
}

.fg-foo {
  --fg-color: var(--color-foo);
  --fg-contrast: var(--contrast-foo);
}

.bg-foo {
  --bg-color: var(--color-foo);
  --bg-contrast: var(--contrast-foo);
}

.bd-foo {
  --bd-color: var(--color-foo);
}

.ol-foo {
  --ol-color: var(--color-foo);
}

.fill-foo {
  --fill-color: var(--color-foo);
}

.stroke-foo {
  --stroke-color: var(--color-foo);
}

.theme-bar {
  --theme-color: var(--color-bar);
  --theme-contrast: var(--contrast-bar);
}

.fg-bar {
  --fg-color: var(--color-bar);
  --fg-contrast: var(--contrast-bar);
}

.bg-bar {
  --bg-color: var(--color-bar);
  --bg-contrast: var(--contrast-bar);
}

.bd-bar {
  --bd-color: var(--color-bar);
}

.ol-bar {
  --ol-color: var(--color-bar);
}

.fill-bar {
  --fill-color: var(--color-bar);
}

.stroke-bar {
  --stroke-color: var(--color-bar);
}

.theme-baz {
  --theme-color: var(--color-baz);
  --theme-contrast: var(--contrast-baz);
}

.fg-baz {
  --fg-color: var(--color-baz);
  --fg-contrast: var(--contrast-baz);
}

.bg-baz {
  --bg-color: var(--color-baz);
  --bg-contrast: var(--contrast-baz);
}

.bd-baz {
  --bd-color: var(--color-baz);
}

.ol-baz {
  --ol-color: var(--color-baz);
}

.fill-baz {
  --fill-color: var(--color-baz);
}

.stroke-baz {
  --stroke-color: var(--color-baz);
}

.theme-fiz {
  --theme-color: var(--color-fiz);
  --theme-contrast: var(--contrast-fiz);
}

.fg-fiz {
  --fg-color: var(--color-fiz);
  --fg-contrast: var(--contrast-fiz);
}

.bg-fiz {
  --bg-color: var(--color-fiz);
  --bg-contrast: var(--contrast-fiz);
}

.bd-fiz {
  --bd-color: var(--color-fiz);
}

.ol-fiz {
  --ol-color: var(--color-fiz);
}

.fill-fiz {
  --fill-color: var(--color-fiz);
}

.stroke-fiz {
  --stroke-color: var(--color-fiz);
}

.theme-purple-1 {
  --theme-color: var(--color-purple-1);
  --theme-contrast: var(--contrast-purple-1);
}

.fg-purple-1 {
  --fg-color: var(--color-purple-1);
  --fg-contrast: var(--contrast-purple-1);
}

.bg-purple-1 {
  --bg-color: var(--color-purple-1);
  --bg-contrast: var(--contrast-purple-1);
}

.bd-purple-1 {
  --bd-color: var(--color-purple-1);
}

.ol-purple-1 {
  --ol-color: var(--color-purple-1);
}

.fill-purple-1 {
  --fill-color: var(--color-purple-1);
}

.stroke-purple-1 {
  --stroke-color: var(--color-purple-1);
}

.theme-purple-2 {
  --theme-color: var(--color-purple-2);
  --theme-contrast: var(--contrast-purple-2);
}

.fg-purple-2 {
  --fg-color: var(--color-purple-2);
  --fg-contrast: var(--contrast-purple-2);
}

.bg-purple-2 {
  --bg-color: var(--color-purple-2);
  --bg-contrast: var(--contrast-purple-2);
}

.bd-purple-2 {
  --bd-color: var(--color-purple-2);
}

.ol-purple-2 {
  --ol-color: var(--color-purple-2);
}

.fill-purple-2 {
  --fill-color: var(--color-purple-2);
}

.stroke-purple-2 {
  --stroke-color: var(--color-purple-2);
}

.theme-purple-3 {
  --theme-color: var(--color-purple-3);
  --theme-contrast: var(--contrast-purple-3);
}

.fg-purple-3 {
  --fg-color: var(--color-purple-3);
  --fg-contrast: var(--contrast-purple-3);
}

.bg-purple-3 {
  --bg-color: var(--color-purple-3);
  --bg-contrast: var(--contrast-purple-3);
}

.bd-purple-3 {
  --bd-color: var(--color-purple-3);
}

.ol-purple-3 {
  --ol-color: var(--color-purple-3);
}

.fill-purple-3 {
  --fill-color: var(--color-purple-3);
}

.stroke-purple-3 {
  --stroke-color: var(--color-purple-3);
}

.theme-purple-4 {
  --theme-color: var(--color-purple-4);
  --theme-contrast: var(--contrast-purple-4);
}

.fg-purple-4 {
  --fg-color: var(--color-purple-4);
  --fg-contrast: var(--contrast-purple-4);
}

.bg-purple-4 {
  --bg-color: var(--color-purple-4);
  --bg-contrast: var(--contrast-purple-4);
}

.bd-purple-4 {
  --bd-color: var(--color-purple-4);
}

.ol-purple-4 {
  --ol-color: var(--color-purple-4);
}

.fill-purple-4 {
  --fill-color: var(--color-purple-4);
}

.stroke-purple-4 {
  --stroke-color: var(--color-purple-4);
}

.theme-purple-5 {
  --theme-color: var(--color-purple-5);
  --theme-contrast: var(--contrast-purple-5);
}

.fg-purple-5 {
  --fg-color: var(--color-purple-5);
  --fg-contrast: var(--contrast-purple-5);
}

.bg-purple-5 {
  --bg-color: var(--color-purple-5);
  --bg-contrast: var(--contrast-purple-5);
}

.bd-purple-5 {
  --bd-color: var(--color-purple-5);
}

.ol-purple-5 {
  --ol-color: var(--color-purple-5);
}

.fill-purple-5 {
  --fill-color: var(--color-purple-5);
}

.stroke-purple-5 {
  --stroke-color: var(--color-purple-5);
}

.theme-pink-a {
  --theme-color: var(--color-pink-a);
  --theme-contrast: var(--contrast-pink-a);
}

.fg-pink-a {
  --fg-color: var(--color-pink-a);
  --fg-contrast: var(--contrast-pink-a);
}

.bg-pink-a {
  --bg-color: var(--color-pink-a);
  --bg-contrast: var(--contrast-pink-a);
}

.bd-pink-a {
  --bd-color: var(--color-pink-a);
}

.ol-pink-a {
  --ol-color: var(--color-pink-a);
}

.fill-pink-a {
  --fill-color: var(--color-pink-a);
}

.stroke-pink-a {
  --stroke-color: var(--color-pink-a);
}

.theme-pink-b {
  --theme-color: var(--color-pink-b);
  --theme-contrast: var(--contrast-pink-b);
}

.fg-pink-b {
  --fg-color: var(--color-pink-b);
  --fg-contrast: var(--contrast-pink-b);
}

.bg-pink-b {
  --bg-color: var(--color-pink-b);
  --bg-contrast: var(--contrast-pink-b);
}

.bd-pink-b {
  --bd-color: var(--color-pink-b);
}

.ol-pink-b {
  --ol-color: var(--color-pink-b);
}

.fill-pink-b {
  --fill-color: var(--color-pink-b);
}

.stroke-pink-b {
  --stroke-color: var(--color-pink-b);
}

.theme-pink-c {
  --theme-color: var(--color-pink-c);
  --theme-contrast: var(--contrast-pink-c);
}

.fg-pink-c {
  --fg-color: var(--color-pink-c);
  --fg-contrast: var(--contrast-pink-c);
}

.bg-pink-c {
  --bg-color: var(--color-pink-c);
  --bg-contrast: var(--contrast-pink-c);
}

.bd-pink-c {
  --bd-color: var(--color-pink-c);
}

.ol-pink-c {
  --ol-color: var(--color-pink-c);
}

.fill-pink-c {
  --fill-color: var(--color-pink-c);
}

.stroke-pink-c {
  --stroke-color: var(--color-pink-c);
}

.theme-pink-d {
  --theme-color: var(--color-pink-d);
  --theme-contrast: var(--contrast-pink-d);
}

.fg-pink-d {
  --fg-color: var(--color-pink-d);
  --fg-contrast: var(--contrast-pink-d);
}

.bg-pink-d {
  --bg-color: var(--color-pink-d);
  --bg-contrast: var(--contrast-pink-d);
}

.bd-pink-d {
  --bd-color: var(--color-pink-d);
}

.ol-pink-d {
  --ol-color: var(--color-pink-d);
}

.fill-pink-d {
  --fill-color: var(--color-pink-d);
}

.stroke-pink-d {
  --stroke-color: var(--color-pink-d);
}

.theme-pink-e {
  --theme-color: var(--color-pink-e);
  --theme-contrast: var(--contrast-pink-e);
}

.fg-pink-e {
  --fg-color: var(--color-pink-e);
  --fg-contrast: var(--contrast-pink-e);
}

.bg-pink-e {
  --bg-color: var(--color-pink-e);
  --bg-contrast: var(--contrast-pink-e);
}

.bd-pink-e {
  --bd-color: var(--color-pink-e);
}

.ol-pink-e {
  --ol-color: var(--color-pink-e);
}

.fill-pink-e {
  --fill-color: var(--color-pink-e);
}

.stroke-pink-e {
  --stroke-color: var(--color-pink-e);
}

.op-00 {
  opacity: 0;
}

.op-10 {
  opacity: 0.1;
}

.op-20 {
  opacity: 0.2;
}

.op-30 {
  opacity: 0.3;
}

.op-40 {
  opacity: 0.4;
}

.op-50 {
  opacity: 0.5;
}

.op-60 {
  opacity: 0.6;
}

.op-70 {
  opacity: 0.7;
}

.op-80 {
  opacity: 0.8;
}

.op-90 {
  opacity: 0.9;
}

.fg-op-00 {
  --fg-opacity: 0;
}

.bg-op-00 {
  --bg-opacity: 0;
}

.bd-op-00 {
  --bd-opacity: 0;
}

.ol-op-00 {
  --ol-opacity: 0;
}

.fill-op-00 {
  --fill-opacity: 0;
}

.stroke-op-00 {
  --stroke-opacity: 0;
}

.fg-op-10 {
  --fg-opacity: 0.1;
}

.bg-op-10 {
  --bg-opacity: 0.1;
}

.bd-op-10 {
  --bd-opacity: 0.1;
}

.ol-op-10 {
  --ol-opacity: 0.1;
}

.fill-op-10 {
  --fill-opacity: 0.1;
}

.stroke-op-10 {
  --stroke-opacity: 0.1;
}

.fg-op-20 {
  --fg-opacity: 0.2;
}

.bg-op-20 {
  --bg-opacity: 0.2;
}

.bd-op-20 {
  --bd-opacity: 0.2;
}

.ol-op-20 {
  --ol-opacity: 0.2;
}

.fill-op-20 {
  --fill-opacity: 0.2;
}

.stroke-op-20 {
  --stroke-opacity: 0.2;
}

.fg-op-30 {
  --fg-opacity: 0.3;
}

.bg-op-30 {
  --bg-opacity: 0.3;
}

.bd-op-30 {
  --bd-opacity: 0.3;
}

.ol-op-30 {
  --ol-opacity: 0.3;
}

.fill-op-30 {
  --fill-opacity: 0.3;
}

.stroke-op-30 {
  --stroke-opacity: 0.3;
}

.fg-op-40 {
  --fg-opacity: 0.4;
}

.bg-op-40 {
  --bg-opacity: 0.4;
}

.bd-op-40 {
  --bd-opacity: 0.4;
}

.ol-op-40 {
  --ol-opacity: 0.4;
}

.fill-op-40 {
  --fill-opacity: 0.4;
}

.stroke-op-40 {
  --stroke-opacity: 0.4;
}

.fg-op-50 {
  --fg-opacity: 0.5;
}

.bg-op-50 {
  --bg-opacity: 0.5;
}

.bd-op-50 {
  --bd-opacity: 0.5;
}

.ol-op-50 {
  --ol-opacity: 0.5;
}

.fill-op-50 {
  --fill-opacity: 0.5;
}

.stroke-op-50 {
  --stroke-opacity: 0.5;
}

.fg-op-60 {
  --fg-opacity: 0.6;
}

.bg-op-60 {
  --bg-opacity: 0.6;
}

.bd-op-60 {
  --bd-opacity: 0.6;
}

.ol-op-60 {
  --ol-opacity: 0.6;
}

.fill-op-60 {
  --fill-opacity: 0.6;
}

.stroke-op-60 {
  --stroke-opacity: 0.6;
}

.fg-op-70 {
  --fg-opacity: 0.7;
}

.bg-op-70 {
  --bg-opacity: 0.7;
}

.bd-op-70 {
  --bd-opacity: 0.7;
}

.ol-op-70 {
  --ol-opacity: 0.7;
}

.fill-op-70 {
  --fill-opacity: 0.7;
}

.stroke-op-70 {
  --stroke-opacity: 0.7;
}

.fg-op-80 {
  --fg-opacity: 0.8;
}

.bg-op-80 {
  --bg-opacity: 0.8;
}

.bd-op-80 {
  --bd-opacity: 0.8;
}

.ol-op-80 {
  --ol-opacity: 0.8;
}

.fill-op-80 {
  --fill-opacity: 0.8;
}

.stroke-op-80 {
  --stroke-opacity: 0.8;
}

.fg-op-90 {
  --fg-opacity: 0.9;
}

.bg-op-90 {
  --bg-opacity: 0.9;
}

.bd-op-90 {
  --bd-opacity: 0.9;
}

.ol-op-90 {
  --ol-opacity: 0.9;
}

.fill-op-90 {
  --fill-opacity: 0.9;
}

.stroke-op-90 {
  --stroke-opacity: 0.9;
}

.bg-contrast {
  --bg-color: var(--fg-contrast);
}

.fg-contrast {
  --fg-color: var(--bg-contrast);
}

.bd-contrast {
  --bd-color: var(--bg-contrast);
}

.ol-contrast {
  --ol-color: var(--bg-contrast);
}

.fill-contrast {
  --fill-color: var(--bg-contrast);
}

.stroke-contrast {
  --stroke-color: var(--bg-contrast);
}

.fg-theme {
  --fg-color: var(--theme-color);
  --fg-contrast: var(--theme-contrast);
}

.bg-theme {
  --bg-color: var(--theme-color);
  --bg-contrast: var(--theme-contrast);
}

.bd-theme {
  --bd-color: var(--theme-color);
}

.ol-theme {
  --ol-color: var(--theme-color);
}

.fill-theme {
  --fill-color: var(--theme-color);
}

.stroke-theme {
  --stroke-color: var(--theme-color);
}

.fill-current {
  fill: currentColor;
}

.stroke-current {
  stroke: currentColor;
}

:root {
  --width-0: 0px;
}

.bd-0, .bd-top-0 {
  --bd-top-width: var(--width-0);
}

.bd-0, .bd-right-0 {
  --bd-right-width: var(--width-0);
}

.bd-0, .bd-bottom-0 {
  --bd-bottom-width: var(--width-0);
}

.bd-0, .bd-left-0 {
  --bd-left-width: var(--width-0);
}

.ol-0 {
  --ol-width: var(--width-0);
}

.stroke-0 {
  --stroke-width: var(--width-0);
}

:root {
  --width-1: 1px;
}

.bd-1, .bd-top-1 {
  --bd-top-width: var(--width-1);
}

.bd-1, .bd-right-1 {
  --bd-right-width: var(--width-1);
}

.bd-1, .bd-bottom-1 {
  --bd-bottom-width: var(--width-1);
}

.bd-1, .bd-left-1 {
  --bd-left-width: var(--width-1);
}

.ol-1 {
  --ol-width: var(--width-1);
}

.stroke-1 {
  --stroke-width: var(--width-1);
}

:root {
  --width-2: 2px;
}

.bd-2, .bd-top-2 {
  --bd-top-width: var(--width-2);
}

.bd-2, .bd-right-2 {
  --bd-right-width: var(--width-2);
}

.bd-2, .bd-bottom-2 {
  --bd-bottom-width: var(--width-2);
}

.bd-2, .bd-left-2 {
  --bd-left-width: var(--width-2);
}

.ol-2 {
  --ol-width: var(--width-2);
}

.stroke-2 {
  --stroke-width: var(--width-2);
}

:root {
  --width-4: 4px;
}

.bd-4, .bd-top-4 {
  --bd-top-width: var(--width-4);
}

.bd-4, .bd-right-4 {
  --bd-right-width: var(--width-4);
}

.bd-4, .bd-bottom-4 {
  --bd-bottom-width: var(--width-4);
}

.bd-4, .bd-left-4 {
  --bd-left-width: var(--width-4);
}

.ol-4 {
  --ol-width: var(--width-4);
}

.stroke-4 {
  --stroke-width: var(--width-4);
}

:root {
  --width-8: 8px;
}

.bd-8, .bd-top-8 {
  --bd-top-width: var(--width-8);
}

.bd-8, .bd-right-8 {
  --bd-right-width: var(--width-8);
}

.bd-8, .bd-bottom-8 {
  --bd-bottom-width: var(--width-8);
}

.bd-8, .bd-left-8 {
  --bd-left-width: var(--width-8);
}

.ol-8 {
  --ol-width: var(--width-8);
}

.stroke-8 {
  --stroke-width: var(--width-8);
}

:root {
  --width-16: 16px;
}

.bd-16, .bd-top-16 {
  --bd-top-width: var(--width-16);
}

.bd-16, .bd-right-16 {
  --bd-right-width: var(--width-16);
}

.bd-16, .bd-bottom-16 {
  --bd-bottom-width: var(--width-16);
}

.bd-16, .bd-left-16 {
  --bd-left-width: var(--width-16);
}

.ol-16 {
  --ol-width: var(--width-16);
}

.stroke-16 {
  --stroke-width: var(--width-16);
}

:root {
  --radius-2: 2px;
}

.br-2, .br-t-2, .br-tl-2 {
  border-top-left-radius: var(--radius-2);
}

.br-2, .br-t-2, .br-tr-2 {
  border-top-right-radius: var(--radius-2);
}

.br-2, .br-b-2, .br-bl-2 {
  border-bottom-left-radius: var(--radius-2);
}

.br-2, .br-b-2, .br-br-2 {
  border-bottom-right-radius: var(--radius-2);
}

:root {
  --radius-4: 4px;
}

.br-4, .br-t-4, .br-tl-4 {
  border-top-left-radius: var(--radius-4);
}

.br-4, .br-t-4, .br-tr-4 {
  border-top-right-radius: var(--radius-4);
}

.br-4, .br-b-4, .br-bl-4 {
  border-bottom-left-radius: var(--radius-4);
}

.br-4, .br-b-4, .br-br-4 {
  border-bottom-right-radius: var(--radius-4);
}

:root {
  --radius-6: 6px;
}

.br-6, .br-t-6, .br-tl-6 {
  border-top-left-radius: var(--radius-6);
}

.br-6, .br-t-6, .br-tr-6 {
  border-top-right-radius: var(--radius-6);
}

.br-6, .br-b-6, .br-bl-6 {
  border-bottom-left-radius: var(--radius-6);
}

.br-6, .br-b-6, .br-br-6 {
  border-bottom-right-radius: var(--radius-6);
}

:root {
  --radius-8: 8px;
}

.br-8, .br-t-8, .br-tl-8 {
  border-top-left-radius: var(--radius-8);
}

.br-8, .br-t-8, .br-tr-8 {
  border-top-right-radius: var(--radius-8);
}

.br-8, .br-b-8, .br-bl-8 {
  border-bottom-left-radius: var(--radius-8);
}

.br-8, .br-b-8, .br-br-8 {
  border-bottom-right-radius: var(--radius-8);
}

.oval {
  border-radius: 50%;
}

.pill {
  border-radius: 50vmin;
}