@media screen and (max-width: 29.999em) {
  :root {
    --font-size: 16px;
    --inner-x: 1rem;
    --inner-y: 1.5rem;
    --outer-top: 2rem;
    --outer-right: 50px;
    --outer-bottom: 2rem;
    --outer-left: 50px;
    --grid-columns: 12;
    --outer-width: 100%;
    --inner-y-s: calc(var(--inner-y) * 0.5);
    --inner-y-m: 3.5rem;
    --inner-y-l: calc(var(--inner-y) * 2);
    --inner-x-s: calc(var(--inner-x) * 0.5);
    --inner-x-m: calc(var(--inner-x) * 1);
    --inner-x-l: calc(var(--inner-x) * 2);
    --outer-width: 100%;
  }
}
@media screen and (min-width: 30em) and (max-width: 39.999em) {
  :root {
    --font-size: 16px;
    --inner-x: 1rem;
    --inner-y: 1.5rem;
    --outer-top: 2rem;
    --outer-right: calc(31.25vw + -6.25rem);
    --outer-bottom: 2rem;
    --outer-left: calc(31.25vw + -6.25rem);
    --grid-columns: 12;
    --outer-width: 30rem;
    --breakpoint: 30em;
    --inner-y-s: calc(var(--inner-y) * 0.5);
    --inner-y-m: 3.5rem;
    --inner-y-l: calc(var(--inner-y) * 2);
    --inner-x-s: calc(var(--inner-x) * 0.5);
    --inner-x-m: calc(var(--inner-x) * 1);
    --inner-x-l: calc(var(--inner-x) * 2);
    --outer-width: 30rem;
  }
}
@media screen and (min-width: 40em) and (max-width: 59.999em) {
  :root {
    --font-size: 16px;
    --inner-x: 1rem;
    --inner-y: 1.5rem;
    --outer-top: 2rem;
    --outer-right: calc(31.25vw + -6.25rem);
    --outer-bottom: 2rem;
    --outer-left: calc(31.25vw + -6.25rem);
    --grid-columns: 12;
    --outer-width: 40rem;
    --breakpoint: 40em;
    --inner-y-s: calc(var(--inner-y) * 0.5);
    --inner-y-m: 3.5rem;
    --inner-y-l: 4px;
    --inner-x-s: calc(var(--inner-x) * 0.5);
    --inner-x-m: calc(var(--inner-x) * 1);
    --inner-x-l: calc(var(--inner-x) * 2);
    --outer-width: 40rem;
  }
}
@media screen and (min-width: 60em) {
  :root {
    --font-size: 18px;
    --inner-x: 1rem;
    --inner-y: 1.5rem;
    --outer-top: 2rem;
    --outer-right: 200px;
    --outer-bottom: 2rem;
    --outer-left: 200px;
    --grid-columns: 12;
    --outer-width: 53.3333333333rem;
    --breakpoint: 60em;
    --inner-y-s: calc(var(--inner-y) * 0.5);
    --inner-y-m: 3.5rem;
    --inner-y-l: 4px;
    --inner-x-s: calc(var(--inner-x) * 0.5);
    --inner-x-m: calc(var(--inner-x) * 1);
    --inner-x-l: calc(var(--inner-x) * 2);
    --outer-width: 53.3333333333rem;
  }
}