/*
  utils
  reset
  setup

  SETUP TYPES

  core
  root
  typo/font
  outer
    wrap-unwrap
    frame-bleed
  utils
  inner
    stack-chain
    flow-grid-cell
  theme
  debug

  SETUP PARTS

  core
  rest


*/
.stack .f, .stack [class^=f-], .stack [class*=" f-"], [class^=stack-] .f, [class^=stack-] [class^=f-], [class^=stack-] [class*=" f-"], [class*=" stack-"] .f, [class*=" stack-"] [class^=f-], [class*=" stack-"] [class*=" f-"] {
  color: blue;
}

.a, .b {
  color: blue;
}
.c > .e + .a, .c > .e + .b, .d > .e + .a, .d > .e + .b {
  color: red;
}

.e > .c + .a, .e > .c + .b, .e > .d + .a, .e > .d + .b, .f > .c + .a, .f > .c + .b, .f > .d + .a, .f > .d + .b {
  color: red;
}

/* SELECTOR COMBINE !!! */
.trim > [class^=f-], .trim > [class*=" f-"] {
  content: "hello world";
}

.trim[class^=f-], .trim[class*=" f-"] {
  content: "hello world";
}