@font-face {
	font-family:'MessinaSerif';
	src: url('/assets/fonts/MessinaSerifTrialWeb-Bold.eot'); /* IE9 Compat Modes */
	src: url('/assets/fonts/MessinaSerifTrialWeb-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	     url('/assets/fonts/MessinaSerifTrialWeb-Bold.woff2') format('woff2'), /* Super Modern Browsers */
         url('/assets/fonts/MessinaSerifTrialWeb-Bold.woff') format('woff'); /* Pretty Modern Browsers */
	font-weight: 700;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+000D-FB04;
}
@font-face {
	font-family:'MessinaSerif';
	src: url('/assets/fonts/MessinaSerifTrialWeb-BoldItalic.eot'); /* IE9 Compat Modes */
	src: url('/assets/fonts/MessinaSerifTrialWeb-BoldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	     url('/assets/fonts/MessinaSerifTrialWeb-BoldItalic.woff2') format('woff2'), /* Super Modern Browsers */
         url('/assets/fonts/MessinaSerifTrialWeb-BoldItalic.woff') format('woff'); /* Pretty Modern Browsers */
	font-weight: 700;
	font-style: italic;
	font-stretch: normal;
	unicode-range: U+000D-FB04;
}
@font-face {
	font-family:'MessinaSerif';
	src: url('/assets/fonts/MessinaSerifTrialWeb-Book.eot'); /* IE9 Compat Modes */
	src: url('/assets/fonts/MessinaSerifTrialWeb-Book.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	     url('/assets/fonts/MessinaSerifTrialWeb-Book.woff2') format('woff2'), /* Super Modern Browsers */
         url('/assets/fonts/MessinaSerifTrialWeb-Book.woff') format('woff'); /* Pretty Modern Browsers */
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+000D-FB04;
}
@font-face {
	font-family:'MessinaSerif';
	src: url('/assets/fonts/MessinaSerifTrialWeb-BookItalic.eot'); /* IE9 Compat Modes */
	src: url('/assets/fonts/MessinaSerifTrialWeb-BookItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	     url('/assets/fonts/MessinaSerifTrialWeb-BookItalic.woff2') format('woff2'), /* Super Modern Browsers */
         url('/assets/fonts/MessinaSerifTrialWeb-BookItalic.woff') format('woff'); /* Pretty Modern Browsers */
	font-weight: 400;
	font-style: italic;
	font-stretch: normal;
	unicode-range: U+000D-FB04;
}
@font-face {
	font-family:'MessinaSerif';
	src: url('/assets/fonts/MessinaSerifTrialWeb-Light.eot'); /* IE9 Compat Modes */
	src: url('/assets/fonts/MessinaSerifTrialWeb-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	     url('/assets/fonts/MessinaSerifTrialWeb-Light.woff2') format('woff2'), /* Super Modern Browsers */
         url('/assets/fonts/MessinaSerifTrialWeb-Light.woff') format('woff'); /* Pretty Modern Browsers */
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+000D-FB04;
}
@font-face {
	font-family:'MessinaSerif';
	src: url('/assets/fonts/MessinaSerifTrialWeb-LightItalic.eot'); /* IE9 Compat Modes */
	src: url('/assets/fonts/MessinaSerifTrialWeb-LightItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	     url('/assets/fonts/MessinaSerifTrialWeb-LightItalic.woff2') format('woff2'), /* Super Modern Browsers */
         url('/assets/fonts/MessinaSerifTrialWeb-LightItalic.woff') format('woff'); /* Pretty Modern Browsers */
	font-weight: 300;
	font-style: italic;
	font-stretch: normal;
	unicode-range: U+000D-FB04;
}
@font-face {
	font-family:'MessinaSerif';
	src: url('/assets/fonts/MessinaSerifTrialWeb-Regular.eot'); /* IE9 Compat Modes */
	src: url('/assets/fonts/MessinaSerifTrialWeb-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	     url('/assets/fonts/MessinaSerifTrialWeb-Regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('/assets/fonts/MessinaSerifTrialWeb-Regular.woff') format('woff'); /* Pretty Modern Browsers */
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+000D-FB04;
}
@font-face {
	font-family:'MessinaSerif';
	src: url('/assets/fonts/MessinaSerifTrialWeb-RegularItalic.eot'); /* IE9 Compat Modes */
	src: url('/assets/fonts/MessinaSerifTrialWeb-RegularItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	     url('/assets/fonts/MessinaSerifTrialWeb-RegularItalic.woff2') format('woff2'), /* Super Modern Browsers */
         url('/assets/fonts/MessinaSerifTrialWeb-RegularItalic.woff') format('woff'); /* Pretty Modern Browsers */
	font-weight: 400;
	font-style: italic;
	font-stretch: normal;
	unicode-range: U+000D-FB04;
}
@font-face {
	font-family:'MessinaSerif';
	src: url('/assets/fonts/MessinaSerifTrialWeb-SemiBold.eot'); /* IE9 Compat Modes */
	src: url('/assets/fonts/MessinaSerifTrialWeb-SemiBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	     url('/assets/fonts/MessinaSerifTrialWeb-SemiBold.woff2') format('woff2'), /* Super Modern Browsers */
         url('/assets/fonts/MessinaSerifTrialWeb-SemiBold.woff') format('woff'); /* Pretty Modern Browsers */
	font-weight: 600;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+000D-FB04;
}
@font-face {
	font-family:'MessinaSerif';
	src: url('/assets/fonts/MessinaSerifTrialWeb-SemiBoldItalic.eot'); /* IE9 Compat Modes */
	src: url('/assets/fonts/MessinaSerifTrialWeb-SemiBoldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	     url('/assets/fonts/MessinaSerifTrialWeb-SemiBoldItalic.woff2') format('woff2'), /* Super Modern Browsers */
         url('/assets/fonts/MessinaSerifTrialWeb-SemiBoldItalic.woff') format('woff'); /* Pretty Modern Browsers */
	font-weight: 600;
	font-style: italic;
	font-stretch: normal;
	unicode-range: U+000D-FB04;
}
