@font-face {
	font-family:'MessinaSans';
	src: url('/assets/fonts/MessinaSansTrialWeb-Black.eot'); /* IE9 Compat Modes */
	src: url('/assets/fonts/MessinaSansTrialWeb-Black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	     url('/assets/fonts/MessinaSansTrialWeb-Black.woff2') format('woff2'), /* Super Modern Browsers */
         url('/assets/fonts/MessinaSansTrialWeb-Black.woff') format('woff'); /* Pretty Modern Browsers */
	font-weight: 900;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+000D-FB04;
}
@font-face {
	font-family:'MessinaSans';
	src: url('/assets/fonts/MessinaSansTrialWeb-BlackItalic.eot'); /* IE9 Compat Modes */
	src: url('/assets/fonts/MessinaSansTrialWeb-BlackItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	     url('/assets/fonts/MessinaSansTrialWeb-BlackItalic.woff2') format('woff2'), /* Super Modern Browsers */
         url('/assets/fonts/MessinaSansTrialWeb-BlackItalic.woff') format('woff'); /* Pretty Modern Browsers */
	font-weight: 900;
	font-style: italic;
	font-stretch: normal;
	unicode-range: U+000D-FB04;
}
@font-face {
	font-family:'MessinaSans';
	src: url('/assets/fonts/MessinaSansTrialWeb-Bold.eot'); /* IE9 Compat Modes */
	src: url('/assets/fonts/MessinaSansTrialWeb-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	     url('/assets/fonts/MessinaSansTrialWeb-Bold.woff2') format('woff2'), /* Super Modern Browsers */
         url('/assets/fonts/MessinaSansTrialWeb-Bold.woff') format('woff'); /* Pretty Modern Browsers */
	font-weight: 700;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+000D-FB04;
}
@font-face {
	font-family:'MessinaSans';
	src: url('/assets/fonts/MessinaSansTrialWeb-BoldItalic.eot'); /* IE9 Compat Modes */
	src: url('/assets/fonts/MessinaSansTrialWeb-BoldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	     url('/assets/fonts/MessinaSansTrialWeb-BoldItalic.woff2') format('woff2'), /* Super Modern Browsers */
         url('/assets/fonts/MessinaSansTrialWeb-BoldItalic.woff') format('woff'); /* Pretty Modern Browsers */
	font-weight: 700;
	font-style: italic;
	font-stretch: normal;
	unicode-range: U+000D-FB04;
}
@font-face {
	font-family:'MessinaSans';
	src: url('/assets/fonts/MessinaSansTrialWeb-Book.eot'); /* IE9 Compat Modes */
	src: url('/assets/fonts/MessinaSansTrialWeb-Book.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	     url('/assets/fonts/MessinaSansTrialWeb-Book.woff2') format('woff2'), /* Super Modern Browsers */
         url('/assets/fonts/MessinaSansTrialWeb-Book.woff') format('woff'); /* Pretty Modern Browsers */
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+000D-FB04;
}
@font-face {
	font-family:'MessinaSans';
	src: url('/assets/fonts/MessinaSansTrialWeb-BookItalic.eot'); /* IE9 Compat Modes */
	src: url('/assets/fonts/MessinaSansTrialWeb-BookItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	     url('/assets/fonts/MessinaSansTrialWeb-BookItalic.woff2') format('woff2'), /* Super Modern Browsers */
         url('/assets/fonts/MessinaSansTrialWeb-BookItalic.woff') format('woff'); /* Pretty Modern Browsers */
	font-weight: 400;
	font-style: italic;
	font-stretch: normal;
	unicode-range: U+000D-FB04;
}
@font-face {
	font-family:'MessinaSans';
	src: url('/assets/fonts/MessinaSansTrialWeb-Light.eot'); /* IE9 Compat Modes */
	src: url('/assets/fonts/MessinaSansTrialWeb-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	     url('/assets/fonts/MessinaSansTrialWeb-Light.woff2') format('woff2'), /* Super Modern Browsers */
         url('/assets/fonts/MessinaSansTrialWeb-Light.woff') format('woff'); /* Pretty Modern Browsers */
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+000D-FB04;
}
@font-face {
	font-family:'MessinaSans';
	src: url('/assets/fonts/MessinaSansTrialWeb-LightItalic.eot'); /* IE9 Compat Modes */
	src: url('/assets/fonts/MessinaSansTrialWeb-LightItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	     url('/assets/fonts/MessinaSansTrialWeb-LightItalic.woff2') format('woff2'), /* Super Modern Browsers */
         url('/assets/fonts/MessinaSansTrialWeb-LightItalic.woff') format('woff'); /* Pretty Modern Browsers */
	font-weight: 300;
	font-style: italic;
	font-stretch: normal;
	unicode-range: U+000D-FB04;
}
@font-face {
	font-family:'MessinaSans';
	src: url('/assets/fonts/MessinaSansTrialWeb-Regular.eot'); /* IE9 Compat Modes */
	src: url('/assets/fonts/MessinaSansTrialWeb-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	     url('/assets/fonts/MessinaSansTrialWeb-Regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('/assets/fonts/MessinaSansTrialWeb-Regular.woff') format('woff'); /* Pretty Modern Browsers */
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+000D-FB04;
}
@font-face {
	font-family:'MessinaSans';
	src: url('/assets/fonts/MessinaSansTrialWeb-RegularItalic.eot'); /* IE9 Compat Modes */
	src: url('/assets/fonts/MessinaSansTrialWeb-RegularItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	     url('/assets/fonts/MessinaSansTrialWeb-RegularItalic.woff2') format('woff2'), /* Super Modern Browsers */
         url('/assets/fonts/MessinaSansTrialWeb-RegularItalic.woff') format('woff'); /* Pretty Modern Browsers */
	font-weight: 400;
	font-style: italic;
	font-stretch: normal;
	unicode-range: U+000D-FB04;
}
@font-face {
	font-family:'MessinaSans';
	src: url('/assets/fonts/MessinaSansTrialWeb-SemiBold.eot'); /* IE9 Compat Modes */
	src: url('/assets/fonts/MessinaSansTrialWeb-SemiBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	     url('/assets/fonts/MessinaSansTrialWeb-SemiBold.woff2') format('woff2'), /* Super Modern Browsers */
         url('/assets/fonts/MessinaSansTrialWeb-SemiBold.woff') format('woff'); /* Pretty Modern Browsers */
	font-weight: 600;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+000D-FB04;
}
@font-face {
	font-family:'MessinaSans';
	src: url('/assets/fonts/MessinaSansTrialWeb-SemiBoldItalic.eot'); /* IE9 Compat Modes */
	src: url('/assets/fonts/MessinaSansTrialWeb-SemiBoldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	     url('/assets/fonts/MessinaSansTrialWeb-SemiBoldItalic.woff2') format('woff2'), /* Super Modern Browsers */
         url('/assets/fonts/MessinaSansTrialWeb-SemiBoldItalic.woff') format('woff'); /* Pretty Modern Browsers */
	font-weight: 600;
	font-style: italic;
	font-stretch: normal;
	unicode-range: U+000D-FB04;
}
