@font-face {
	font-family:'MessinaSansMono';
	src: url('/assets/fonts/MessinaSansMonoTrialWeb-Black.eot'); /* IE9 Compat Modes */
	src: url('/assets/fonts/MessinaSansMonoTrialWeb-Black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	     url('/assets/fonts/MessinaSansMonoTrialWeb-Black.woff2') format('woff2'), /* Super Modern Browsers */
         url('/assets/fonts/MessinaSansMonoTrialWeb-Black.woff') format('woff'); /* Pretty Modern Browsers */
	font-weight: 900;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+000D-FB04;
}
@font-face {
	font-family:'MessinaSansMono';
	src: url('/assets/fonts/MessinaSansMonoTrialWeb-Bold.eot'); /* IE9 Compat Modes */
	src: url('/assets/fonts/MessinaSansMonoTrialWeb-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	     url('/assets/fonts/MessinaSansMonoTrialWeb-Bold.woff2') format('woff2'), /* Super Modern Browsers */
         url('/assets/fonts/MessinaSansMonoTrialWeb-Bold.woff') format('woff'); /* Pretty Modern Browsers */
	font-weight: 700;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+000D-FB04;
}
@font-face {
	font-family:'MessinaSansMono';
	src: url('/assets/fonts/MessinaSansMonoTrialWeb-Book.eot'); /* IE9 Compat Modes */
	src: url('/assets/fonts/MessinaSansMonoTrialWeb-Book.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	     url('/assets/fonts/MessinaSansMonoTrialWeb-Book.woff2') format('woff2'), /* Super Modern Browsers */
         url('/assets/fonts/MessinaSansMonoTrialWeb-Book.woff') format('woff'); /* Pretty Modern Browsers */
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+000D-FB04;
}
@font-face {
	font-family:'MessinaSansMono';
	src: url('/assets/fonts/MessinaSansMonoTrialWeb-Light.eot'); /* IE9 Compat Modes */
	src: url('/assets/fonts/MessinaSansMonoTrialWeb-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	     url('/assets/fonts/MessinaSansMonoTrialWeb-Light.woff2') format('woff2'), /* Super Modern Browsers */
         url('/assets/fonts/MessinaSansMonoTrialWeb-Light.woff') format('woff'); /* Pretty Modern Browsers */
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+000D-FB04;
}
@font-face {
	font-family:'MessinaSansMono';
	src: url('/assets/fonts/MessinaSansMonoTrialWeb-Regular.eot'); /* IE9 Compat Modes */
	src: url('/assets/fonts/MessinaSansMonoTrialWeb-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	     url('/assets/fonts/MessinaSansMonoTrialWeb-Regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('/assets/fonts/MessinaSansMonoTrialWeb-Regular.woff') format('woff'); /* Pretty Modern Browsers */
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+000D-FB04;
}
@font-face {
	font-family:'MessinaSansMono';
	src: url('/assets/fonts/MessinaSansMonoTrialWeb-SemiBold.eot'); /* IE9 Compat Modes */
	src: url('/assets/fonts/MessinaSansMonoTrialWeb-SemiBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	     url('/assets/fonts/MessinaSansMonoTrialWeb-SemiBold.woff2') format('woff2'), /* Super Modern Browsers */
         url('/assets/fonts/MessinaSansMonoTrialWeb-SemiBold.woff') format('woff'); /* Pretty Modern Browsers */
	font-weight: 600;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+000D-FB04;
}
