//
// mixins
//


@mixin trim($line: $curr-line, $font: $curr-font, $opts: ()) {

  // save scope
  $prev-line: $curr-line;
  $prev-font: $curr-font;

  $curr-line: $line !global;
  $curr-font: $font !global;

  // IF STACK CONTEXT
  @if $curr-stack {
    @at-root #{insert-parents(null,'>')} {
      margin-top: trim-top-margin(0, $line, $font);
      margin-bottom: trim-bottom-margin(0, $line, $font);
      @include adjacent-to('*') { margin-top: trim-margin(null, $line, $font, $type); }
      @content;
    }
  }
  // IF NO STACK CONTEXT
  @else {
    $trim: selector-parse('&.trim');
    @at-root #{$trim}, #{insert-parents(base-class($trim-parent), '>')} {
      margin-top: trim-top-margin(0, $line, $font);
      margin-bottom: trim-bottom-margin(0, $line, $font);
    }
    @each $key, $mult in map-merge((base: 1), medium-var('inner-y-mods')) {
      @at-root #{insert-parents(mult-class($trim-parent, $key),'>')} {
        @include adjacent-to('*') { margin-top: trim-top-margin($mult, $line, $font); }
        @content;
      }
    }
  }

  // restore scopes
  $curr-line: $prev-line !global;
  $curr-font: $prev-font !global;

}
