svg {
  display: block;
  flex: 0 0 auto;
  align-self: center;

  height: auto;
  fill: inherit;
  stroke: inherit;
  stroke-width: inherit;
  transform: inherit;
  .hold--abs > & {
    width: 100%;
    height: 100%;
  }
}

.icon {
  // padding: 0.1px;
  & > svg {
    fill: currentColor;
  }
}

//
// SPAN icons
//

span.icon {
  display: inline-block;
  vertical-align: baseline;
  // position: relative;

  $size: 1rem;
  font-size: 0.75em;
  height: 1em;
  width: $size;
  // background-color: pink;
  & > svg {
    height: $size;
    width: 100%;
    position: relative;
    top: calc((1em - #{$size})/2);
    // margin: calc((1em - #{$size})/2) 0;
  }

  // placeholder for aspect handling
  &.double { width: $size * 2; }
  &.tripe { width: $size * 3; }
}

@each $f, $font in $fonts {
  $cap: 1 - map-get($font, trim-top) - map-get($font, trim-bottom);
  $cap: map-get($font, icon-base);
  span.icon.#{$f} {
    font-size: $cap * 1em;
  }
}

//
// DIV icons
//

div.icon {
  width: 100%;
  position: relative;

  &::after {
    content: '';
    display: block;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
  }
  & > svg {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
  }

  // placeholder for aspect handling
  &.double::after { padding-bottom: 100% / 2; }
  &.tripe::after { padding-bottom: 100% / 3; }
}

//
// sketch for size variations
//

$icon-sizes: (
  s: 15 15,
  m: 22 22,
  l: 40 40,
  xl: 60 70,
  slide: 28 47,
  mega: 25 85,
  big-y: 21 29,
  big-x: 29 21,
  big: 28 28,
);

@each $s, $xy in $icon-sizes {
  $width: nth($xy, 1) * 1px;
  $height: nth($xy, 2) * 1px;

  span.icon--#{$s} {
    width: $width;
    & > svg {
      height: $height;
      top: calc((1em - #{$height})/2);
      // margin: calc((1em - #{$height})/2) 0;
    }
  }
  div.icon--#{$s} {
    width: $width;
    &::after { padding-bottom: 100% * $height / $width; }
  }
}

//
// OVERLAY--ICON
//

.overlay--icon {
  position: absolute;
  left: 50%; top: 50%;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  transform: translate(-50%,-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  // background-color: red;
  color: white;
}
