@import 'index';
@import '../scss/setup-flow2';

$root: (
  inner-x: 2rem,
  inner-x-mods: (
    xs: 0.5,
    s: 10px,
    m: 1.5rem
  ),
  inner-y-mods: (
    s: 1,
    m: 2,
    l: 4rem
  )
);

$media: (
  a: (breakpoint: 20em),
  b: (
    inner-x: 3rem,
    breakpoint: 30em
  ),
  c: (breakpoint: 40em),
);

@include homework-setup-core($output: false);
@include homework-setup-flow2();

// .test { @include span(1, -1, 2); }
// .test { @include span(2, -1, 2); }
// .test { @include span(3, -1, 2); }

// .m-test {
//   @include spans((
//     a: 2 0 -1,
//     b: 3 0 1
//   ));
//   .nest {
//     @include spans-i((
//       a: 3 1 1,
//       b: 4 2 2
//     ));
//   }
// }
