@import 'index';

$root: (
  inner-x: 2rem,
  inner-y-mods: (
    s: 1rem,
    m: 2rem
  ),
  font-mods: (
    sans: (
      xs: 16 1.3,
      s: 16 1.3,
      m: 32 1.2,
      l: 48 1.1,
    ),
    serif: (
      xs: 16 1.3,
      s: 16 1.3,
      m: 32 1.2,
      l: 48 1.1,
    ),
    modern: (
      xs: 16 1.3,
      s: 16 1.3,
      m: 32 1.2,
      l: 48 1.1,
    ),
  )
);

$media: (
  a: (breakpoint: 20em),
  b: (
    breakpoint: 30em,
    inner-x: 3rem,
  ),
  c: (breakpoint: 40em),
);

$fonts: (
  sans: (
    family: 'MessinaSans'
  ),
  serif: (
    family: 'MessinaSerif'
  ),
  modern: (
    family: 'MessinaModern'
  ),
);

@include homework-setup-core($trim: true, $output: false);
@include homework-setup-typo($trim: true);

.plain {

  h6 { @include font-mod('sans', 'xs', null, true); }
  h5, blockquote { @include font-mod('sans','s', null, true); }
  h4, p, ul, ol, dl { @include font-mod('sans','m', null, true); }
  h3 { @include font-mod('sans','l', null, true); }

}
