@import 'index';

$colors: (
  'gray': (
    #222222,
    #545454,
    #858585,
    #B7B7B7,
    #E9E9E9,
  ),
  'foo': #508021,
  'bar': #da50c9,
  'baz': #4741ff,
  'fiz': #da9b30,
  'purple': (
    #11103E,
    #2E2D6B,
    #5A5898,
    #9493C6,
    #DDDCF3,
  ),
  'pink': (
    a: #33052A,
    b: #661456,
    c: #992E84,
    d: #CC52B4,
    e: #FF80E5,
  ),
);

$themes: (
  lite: (
    fg: base-black,
    bg: base-white,
    link: baz,
  ),
  dark: (
    fg: base-white,
    bg: base-black,
    link: fiz,
  ),
);

@include homework-setup-core;
@include homework-setup-theme($pseudos: ());
