@import 'index';

$colors: (
  'dark': #0a0a0a,
  'lite': #f0f0f0,
  'gray': (
    #222222,
    #545454,
    #858585,
    #B7B7B7,
    #E9E9E9,
  ),
  'foo': #508021,
  'bar': #da50c9,
  'baz': #4741ff,
  'fiz': #da9b30,
  'purple': (
    #11103E,
    #2E2D6B,
    #5A5898,
    #9493C6,
    #DDDCF3,
  ),
  'pink': (
    a: #33052A,
    b: #661456,
    c: #992E84,
    d: #CC52B4,
    e: #FF80E5,
  ),
);

$grays: ();

// .fns {
//   result: inspect(de-gamma(0.5));
//   result: inspect(re-gamma(0.5));
//   result: inspect(red(yellow));
//   result: inspect(green(yellow));
//   result: inspect(blue(yellow));
//   result: inspect(yiq(#FF80E5));
// }

@include homework-setup-core();
@include homework-setup-theme();
