.test {
  content: 'hello world';
  --font-family: var(--font-family-sans);
  --letter-spacing: var(--letter-spacing-sans);
  --trim-x: var(--trim-x-sans);
  --font-size: var(--font-size-sans-t2);
  --line-height: var(--line-height-sans-t2);
  --trim-top: var(--trim-top-sans-t2);
  --trim-bottom: var(--trim-bottom-sans-t2);
}
