include _utils

block defs
  -
    let title = 'New: Flow/Grid II'
    let layout = 'default';

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(href="/flow2.css", rel="stylesheet", type="text/css")
    title= title

  body.debug(class=`layout-${layout}`)
