@import '../index';

$root: (
  inner-x: 1.5rem,
  inner-y: 2rem,
  inner-y-mods: (
    s: 0.6,
    m: 1,
    l: 1.6,
    xl: 2.6,
  ),
  font-mods: (
    sans: (
      s: 14px,
      m: 20px,
      l: 28px,
    ),
    mono: (
      s: 14px,
      m: 20px,
      l: 28px,
    ),
    slab: (
      s: 14px,
      m: 20px,
      l: 28px,
    ),
  )
);

$media: (
  s: ( breakpoint: 30em ),
  m: ( breakpoint: 50em ),
  l: ( breakpoint: 70em ),
);

// ROBOTO as reference font
$fonts: (
  sans: (
    font-family: ('Roboto', sans-serif),
    letter-spacing: 0px, // calc(1px - 0.025em),
    font-feature-settings: (), // ('kern' 1),
    dist-capline: 0.13em,
    dist-baseline: 0.13em,
    trim-sides: calc(1px - 0.1em),
    trim-adjacent: (1em/8), // calc((1em - 1ex)/2),
  ),
  mono: (
    font-family: ('Roboto Mono', monospace),
    letter-spacing: 0px, // calc(1px - 0.025em),
    font-feature-settings: (), // ('kern' 1),
    dist-capline: 0.13em,
    dist-baseline: 0.13em,
    trim-sides: calc(1px - 0.1em),
    trim-adjacent: (1em/8), // calc((1em - 1ex)/2),
  ),
  slab: (
    font-family: ('Roboto Slab', serif),
    letter-spacing: 0px, // calc(1px - 0.025em),
    font-feature-settings: (), // ('kern' 1),
    dist-capline: 0.13em,
    dist-baseline: 0.13em,
    trim-sides: calc(1px - 0.1em),
    trim-adjacent: (1em/8), // calc((1em - 1ex)/2),
  ),
);

$colors: (
  foo: #508021,
  bar: #da50c9,
  baz: #4741ff,
  fiz: #da9b30,
);

@include homework-reset;
@include homework-setup;

body {
  // background-color: #eee;
}

pre,
code,
kbd,
samp {
  font-family: map-get($fonts, mono, font-family);
  font-size: 1em;
}


// .plain {

//   @include font-base('sans');
//   --stack-gap: var(--inner-y-ml);

//   // STACK FONT STYLES
//   h6 { @include font-mod('sans', 'xs'); }
//   h5, p, ul, ol, dl, blockquote { @include font-mod('sans','s'); }
//   h4 { @include font-mod('sans','m'); }
//   h3 { @include font-mod('sans','l'); }

//   h3, h4, h5 {
//     --stack-gap: var(--inner-y-l);
//   }
//   // > p + p {
//   //   margin-top: add(0em, var(--trim-bottom));
//   //   text-indent: 2em;
//   // }

// }
