extends _app

append defs
  - title = 'Test: Grid'

append head
  style.
    .ph::before {
      content: counter(cp);
    }
    .ph {
      font-family: monospace;
      padding: 1em;
      counter-reset: cp var(--column-span);
      background-color: #ddd;
    }

block body

  mixin solo-flow-cells
    .span-5
      .ph
      .span-4.push-2.pull-right-1
        .ph
    .span-5.push-1.l__push-2
      .ph
    .cols-6
      .span-3
        .ph
        .cols-4
          .span-2
            .ph

  .wrap-last
    .frame.stack-l

      h3 solo cells
      +solo-flow-cells

      h3 flow cells
      .stop: .flow-m
        +solo-flow-cells

      h3 grid cells

      .grid
        .col-1-to-3.row-span-2
          .ph.h-100
        .col-3-to-8
          .ph
          .grid-xs.grid-x-xs
            .span-2
              .ph
            .span-3
              .ph
            .span-3
              .ph
            .span-2
              .ph
        .span-2.l__span-4
          .ph
        .span-3.l__span-4
          .ph

      .trap.flow-m
        .span-2.l__span-auto(style='background-color: orangered')
          p= _casual.text
        .span
          .cell
