.strong, strong, b {
  font-weight: bold;
}

.em, em, i {
  font-style: italic;
}

.cf::after, .clearfix::after {
  content: "";
  display: table;
  clear: both;
}

@supports (display: flow-root) {
  .cf, .clearfix {
    display: flow-root;
  }
  .cf::after, .clearfix::after {
    content: none;
  }
}

.is-scrolling,
.is-scrolling * {
  pointer-events: none !important;
}

.hold, [class^="hold--"], [class*=" hold--"],
.stop, [class^="stop--"], [class*=" stop--"],
.clip, [class^="clip--"], [class*=" clip--"] {
  position: relative;
}

.stop, [class^="stop--"], [class*=" stop--"] {
  padding: 0.1px;
}

.clip, [class^="clip--"], [class*=" clip--"] {
  overflow: hidden !important;
}

.clip--circle {
  border-radius: 50%;
}

.mask, .vhide {
  position: absolute !important;
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
  flex: 0 0 0%;
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

body:hover .mask a,
body:hover .mask input,
body:hover .mask button, body:hover .vhide a,
body:hover .vhide input,
body:hover .vhide button {
  display: none !important;
}

.hide {
  display: none;
  visibility: hidden;
}

.show {
  display: "block";
  visibility: visible;
}

@media screen and (min-width: 20em) {
  .hide__a {
    display: none;
    visibility: hidden;
  }
  .show__a {
    display: "block";
    visibility: visible;
  }
}

@media screen and (min-width: 30em) {
  .hide__b {
    display: none;
    visibility: hidden;
  }
  .show__b {
    display: "block";
    visibility: visible;
  }
}

@media screen and (min-width: 40em) {
  .hide__c {
    display: none;
    visibility: hidden;
  }
  .show__c {
    display: "block";
    visibility: visible;
  }
}
