@import '../peers';

$base: (
  inner-x: 2rem,
  inner-y: (
    s: 1rem,
    m: 2rem
  ),
  copy-sizes: (
    sans: (
      s: 14 20,
      m: 16 24,
    ),
    serif: (
      s: 16 20,
      m: 18 24,
    ),
  )
);

// $base: (
//   inner-x: 2rem,
//   inner-y: 2rem,
// );

$media: (
  a: (breakpoint: 20em),
  b: (
    breakpoint: 30em,
    inner-x: 3rem,
    copy-sizes: (
      sans: (
        s: 20 30,
        m: 24 36,
      ),
      serif: (
        s: 22 32,
        m: 26 40,
      ),
    )
  ),
  c: (breakpoint: 40em),
);

@include m-init(false);

$setups: (
  atomic: false,
  basic: false,
  debug: false,
  outer: false,
  wrap: false,
  peel: false,
  grid: false,
  font: true,
  stack: false,
  theme: false,
);

@import '../../index';
