@import '../peers';

$base: (
  inner-x: 2rem,
  inner-y: (
    s: 1rem,
    m: 2rem
  )
);

// $base: (
//   inner-x: 2rem,
//   inner-y: 2rem,
// );

$media: (
  a: (breakpoint: 20em),
  b: (
    inner-x: 3rem,
    breakpoint: 30em
  ),
  c: (breakpoint: 40em),
);

@include m-init(false);

$setups: (
  atomic: false,
  basic: false,
  debug: false,
  outer: false,
  wrap: false,
  peel: false,
  grid: true,
  font: false,
  stack: false,
  theme: false,
);

@import '../../index';
