.row, [class^="row--"], [class*=" row--"],
.grid, [class^="grid--"], [class*=" grid--"] {
  display: flex;
}

.row > *, [class^="row--"] > *, [class*=" row--"] > *,
.grid > *, [class^="grid--"] > *, [class*=" grid--"] > * {
  flex: 1 1 0%;
  min-width: 0%;
  overflow-wrap: break-word;
  background-clip: content-box;
}

.grid, [class^="grid--"], [class*=" grid--"] {
  flex-wrap: wrap;
}

.col, [class^="col--"], [class*=" col--"],
.cell, [class^="cell--"], [class*=" cell--"] {
  flex: 0 0 auto;
}

@media screen and (max-width: 29.999em) {
  .row, [class^="row--"], [class*=" row--"],
  .grid, [class^="grid--"], [class*=" grid--"] {
    margin-left: -1rem;
    margin-right: -1rem;
    width: calc(100% + 2rem);
  }
  .row > *, [class^="row--"] > *, [class*=" row--"] > *,
  .grid > *, [class^="grid--"] > *, [class*=" grid--"] > * {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media screen and (min-width: 30em) {
  .row, [class^="row--"], [class*=" row--"],
  .grid, [class^="grid--"], [class*=" grid--"] {
    margin-left: -1.5rem;
    margin-right: -1.5rem;
    width: calc(100% + 3rem);
  }
  .row > *, [class^="row--"] > *, [class*=" row--"] > *,
  .grid > *, [class^="grid--"] > *, [class*=" grid--"] > * {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

.row--null, .grid--null {
  margin-left: 0 !important;
  margin-right: 0 !important;
  width: unset !important;
}

.row--null > *, .grid--null > * {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.grid--s {
  margin-top: -0.5rem;
  margin-bottom: -0.5rem;
}

.grid--s > * {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.grid, .grid--m {
  margin-top: -1rem;
  margin-bottom: -1rem;
}

.grid > *, .grid--m > * {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.grid--null {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.grid--null > * {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
