@import '../peers';
@import '../../index';

.hello-world {
  content: 'is this thing still on?';
}

$media: (
  a: (breakpoint: 20em),
  b: (breakpoint: 30em),
  c: (breakpoint: 40em),
);

@include m-init(false);

/* #{map-stringify($base)} */
/* #{map-stringify($media)} */
