.spread, [class^="spread--"], [class*=" spread--"] {
  width: unset !important;
}

.outer--y, .outer--t {
  padding-top: 1rem;
}

.outer, .outer--r {
  padding-right: 1rem;
}

.spread, .spread--r {
  margin-right: -1rem;
}

.outer--y, .outer--b {
  padding-bottom: 1rem;
}

.outer, .outer--l {
  padding-left: 1rem;
}

.spread, .spread--l {
  margin-left: -1rem;
}

@media screen and (min-width: 20em) {
  .outer--y, .outer--t, .outer--y__a, .outer--t__a {
    padding-top: 2rem;
  }
  .outer, .outer--r, .outer__a, .outer--r__a {
    padding-right: 2rem;
  }
  .spread, .spread--r, .spread__a, .spread--r__a {
    margin-right: -2rem;
  }
  .outer--y, .outer--b, .outer--y__a, .outer--b__a {
    padding-bottom: 2rem;
  }
  .outer, .outer--l, .outer__a, .outer--l__a {
    padding-left: 2rem;
  }
  .spread, .spread--l, .spread__a, .spread--l__a {
    margin-left: -2rem;
  }
}

@media screen and (min-width: 30em) {
  .outer--y, .outer--t, .outer--y__a, .outer--t__a, .outer--y__b, .outer--t__b {
    padding-top: 3rem;
  }
  .outer, .outer--r, .outer__a, .outer--r__a, .outer__b, .outer--r__b {
    padding-right: 3rem;
  }
  .spread, .spread--r, .spread__a, .spread--r__a, .spread__b, .spread--r__b {
    margin-right: -3rem;
  }
  .outer--y, .outer--b, .outer--y__a, .outer--b__a, .outer--y__b, .outer--b__b {
    padding-bottom: 3rem;
  }
  .outer, .outer--l, .outer__a, .outer--l__a, .outer__b, .outer--l__b {
    padding-left: 3rem;
  }
  .spread, .spread--l, .spread__a, .spread--l__a, .spread__b, .spread--l__b {
    margin-left: -3rem;
  }
}

@media screen and (min-width: 40em) {
  .outer--y, .outer--t, .outer--y__a, .outer--t__a, .outer--y__b, .outer--t__b, .outer--y__c, .outer--t__c {
    padding-top: 4rem;
  }
  .outer, .outer--r, .outer__a, .outer--r__a, .outer__b, .outer--r__b, .outer__c, .outer--r__c {
    padding-right: 4rem;
  }
  .spread, .spread--r, .spread__a, .spread--r__a, .spread__b, .spread--r__b, .spread__c, .spread--r__c {
    margin-right: -4rem;
  }
  .outer--y, .outer--b, .outer--y__a, .outer--b__a, .outer--y__b, .outer--b__b, .outer--y__c, .outer--b__c {
    padding-bottom: 4rem;
  }
  .outer, .outer--l, .outer__a, .outer--l__a, .outer__b, .outer--l__b, .outer__c, .outer--l__c {
    padding-left: 4rem;
  }
  .spread, .spread--l, .spread__a, .spread--l__a, .spread__b, .spread--l__b, .spread__c, .spread--l__c {
    margin-left: -4rem;
  }
}
