.stack, [class^="stack--"], [class*=" stack--"] {
  padding-top: 0.1px;
  padding-bottom: 0.1px;
}

.stack > *, [class^="stack--"] > *, [class*=" stack--"] > * {
  margin-top: 0;
  margin-bottom: 0;
}

.stack--s > *:not(.unstack) + * {
  margin-top: 1rem;
}

.stack > *:not(.unstack) + *, .stack--m > *:not(.unstack) + * {
  margin-top: 2rem;
}

.stack--s > *:not(.unstack) + * {
  margin-top: 1rem;
}

.stack > *:not(.unstack) + *, .stack--m > *:not(.unstack) + * {
  margin-top: 2rem;
}
