body, body * {
  font-family: arial, sans-serif;
  letter-spacing: calc(0.5px - 0.01em);
}

.sans, [class^="sans--"], [class*=" sans--"] {
  font-family: arial, sans-serif;
  letter-spacing: calc(0.5px - 0.01em);
}

@media screen and (max-width: 29.999em) {
  .sans--s {
    font-size: 0.875rem;
    line-height: 1.4;
  }
  .sans--s.trim, .stack > .sans--s, [class^="stack--"] > .sans--s, [class*=" stack--"] > .sans--s {
    margin-top: -0.2em;
    margin-bottom: -0.2em;
  }
}

@media screen and (min-width: 30em) {
  .sans--s {
    font-size: 1.25rem;
    line-height: 1.4;
  }
  .sans--s.trim, .stack > .sans--s, [class^="stack--"] > .sans--s, [class*=" stack--"] > .sans--s {
    margin-top: -0.2em;
    margin-bottom: -0.2em;
  }
}

@media screen and (max-width: 29.999em) {
  .stack--s > *:not(.unstack) + .sans--s {
    margin-top: calc(1rem - 0.2em);
  }
}

@media screen and (min-width: 30em) {
  .stack--s > *:not(.unstack) + .sans--s {
    margin-top: calc(1rem - 0.2em);
  }
}

@media screen and (max-width: 29.999em) {
  .stack > *:not(.unstack) + .sans--s, .stack--m > *:not(.unstack) + .sans--s {
    margin-top: calc(2rem - 0.2em);
  }
}

@media screen and (min-width: 30em) {
  .stack > *:not(.unstack) + .sans--s, .stack--m > *:not(.unstack) + .sans--s {
    margin-top: calc(2rem - 0.2em);
  }
}

@media screen and (max-width: 29.999em) {
  .sans--m {
    font-size: 1rem;
    line-height: 1.4;
  }
  .sans--m.trim, .stack > .sans--m, [class^="stack--"] > .sans--m, [class*=" stack--"] > .sans--m {
    margin-top: -0.2em;
    margin-bottom: -0.2em;
  }
}

@media screen and (min-width: 30em) {
  .sans--m {
    font-size: 1.5rem;
    line-height: 1.4;
  }
  .sans--m.trim, .stack > .sans--m, [class^="stack--"] > .sans--m, [class*=" stack--"] > .sans--m {
    margin-top: -0.2em;
    margin-bottom: -0.2em;
  }
}

@media screen and (max-width: 29.999em) {
  .stack--s > *:not(.unstack) + .sans--m {
    margin-top: calc(1rem - 0.2em);
  }
}

@media screen and (min-width: 30em) {
  .stack--s > *:not(.unstack) + .sans--m {
    margin-top: calc(1rem - 0.2em);
  }
}

@media screen and (max-width: 29.999em) {
  .stack > *:not(.unstack) + .sans--m, .stack--m > *:not(.unstack) + .sans--m {
    margin-top: calc(2rem - 0.2em);
  }
}

@media screen and (min-width: 30em) {
  .stack > *:not(.unstack) + .sans--m, .stack--m > *:not(.unstack) + .sans--m {
    margin-top: calc(2rem - 0.2em);
  }
}

.serif, [class^="serif--"], [class*=" serif--"] {
  font-family: georgia, serif;
  letter-spacing: calc(0.5px - 0.01em);
}

@media screen and (max-width: 29.999em) {
  .serif--s {
    font-size: 1rem;
    line-height: 1.4;
  }
  .serif--s.trim, .stack > .serif--s, [class^="stack--"] > .serif--s, [class*=" stack--"] > .serif--s {
    margin-top: -0.2em;
    margin-bottom: -0.2em;
  }
}

@media screen and (min-width: 30em) {
  .serif--s {
    font-size: 1.375rem;
    line-height: 1.4;
  }
  .serif--s.trim, .stack > .serif--s, [class^="stack--"] > .serif--s, [class*=" stack--"] > .serif--s {
    margin-top: -0.2em;
    margin-bottom: -0.2em;
  }
}

@media screen and (max-width: 29.999em) {
  .stack--s > *:not(.unstack) + .serif--s {
    margin-top: calc(1rem - 0.2em);
  }
}

@media screen and (min-width: 30em) {
  .stack--s > *:not(.unstack) + .serif--s {
    margin-top: calc(1rem - 0.2em);
  }
}

@media screen and (max-width: 29.999em) {
  .stack > *:not(.unstack) + .serif--s, .stack--m > *:not(.unstack) + .serif--s {
    margin-top: calc(2rem - 0.2em);
  }
}

@media screen and (min-width: 30em) {
  .stack > *:not(.unstack) + .serif--s, .stack--m > *:not(.unstack) + .serif--s {
    margin-top: calc(2rem - 0.2em);
  }
}

@media screen and (max-width: 29.999em) {
  .serif--m {
    font-size: 1.125rem;
    line-height: 1.4;
  }
  .serif--m.trim, .stack > .serif--m, [class^="stack--"] > .serif--m, [class*=" stack--"] > .serif--m {
    margin-top: -0.2em;
    margin-bottom: -0.2em;
  }
}

@media screen and (min-width: 30em) {
  .serif--m {
    font-size: 1.625rem;
    line-height: 1.4;
  }
  .serif--m.trim, .stack > .serif--m, [class^="stack--"] > .serif--m, [class*=" stack--"] > .serif--m {
    margin-top: -0.2em;
    margin-bottom: -0.2em;
  }
}

@media screen and (max-width: 29.999em) {
  .stack--s > *:not(.unstack) + .serif--m {
    margin-top: calc(1rem - 0.2em);
  }
}

@media screen and (min-width: 30em) {
  .stack--s > *:not(.unstack) + .serif--m {
    margin-top: calc(1rem - 0.2em);
  }
}

@media screen and (max-width: 29.999em) {
  .stack > *:not(.unstack) + .serif--m, .stack--m > *:not(.unstack) + .serif--m {
    margin-top: calc(2rem - 0.2em);
  }
}

@media screen and (min-width: 30em) {
  .stack > *:not(.unstack) + .serif--m, .stack--m > *:not(.unstack) + .serif--m {
    margin-top: calc(2rem - 0.2em);
  }
}

.mono, [class^="mono--"], [class*=" mono--"] {
  font-family: monaco, consolas, "lucida console", monospace;
  letter-spacing: calc(0.5px - 0.01em);
}
