@import '../peers';
@import '../../index';

$base: (
  inner-x: 2rem,
  inner-y: (
    s: 1rem,
    m: 2rem
  ),
  typos: (
    sans: (
      s: 14 1.4,
      m: 16 1.4,
    ),
    serif: (
      s: 16 1.4,
      m: 18 1.4,
    ),
  )
);

// $base: (
//   inner-x: 2rem,
//   inner-y: 2rem,
// );

$media: (
  a: (breakpoint: 20em),
  b: (
    breakpoint: 30em,
    inner-x: 3rem,
    typos: (
      sans: (
        s: 20 1.4,
        m: 24 1.4,
      ),
      serif: (
        s: 22 1.4,
        m: 26 1.4,
      ),
    )
  ),
  c: (breakpoint: 40em),
);

@include m-init(false);
@include homework-setup(false, 'typo');

// $setups: (
//   atomic: false,
//   basic: false,
//   debug: false,
//   outer: false,
//   wrap: false,
//   peel: false,
//   grid: false,
//   font: true,
//   stack: false,
//   theme: false,
// );
