html {
  font-size: 1em;
}

.test {
  out: null a, a c, c null;
  out: null a, a b, b c, c null;
  out: null b, b null;
  out: null a, a b, b c, c null;
  out: true;
  out: false;
  out: 1rem;
  out: 1rem;
  out: 2rem;
  out: 1rem;
  out: 2rem;
  out: 1rem;
  out: 2rem;
}

@media screen and (max-width: 29.999em) {
  .test {
    margin-top: 1rem;
  }
}

@media screen and (min-width: 30em) {
  .test {
    margin-top: 2rem;
  }
}

@media screen and (max-width: 19.999em) {
  .test {
    out: 2rem;
  }
}

@media screen and (min-width: 20em) and (max-width: 29.999em) {
  .test {
    out: 3rem;
  }
}

@media screen and (min-width: 30em) and (max-width: 39.999em) {
  .test {
    out: 4rem;
  }
}

@media screen and (min-width: 40em) {
  .test {
    out: 5rem;
  }
}

/* (
  font-size: 16px,
  outer-right: 2rem,
  outer-left: 2rem,
  inner-x: 1rem,
  inner-y: (
    m: 1rem,
    l: 2rem
  ),
  html-scale: 1
) */
/* (
  a: (
    font-size: 16px,
    outer-right: 2rem,
    outer-left: 2rem,
    inner-x: 2rem,
    inner-y: (
      m: 1rem,
      l: 3rem
    ),
    html-scale: 1,
    breakpoint: 20em,
    outer-width: 20rem,
    inner-width: 16rem
  ),
  b: (
    font-size: 16px,
    outer-right: 2rem,
    outer-left: 2rem,
    inner-x: 2rem,
    inner-y: (
      m: 2rem,
      l: 4rem
    ),
    html-scale: 1,
    breakpoint: 30em,
    outer-width: 30rem,
    inner-width: 26rem
  ),
  c: (
    font-size: 16px,
    outer-right: 2rem,
    outer-left: 2rem,
    inner-x: 3rem,
    inner-y: (
      m: 2rem,
      l: 5rem
    ),
    html-scale: 1,
    breakpoint: 40em,
    outer-width: 40rem,
    inner-width: 36rem
  )
) */
