.test {
  color: blue;
}

@media screen and (min-width: 20em) {
  .test__a {
    color: blue;
  }
}

@media screen and (min-width: 30em) {
  .test__b {
    color: blue;
  }
}

@media screen and (min-width: 40em) {
  .test__c {
    color: blue;
  }
}
