///
/// CLASSES
///

@function base-class($base, $solo: true, $_...) {
  @if $solo {
    @return selector-parse('.#{$base}, [class^="#{$base}-"], [class*=" #{$base}-"]');
  } @else {
    @return selector-parse('[class^="#{$base}-"], [class*=" #{$base}-"]');
  }
}

@function mod-class($base, $mod, $except: ()) {
  @return selector-parse(if(index($except, $mod), '.#{$base}, .#{$base}-#{$mod}', '.#{$base}-#{$mod}'));
}

@function m-suffix($m: $curr-m) {
  @return if($m, '__#{$m}', '');
}

@function m-class($sel, $ms...) {
  $sel: selector-parse($sel); $out: ();
  @each $m in $ms {
    $fix: m-suffix($m);
    @each $sub in $sel {
      $out: append($out, selector-parse('#{$sub}#{$fix}'), 'comma');
    }
  }
  @return $out;
}
