@mixin homework-legacy-frame-setup {
      // $m-depth: ();
    // @each $m in join(null, map-keys($media)) {
    //   $m-depth: append($m-depth, $m);

    //   @include m($m) {
    //     $fix: m-suffix();

    //     #{m-class('.frame-y, .frame-t', $m-depth...)},
    //     #{m-class('.outer-y, .outer-t', $m-depth...)} { padding-top: m-var('outer-top'); }
    //     #{m-class('.frame, .frame-r', $m-depth...)},
    //     #{m-class('.outer, .outer-r', $m-depth...)} { padding-right: m-var('outer-right'); }
    //     #{m-class('.frame-y, .frame-b', $m-depth...)},
    //     #{m-class('.outer-y, .outer-b', $m-depth...)} { padding-bottom: m-var('outer-bottom'); }
    //     #{m-class('.frame, .frame-l', $m-depth...)},
    //     #{m-class('.outer, .outer-l', $m-depth...)} { padding-left: m-var('outer-left'); }

    //     #{m-class('.bleed, .bleed-r', $m-depth...)},
    //     #{m-class('.spread, .spread-r', $m-depth...)} { margin-right: m-var('outer-right')/-1; }
    //     #{m-class('.bleed, .bleed-l', $m-depth...)},
    //     #{m-class('.spread, .spread-l', $m-depth...)} { margin-left: m-var('outer-left')/-1; }

}
