extends app/_app

append defs
  - title = 'Test: Grid'

append head
  style.
    *, *::before, *::after {
      box-sizing: border-box;
    }

    body { font-family: sans-serif; }

    .label::before {
      font-family: monospace;
      counter-reset: cp var(--span-n);
      content: counter(cp);
      display: block;
      width: 100%;
      padding: 1em;
      background-color: #ddd;
    }

    .itest {
      padding: 10px;
      background-color: green;
      color: white;
    }

block body

  .wrap-last
    .frame
      .flow-m
        .span
          .label
          .itest.span-i-1: p test
          .itest.span-i-2: p test
          .itest.span-i-3: p test
          .itest.span-i-4: p test
          .itest.span-i-5: p test
          .itest.span-i-6: p test
          .itest.span-i-7: p test
          .itest.span-i-8: p test
          .itest.span-i-9: p test
          .itest.span-i-10: p test
          .itest.span-i-11: p test
          .itest.span-i-12: p test
          .itest.span-i-1.ml-i-1: p test
          .itest.span-i-1.ml-i-2: p test
          .itest.span-i-1.ml-i-3: p test
          .itest.span-i-1.ml-i-4: p test
          .itest.span-i-1.ml-i-5: p test
          .itest.span-i-1.ml-i-6: p test
          .itest.span-i-1.ml-i-7: p test
          .itest.span-i-1.ml-i-8: p test
          .itest.span-i-1.ml-i-9: p test
          .itest.span-i-1.ml-i-10: p test
          .itest.span-i-1.ml-i-11: p test
          .itest.span-i-1.ml-i-12: p test

      .flow-m
        .span
          .label
        .span-6__m
          .label
        .span-6__m
          .itest.span-i: p test
          .itest.span-i-1: p test
          .itest.span-i-2: p test
          .itest.span-i-3: p test
          .itest.span-i-4: p test
          .flow-m
            .span
              .label
            .span-4
              .label
        .span-3__l
          .label
        .span-9__l
          .flow-m
            .span
              .label
            .span-4
              .label
            .span-5
              .flow-m
                .span: .label
                .span-3
                  .flow-m
                    .span: .label
                    .span-2: .label
                    .span-1: .label
                .span-2
                  .flow-m
                    .span: .label
                    .span-1: .label
                    .span-1: .label
