////////////
// unwrap //
////////////

// this must be originally applied by a class, so JS can access it to fix browser issues
// other option would be to narrow it down to render engine (stowball JS lib)
@mixin unwrap-adjust($right: 0%, $left: 0%, $direction: null, $origin: null) {

  $outer-right: add(#{medium-var('outer-right')}, #{$right});
  $outer-left: add(#{medium-var('outer-left')}, #{$left});
  $wrap-offset: subtract($outer-right, $outer-left);
  $unwrap-margin: subtract(100%, 100vw);
  $unwrap-margin-right: divide(subtract($unwrap-margin, $wrap-offset), 2);
  $unwrap-margin-left: divide(add($unwrap-margin, $wrap-offset), 2);

  @if $origin == 'right' {
    // --from-right
    @if $direction == 'right' {
      width: add(100%, $outer-right) !important;
      margin-right: subtract(0%, $outer-right) !important;
      margin-left: 0 !important;
    } @else if $direction == 'left' {
      width: subtract(100vw, $outer-right) !important;
      margin-right: 0 !important;
      margin-left: add($unwrap-margin, $outer-right) !important;
    } @else {
      margin-right: subtract(0%, $outer-right) !important;
      margin-left: add($unwrap-margin, $outer-right) !important;
    }
  } @else if $origin == 'left' {
    // --from-left
    @if $direction == 'right' {
      width: subtract(100vw, $outer-left) !important;
      margin-right: add($unwrap-margin, $outer-left) !important;
      margin-left: 0 !important;
    } @else if $direction == 'left' {
      width: add(100%, $outer-left) !important;
      margin-right: 0 !important;
      margin-left: subtract(0%, $outer-left) !important;
    } @else {
      margin-right: add($unwrap-margin, $outer-left) !important;
      margin-left: subtract(0%, $outer-left) !important;
    }
  } @else {
    // [--from-center]
    @if $direction == 'right' {
      width: add(100vw, $unwrap-margin-left) !important;
      margin-right: $unwrap-margin-right !important;
    } @else if $direction == 'left' {
      width: add(100vw, $unwrap-margin-right) !important;
      margin-left: $unwrap-margin-left !important;
    } @else {
      margin-right: $unwrap-margin-right !important;
      margin-left: $unwrap-margin-left !important;
    }
  }
}

