extends _app

append defs
  - title = 'flow/span-i'

append head
  style.

    .label::before {
      font-family: monospace;
      counter-reset: cp var(--span-n);
      content: counter(cp);
      display: block;
      width: 100%;
      padding: 1em;
      background-color: #ddd;
    }

    .itest {
      padding: 10px;
      background-color: green;
      color: white;
      font-size: 10px;
    }

block body

  .wrap-last
    .frame
      .flow-s
        .span-4.span-2__m: .label
        .span-4: .label
        .span-4.span-6__m: .label
        .span-10.ml-2
          .label
          h2.ml-i-neg-1.f-sans-l hello from the inside
        .span-6.span-12__m: .label
        .span-10: .label
          .itest.span-i-1: span .span-i-1
          .itest.span-i-2: span .span-i-2
          .itest.span-i-3: span .span-i-3
          .itest.span-i-4: span .span-i-4
          .itest.span-i-5: span .span-i-5
          .itest.span-i-6: span .span-i-6
          .itest.span-i-7: span .span-i-7
          .itest.span-i-8: span .span-i-8
          .itest.span-i-9: span .span-i-9
          .itest.span-i-10: span .span-i-10
          .itest.span-i-11: span .span-i-11
          .itest.span-i-12: span .span-i-12
          .itest.span-i-1.ml-i-1: span .span-i-1.ml-i-1
          .itest.span-i-1.ml-i-2: span .span-i-1.ml-i-2
          .itest.span-i-1.ml-i-3: span .span-i-1.ml-i-3
          .itest.span-i-1.ml-i-4: span .span-i-1.ml-i-4
          .itest.span-i-1.ml-i-5: span .span-i-1.ml-i-5
          .itest.span-i-1.ml-i-6: span .span-i-1.ml-i-6
          .itest.span-i-1.ml-i-7: span .span-i-1.ml-i-7
          .itest.span-i-1.ml-i-8: span .span-i-1.ml-i-8
          .itest.span-i-1.ml-i-9: span .span-i-1.ml-i-9
          .itest.span-i-1.ml-i-10: span .span-i-1.ml-i-10
          .itest.span-i-1.ml-i-11: span .span-i-1.ml-i-11
          .itest.span-i-1.ml-i-12: span .span-i-1.ml-i-12

      //- .flow-m
        .span
          .label
        .span-6__m
          .label
        .span-6__m
          .itest.span-i: p test
          .itest.span-i-1: p test
          .itest.span-i-2: p test
          .itest.span-i-3: p test
          .itest.span-i-4: p test
          .flow-m
            .span
              .label
            .span-4
              .label
        .span-3__l
          .label
        .span-9__l
          .flow-m
            .span
              .label
            .span-4
              .label
            .span-5
              .flow-m
                .span: .label
                .span-3
                  .flow-m
                    .span: .label
                    .span-2: .label
                    .span-1: .label
                .span-2
                  .flow-m
                    .span: .label
                    .span-1: .label
                    .span-1: .label
