// _                  _
// | |                (_)
// __ _| |_ ___  _ __ ___  _  ___
// / _` | __/ _ \| '_ ` _ \| |/ __|
// | (_| | || (_) | | | | | | | (__
// \__,_|\__\___/|_| |_| |_|_|\___|

// -inner, -outer
// -col-n-d
// -neg-col-n-d

@function ratio-str($ratio)    { @return "#{nth($ratio,1)}-#{nth($ratio,2)}"; }
@function ratio-val($ratio)    { @return percentage(nth($ratio,1) / nth($ratio,2)); }
@function ratio-class($ratio, $index, $list, $base, $fx) { @return '#{$base}-#{ratio-str($ratio)}#{$fx}'; }

@mixin setup-atomic {

  $grid-columns: 12; // could be parsed out of $media

  $reduced-ratios: ();
  @for $d from 1 through $grid-columns {
    @for $n from 1 through $d {
      $gcd: gcd($n, $d); $reduction: $n/$gcd $d/$gcd;
      $set: append(map-get($reduced-ratios, $reduction) or (), $n $d);
      $reduced-ratios: map-merge($reduced-ratios, ($reduction: $set));
    }
  }

  $all-ratios: join-all(map-values($reduced-ratios)...);

  $m-depth: ();
  @each $m in join(null, map-keys($media)) {
    $m-depth: append($m-depth, $m);

    @include m($m) {
      $fx: m-suffix();

      //
      // display
      //

      .d-none#{$fx} { display: none; }
      .d-flex#{$fx} { display: flex; }
      // .d-flex-y#{$fx} { display: flex; }
      .d-grid#{$fx} { display: grid; }
      .d-block#{$fx} { display: block; width: 100%; }
      .d-iblock#{$fx} { display: inline-block; vertical-align: baseline; }
      .d-inline#{$fx} { display: inline; vertical-align: baseline; }

      //
      // dimensions: percentage ratios
      //

      @each $reduction, $ratio-list in $reduced-ratios {
        #{list-transform($ratio-list, 'ratio-class', 'w', $fx)} { width: ratio-val($reduction) }
        #{list-transform($ratio-list, 'ratio-class', 'pr', $fx)} { padding-right: ratio-val($reduction) }
        #{list-transform($ratio-list, 'ratio-class', 'pl', $fx)} { padding-left: ratio-val($reduction) }
        #{list-transform($ratio-list, 'ratio-class', 'mr', $fx)} { margin-right: ratio-val($reduction) }
        #{list-transform($ratio-list, 'ratio-class', 'mr-neg', $fx)} { margin-right: ratio-val($reduction)/-1 }
        #{list-transform($ratio-list, 'ratio-class', 'ml', $fx)} { margin-left: ratio-val($reduction) }
        #{list-transform($ratio-list, 'ratio-class', 'ml-neg', $fx)} { margin-left: ratio-val($reduction)/-1 }
      }

      //
      // dimensions: inner-x
      //

      $inner-x: m-var('inner-x');
      @if $inner-x {
        @each $x, $inner-x in if(type-of($inner-x) == 'map', $inner-x, (m: $inner-x)) {
          #{m-class(mod-class('px', $x, ''), $m-depth...)},
          #{m-class(mod-class('pr', $x, ''), $m-depth...)} { padding-right: $inner-x; }
          #{m-class(mod-class('px', $x, ''), $m-depth...)},
          #{m-class(mod-class('pl', $x, ''), $m-depth...)} { padding-left: $inner-x; }
          #{m-class(mod-class('mx', $x, ''), $m-depth...)},
          #{m-class(mod-class('mr', $x, ''), $m-depth...)} { margin-right: $inner-x; }
          #{m-class(mod-class('mx', $x, ''), $m-depth...)},
          #{m-class(mod-class('ml', $x, ''), $m-depth...)} { margin-left: $inner-x; }
          #{m-class(mod-class('mx-neg', $x, ''), $m-depth...)},
          #{m-class(mod-class('mr-neg', $x, ''), $m-depth...)} { margin-right: $inner-x / -1; }
          #{m-class(mod-class('mx-neg', $x, ''), $m-depth...)},
          #{m-class(mod-class('ml-neg', $x, ''), $m-depth...)} { margin-left: $inner-x / -1; }
        }
      }

      //
      // dimensions: inner-y
      //

      $inner-y: m-var('inner-y');
      @if $inner-y {
        @each $y, $inner-y in if(type-of($inner-y) == 'map', $inner-y, (m: $inner-y)) {
          #{m-class(mod-class('py', $y, ''), $m-depth...)},
          #{m-class(mod-class('pt', $y, ''), $m-depth...)} { padding-top: $inner-y; }
          #{m-class(mod-class('py', $y, ''), $m-depth...)},
          #{m-class(mod-class('pb', $y, ''), $m-depth...)} { padding-bottom: $inner-y; }
          #{m-class(mod-class('my', $y, ''), $m-depth...)},
          #{m-class(mod-class('mt', $y, ''), $m-depth...)} { margin-top: $inner-y; }
          #{m-class(mod-class('my', $y, ''), $m-depth...)},
          #{m-class(mod-class('mb', $y, ''), $m-depth...)} { margin-bottom: $inner-y; }
          #{m-class(mod-class('my-neg', $y, ''), $m-depth...)},
          #{m-class(mod-class('mt-neg', $y, ''), $m-depth...)} { margin-top: $inner-y / -1; }
          #{m-class(mod-class('my-neg', $y, ''), $m-depth...)},
          #{m-class(mod-class('mb-neg', $y, ''), $m-depth...)} { margin-bottom: $inner-y / -1; }
        }
      }

    }
  }
}
