//             _     _
//            (_)   | |
//   __ _ _ __ _  __| |
//  / _` | '__| |/ _` |
// | (_| | |  | | (_| |
//  \__, |_|  |_|\__,_|
//   __/ |
//  |___/


@import 'support/grid-support';

@mixin setup-grid {

  #{base-class('row')},
  #{base-class('grid')} {
    display: flex;
    flex-wrap: wrap;
    & > * {
      flex: 1 1 0%; // explicit basis
      min-width: 0%; // https://css-tricks.com/flexbox-truncated-text/
      overflow-wrap: break-word; // break long words
      background-clip: content-box;
    }
  }

  // #{base-class('grid')} { flex-wrap: wrap; }

  #{base-class('col')},
  #{base-class('cell')} {
    flex: 0 0 auto;
    width: 100%;
  }

  @include mm-for('inner-x') {
    $inner-x: inner-x();
    #{base-class('row')},
    #{base-class('grid')} {
      margin-left: $inner-x / -2;
      margin-right: $inner-x / -2;
      width: add(100%, $inner-x); // unset??
      & > * {
        padding-left: $inner-x / 2;
        padding-right: $inner-x / 2;
      }
    }
  }

  .row--null, .grid--null {
    margin-left: 0 !important;
    margin-right: 0 !important;
    width: unset !important;
    & > * {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
  }

  @include mm-for('inner-y') {
    $inner-y: m-var('inner-y');
    @if $inner-y {
      @each $y, $inner-y in if(type-of($inner-y) == 'map', $inner-y, (m: $inner-y)) {
        #{mod-class('grid', $y, 'm')} {
          margin-top: $inner-y / -2;
          margin-bottom: $inner-y / -2;
          & > * {
            padding-top: $inner-y / 2;
            padding-bottom: $inner-y / 2;
          }
        }
      }
    }
  }

  .grid--null {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    & > * {
      padding-top: 0 !important;
      padding-bottom: 0 !important;
    }
  }

}
