@mixin setup-outer {

  #{base-class('spread')} { width: unset !important; }

  //
  // NEW: all media, per-medium

  $m-depth: ();
  @each $m in join(null, map-keys($media)) {
    $m-depth: append($m-depth, $m);

    @include m($m) {
      $fix: m-suffix();

      #{m-class('.frame-y, .frame-t', $m-depth...)},
      #{m-class('.outer-y, .outer-t', $m-depth...)} { padding-top: m-var('outer-top'); }
      #{m-class('.frame, .frame-r', $m-depth...)},
      #{m-class('.outer, .outer-r', $m-depth...)} { padding-right: m-var('outer-right'); }
      #{m-class('.frame-y, .frame-b', $m-depth...)},
      #{m-class('.outer-y, .outer-b', $m-depth...)} { padding-bottom: m-var('outer-bottom'); }
      #{m-class('.frame, .frame-l', $m-depth...)},
      #{m-class('.outer, .outer-l', $m-depth...)} { padding-left: m-var('outer-left'); }

      #{m-class('.bleed, .bleed-r', $m-depth...)},
      #{m-class('.spread, .spread-r', $m-depth...)} { margin-right: m-var('outer-right')/-1; }
      #{m-class('.bleed, .bleed-l', $m-depth...)},
      #{m-class('.spread, .spread-l', $m-depth...)} { margin-left: m-var('outer-left')/-1; }


      // .outer-y#{$fix}, .outer-t#{$fix} { padding-top: m-var('outer-top'); }
      // .outer-y#{$fix}, .outer-b#{$fix} { padding-bottom: m-var('outer-bottom'); }

      // .outer#{$fix}, .outer-x#{$fix}, .outer-r#{$fix} { padding-right: m-var('outer-right'); }
      // .outer#{$fix}, .outer-x#{$fix}, .outer-l#{$fix} { padding-left: m-var('outer-left'); }

      // .spread#{$fix}, .spread-r#{$fix} { margin-right: m-var('outer-right')/-1; }
      // .spread#{$fix}, .spread-l#{$fix} { margin-left: m-var('outer-left')/-1; }
    }
  }

  //
  // OLD style
  //

  // @include mm-for('outer-top') {
  //   .outer--y, .outer--t { padding-top: m-var('outer-top'); }
  // }

  // @include mm-for('outer-right') {
  //   .outer, .outer--r { padding-right: m-var('outer-right'); }
  //   .spread, .spread--r { margin-right: m-var('outer-right')/-1; }
  // }

  // @include mm-for('outer-bottom') {
  //   .outer--y, .outer--b { padding-bottom: m-var('outer-bottom'); }
  // }

  // @include mm-for('outer-left') {
  //   .outer, .outer--l { padding-left: m-var('outer-left'); }
  //   .spread, .spread--l { margin-left: m-var('outer-left')/-1; }
  // }


}
