@mixin setup-outer {

  @include mm-for('outer-top') {

    .outer-y, .outer--top { padding-top: m-var('outer-top'); }
    // .outer-y, .outer--bottom { padding-bottom: add(medium-var('outer-bottom'), $b); }
  }

  @include mm-for('outer-right') {

    .outer, .outer--right { padding-right: m-var('outer-right'); }
    // .outer, .outer--left { padding-left: add(medium-var('outer-left'), $l); }
  }

  @include mm-for('outer-bottom') {

    // .outer-y, .outer--top { padding-top: add(medium-var('outer-top'), $t); }
    .outer-y, .outer--bottom { padding-bottom: m-var('outer-bottom'); }
  }

  @include mm-for('outer-left') {

    // .outer, .outer--right { padding-right: add(medium-var('outer-right'), $r); }
    .outer, .outer--left { padding-left: m-var('outer-right'); }
  }
}
