//                  _
//                 | |
//  _ __   ___  ___| |
// | '_ \ / _ \/ _ \ |
// | |_) |  __/  __/ |
// | .__/ \___|\___|_|
// | |
// |_|

@mixin setup-peel {

  .peel {
    margin-right: 0;
    margin-left: 0;
    max-width: none;
    width: 100vw;
  }

  @include mm-for('outer-right', 'outer-left') {

    $outer-right: m-var('outer-right');
    $outer-left: m-var('outer-left');
    $wrap-offset: subtract($outer-right, $outer-left);
    $peel-margin: subtract(100%, 100vw);
    $peel-margin-right: divide(subtract($peel-margin, $wrap-offset), 2);
    $peel-margin-left: divide(add($peel-margin, $wrap-offset), 2);

    .peel {
      &--right { width: add(100vw, $peel-margin-left);}
      &--left { width: add(100vw, $peel-margin-right);}
      &, &--right { margin-right: $peel-margin-right; }
      &, &--left { margin-left: $peel-margin-left; }
    }

    .peel--from-right {
      &, &.peel--right { margin-right: - $outer-right;}
      &, &.peel--left { margin-left: add($peel-margin, $outer-right); }
      &.peel--right {
        width: add(100%, $outer-right);
        margin-left: 0;
      }
      &.peel--left {
        width: subtract(100vw, $outer-right);
        margin-right: 0;
      }
    }

    .peel--from-left {
      &, &.peel--right { margin-right: add($peel-margin, $outer-left); }
      &, &.peel--left { margin-left: - $outer-left; }
      &.peel--right {
        width: subtract(100vw, $outer-left);
        margin-left: 0;
      }
      &.peel--left {
        width: add(100%, $outer-left);
        margin-right: 0;
      }
    }
  }
}
