@mixin homework-root-setup($modern: $homework-is-modern) {
  @if $modern {
    html {
      font-size: var(--font-size);
      line-height: var(--line-height);
    }
  } @else {
    @include mm-for('font-size', 'line-height') {
      html {
        font-size: m-var(font-size);
        line-height: m-var(line-height);
      }
    }
  }
}
