@import '../peers';

$media: (
  a: (breakpoint: 20em),
  b: (breakpoint: 30em),
  c: (breakpoint: 40em),
);

@include m-init(false);

@import '../../index';

$grid-columns: 12; // could be parsed out of $media
