@import '../peers';

$media: (
  a: (breakpoint: 20em),
  b: (breakpoint: 30em),
  c: (breakpoint: 40em),
);

@include m-init(false);

@import '../../index';

$grid-columns: 12; // could be parsed out of $media

@each $m in join(null, map-keys($media)) {
  @include m($m) {
    $mfix: m-suffix();
    .test#{$mfix} {
      color: blue;
    }
  }
}
