@import '../peers';
@import '../../index';

$root: (
  inner-x: 1rem,
  inner-y: (
    s: 1rem,
    m: 2rem,
    l: 3rem
  )
);

$media: (
  a: (
    breakpoint: 20em,
    inner-x: 2rem,
    inner-y: (
      s: 2rem,
      m: 3rem,
      l: 4rem
    )
  ),
  b: (
    breakpoint: 30em,
    inner-x: 3rem,
    inner-y: (
      s: 3rem,
      m: 4rem,
      l: 5rem
    )
  ),
  c: (
    breakpoint: 40em,
    inner-x: 4rem,
    inner-y: (
      s: 4rem,
      m: 5rem,
      l: 6rem
    )
  ),
);

@include m-init(false);
@include homework-setup(false, 'atomic');
