//
// third revision
//

@function intra-column($n, $d) {
  @return multiply(add(100%, inner-x()), $n/$d);
}

@mixin intra-span($n, $d) {
  width: subtract(100%, intra-column($d - $n, $d));
}

@mixin intra-push($l, $r, $d) {
  @if $l { margin-left: intra-column($l, $d); }
  @if $r { margin-right: intra-column($r, $d); }
}

//
// second revision
//

@function inner-push($n, $d) {
  @return multiply(add(100%, inner-x()), $n/$d);
}

@function inner-span($n, $d) {
  @return subtract(percentage($n/$d), inner-x(($d - $n)/($d - 1)));
}

//
// older shit
//

@function grid-calc($m: $curr-m) {
  @return add((medium-var('inner-width', $m) or 100%), medium-var('inner-x', $m));
}

@function push-calc($n: 1, $m: $curr-m) {
  @return multiply(divide(grid-calc($m), medium-var('grid-columns', $m)), $n);
}

@function span-calc($n: 1, $m: $curr-m) {
  @return subtract(push-calc($n, $m), medium-var('inner-x'));
}

