html {
  font-size: 1em;
}

/*




*/
.row, [class^="row--"], [class*=" row--"],
.grid, [class^="grid--"], [class*=" grid--"] {
  display: flex;
  flex-wrap: wrap;
}

.row > *, [class^="row--"] > *, [class*=" row--"] > *,
.grid > *, [class^="grid--"] > *, [class*=" grid--"] > * {
  flex: 1 1 auto;
  width: 0%;
  min-width: 0%;
  background-clip: content-box;
  overflow-wrap: break-word;
}

@media screen and (max-width: 19.999em) {
  .row, [class^="row--"], [class*=" row--"],
  .grid, [class^="grid--"], [class*=" grid--"] {
    margin-left: -0.5rem;
    margin-right: -0.5rem;
    width: calc(100% + 1rem);
  }
  .row > *, [class^="row--"] > *, [class*=" row--"] > *,
  .grid > *, [class^="grid--"] > *, [class*=" grid--"] > * {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}

@media screen and (min-width: 20em) and (max-width: 39.999em) {
  .row, [class^="row--"], [class*=" row--"],
  .grid, [class^="grid--"], [class*=" grid--"] {
    margin-left: -1rem;
    margin-right: -1rem;
    width: calc(100% + 2rem);
  }
  .row > *, [class^="row--"] > *, [class*=" row--"] > *,
  .grid > *, [class^="grid--"] > *, [class*=" grid--"] > * {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media screen and (min-width: 40em) {
  .row, [class^="row--"], [class*=" row--"],
  .grid, [class^="grid--"], [class*=" grid--"] {
    margin-left: -1.5rem;
    margin-right: -1.5rem;
    width: calc(100% + 3rem);
  }
  .row > *, [class^="row--"] > *, [class*=" row--"] > *,
  .grid > *, [class^="grid--"] > *, [class*=" grid--"] > * {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media screen and (max-width: 19.999em) {
  .grid, .grid--m {
    margin-top: -0.5rem;
    margin-bottom: -0.5rem;
  }
  .grid > *, .grid--m > * {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  .grid--l {
    margin-top: -1rem;
    margin-bottom: -1rem;
  }
  .grid--l > * {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

@media screen and (min-width: 20em) and (max-width: 29.999em) {
  .grid, .grid--m {
    margin-top: -0.5rem;
    margin-bottom: -0.5rem;
  }
  .grid > *, .grid--m > * {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  .grid--l {
    margin-top: -1.5rem;
    margin-bottom: -1.5rem;
  }
  .grid--l > * {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
}

@media screen and (min-width: 30em) and (max-width: 39.999em) {
  .grid, .grid--m {
    margin-top: -1rem;
    margin-bottom: -1rem;
  }
  .grid > *, .grid--m > * {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .grid--l {
    margin-top: -2rem;
    margin-bottom: -2rem;
  }
  .grid--l > * {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

@media screen and (min-width: 40em) {
  .grid, .grid--m {
    margin-top: -1rem;
    margin-bottom: -1rem;
  }
  .grid > *, .grid--m > * {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .grid--l {
    margin-top: -2.5rem;
    margin-bottom: -2.5rem;
  }
  .grid--l > * {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }
}

.stack, [class^="stack--"], [class*=" stack--"] {
  padding-top: 0.1px;
  padding-bottom: 0.1px;
}

@media screen and (max-width: 19.999em) {
  .stack > * + *, .stack--m > * + * {
    margin-top: 1rem;
  }
  .stack--l > * + * {
    margin-top: 2rem;
  }
}

@media screen and (min-width: 20em) and (max-width: 29.999em) {
  .stack > * + *, .stack--m > * + * {
    margin-top: 1rem;
  }
  .stack--l > * + * {
    margin-top: 3rem;
  }
}

@media screen and (min-width: 30em) and (max-width: 39.999em) {
  .stack > * + *, .stack--m > * + * {
    margin-top: 2rem;
  }
  .stack--l > * + * {
    margin-top: 4rem;
  }
}

@media screen and (min-width: 40em) {
  .stack > * + *, .stack--m > * + * {
    margin-top: 2rem;
  }
  .stack--l > * + * {
    margin-top: 5rem;
  }
}

.test {
  out: null a, a c, c null;
  out: null a, a b, b c, c null;
  out: null b, b null;
  out: null a, a b, b c, c null;
  out: true;
  out: false;
  out: 1rem;
  out: 1rem;
  out: 2rem;
  out: 1rem;
  out: 2rem;
  out: 1rem;
  out: 2rem;
}

@media screen and (max-width: 29.999em) {
  .test {
    margin-top: 1rem;
  }
}

@media screen and (min-width: 30em) {
  .test {
    margin-top: 2rem;
  }
}

@media screen and (max-width: 19.999em) {
  .test {
    out: 2rem;
  }
}

@media screen and (min-width: 20em) and (max-width: 29.999em) {
  .test {
    out: 3rem;
  }
}

@media screen and (min-width: 30em) and (max-width: 39.999em) {
  .test {
    out: 4rem;
  }
}

@media screen and (min-width: 40em) {
  .test {
    out: 5rem;
  }
}

/* (
  font-size: 16px,
  outer-right: 2rem,
  outer-left: 2rem,
  inner-x: 1rem,
  inner-y: (
    m: 1rem,
    l: 2rem
  ),
  html-scale: 1
) */
/* (
  a: (
    font-size: 16px,
    outer-right: 2rem,
    outer-left: 2rem,
    inner-x: 2rem,
    inner-y: (
      m: 1rem,
      l: 3rem
    ),
    html-scale: 1,
    breakpoint: 20em,
    outer-width: 20rem,
    inner-width: 16rem
  ),
  b: (
    font-size: 16px,
    outer-right: 2rem,
    outer-left: 2rem,
    inner-x: 2rem,
    inner-y: (
      m: 2rem,
      l: 4rem
    ),
    html-scale: 1,
    breakpoint: 30em,
    outer-width: 30rem,
    inner-width: 26rem
  ),
  c: (
    font-size: 16px,
    outer-right: 2rem,
    outer-left: 2rem,
    inner-x: 3rem,
    inner-y: (
      m: 2rem,
      l: 5rem
    ),
    html-scale: 1,
    breakpoint: 40em,
    outer-width: 40rem,
    inner-width: 36rem
  )
) */
