//
// TABLE
//

table {
  display: block;
  border-collapse: collapse;
  border-spacing: initial; // only relevant if border-collapse is 'separate'
  table-layout: fixed;
  td, th { text-align: left; vertical-align: top; }
  th { font-weight: bold; }
}
