@media screen and (max-width: 59.999em) {
  html {
    font-size: 16px;
    line-height: 1.25;
  }
}

@media screen and (min-width: 60em) {
  html {
    font-size: 18px;
    line-height: 1.25;
  }
}

.w-auto {
  width: auto;
}

.h-auto {
  height: auto;
}

.my-auto, .mt-auto {
  margin-top: auto;
}

.mx-auto, .mr-auto {
  margin-right: auto;
}

.my-auto, .mb-auto {
  margin-bottom: auto;
}

.mx-auto, .ml-auto {
  margin-left: auto;
}

.w-0 {
  width: 0;
}

.h-0 {
  height: 0;
}

.my-0, .mt-0 {
  margin-top: 0 !important;
}

.mx-0, .mr-0 {
  margin-right: 0 !important;
}

.my-0, .mb-0 {
  margin-bottom: 0 !important;
}

.mx-0, .ml-0 {
  margin-left: 0 !important;
}

.py-0, .pt-0 {
  padding-top: 0 !important;
}

.px-0, .pr-0 {
  padding-right: 0 !important;
}

.py-0, .pb-0 {
  padding-bottom: 0 !important;
}

.px-0, .pl-0 {
  padding-left: 0 !important;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.d-none {
  display: none;
}

.d-flex {
  display: flex;
}

.d-flex-y {
  display: flex;
  flex-direction: column;
}

.d-grid {
  display: grid;
}

.d-block {
  display: block;
}

.d-iblock {
  display: inline-block;
  vertical-align: baseline;
}

.d-inline {
  display: inline;
  vertical-align: baseline;
}

.static {
  position: static;
}

.rel {
  position: relative;
}

.fix {
  position: fixed;
}

.fix-tl {
  top: 0;
  left: 0;
}

.fix-tr {
  top: 0;
  right: 0;
}

.fix-bl {
  bottom: 0;
  left: 0;
}

.fix-br {
  bottom: 0;
  right: 0;
}

.fix-trbl {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.abs {
  position: absolute;
}

.abs-tl {
  top: 0;
  left: 0;
}

.abs-tr {
  top: 0;
  right: 0;
}

.abs-bl {
  bottom: 0;
  left: 0;
}

.abs-br {
  bottom: 0;
  right: 0;
}

.abs-trbl {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.abs-cover {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.abs-contain {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@media screen and (min-width: 30em) {
  .w-auto__a {
    width: auto;
  }
  .h-auto__a {
    height: auto;
  }
  .my-auto__a, .mt-auto__a {
    margin-top: auto;
  }
  .mx-auto__a, .mr-auto__a {
    margin-right: auto;
  }
  .my-auto__a, .mb-auto__a {
    margin-bottom: auto;
  }
  .mx-auto__a, .ml-auto__a {
    margin-left: auto;
  }
  .w-0__a {
    width: 0;
  }
  .h-0__a {
    height: 0;
  }
  .my-0__a, .mt-0__a {
    margin-top: 0 !important;
  }
  .mx-0__a, .mr-0__a {
    margin-right: 0 !important;
  }
  .my-0__a, .mb-0__a {
    margin-bottom: 0 !important;
  }
  .mx-0__a, .ml-0__a {
    margin-left: 0 !important;
  }
  .py-0__a, .pt-0__a {
    padding-top: 0 !important;
  }
  .px-0__a, .pr-0__a {
    padding-right: 0 !important;
  }
  .py-0__a, .pb-0__a {
    padding-bottom: 0 !important;
  }
  .px-0__a, .pl-0__a {
    padding-left: 0 !important;
  }
  .w-100__a {
    width: 100%;
  }
  .h-100__a {
    height: 100%;
  }
  .d-none__a {
    display: none;
  }
  .d-flex__a {
    display: flex;
  }
  .d-flex-y__a {
    display: flex;
    flex-direction: column;
  }
  .d-grid__a {
    display: grid;
  }
  .d-block__a {
    display: block;
  }
  .d-iblock__a {
    display: inline-block;
    vertical-align: baseline;
  }
  .d-inline__a {
    display: inline;
    vertical-align: baseline;
  }
  .static__a {
    position: static;
  }
  .rel__a {
    position: relative;
  }
  .fix__a {
    position: fixed;
  }
  .fix-tl__a {
    top: 0;
    left: 0;
  }
  .fix-tr__a {
    top: 0;
    right: 0;
  }
  .fix-bl__a {
    bottom: 0;
    left: 0;
  }
  .fix-br__a {
    bottom: 0;
    right: 0;
  }
  .fix-trbl__a {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .abs__a {
    position: absolute;
  }
  .abs-tl__a {
    top: 0;
    left: 0;
  }
  .abs-tr__a {
    top: 0;
    right: 0;
  }
  .abs-bl__a {
    bottom: 0;
    left: 0;
  }
  .abs-br__a {
    bottom: 0;
    right: 0;
  }
  .abs-trbl__a {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .abs-cover__a {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .abs-contain__a {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

@media screen and (min-width: 40em) {
  .w-auto__b {
    width: auto;
  }
  .h-auto__b {
    height: auto;
  }
  .my-auto__b, .mt-auto__b {
    margin-top: auto;
  }
  .mx-auto__b, .mr-auto__b {
    margin-right: auto;
  }
  .my-auto__b, .mb-auto__b {
    margin-bottom: auto;
  }
  .mx-auto__b, .ml-auto__b {
    margin-left: auto;
  }
  .w-0__b {
    width: 0;
  }
  .h-0__b {
    height: 0;
  }
  .my-0__b, .mt-0__b {
    margin-top: 0 !important;
  }
  .mx-0__b, .mr-0__b {
    margin-right: 0 !important;
  }
  .my-0__b, .mb-0__b {
    margin-bottom: 0 !important;
  }
  .mx-0__b, .ml-0__b {
    margin-left: 0 !important;
  }
  .py-0__b, .pt-0__b {
    padding-top: 0 !important;
  }
  .px-0__b, .pr-0__b {
    padding-right: 0 !important;
  }
  .py-0__b, .pb-0__b {
    padding-bottom: 0 !important;
  }
  .px-0__b, .pl-0__b {
    padding-left: 0 !important;
  }
  .w-100__b {
    width: 100%;
  }
  .h-100__b {
    height: 100%;
  }
  .d-none__b {
    display: none;
  }
  .d-flex__b {
    display: flex;
  }
  .d-flex-y__b {
    display: flex;
    flex-direction: column;
  }
  .d-grid__b {
    display: grid;
  }
  .d-block__b {
    display: block;
  }
  .d-iblock__b {
    display: inline-block;
    vertical-align: baseline;
  }
  .d-inline__b {
    display: inline;
    vertical-align: baseline;
  }
  .static__b {
    position: static;
  }
  .rel__b {
    position: relative;
  }
  .fix__b {
    position: fixed;
  }
  .fix-tl__b {
    top: 0;
    left: 0;
  }
  .fix-tr__b {
    top: 0;
    right: 0;
  }
  .fix-bl__b {
    bottom: 0;
    left: 0;
  }
  .fix-br__b {
    bottom: 0;
    right: 0;
  }
  .fix-trbl__b {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .abs__b {
    position: absolute;
  }
  .abs-tl__b {
    top: 0;
    left: 0;
  }
  .abs-tr__b {
    top: 0;
    right: 0;
  }
  .abs-bl__b {
    bottom: 0;
    left: 0;
  }
  .abs-br__b {
    bottom: 0;
    right: 0;
  }
  .abs-trbl__b {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .abs-cover__b {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .abs-contain__b {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

@media screen and (min-width: 60em) {
  .w-auto__c {
    width: auto;
  }
  .h-auto__c {
    height: auto;
  }
  .my-auto__c, .mt-auto__c {
    margin-top: auto;
  }
  .mx-auto__c, .mr-auto__c {
    margin-right: auto;
  }
  .my-auto__c, .mb-auto__c {
    margin-bottom: auto;
  }
  .mx-auto__c, .ml-auto__c {
    margin-left: auto;
  }
  .w-0__c {
    width: 0;
  }
  .h-0__c {
    height: 0;
  }
  .my-0__c, .mt-0__c {
    margin-top: 0 !important;
  }
  .mx-0__c, .mr-0__c {
    margin-right: 0 !important;
  }
  .my-0__c, .mb-0__c {
    margin-bottom: 0 !important;
  }
  .mx-0__c, .ml-0__c {
    margin-left: 0 !important;
  }
  .py-0__c, .pt-0__c {
    padding-top: 0 !important;
  }
  .px-0__c, .pr-0__c {
    padding-right: 0 !important;
  }
  .py-0__c, .pb-0__c {
    padding-bottom: 0 !important;
  }
  .px-0__c, .pl-0__c {
    padding-left: 0 !important;
  }
  .w-100__c {
    width: 100%;
  }
  .h-100__c {
    height: 100%;
  }
  .d-none__c {
    display: none;
  }
  .d-flex__c {
    display: flex;
  }
  .d-flex-y__c {
    display: flex;
    flex-direction: column;
  }
  .d-grid__c {
    display: grid;
  }
  .d-block__c {
    display: block;
  }
  .d-iblock__c {
    display: inline-block;
    vertical-align: baseline;
  }
  .d-inline__c {
    display: inline;
    vertical-align: baseline;
  }
  .static__c {
    position: static;
  }
  .rel__c {
    position: relative;
  }
  .fix__c {
    position: fixed;
  }
  .fix-tl__c {
    top: 0;
    left: 0;
  }
  .fix-tr__c {
    top: 0;
    right: 0;
  }
  .fix-bl__c {
    bottom: 0;
    left: 0;
  }
  .fix-br__c {
    bottom: 0;
    right: 0;
  }
  .fix-trbl__c {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .abs__c {
    position: absolute;
  }
  .abs-tl__c {
    top: 0;
    left: 0;
  }
  .abs-tr__c {
    top: 0;
    right: 0;
  }
  .abs-bl__c {
    bottom: 0;
    left: 0;
  }
  .abs-br__c {
    bottom: 0;
    right: 0;
  }
  .abs-trbl__c {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .abs-cover__c {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .abs-contain__c {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

@media screen and (max-width: 39.999em) {
  .py-s, .pt-s {
    padding-top: 0.75rem;
  }
  .py-s, .pb-s {
    padding-bottom: 0.75rem;
  }
  .my-s, .mt-s {
    margin-top: 0.75rem;
  }
  .my-s, .mb-s {
    margin-bottom: 0.75rem;
  }
  .my-neg-s, .mt-neg-s {
    margin-top: -0.75rem;
  }
  .my-neg-s, .mb-neg-s {
    margin-bottom: -0.75rem;
  }
  .py-m, .pt-m {
    padding-top: 3.5rem;
  }
  .py-m, .pb-m {
    padding-bottom: 3.5rem;
  }
  .my-m, .mt-m {
    margin-top: 3.5rem;
  }
  .my-m, .mb-m {
    margin-bottom: 3.5rem;
  }
  .my-neg-m, .mt-neg-m {
    margin-top: -3.5rem;
  }
  .my-neg-m, .mb-neg-m {
    margin-bottom: -3.5rem;
  }
  .py-l, .pt-l {
    padding-top: 3rem;
  }
  .py-l, .pb-l {
    padding-bottom: 3rem;
  }
  .my-l, .mt-l {
    margin-top: 3rem;
  }
  .my-l, .mb-l {
    margin-bottom: 3rem;
  }
  .my-neg-l, .mt-neg-l {
    margin-top: -3rem;
  }
  .my-neg-l, .mb-neg-l {
    margin-bottom: -3rem;
  }
}

@media screen and (min-width: 40em) {
  .py-s__b, .pt-s__b {
    padding-top: 0.75rem;
  }
  .py-s__b, .pb-s__b {
    padding-bottom: 0.75rem;
  }
  .my-s__b, .mt-s__b {
    margin-top: 0.75rem;
  }
  .my-s__b, .mb-s__b {
    margin-bottom: 0.75rem;
  }
  .my-neg-s__b, .mt-neg-s__b {
    margin-top: -0.75rem;
  }
  .my-neg-s__b, .mb-neg-s__b {
    margin-bottom: -0.75rem;
  }
  .py-m__b, .pt-m__b {
    padding-top: 3.5rem;
  }
  .py-m__b, .pb-m__b {
    padding-bottom: 3.5rem;
  }
  .my-m__b, .mt-m__b {
    margin-top: 3.5rem;
  }
  .my-m__b, .mb-m__b {
    margin-bottom: 3.5rem;
  }
  .my-neg-m__b, .mt-neg-m__b {
    margin-top: -3.5rem;
  }
  .my-neg-m__b, .mb-neg-m__b {
    margin-bottom: -3.5rem;
  }
  .py-l__b, .pt-l__b {
    padding-top: 4px;
  }
  .py-l__b, .pb-l__b {
    padding-bottom: 4px;
  }
  .my-l__b, .mt-l__b {
    margin-top: 4px;
  }
  .my-l__b, .mb-l__b {
    margin-bottom: 4px;
  }
  .my-neg-l__b, .mt-neg-l__b {
    margin-top: -4px;
  }
  .my-neg-l__b, .mb-neg-l__b {
    margin-bottom: -4px;
  }
}

.px-s, .pr-s {
  padding-right: 0.5rem;
}

.px-s, .pl-s {
  padding-left: 0.5rem;
}

.mx-s, .mr-s {
  margin-right: 0.5rem;
}

.mx-s, .ml-s {
  margin-left: 0.5rem;
}

.mx-neg-s, .mr-neg-s {
  margin-right: -0.5rem;
}

.mx-neg-s, .ml-neg-s {
  margin-left: -0.5rem;
}

.px-m, .pr-m {
  padding-right: 1rem;
}

.px-m, .pl-m {
  padding-left: 1rem;
}

.mx-m, .mr-m {
  margin-right: 1rem;
}

.mx-m, .ml-m {
  margin-left: 1rem;
}

.mx-neg-m, .mr-neg-m {
  margin-right: -1rem;
}

.mx-neg-m, .ml-neg-m {
  margin-left: -1rem;
}

.px-l, .pr-l {
  padding-right: 2rem;
}

.px-l, .pl-l {
  padding-left: 2rem;
}

.mx-l, .mr-l {
  margin-right: 2rem;
}

.mx-l, .ml-l {
  margin-left: 2rem;
}

.mx-neg-l, .mr-neg-l {
  margin-right: -2rem;
}

.mx-neg-l, .ml-neg-l {
  margin-left: -2rem;
}
