.flow, [class^="flow-"], [class*=" flow-"] {
  margin-top: calc(1.25rem / -2);
  margin-bottom: calc(1.25rem / -2);
}

.flow > *, [class^="flow-"] > *, [class*=" flow-"] > * {
  padding-top: calc(1.25rem / 2) !important;
  padding-bottom: calc(1.25rem / 2) !important;
}

.flow, [class^="flow-"], [class*=" flow-"] {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: calc(100% + 2rem) !important;
  margin-left: calc(2rem / -2);
  margin-right: calc(2rem / -2);
}

.flow > *, [class^="flow-"] > *, [class*=" flow-"] > * {
  flex: 0 0 auto;
  width: 100%;
  min-width: 0%;
  min-height: 1px;
  overflow-wrap: break-word;
  background-clip: content-box;
  padding-left: calc(2rem / 2) !important;
  padding-right: calc(2rem / 2) !important;
}

.flow-0 {
  width: 100% !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.flow-0 > * {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.flow-s {
  margin-top: calc(1.25rem / -2);
  margin-bottom: calc(1.25rem / -2);
}

.flow-s > * {
  padding-top: calc(1.25rem / 2) !important;
  padding-bottom: calc(1.25rem / 2) !important;
}

.flow-m {
  margin-top: calc(2.5rem / -2);
  margin-bottom: calc(2.5rem / -2);
}

.flow-m > * {
  padding-top: calc(2.5rem / 2) !important;
  padding-bottom: calc(2.5rem / 2) !important;
}

.flow-l {
  margin-top: calc(4rem / -2);
  margin-bottom: calc(4rem / -2);
}

.flow-l > * {
  padding-top: calc(4rem / 2) !important;
  padding-bottom: calc(4rem / 2) !important;
}

@media screen and (max-width: 29.999em) {
  .flow, [class^="flow-"], [class*=" flow-"] {
    width: calc(100% + 2rem) !important;
    margin-left: calc(2rem / -2);
    margin-right: calc(2rem / -2);
  }
  .flow > *, [class^="flow-"] > *, [class*=" flow-"] > * {
    padding-left: calc(2rem / 2) !important;
    padding-right: calc(2rem / 2) !important;
  }
}

@media screen and (min-width: 30em) {
  .flow, [class^="flow-"], [class*=" flow-"] {
    width: calc(100% + 3rem) !important;
    margin-left: calc(3rem / -2);
    margin-right: calc(3rem / -2);
  }
  .flow > *, [class^="flow-"] > *, [class*=" flow-"] > * {
    padding-left: calc(3rem / 2) !important;
    padding-right: calc(3rem / 2) !important;
  }
}

.test {
  width: calc(99.99999% * 1 / 6);
  margin-left: calc(99.99999% * -1 / 6);
  margin-right: calc(99.99999% * 2 / 6);
}

.test {
  width: calc((99.99999% + 2rem) * 1 / 6 - 2rem);
  margin-left: calc((99.99999% + 2rem) * -1 / 6);
  margin-right: calc((99.99999% + 2rem) * 2 / 6);
}

.m-test {
  width: calc(99.99999% * 2 / 6);
  margin-left: calc(99.99999% * 0 / 6);
  margin-right: calc(99.99999% * -1 / 6);
}

@media screen and (min-width: 20em) {
  .m-test {
    width: calc(99.99999% * 2 / 6);
    margin-left: calc(99.99999% * 0 / 6);
    margin-right: calc(99.99999% * -1 / 6);
  }
}

@media screen and (min-width: 30em) {
  .m-test {
    width: calc(99.99999% * 3 / 12);
    margin-left: calc(99.99999% * 0 / 12);
    margin-right: calc(99.99999% * 1 / 12);
  }
}

@media screen and (min-width: 20em) {
  .m-test .nest {
    width: calc((99.99999% + 2rem) * 3 / 6 - 2rem);
    margin-left: calc((99.99999% + 2rem) * 1 / 6);
    margin-right: calc((99.99999% + 2rem) * 1 / 6);
  }
}

@media screen and (min-width: 30em) {
  .m-test .nest {
    width: calc((99.99999% + 3rem) * 4 / 12 - 3rem);
    margin-left: calc((99.99999% + 3rem) * 2 / 12);
    margin-right: calc((99.99999% + 3rem) * 2 / 12);
  }
}
