html {
  font-size: 16px;
  line-height: 1.25;
}

.flow, [class^="flow-"], [class*=" flow-"] {
  margin-top: calc(1.25rem / -2);
  margin-bottom: calc(1.25rem / -2);
}

.flow > *, [class^="flow-"] > *, [class*=" flow-"] > * {
  padding-top: calc(1.25rem / 2) !important;
  padding-bottom: calc(1.25rem / 2) !important;
}

.flow, [class^="flow-"], [class*=" flow-"] {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: calc(2rem / -2);
  margin-right: calc(2rem / -2);
  width: calc(100% + 2rem);
}

.flow > *, [class^="flow-"] > *, [class*=" flow-"] > * {
  flex: 0 0 auto;
  width: 100%;
  min-width: 0%;
  min-height: 1px;
  overflow-wrap: break-word;
  background-clip: content-box;
  padding-left: calc(2rem / 2) !important;
  padding-right: calc(2rem / 2) !important;
}

.flow-s {
  margin-top: calc(1.25rem / -2);
  margin-bottom: calc(1.25rem / -2);
}

.flow-s > * {
  padding-top: calc(1.25rem / 2) !important;
  padding-bottom: calc(1.25rem / 2) !important;
}

.flow-m {
  margin-top: calc(2.5rem / -2);
  margin-bottom: calc(2.5rem / -2);
}

.flow-m > * {
  padding-top: calc(2.5rem / 2) !important;
  padding-bottom: calc(2.5rem / 2) !important;
}

.flow-l {
  margin-top: calc(4rem / -2);
  margin-bottom: calc(4rem / -2);
}

.flow-l > * {
  padding-top: calc(4rem / 2) !important;
  padding-bottom: calc(4rem / 2) !important;
}

@media screen and (min-width: 20em) {
  .flow-s, .flow-s__a {
    margin-top: calc(1.25rem / -2);
    margin-bottom: calc(1.25rem / -2);
  }
  .flow-s > *, .flow-s__a > * {
    padding-top: calc(1.25rem / 2) !important;
    padding-bottom: calc(1.25rem / 2) !important;
  }
  .flow-m, .flow-m__a {
    margin-top: calc(2.5rem / -2);
    margin-bottom: calc(2.5rem / -2);
  }
  .flow-m > *, .flow-m__a > * {
    padding-top: calc(2.5rem / 2) !important;
    padding-bottom: calc(2.5rem / 2) !important;
  }
  .flow-l, .flow-l__a {
    margin-top: calc(4rem / -2);
    margin-bottom: calc(4rem / -2);
  }
  .flow-l > *, .flow-l__a > * {
    padding-top: calc(4rem / 2) !important;
    padding-bottom: calc(4rem / 2) !important;
  }
}

@media screen and (min-width: 30em) {
  .flow-s, .flow-s__a, .flow-s__b {
    margin-top: calc(1.25rem / -2);
    margin-bottom: calc(1.25rem / -2);
  }
  .flow-s > *, .flow-s__a > *, .flow-s__b > * {
    padding-top: calc(1.25rem / 2) !important;
    padding-bottom: calc(1.25rem / 2) !important;
  }
  .flow-m, .flow-m__a, .flow-m__b {
    margin-top: calc(2.5rem / -2);
    margin-bottom: calc(2.5rem / -2);
  }
  .flow-m > *, .flow-m__a > *, .flow-m__b > * {
    padding-top: calc(2.5rem / 2) !important;
    padding-bottom: calc(2.5rem / 2) !important;
  }
  .flow-l, .flow-l__a, .flow-l__b {
    margin-top: calc(4rem / -2);
    margin-bottom: calc(4rem / -2);
  }
  .flow-l > *, .flow-l__a > *, .flow-l__b > * {
    padding-top: calc(4rem / 2) !important;
    padding-bottom: calc(4rem / 2) !important;
  }
}

@media screen and (min-width: 40em) {
  .flow-s, .flow-s__a, .flow-s__b, .flow-s__c {
    margin-top: calc(1.25rem / -2);
    margin-bottom: calc(1.25rem / -2);
  }
  .flow-s > *, .flow-s__a > *, .flow-s__b > *, .flow-s__c > * {
    padding-top: calc(1.25rem / 2) !important;
    padding-bottom: calc(1.25rem / 2) !important;
  }
  .flow-m, .flow-m__a, .flow-m__b, .flow-m__c {
    margin-top: calc(2.5rem / -2);
    margin-bottom: calc(2.5rem / -2);
  }
  .flow-m > *, .flow-m__a > *, .flow-m__b > *, .flow-m__c > * {
    padding-top: calc(2.5rem / 2) !important;
    padding-bottom: calc(2.5rem / 2) !important;
  }
  .flow-l, .flow-l__a, .flow-l__b, .flow-l__c {
    margin-top: calc(4rem / -2);
    margin-bottom: calc(4rem / -2);
  }
  .flow-l > *, .flow-l__a > *, .flow-l__b > *, .flow-l__c > * {
    padding-top: calc(4rem / 2) !important;
    padding-bottom: calc(4rem / 2) !important;
  }
}

.test {
  width: calc(99.99999% * 1 / 6);
  margin-left: calc(99.99999% * -1 / 6);
  margin-right: calc(99.99999% * 2 / 6);
}

.test {
  width: calc((99.99999% + 2rem) * 1 / 6 - 2rem);
  margin-left: calc((99.99999% + 2rem) * -1 / 6);
  margin-right: calc((99.99999% + 2rem) * 2 / 6);
}
