.sans, [class^="sans-"], [class*=" sans-"],
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Helvetica, sans-serif;
}

.serif, [class^="serif-"], [class*=" serif-"] {
  font-family: serif;
}

@media screen and (max-width: 29.999em) {
  .sans-s {
    font-size: 0.875rem;
    line-height: 1.4;
  }
}

@media screen and (min-width: 30em) {
  .sans-s {
    font-size: 1.25rem;
    line-height: 1.2;
  }
}

@media screen and (max-width: 29.999em) {
  .sans-m {
    font-size: 1rem;
    line-height: 1.4;
  }
}

@media screen and (min-width: 30em) {
  .sans-m {
    font-size: 1.5rem;
    line-height: 1.2;
  }
}

@media screen and (max-width: 29.999em) {
  .serif-s {
    font-size: 1rem;
    line-height: 1.4;
  }
}

@media screen and (min-width: 30em) {
  .serif-s {
    font-size: 1.375rem;
    line-height: 1.2;
  }
}

@media screen and (max-width: 29.999em) {
  .serif-m {
    font-size: 1.125rem;
    line-height: 1.4;
  }
}

@media screen and (min-width: 30em) {
  .serif-m {
    font-size: 1.625rem;
    line-height: 1.2;
  }
}
