@import 'index';

$root: (
  inner-x: 2rem,
  inner-x-mods: (
    s: 0.5,
    form: 10px,
  ),
  inner-y-mods: (
    s: 1,
    m: 2,
    l: 4rem
  )
);

$media: (
  a: (breakpoint: 20em),
  b: (
    font-size: 20px,
    inner-x: 3rem,
    breakpoint: 30em
  ),
  c: (breakpoint: 40em),
);

@include homework-core-setup(false);
@include homework-wrap-setup(false);
