//           _
//          | |
//  ___  ___| |_ _   _ _ __
// / __|/ _ \ __| | | | '_ \
// \__ \  __/ |_| |_| | |_) |
// |___/\___|\__|\__,_| .__/
//                    | |
//                    |_|

// root
@import 'core';

// atomic, basic
@import 'atomic';
@import 'basic';

// debug, outer, spread
@import 'debug';

// modal, layer, scroll
// wrap, peel
@import 'frame';
@import 'wrap';
@import 'peel';

// grid, cell, row, col
// inset, outset, chain
@import 'grid';

// typo, stack, trim
@import 'typo';
@import 'stack';
@import 'chain';

// color, theme, icon ?
// @import 'colors';
// @import 'theme';

$done-homework-setup: false;

@mixin homework-setup($reset: true, $setups...) {

  // run homework reset, if not done
  @if $reset and not $done-homework-reset { @include homework-reset; }

  // run sass-m setup if not done
  @if not $done-m { @include m-init(); }

  // set $setups to ALL setups, if none provided
  @if length($setups) == 0 {
    $setups: (
      'atomic',
      'basic',
      'colors',
      'debug',
      'outer',
      'wrap',
      'peel',
      'grid',
      'typo',
      'stack',
      'chain',
      'theme',
    );
  }

  // run indicated setups
  @if index($setups, 'basic') { @include setup-basic; }
  @if index($setups, 'colors') { @include setup-colors; }
  @if index($setups, 'debug') { @include setup-debug; }
  @if index($setups, 'outer') { @include setup-outer; }
  @if index($setups, 'wrap') { @include setup-wrap; }
  @if index($setups, 'peel') { @include setup-peel; }
  @if index($setups, 'grid') { @include homework-grid-setup; }
  @if index($setups, 'typo') { @include homework-typo-setup; }
  @if index($setups, 'stack') { @include setup-stack; }
  @if index($setups, 'chain') { @include setup-chain; }
  @if index($setups, 'theme') { @include setup-theme; }
  @if index($setups, 'atomic') { @include setup-atomic; }

  // set $done-homework to true
  $done-homework-setup: true !global;
}
