:root {
  --font-size: 16px;
  --line-height: 1.25;
  --inner-x: 1rem;
  --inner-y: 1.25rem;
  --outer-top: 1rem;
  --outer-right: 1rem;
  --outer-bottom: 1rem;
  --outer-left: 1rem;
  --grid-columns: 12;
  --outer-width: 100%;
  --inner-width: calc(var(--outer-width) - (var(--outer-right) + var(--outer-left)));
  --inner-y-m: 1rem;
  --inner-x-m: 1rem;
  --font-size-sans-m: 1rem;
  --line-height-sans-m: 1.25;
  --trim-top-sans-m: calc((var(--line-height-sans-m) - 1) * 1em / 2 + var(--trim-capline-sans) * 1em);
  --trim-bottom-sans-m: calc((var(--line-height-sans-m) - 1) * 1em / 2 + var(--trim-baseline-sans) * 1em);
}

html {
  font-size: var(--font-size);
  line-height: var(--line-height);
}

@media screen and (min-width: 20em) {
  :root {
    --breakpoint: 20em;
    --outer-top: 2rem;
    --outer-right: 2rem;
    --outer-bottom: 2rem;
    --outer-left: 2rem;
    --outer-width: 20rem;
  }
}

@media screen and (min-width: 30em) {
  :root {
    --breakpoint: 30em;
    --outer-top: 3rem;
    --outer-right: 3rem;
    --outer-bottom: 3rem;
    --outer-left: 3rem;
    --outer-width: 30rem;
  }
}

@media screen and (min-width: 40em) {
  :root {
    --breakpoint: 40em;
    --outer-top: 4rem;
    --outer-right: 4rem;
    --outer-bottom: 4rem;
    --outer-left: 4rem;
    --outer-width: 40rem;
  }
}

.bleed, [class^="bleed-"], [class*=" bleed-"] {
  width: unset !important;
}

.frame, .frame-x, .frame-right {
  padding-right: var(--outer-right);
}

.frame, .frame-x, .frame-left {
  padding-left: var(--outer-left);
}

.frame-y, .frame-top {
  padding-top: var(--outer-top);
}

.frame-y, .frame-bottom {
  padding-bottom: var(--outer-bottom);
}

.bleed, .bleed-x, .bleed-right {
  margin-right: calc(var(--outer-right) * -1);
}

.bleed, .bleed-x, .bleed-left {
  margin-left: calc(var(--outer-left) * -1);
}

.bleed-y, .bleed-top {
  margin-top: calc(var(--outer-top) * -1);
}

.bleed-y, .bleed-bottom {
  margin-bottom: calc(var(--outer-bottom) * -1);
}

@media screen and (min-width: 20em) {
  .frame__a, .frame-x__a, .frame-right__a {
    padding-right: var(--outer-right);
  }
  .frame__a, .frame-x__a, .frame-left__a {
    padding-left: var(--outer-left);
  }
  .frame-y__a, .frame-top__a {
    padding-top: var(--outer-top);
  }
  .frame-y__a, .frame-bottom__a {
    padding-bottom: var(--outer-bottom);
  }
  .bleed__a, .bleed-x__a, .bleed-right__a {
    margin-right: calc(var(--outer-right) * -1);
  }
  .bleed__a, .bleed-x__a, .bleed-left__a {
    margin-left: calc(var(--outer-left) * -1);
  }
  .bleed-y__a, .bleed-top__a {
    margin-top: calc(var(--outer-top) * -1);
  }
  .bleed-y__a, .bleed-bottom__a {
    margin-bottom: calc(var(--outer-bottom) * -1);
  }
}

@media screen and (min-width: 30em) {
  .frame__b, .frame-x__b, .frame-right__b {
    padding-right: var(--outer-right);
  }
  .frame__b, .frame-x__b, .frame-left__b {
    padding-left: var(--outer-left);
  }
  .frame-y__b, .frame-top__b {
    padding-top: var(--outer-top);
  }
  .frame-y__b, .frame-bottom__b {
    padding-bottom: var(--outer-bottom);
  }
  .bleed__b, .bleed-x__b, .bleed-right__b {
    margin-right: calc(var(--outer-right) * -1);
  }
  .bleed__b, .bleed-x__b, .bleed-left__b {
    margin-left: calc(var(--outer-left) * -1);
  }
  .bleed-y__b, .bleed-top__b {
    margin-top: calc(var(--outer-top) * -1);
  }
  .bleed-y__b, .bleed-bottom__b {
    margin-bottom: calc(var(--outer-bottom) * -1);
  }
}

@media screen and (min-width: 40em) {
  .frame__c, .frame-x__c, .frame-right__c {
    padding-right: var(--outer-right);
  }
  .frame__c, .frame-x__c, .frame-left__c {
    padding-left: var(--outer-left);
  }
  .frame-y__c, .frame-top__c {
    padding-top: var(--outer-top);
  }
  .frame-y__c, .frame-bottom__c {
    padding-bottom: var(--outer-bottom);
  }
  .bleed__c, .bleed-x__c, .bleed-right__c {
    margin-right: calc(var(--outer-right) * -1);
  }
  .bleed__c, .bleed-x__c, .bleed-left__c {
    margin-left: calc(var(--outer-left) * -1);
  }
  .bleed-y__c, .bleed-top__c {
    margin-top: calc(var(--outer-top) * -1);
  }
  .bleed-y__c, .bleed-bottom__c {
    margin-bottom: calc(var(--outer-bottom) * -1);
  }
}
