:root {
  --font-size: 16px;
  --line-height: 1.25;
  --inner-x: 1rem;
  --inner-y: 1.5rem;
  --outer-top: 2rem;
  --outer-right: 2rem;
  --outer-bottom: 2rem;
  --outer-left: 2rem;
  --grid-columns: 12;
  --outer-width: 100%;
  --inner-width: calc(var(--outer-width) - (var(--outer-right) + var(--outer-left)));
  --inner-y-s: calc(var(--inner-y) * 0.5);
  --inner-y-m: 3.5rem;
  --inner-y-l: calc(var(--inner-y) * 2);
  --inner-x-s: calc(var(--inner-x) * 0.5);
  --inner-x-m: calc(var(--inner-x) * 1);
  --inner-x-l: calc(var(--inner-x) * 2);
  --font-size-sans-m: 1.125rem;
  --line-height-sans-m: 1.3;
  --trim-top-sans-m: calc((var(--line-height-sans-m) - 1) * 1em / 2 + var(--trim-capline-sans) * 1em);
  --trim-bottom-sans-m: calc((var(--line-height-sans-m) - 1) * 1em / 2 + var(--trim-baseline-sans) * 1em);
  --font-size-sans-l: 1.5rem;
  --line-height-sans-l: 1.2;
  --trim-top-sans-l: calc((var(--line-height-sans-l) - 1) * 1em / 2 + var(--trim-capline-sans) * 1em);
  --trim-bottom-sans-l: calc((var(--line-height-sans-l) - 1) * 1em / 2 + var(--trim-baseline-sans) * 1em);
  --font-size-serif-m: 1.125rem;
  --line-height-serif-m: 1.3;
  --trim-top-serif-m: calc((var(--line-height-serif-m) - 1) * 1em / 2 + var(--trim-capline-serif) * 1em);
  --trim-bottom-serif-m: calc((var(--line-height-serif-m) - 1) * 1em / 2 + var(--trim-baseline-serif) * 1em);
  --font-size-serif-l: 1.5rem;
  --line-height-serif-l: 1.2;
  --trim-top-serif-l: calc((var(--line-height-serif-l) - 1) * 1em / 2 + var(--trim-capline-serif) * 1em);
  --trim-bottom-serif-l: calc((var(--line-height-serif-l) - 1) * 1em / 2 + var(--trim-baseline-serif) * 1em);
}

html {
  font-size: var(--font-size);
  line-height: var(--line-height);
}

@media screen and (min-width: 30em) {
  :root {
    --breakpoint: 30em;
    --outer-width: 30rem;
  }
}

@media screen and (min-width: 40em) {
  :root {
    --breakpoint: 40em;
    --outer-width: 40rem;
    --inner-y-l: 4px;
  }
}

@media screen and (min-width: 60em) {
  :root {
    --font-size: 18px;
    --breakpoint: 60em;
    --outer-right: 80px;
    --outer-width: 53.33333rem;
  }
}

.strong, .bold {
  font-weight: bold;
}

.em, .italic {
  font-style: italic;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

@supports (display: flow-root) {
  .clearfix {
    display: flow-root;
  }
  .clearfix::after {
    content: none;
  }
}

.nobr {
  white-space: nowrap;
  text-overflow: ellipsis;
}

.is-scrolling,
.is-scrolling * {
  pointer-events: none !important;
}

.hold, [class^="hold-"], [class*=" hold-"] {
  position: relative;
}

.stop, .trim {
  padding-top: 0.1px;
  padding-bottom: 0.1px;
}

.clip, [class^="clip-"], [class*=" clip-"] {
  overflow: hidden !important;
  position: relative;
  z-index: 0;
}

.clip-x {
  overflow-x: hidden;
  overflow-y: visible;
}

.clip-y {
  overflow-y: hidden;
  overflow-x: visible;
}

.clip-circle {
  border-radius: 50%;
}

.vhide {
  position: absolute !important;
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
  flex: 0 0 0%;
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

body:hover .vhide a,
body:hover .vhide input,
body:hover .vhide button {
  display: none !important;
}

.hide {
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
}

.show {
  pointer-events: initial;
  visibility: visible;
  opacity: 1;
}

@media screen and (min-width: 30em) {
  .hide__a {
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
  }
  .show__a {
    pointer-events: initial;
    visibility: visible;
    opacity: 1;
  }
}

@media screen and (min-width: 40em) {
  .hide__b {
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
  }
  .show__b {
    pointer-events: initial;
    visibility: visible;
    opacity: 1;
  }
}

@media screen and (min-width: 60em) {
  .hide__c {
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
  }
  .show__c {
    pointer-events: initial;
    visibility: visible;
    opacity: 1;
  }
}

.a-left {
  text-align: left;
}

.a-center {
  text-align: center;
}

.a-right {
  text-align: right;
}

.a-top {
  vertical-align: top;
}

.a-middle {
  vertical-align: middle;
}

.a-baseline {
  vertical-align: baseline;
}

.a-bottom {
  vertical-align: bottom;
}

.ai-stretch {
  align-items: stretch;
}

.ai-center {
  align-items: center;
}

.ai-baseline {
  align-items: baseline;
}

.ai-start {
  align-items: flex-start;
}

.ai-end {
  align-items: flex-end;
}

.as-stretch {
  align-self: stretch;
}

.as-center {
  align-self: center;
}

.as-baseline {
  align-self: baseline;
}

.as-start {
  align-self: flex-start;
}

.as-end {
  align-self: flex-end;
}

.ac-stretch {
  align-content: stretch;
}

.ac-center {
  align-content: center;
}

.ac-baseline {
  align-content: baseline;
}

.ac-start {
  align-content: flex-start;
}

.ac-end {
  align-content: flex-end;
}

.ac-between {
  align-content: space-between;
}

.ac-around {
  align-content: space-around;
}

.jc-stretch {
  justify-content: stretch;
}

.jc-center {
  justify-content: center;
}

.jc-start {
  justify-content: flex-start;
}

.jc-end {
  justify-content: flex-end;
}

.jc-between {
  justify-content: space-between;
}

.jc-around {
  justify-content: space-around;
}

.jc-evenly {
  justify-content: space-evenly;
}

.fx-1-0 {
  flex: 1 0 auto;
}

.fx-0-1 {
  flex: 0 1 auto;
}

.fx-1-1 {
  flex: 1 1 auto;
}

.fx-0-0 {
  flex: 0 0 auto;
}

.fix, [class^="fix-"], [class*=" fix-"] {
  position: fixed;
}

.abs, [class^="abs-"], [class*=" abs-"] {
  position: absolute;
}

.fit-cover {
  object-fit: cover;
}

.fit-contain {
  object-fit: contain;
}

.aspect, [class^="aspect-"], [class*=" aspect-"] {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.aspect > *, [class^="aspect-"] > *, [class*=" aspect-"] > * {
  flex: 0 0 auto;
  width: 100%;
}

.aspect:before, [class^="aspect-"]:before, [class*=" aspect-"]:before {
  content: '';
  display: block;
  width: 0.01px;
  height: 0;
  padding-bottom: calc(1 / var(--aspect, 1) * 100%);
}

.aspect-1-1, .aspect-2-2, .aspect-3-3, .aspect-4-4, .aspect-5-5 {
  --aspect: 1;
}

.aspect-1-2, .aspect-2-4 {
  --aspect: 0.5;
}

.aspect-2-1, .aspect-4-2 {
  --aspect: 2;
}

.aspect-2-3, .aspect-4-6 {
  --aspect: 0.66667;
}

.aspect-3-2 {
  --aspect: 1.5;
}

.aspect-3-4 {
  --aspect: 0.75;
}

.aspect-3-5 {
  --aspect: 0.6;
}

.aspect-4-3 {
  --aspect: 1.33333;
}

.aspect-4-5 {
  --aspect: 0.8;
}

.aspect-5-3 {
  --aspect: 1.66667;
}

.aspect-5-4 {
  --aspect: 1.25;
}

.aspect-5-8 {
  --aspect: 0.625;
}

.aspect-16-9 {
  --aspect: 1.77778;
}

[data-bg-size='cover'] {
  background-size: cover;
}

[data-bg-size='contain'] {
  background-size: contain;
}
