///
/// NUMBERS
///

@function gcd($a, $b) {
  @if $b == 0 { @return abs($a); }
  @return gcd($b, $a % $b);
}

@function floor-to($n, $dec) {
  $fac: 10; @for $d from 1 to $dec { $fac: $fac * 10; }
  @return floor($n * $fac) / $fac;
}

@function ceil-to($n, $dec) {
  $fac: 10; @for $d from 1 to $dec { $fac: $fac * 10; }
  @return ceil($n * $fac) / $fac;
}

@function round-to($n, $dec) {
  $fac: 10; @for $d from 1 to $dec { $fac: $fac * 10; }
  @return round($n * $fac) / $fac;
}

// ///
// /// MATHSASS (borrowed)
// ///

// $SQRT2: 1.4142135623730951;

// @function _exp ($x) {
//   $ret: 0;
//   $i: 1;
//   @for $n from 0 to 24 {
//       $ret: $ret + $i;
//       $i: $i * $x / ($n + 1);
//   }
//   @return $ret;
// }

// @function _log ($x) {
//   $x: ($x - 1) / ($x + 1);
//   $x2: $x * $x;
//   $i: 1;
//   $s: $x;
//   $sp: null;
//   @while $sp != $s {
//       $x: $x * $x2;
//       $i: $i + 2;
//       $sp: $s;
//       $s: $s + $x / $i;
//   }
//   @return 2 * $s;
// }

// @function log ($x, $b: null) {
//   @if $b != null {
//       @return log($x) / log($b);
//   }

//   @if $x <= 0 {
//       @return 0 / 0;
//   }
//   $k: nth(frexp($x / $SQRT2), 2);
//   $x: $x / ldexp(1, $k);

//   @return $LN2 * $k + _log($x);
// }

// $pow-function: false;
// @if function-exists('pow') { $pow-function: get-function('pow'); }

// @function pow ($base, $exp) {
//   @if $pow-function { @return call($pow-function, $base, $exp); }
//   @if $exp == floor($exp) {
//       $r: 1;
//       $s: 0;
//       @if $exp < 0 {
//           $exp: $exp * -1;
//           $s: 1;
//       }
//       @while $exp > 0 {
//           @if $exp % 2 == 1 {
//               $r: $r * $base;
//           }
//           $exp: floor($exp * 0.5);
//           $base: $base * $base;
//       }
//       @return if($s != 0, 1 / $r, $r);
//   } @else if $base == 0 and $exp > 0 {
//       @return 0;
//   } @else {
//       $expint: floor($exp);
//       $r1: pow($base, $expint);
//       $r2: _exp(log($base) * ($exp - $expint));
//       @return $r1 * $r2;
//   }
// }
