
@font-face {
    font-family:"Brezel Grotesk TRIAL Bold";
    src:url("BrezelTRIAL-Bold.woff2") format("woff2"),url("BrezelTRIAL-Bold.woff") format("woff"),url("BrezelTRIAL-Bold.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        

@font-face {
    font-family:"Brezel Grotesk TRIAL Bold Ita";
    src:url("BrezelTRIAL-BoldItalic.woff2") format("woff2"),url("BrezelTRIAL-BoldItalic.woff") format("woff"),url("BrezelTRIAL-BoldItalic.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        

@font-face {
    font-family:"Brezel Grotesk TRIAL Italic";
    src:url("BrezelTRIAL-Italic.woff2") format("woff2"),url("BrezelTRIAL-Italic.woff") format("woff"),url("BrezelTRIAL-Italic.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        

@font-face {
    font-family:"Brezel Grotesk TRIAL Light";
    src:url("BrezelTRIAL-Light.woff2") format("woff2"),url("BrezelTRIAL-Light.woff") format("woff"),url("BrezelTRIAL-Light.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        

@font-face {
    font-family:"Brezel Grotesk TRIAL Light Ita";
    src:url("BrezelTRIAL-LightItalic.woff2") format("woff2"),url("BrezelTRIAL-LightItalic.woff") format("woff"),url("BrezelTRIAL-LightItalic.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        

@font-face {
    font-family:"Brezel Grotesk TRIAL Medium";
    src:url("BrezelTRIAL-Medium.woff2") format("woff2"),url("BrezelTRIAL-Medium.woff") format("woff"),url("BrezelTRIAL-Medium.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        

@font-face {
    font-family:"Brezel Grotesk TRIAL Medium Ita";
    src:url("BrezelTRIAL-MediumItalic.woff2") format("woff2"),url("BrezelTRIAL-MediumItalic.woff") format("woff"),url("BrezelTRIAL-MediumItalic.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        

@font-face {
    font-family:"Brezel Grotesk TRIAL";
    src:url("BrezelTRIAL-Regular.woff2") format("woff2"),url("BrezelTRIAL-Regular.woff") format("woff"),url("BrezelTRIAL-Regular.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        

@font-face {
    font-family:"Brezel Grotesk TRIAL Bold";
    src:url("BrezelTRIAL-Bold.woff2") format("woff2"),url("BrezelTRIAL-Bold.woff") format("woff"),url("BrezelTRIAL-Bold.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        

@font-face {
    font-family:"Brezel Grotesk TRIAL Bold Ita";
    src:url("BrezelTRIAL-BoldItalic.woff2") format("woff2"),url("BrezelTRIAL-BoldItalic.woff") format("woff"),url("BrezelTRIAL-BoldItalic.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        

@font-face {
    font-family:"Brezel Grotesk TRIAL Italic";
    src:url("BrezelTRIAL-Italic.woff2") format("woff2"),url("BrezelTRIAL-Italic.woff") format("woff"),url("BrezelTRIAL-Italic.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        

@font-face {
    font-family:"Brezel Grotesk TRIAL Light";
    src:url("BrezelTRIAL-Light.woff2") format("woff2"),url("BrezelTRIAL-Light.woff") format("woff"),url("BrezelTRIAL-Light.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        

@font-face {
    font-family:"Brezel Grotesk TRIAL Light Ita";
    src:url("BrezelTRIAL-LightItalic.woff2") format("woff2"),url("BrezelTRIAL-LightItalic.woff") format("woff"),url("BrezelTRIAL-LightItalic.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        

@font-face {
    font-family:"Brezel Grotesk TRIAL Medium";
    src:url("BrezelTRIAL-Medium.woff2") format("woff2"),url("BrezelTRIAL-Medium.woff") format("woff"),url("BrezelTRIAL-Medium.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        

@font-face {
    font-family:"Brezel Grotesk TRIAL Medium Ita";
    src:url("BrezelTRIAL-MediumItalic.woff2") format("woff2"),url("BrezelTRIAL-MediumItalic.woff") format("woff"),url("BrezelTRIAL-MediumItalic.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        

@font-face {
    font-family:"Brezel Grotesk TRIAL";
    src:url("BrezelTRIAL-Regular.woff2") format("woff2"),url("BrezelTRIAL-Regular.woff") format("woff"),url("BrezelTRIAL-Regular.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        