@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 500;
  src: url('//brick.freetls.fastly.net/fonts/inconsolata/500.woff') format('woff')
}

$inconsolata: (
  family: 'Inconsolata',
  dist-capline: 0.1,
  dist-baseline: 0.1,
);

@font-face {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  src: url('//brick.freetls.fastly.net/fonts/karla/400.woff') format('woff')
}
@font-face {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
  src: url('//brick.freetls.fastly.net/fonts/karla/700.woff') format('woff')
}
@font-face {
  font-family: 'Karla';
  font-style: italic;
  font-weight: 400;
  src: url('//brick.freetls.fastly.net/fonts/karla/400i.woff') format('woff')
}
@font-face {
  font-family: 'Karla';
  font-style: italic;
  font-weight: 700;
  src: url('//brick.freetls.fastly.net/fonts/karla/700i.woff') format('woff')
}

$karla: (
  family: 'Karla',
  dist-capline: 0.1,
  dist-baseline: 0.1,
);

@font-face {
  font-family: 'SourceCodePro';
  font-style: normal;
  font-weight: 400;
  src: url('//brick.freetls.fastly.net/fonts/sourcecodepro/400.woff') format('woff')
}
@font-face {
  font-family: 'SourceCodePro';
  font-style: normal;
  font-weight: 700;
  src: url('//brick.freetls.fastly.net/fonts/sourcecodepro/700.woff') format('woff')
}

$source-code-pro: (
  family: 'SourceCodePro',
  dist-capline: 0.1,
  dist-baseline: 0.1,
);

@font-face {
  font-family: 'SourceSansPro';
  font-style: normal;
  font-weight: 400;
  src: url('//brick.freetls.fastly.net/fonts/sourcesanspro/400.woff') format('woff')
}
@font-face {
  font-family: 'SourceSansPro';
  font-style: normal;
  font-weight: 700;
  src: url('//brick.freetls.fastly.net/fonts/sourcesanspro/700.woff') format('woff')
}
@font-face {
  font-family: 'SourceSansPro';
  font-style: italic;
  font-weight: 400;
  src: url('//brick.freetls.fastly.net/fonts/sourcesanspro/400i.woff') format('woff')
}
@font-face {
  font-family: 'SourceSansPro';
  font-style: italic;
  font-weight: 700;
  src: url('//brick.freetls.fastly.net/fonts/sourcesanspro/700i.woff') format('woff')
}

$source-sans-pro: (
  family: 'SourceSansPro',
  dist-capline: 0.17,
  dist-baseline: 0.1,
  spacing-max: 0.5,
  spacing-end: 32,
);

@font-face {
  font-family: 'SourceSerifPro';
  font-style: normal;
  font-weight: 400;
  src: url('//brick.freetls.fastly.net/fonts/sourceserifpro/400.woff') format('woff')
}
@font-face {
  font-family: 'SourceSerifPro';
  font-style: normal;
  font-weight: 700;
  src: url('//brick.freetls.fastly.net/fonts/sourceserifpro/700.woff') format('woff')
}

$source-serif-pro: (
  family: 'SourceSerifPro',
  dist-capline: 0.1,
  dist-baseline: 0.1,
);

@font-face {
  font-family: 'Telex';
  font-style: normal;
  font-weight: 400;
  src: url('//brick.freetls.fastly.net/fonts/telex/400.woff') format('woff')
}

$telex: (
  family: 'Telex',
  dist-capline: 0.1,
  dist-baseline: 0.1,
);

@font-face {
  font-family: 'Vollkorn';
  font-style: normal;
  font-weight: 400;
  src: url('//brick.freetls.fastly.net/fonts/vollkorn/400.woff') format('woff')
}
@font-face {
  font-family: 'Vollkorn';
  font-style: normal;
  font-weight: 700;
  src: url('//brick.freetls.fastly.net/fonts/vollkorn/700.woff') format('woff')
}
@font-face {
  font-family: 'Vollkorn';
  font-style: italic;
  font-weight: 400;
  src: url('//brick.freetls.fastly.net/fonts/vollkorn/400i.woff') format('woff')
}
@font-face {
  font-family: 'Vollkorn';
  font-style: italic;
  font-weight: 700;
  src: url('//brick.freetls.fastly.net/fonts/vollkorn/700i.woff') format('woff')
}

$vollkorn: (
  family: 'Vollkorn',
  dist-capline: 0.1,
  dist-baseline: 0.1,
);

@font-face {
  font-family: 'ClearSans';
  font-style: normal;
  font-weight: 400;
  src: url('//brick.freetls.fastly.net/fonts/clearsans/400.woff') format('woff')
}
@font-face {
  font-family: 'ClearSans';
  font-style: normal;
  font-weight: 700;
  src: url('//brick.freetls.fastly.net/fonts/clearsans/700.woff') format('woff')
}
@font-face {
  font-family: 'ClearSans';
  font-style: italic;
  font-weight: 400;
  src: url('//brick.freetls.fastly.net/fonts/clearsans/400i.woff') format('woff')
}
@font-face {
  font-family: 'ClearSans';
  font-style: italic;
  font-weight: 700;
  src: url('//brick.freetls.fastly.net/fonts/clearsans/700i.woff') format('woff')
}

$clear-sans: (
  family: 'ClearSans',
  dist-capline: 0.1,
  dist-baseline: 0.1,
);
