@font-face {
  font-family: 'GT-America-Condensed-Black-Italic';
  src: url('/fonts/GT-America-Condensed-Black-Italic.eot');
  src: url('/fonts/GT-America-Condensed-Black-Italic.eot?#iefix') format('embedded-opentype'),
       url('/fonts/GT-America-Condensed-Black-Italic.woff2') format('woff2'),
       url('/fonts/GT-America-Condensed-Black-Italic.woff') format('woff');
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'GT-America-Condensed-Black';
  src: url('/fonts/GT-America-Condensed-Black.eot');
  src: url('/fonts/GT-America-Condensed-Black.eot?#iefix') format('embedded-opentype'),
       url('/fonts/GT-America-Condensed-Black.woff2') format('woff2'),
       url('/fonts/GT-America-Condensed-Black.woff') format('woff');
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'GT-America-Condensed-Bold-Italic';
  src: url('/fonts/GT-America-Condensed-Bold-Italic.eot');
  src: url('/fonts/GT-America-Condensed-Bold-Italic.eot?#iefix') format('embedded-opentype'),
       url('/fonts/GT-America-Condensed-Bold-Italic.woff2') format('woff2'),
       url('/fonts/GT-America-Condensed-Bold-Italic.woff') format('woff');
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'GT-America-Condensed-Bold';
  src: url('/fonts/GT-America-Condensed-Bold.eot');
  src: url('/fonts/GT-America-Condensed-Bold.eot?#iefix') format('embedded-opentype'),
       url('/fonts/GT-America-Condensed-Bold.woff2') format('woff2'),
       url('/fonts/GT-America-Condensed-Bold.woff') format('woff');
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'GT-America-Condensed-Light-Italic';
  src: url('/fonts/GT-America-Condensed-Light-Italic.eot');
  src: url('/fonts/GT-America-Condensed-Light-Italic.eot?#iefix') format('embedded-opentype'),
       url('/fonts/GT-America-Condensed-Light-Italic.woff2') format('woff2'),
       url('/fonts/GT-America-Condensed-Light-Italic.woff') format('woff');
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'GT-America-Condensed-Light';
  src: url('/fonts/GT-America-Condensed-Light.eot');
  src: url('/fonts/GT-America-Condensed-Light.eot?#iefix') format('embedded-opentype'),
       url('/fonts/GT-America-Condensed-Light.woff2') format('woff2'),
       url('/fonts/GT-America-Condensed-Light.woff') format('woff');
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'GT-America-Condensed-Medium-Italic';
  src: url('/fonts/GT-America-Condensed-Medium-Italic.eot');
  src: url('/fonts/GT-America-Condensed-Medium-Italic.eot?#iefix') format('embedded-opentype'),
       url('/fonts/GT-America-Condensed-Medium-Italic.woff2') format('woff2'),
       url('/fonts/GT-America-Condensed-Medium-Italic.woff') format('woff');
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'GT-America-Condensed-Medium';
  src: url('/fonts/GT-America-Condensed-Medium.eot');
  src: url('/fonts/GT-America-Condensed-Medium.eot?#iefix') format('embedded-opentype'),
       url('/fonts/GT-America-Condensed-Medium.woff2') format('woff2'),
       url('/fonts/GT-America-Condensed-Medium.woff') format('woff');
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'GT-America-Condensed-Regular-Italic';
  src: url('/fonts/GT-America-Condensed-Regular-Italic.eot');
  src: url('/fonts/GT-America-Condensed-Regular-Italic.eot?#iefix') format('embedded-opentype'),
       url('/fonts/GT-America-Condensed-Regular-Italic.woff2') format('woff2'),
       url('/fonts/GT-America-Condensed-Regular-Italic.woff') format('woff');
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'GT-America-Condensed-Regular';
  src: url('/fonts/GT-America-Condensed-Regular.eot');
  src: url('/fonts/GT-America-Condensed-Regular.eot?#iefix') format('embedded-opentype'),
       url('/fonts/GT-America-Condensed-Regular.woff2') format('woff2'),
       url('/fonts/GT-America-Condensed-Regular.woff') format('woff');
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'GT-America-Condensed-Thin-Italic';
  src: url('/fonts/GT-America-Condensed-Thin-Italic.eot');
  src: url('/fonts/GT-America-Condensed-Thin-Italic.eot?#iefix') format('embedded-opentype'),
       url('/fonts/GT-America-Condensed-Thin-Italic.woff2') format('woff2'),
       url('/fonts/GT-America-Condensed-Thin-Italic.woff') format('woff');
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'GT-America-Condensed-Thin';
  src: url('/fonts/GT-America-Condensed-Thin.eot');
  src: url('/fonts/GT-America-Condensed-Thin.eot?#iefix') format('embedded-opentype'),
       url('/fonts/GT-America-Condensed-Thin.woff2') format('woff2'),
       url('/fonts/GT-America-Condensed-Thin.woff') format('woff');
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'GT-America-Condensed-Ultra-Light-Italic';
  src: url('/fonts/GT-America-Condensed-Ultra-Light-Italic.eot');
  src: url('/fonts/GT-America-Condensed-Ultra-Light-Italic.eot?#iefix') format('embedded-opentype'),
       url('/fonts/GT-America-Condensed-Ultra-Light-Italic.woff2') format('woff2'),
       url('/fonts/GT-America-Condensed-Ultra-Light-Italic.woff') format('woff');
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'GT-America-Condensed-Ultra-Light';
  src: url('/fonts/GT-America-Condensed-Ultra-Light.eot');
  src: url('/fonts/GT-America-Condensed-Ultra-Light.eot?#iefix') format('embedded-opentype'),
       url('/fonts/GT-America-Condensed-Ultra-Light.woff2') format('woff2'),
       url('/fonts/GT-America-Condensed-Ultra-Light.woff') format('woff');
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
}
