@font-face {
  font-family: 'GT-America-Mono-Black-Italic';
  src: url('/fonts/GT-America-Mono-Black-Italic.eot');
  src: url('/fonts/GT-America-Mono-Black-Italic.eot?#iefix') format('embedded-opentype'),
       url('/fonts/GT-America-Mono-Black-Italic.woff2') format('woff2'),
       url('/fonts/GT-America-Mono-Black-Italic.woff') format('woff');
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'GT-America-Mono-Black';
  src: url('/fonts/GT-America-Mono-Black.eot');
  src: url('/fonts/GT-America-Mono-Black.eot?#iefix') format('embedded-opentype'),
       url('/fonts/GT-America-Mono-Black.woff2') format('woff2'),
       url('/fonts/GT-America-Mono-Black.woff') format('woff');
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'GT-America-Mono-Bold-Italic';
  src: url('/fonts/GT-America-Mono-Bold-Italic.eot');
  src: url('/fonts/GT-America-Mono-Bold-Italic.eot?#iefix') format('embedded-opentype'),
       url('/fonts/GT-America-Mono-Bold-Italic.woff2') format('woff2'),
       url('/fonts/GT-America-Mono-Bold-Italic.woff') format('woff');
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'GT-America-Mono-Bold';
  src: url('/fonts/GT-America-Mono-Bold.eot');
  src: url('/fonts/GT-America-Mono-Bold.eot?#iefix') format('embedded-opentype'),
       url('/fonts/GT-America-Mono-Bold.woff2') format('woff2'),
       url('/fonts/GT-America-Mono-Bold.woff') format('woff');
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'GT-America-Mono-Light-Italic';
  src: url('/fonts/GT-America-Mono-Light-Italic.eot');
  src: url('/fonts/GT-America-Mono-Light-Italic.eot?#iefix') format('embedded-opentype'),
       url('/fonts/GT-America-Mono-Light-Italic.woff2') format('woff2'),
       url('/fonts/GT-America-Mono-Light-Italic.woff') format('woff');
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'GT-America-Mono-Light';
  src: url('/fonts/GT-America-Mono-Light.eot');
  src: url('/fonts/GT-America-Mono-Light.eot?#iefix') format('embedded-opentype'),
       url('/fonts/GT-America-Mono-Light.woff2') format('woff2'),
       url('/fonts/GT-America-Mono-Light.woff') format('woff');
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'GT-America-Mono-Medium-Italic';
  src: url('/fonts/GT-America-Mono-Medium-Italic.eot');
  src: url('/fonts/GT-America-Mono-Medium-Italic.eot?#iefix') format('embedded-opentype'),
       url('/fonts/GT-America-Mono-Medium-Italic.woff2') format('woff2'),
       url('/fonts/GT-America-Mono-Medium-Italic.woff') format('woff');
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'GT-America-Mono-Medium';
  src: url('/fonts/GT-America-Mono-Medium.eot');
  src: url('/fonts/GT-America-Mono-Medium.eot?#iefix') format('embedded-opentype'),
       url('/fonts/GT-America-Mono-Medium.woff2') format('woff2'),
       url('/fonts/GT-America-Mono-Medium.woff') format('woff');
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'GT-America-Mono-Regular-Italic';
  src: url('/fonts/GT-America-Mono-Regular-Italic.eot');
  src: url('/fonts/GT-America-Mono-Regular-Italic.eot?#iefix') format('embedded-opentype'),
       url('/fonts/GT-America-Mono-Regular-Italic.woff2') format('woff2'),
       url('/fonts/GT-America-Mono-Regular-Italic.woff') format('woff');
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'GT-America-Mono-Regular';
  src: url('/fonts/GT-America-Mono-Regular.eot');
  src: url('/fonts/GT-America-Mono-Regular.eot?#iefix') format('embedded-opentype'),
       url('/fonts/GT-America-Mono-Regular.woff2') format('woff2'),
       url('/fonts/GT-America-Mono-Regular.woff') format('woff');
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'GT-America-Mono-Thin-Italic';
  src: url('/fonts/GT-America-Mono-Thin-Italic.eot');
  src: url('/fonts/GT-America-Mono-Thin-Italic.eot?#iefix') format('embedded-opentype'),
       url('/fonts/GT-America-Mono-Thin-Italic.woff2') format('woff2'),
       url('/fonts/GT-America-Mono-Thin-Italic.woff') format('woff');
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'GT-America-Mono-Thin';
  src: url('/fonts/GT-America-Mono-Thin.eot');
  src: url('/fonts/GT-America-Mono-Thin.eot?#iefix') format('embedded-opentype'),
       url('/fonts/GT-America-Mono-Thin.woff2') format('woff2'),
       url('/fonts/GT-America-Mono-Thin.woff') format('woff');
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'GT-America-Mono-Ultra-Light-Italic';
  src: url('/fonts/GT-America-Mono-Ultra-Light-Italic.eot');
  src: url('/fonts/GT-America-Mono-Ultra-Light-Italic.eot?#iefix') format('embedded-opentype'),
       url('/fonts/GT-America-Mono-Ultra-Light-Italic.woff2') format('woff2'),
       url('/fonts/GT-America-Mono-Ultra-Light-Italic.woff') format('woff');
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'GT-America-Mono-Ultra-Light';
  src: url('/fonts/GT-America-Mono-Ultra-Light.eot');
  src: url('/fonts/GT-America-Mono-Ultra-Light.eot?#iefix') format('embedded-opentype'),
       url('/fonts/GT-America-Mono-Ultra-Light.woff2') format('woff2'),
       url('/fonts/GT-America-Mono-Ultra-Light.woff') format('woff');
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
}
