
@font-face {
  font-family: 'GT-America-Expanded-Black-Italic';
  src: url('/fonts/GT-America-Expanded-Black-Italic.eot');
  src: url('/fonts/GT-America-Expanded-Black-Italic.eot?#iefix') format('embedded-opentype'),
       url('/fonts/GT-America-Expanded-Black-Italic.woff2') format('woff2'),
       url('/fonts/GT-America-Expanded-Black-Italic.woff') format('woff');
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'GT-America-Expanded-Black';
  src: url('/fonts/GT-America-Expanded-Black.eot');
  src: url('/fonts/GT-America-Expanded-Black.eot?#iefix') format('embedded-opentype'),
       url('/fonts/GT-America-Expanded-Black.woff2') format('woff2'),
       url('/fonts/GT-America-Expanded-Black.woff') format('woff');
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'GT-America-Expanded-Bold-Italic';
  src: url('/fonts/GT-America-Expanded-Bold-Italic.eot');
  src: url('/fonts/GT-America-Expanded-Bold-Italic.eot?#iefix') format('embedded-opentype'),
       url('/fonts/GT-America-Expanded-Bold-Italic.woff2') format('woff2'),
       url('/fonts/GT-America-Expanded-Bold-Italic.woff') format('woff');
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'GT-America-Expanded-Bold';
  src: url('/fonts/GT-America-Expanded-Bold.eot');
  src: url('/fonts/GT-America-Expanded-Bold.eot?#iefix') format('embedded-opentype'),
       url('/fonts/GT-America-Expanded-Bold.woff2') format('woff2'),
       url('/fonts/GT-America-Expanded-Bold.woff') format('woff');
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'GT-America-Expanded-Light-Italic';
  src: url('/fonts/GT-America-Expanded-Light-Italic.eot');
  src: url('/fonts/GT-America-Expanded-Light-Italic.eot?#iefix') format('embedded-opentype'),
       url('/fonts/GT-America-Expanded-Light-Italic.woff2') format('woff2'),
       url('/fonts/GT-America-Expanded-Light-Italic.woff') format('woff');
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'GT-America-Expanded-Light';
  src: url('/fonts/GT-America-Expanded-Light.eot');
  src: url('/fonts/GT-America-Expanded-Light.eot?#iefix') format('embedded-opentype'),
       url('/fonts/GT-America-Expanded-Light.woff2') format('woff2'),
       url('/fonts/GT-America-Expanded-Light.woff') format('woff');
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'GT-America-Expanded-Medium-Italic';
  src: url('/fonts/GT-America-Expanded-Medium-Italic.eot');
  src: url('/fonts/GT-America-Expanded-Medium-Italic.eot?#iefix') format('embedded-opentype'),
       url('/fonts/GT-America-Expanded-Medium-Italic.woff2') format('woff2'),
       url('/fonts/GT-America-Expanded-Medium-Italic.woff') format('woff');
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'GT-America-Expanded-Medium';
  src: url('/fonts/GT-America-Expanded-Medium.eot');
  src: url('/fonts/GT-America-Expanded-Medium.eot?#iefix') format('embedded-opentype'),
       url('/fonts/GT-America-Expanded-Medium.woff2') format('woff2'),
       url('/fonts/GT-America-Expanded-Medium.woff') format('woff');
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'GT-America-Expanded-Regular-Italic';
  src: url('/fonts/GT-America-Expanded-Regular-Italic.eot');
  src: url('/fonts/GT-America-Expanded-Regular-Italic.eot?#iefix') format('embedded-opentype'),
       url('/fonts/GT-America-Expanded-Regular-Italic.woff2') format('woff2'),
       url('/fonts/GT-America-Expanded-Regular-Italic.woff') format('woff');
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'GT-America-Expanded-Regular';
  src: url('/fonts/GT-America-Expanded-Regular.eot');
  src: url('/fonts/GT-America-Expanded-Regular.eot?#iefix') format('embedded-opentype'),
       url('/fonts/GT-America-Expanded-Regular.woff2') format('woff2'),
       url('/fonts/GT-America-Expanded-Regular.woff') format('woff');
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'GT-America-Expanded-Thin-Italic';
  src: url('/fonts/GT-America-Expanded-Thin-Italic.eot');
  src: url('/fonts/GT-America-Expanded-Thin-Italic.eot?#iefix') format('embedded-opentype'),
       url('/fonts/GT-America-Expanded-Thin-Italic.woff2') format('woff2'),
       url('/fonts/GT-America-Expanded-Thin-Italic.woff') format('woff');
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'GT-America-Expanded-Thin';
  src: url('/fonts/GT-America-Expanded-Thin.eot');
  src: url('/fonts/GT-America-Expanded-Thin.eot?#iefix') format('embedded-opentype'),
       url('/fonts/GT-America-Expanded-Thin.woff2') format('woff2'),
       url('/fonts/GT-America-Expanded-Thin.woff') format('woff');
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'GT-America-Expanded-Ultra-Light-Italic';
  src: url('/fonts/GT-America-Expanded-Ultra-Light-Italic.eot');
  src: url('/fonts/GT-America-Expanded-Ultra-Light-Italic.eot?#iefix') format('embedded-opentype'),
       url('/fonts/GT-America-Expanded-Ultra-Light-Italic.woff2') format('woff2'),
       url('/fonts/GT-America-Expanded-Ultra-Light-Italic.woff') format('woff');
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'GT-America-Expanded-Ultra-Light';
  src: url('/fonts/GT-America-Expanded-Ultra-Light.eot');
  src: url('/fonts/GT-America-Expanded-Ultra-Light.eot?#iefix') format('embedded-opentype'),
       url('/fonts/GT-America-Expanded-Ultra-Light.woff2') format('woff2'),
       url('/fonts/GT-America-Expanded-Ultra-Light.woff') format('woff');
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
}
