
@font-face {
  font-family: 'GT-America-Extended-Black-Italic';
  src: url('/fonts/GT-America-Extended-Black-Italic.eot');
  src: url('/fonts/GT-America-Extended-Black-Italic.eot?#iefix') format('embedded-opentype'),
       url('/fonts/GT-America-Extended-Black-Italic.woff2') format('woff2'),
       url('/fonts/GT-America-Extended-Black-Italic.woff') format('woff');
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'GT-America-Extended-Black';
  src: url('/fonts/GT-America-Extended-Black.eot');
  src: url('/fonts/GT-America-Extended-Black.eot?#iefix') format('embedded-opentype'),
       url('/fonts/GT-America-Extended-Black.woff2') format('woff2'),
       url('/fonts/GT-America-Extended-Black.woff') format('woff');
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'GT-America-Extended-Bold-Italic';
  src: url('/fonts/GT-America-Extended-Bold-Italic.eot');
  src: url('/fonts/GT-America-Extended-Bold-Italic.eot?#iefix') format('embedded-opentype'),
       url('/fonts/GT-America-Extended-Bold-Italic.woff2') format('woff2'),
       url('/fonts/GT-America-Extended-Bold-Italic.woff') format('woff');
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'GT-America-Extended-Bold';
  src: url('/fonts/GT-America-Extended-Bold.eot');
  src: url('/fonts/GT-America-Extended-Bold.eot?#iefix') format('embedded-opentype'),
       url('/fonts/GT-America-Extended-Bold.woff2') format('woff2'),
       url('/fonts/GT-America-Extended-Bold.woff') format('woff');
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'GT-America-Extended-Light-Italic';
  src: url('/fonts/GT-America-Extended-Light-Italic.eot');
  src: url('/fonts/GT-America-Extended-Light-Italic.eot?#iefix') format('embedded-opentype'),
       url('/fonts/GT-America-Extended-Light-Italic.woff2') format('woff2'),
       url('/fonts/GT-America-Extended-Light-Italic.woff') format('woff');
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'GT-America-Extended-Light';
  src: url('/fonts/GT-America-Extended-Light.eot');
  src: url('/fonts/GT-America-Extended-Light.eot?#iefix') format('embedded-opentype'),
       url('/fonts/GT-America-Extended-Light.woff2') format('woff2'),
       url('/fonts/GT-America-Extended-Light.woff') format('woff');
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'GT-America-Extended-Medium-Italic';
  src: url('/fonts/GT-America-Extended-Medium-Italic.eot');
  src: url('/fonts/GT-America-Extended-Medium-Italic.eot?#iefix') format('embedded-opentype'),
       url('/fonts/GT-America-Extended-Medium-Italic.woff2') format('woff2'),
       url('/fonts/GT-America-Extended-Medium-Italic.woff') format('woff');
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'GT-America-Extended-Medium';
  src: url('/fonts/GT-America-Extended-Medium.eot');
  src: url('/fonts/GT-America-Extended-Medium.eot?#iefix') format('embedded-opentype'),
       url('/fonts/GT-America-Extended-Medium.woff2') format('woff2'),
       url('/fonts/GT-America-Extended-Medium.woff') format('woff');
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'GT-America-Extended-Regular-Italic';
  src: url('/fonts/GT-America-Extended-Regular-Italic.eot');
  src: url('/fonts/GT-America-Extended-Regular-Italic.eot?#iefix') format('embedded-opentype'),
       url('/fonts/GT-America-Extended-Regular-Italic.woff2') format('woff2'),
       url('/fonts/GT-America-Extended-Regular-Italic.woff') format('woff');
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'GT-America-Extended-Regular';
  src: url('/fonts/GT-America-Extended-Regular.eot');
  src: url('/fonts/GT-America-Extended-Regular.eot?#iefix') format('embedded-opentype'),
       url('/fonts/GT-America-Extended-Regular.woff2') format('woff2'),
       url('/fonts/GT-America-Extended-Regular.woff') format('woff');
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'GT-America-Extended-Thin-Italic';
  src: url('/fonts/GT-America-Extended-Thin-Italic.eot');
  src: url('/fonts/GT-America-Extended-Thin-Italic.eot?#iefix') format('embedded-opentype'),
       url('/fonts/GT-America-Extended-Thin-Italic.woff2') format('woff2'),
       url('/fonts/GT-America-Extended-Thin-Italic.woff') format('woff');
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'GT-America-Extended-Thin';
  src: url('/fonts/GT-America-Extended-Thin.eot');
  src: url('/fonts/GT-America-Extended-Thin.eot?#iefix') format('embedded-opentype'),
       url('/fonts/GT-America-Extended-Thin.woff2') format('woff2'),
       url('/fonts/GT-America-Extended-Thin.woff') format('woff');
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'GT-America-Extended-Ultra-Light-Italic';
  src: url('/fonts/GT-America-Extended-Ultra-Light-Italic.eot');
  src: url('/fonts/GT-America-Extended-Ultra-Light-Italic.eot?#iefix') format('embedded-opentype'),
       url('/fonts/GT-America-Extended-Ultra-Light-Italic.woff2') format('woff2'),
       url('/fonts/GT-America-Extended-Ultra-Light-Italic.woff') format('woff');
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'GT-America-Extended-Ultra-Light';
  src: url('/fonts/GT-America-Extended-Ultra-Light.eot');
  src: url('/fonts/GT-America-Extended-Ultra-Light.eot?#iefix') format('embedded-opentype'),
       url('/fonts/GT-America-Extended-Ultra-Light.woff2') format('woff2'),
       url('/fonts/GT-America-Extended-Ultra-Light.woff') format('woff');
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
}
