
@font-face {
    font-family:"Maison Neue Extended TRIAL Black";
    src:url("MaisonNeueExtendedTRIAL-Black.woff2") format("woff2"),url("MaisonNeueExtendedTRIAL-Black.woff") format("woff"),url("MaisonNeueExtendedTRIAL-Black.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        

@font-face {
    font-family:"Maison Neue Extended TRIAL Black Italic";
    src:url("MaisonNeueExtendedTRIAL-BlackItalic.woff2") format("woff2"),url("MaisonNeueExtendedTRIAL-BlackItalic.woff") format("woff"),url("MaisonNeueExtendedTRIAL-BlackItalic.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        

@font-face {
    font-family:"Maison Neue Extended TRIAL Bold";
    src:url("MaisonNeueExtendedTRIAL-Bold.woff2") format("woff2"),url("MaisonNeueExtendedTRIAL-Bold.woff") format("woff"),url("MaisonNeueExtendedTRIAL-Bold.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        

@font-face {
    font-family:"Maison Neue Extended TRIAL Bold Italic";
    src:url("MaisonNeueExtendedTRIAL-BoldItalic.woff2") format("woff2"),url("MaisonNeueExtendedTRIAL-BoldItalic.woff") format("woff"),url("MaisonNeueExtendedTRIAL-BoldItalic.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        

@font-face {
    font-family:"Maison Neue Extended TRIAL Book";
    src:url("MaisonNeueExtendedTRIAL-Book.woff2") format("woff2"),url("MaisonNeueExtendedTRIAL-Book.woff") format("woff"),url("MaisonNeueExtendedTRIAL-Book.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        

@font-face {
    font-family:"Maison Neue Extended TRIAL Book Italic";
    src:url("MaisonNeueExtendedTRIAL-BookItalic.woff2") format("woff2"),url("MaisonNeueExtendedTRIAL-BookItalic.woff") format("woff"),url("MaisonNeueExtendedTRIAL-BookItalic.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        

@font-face {
    font-family:"Maison Neue Extended TRIAL Demi";
    src:url("MaisonNeueExtendedTRIAL-Demi.woff2") format("woff2"),url("MaisonNeueExtendedTRIAL-Demi.woff") format("woff"),url("MaisonNeueExtendedTRIAL-Demi.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        

@font-face {
    font-family:"Maison Neue Extended TRIAL Demi Italic";
    src:url("MaisonNeueExtendedTRIAL-DemiItalic.woff2") format("woff2"),url("MaisonNeueExtendedTRIAL-DemiItalic.woff") format("woff"),url("MaisonNeueExtendedTRIAL-DemiItalic.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        

@font-face {
    font-family:"Maison Neue Extended TRIAL Extra Bold";
    src:url("MaisonNeueExtendedTRIAL-ExtraBold.woff2") format("woff2"),url("MaisonNeueExtendedTRIAL-ExtraBold.woff") format("woff"),url("MaisonNeueExtendedTRIAL-ExtraBold.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        

@font-face {
    font-family:"Maison Neue Extended TRIAL Extra Bold Italic";
    src:url("MaisonNeueExtendedTRIAL-ExtraBoldItalic.woff2") format("woff2"),url("MaisonNeueExtendedTRIAL-ExtraBoldItalic.woff") format("woff"),url("MaisonNeueExtendedTRIAL-ExtraBoldItalic.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        

@font-face {
    font-family:"Maison Neue Extended TRIAL Extra Thin";
    src:url("MaisonNeueExtendedTRIAL-ExtraThin.woff2") format("woff2"),url("MaisonNeueExtendedTRIAL-ExtraThin.woff") format("woff"),url("MaisonNeueExtendedTRIAL-ExtraThin.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        

@font-face {
    font-family:"Maison Neue Extended TRIAL Extra Thin Italic";
    src:url("MaisonNeueExtendedTRIAL-ExtraThinItalic.woff2") format("woff2"),url("MaisonNeueExtendedTRIAL-ExtraThinItalic.woff") format("woff"),url("MaisonNeueExtendedTRIAL-ExtraThinItalic.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        

@font-face {
    font-family:"Maison Neue Extended TRIAL Light";
    src:url("MaisonNeueExtendedTRIAL-Light.woff2") format("woff2"),url("MaisonNeueExtendedTRIAL-Light.woff") format("woff"),url("MaisonNeueExtendedTRIAL-Light.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        

@font-face {
    font-family:"Maison Neue Extended TRIAL Light Italic";
    src:url("MaisonNeueExtendedTRIAL-LightItalic.woff2") format("woff2"),url("MaisonNeueExtendedTRIAL-LightItalic.woff") format("woff"),url("MaisonNeueExtendedTRIAL-LightItalic.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        

@font-face {
    font-family:"Maison Neue Extended TRIAL Medium";
    src:url("MaisonNeueExtendedTRIAL-Medium.woff2") format("woff2"),url("MaisonNeueExtendedTRIAL-Medium.woff") format("woff"),url("MaisonNeueExtendedTRIAL-Medium.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        

@font-face {
    font-family:"Maison Neue Extended TRIAL Medium Italic";
    src:url("MaisonNeueExtendedTRIAL-MediumItalic.woff2") format("woff2"),url("MaisonNeueExtendedTRIAL-MediumItalic.woff") format("woff"),url("MaisonNeueExtendedTRIAL-MediumItalic.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        

@font-face {
    font-family:"Maison Neue Extended TRIAL Thin";
    src:url("MaisonNeueExtendedTRIAL-Thin.woff2") format("woff2"),url("MaisonNeueExtendedTRIAL-Thin.woff") format("woff"),url("MaisonNeueExtendedTRIAL-Thin.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        

@font-face {
    font-family:"Maison Neue Extended TRIAL Thin Italic";
    src:url("MaisonNeueExtendedTRIAL-ThinItalic.woff2") format("woff2"),url("MaisonNeueExtendedTRIAL-ThinItalic.woff") format("woff"),url("MaisonNeueExtendedTRIAL-ThinItalic.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        

@font-face {
    font-family:"Maison Neue Extended TRIAL Black";
    src:url("MaisonNeueExtendedTRIAL-Black.woff2") format("woff2"),url("MaisonNeueExtendedTRIAL-Black.woff") format("woff"),url("MaisonNeueExtendedTRIAL-Black.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        

@font-face {
    font-family:"Maison Neue Extended TRIAL Black Italic";
    src:url("MaisonNeueExtendedTRIAL-BlackItalic.woff2") format("woff2"),url("MaisonNeueExtendedTRIAL-BlackItalic.woff") format("woff"),url("MaisonNeueExtendedTRIAL-BlackItalic.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        

@font-face {
    font-family:"Maison Neue Extended TRIAL Bold";
    src:url("MaisonNeueExtendedTRIAL-Bold.woff2") format("woff2"),url("MaisonNeueExtendedTRIAL-Bold.woff") format("woff"),url("MaisonNeueExtendedTRIAL-Bold.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        

@font-face {
    font-family:"Maison Neue Extended TRIAL Bold Italic";
    src:url("MaisonNeueExtendedTRIAL-BoldItalic.woff2") format("woff2"),url("MaisonNeueExtendedTRIAL-BoldItalic.woff") format("woff"),url("MaisonNeueExtendedTRIAL-BoldItalic.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        

@font-face {
    font-family:"Maison Neue Extended TRIAL Book";
    src:url("MaisonNeueExtendedTRIAL-Book.woff2") format("woff2"),url("MaisonNeueExtendedTRIAL-Book.woff") format("woff"),url("MaisonNeueExtendedTRIAL-Book.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        

@font-face {
    font-family:"Maison Neue Extended TRIAL Book Italic";
    src:url("MaisonNeueExtendedTRIAL-BookItalic.woff2") format("woff2"),url("MaisonNeueExtendedTRIAL-BookItalic.woff") format("woff"),url("MaisonNeueExtendedTRIAL-BookItalic.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        

@font-face {
    font-family:"Maison Neue Extended TRIAL Demi";
    src:url("MaisonNeueExtendedTRIAL-Demi.woff2") format("woff2"),url("MaisonNeueExtendedTRIAL-Demi.woff") format("woff"),url("MaisonNeueExtendedTRIAL-Demi.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        

@font-face {
    font-family:"Maison Neue Extended TRIAL Demi Italic";
    src:url("MaisonNeueExtendedTRIAL-DemiItalic.woff2") format("woff2"),url("MaisonNeueExtendedTRIAL-DemiItalic.woff") format("woff"),url("MaisonNeueExtendedTRIAL-DemiItalic.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        

@font-face {
    font-family:"Maison Neue Extended TRIAL Extra Bold";
    src:url("MaisonNeueExtendedTRIAL-ExtraBold.woff2") format("woff2"),url("MaisonNeueExtendedTRIAL-ExtraBold.woff") format("woff"),url("MaisonNeueExtendedTRIAL-ExtraBold.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        

@font-face {
    font-family:"Maison Neue Extended TRIAL Extra Bold Italic";
    src:url("MaisonNeueExtendedTRIAL-ExtraBoldItalic.woff2") format("woff2"),url("MaisonNeueExtendedTRIAL-ExtraBoldItalic.woff") format("woff"),url("MaisonNeueExtendedTRIAL-ExtraBoldItalic.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        

@font-face {
    font-family:"Maison Neue Extended TRIAL Extra Thin";
    src:url("MaisonNeueExtendedTRIAL-ExtraThin.woff2") format("woff2"),url("MaisonNeueExtendedTRIAL-ExtraThin.woff") format("woff"),url("MaisonNeueExtendedTRIAL-ExtraThin.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        

@font-face {
    font-family:"Maison Neue Extended TRIAL Extra Thin Italic";
    src:url("MaisonNeueExtendedTRIAL-ExtraThinItalic.woff2") format("woff2"),url("MaisonNeueExtendedTRIAL-ExtraThinItalic.woff") format("woff"),url("MaisonNeueExtendedTRIAL-ExtraThinItalic.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        

@font-face {
    font-family:"Maison Neue Extended TRIAL Light";
    src:url("MaisonNeueExtendedTRIAL-Light.woff2") format("woff2"),url("MaisonNeueExtendedTRIAL-Light.woff") format("woff"),url("MaisonNeueExtendedTRIAL-Light.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        

@font-face {
    font-family:"Maison Neue Extended TRIAL Light Italic";
    src:url("MaisonNeueExtendedTRIAL-LightItalic.woff2") format("woff2"),url("MaisonNeueExtendedTRIAL-LightItalic.woff") format("woff"),url("MaisonNeueExtendedTRIAL-LightItalic.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        

@font-face {
    font-family:"Maison Neue Extended TRIAL Medium";
    src:url("MaisonNeueExtendedTRIAL-Medium.woff2") format("woff2"),url("MaisonNeueExtendedTRIAL-Medium.woff") format("woff"),url("MaisonNeueExtendedTRIAL-Medium.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        

@font-face {
    font-family:"Maison Neue Extended TRIAL Medium Italic";
    src:url("MaisonNeueExtendedTRIAL-MediumItalic.woff2") format("woff2"),url("MaisonNeueExtendedTRIAL-MediumItalic.woff") format("woff"),url("MaisonNeueExtendedTRIAL-MediumItalic.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        

@font-face {
    font-family:"Maison Neue Extended TRIAL Thin";
    src:url("MaisonNeueExtendedTRIAL-Thin.woff2") format("woff2"),url("MaisonNeueExtendedTRIAL-Thin.woff") format("woff"),url("MaisonNeueExtendedTRIAL-Thin.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        

@font-face {
    font-family:"Maison Neue Extended TRIAL Thin Italic";
    src:url("MaisonNeueExtendedTRIAL-ThinItalic.woff2") format("woff2"),url("MaisonNeueExtendedTRIAL-ThinItalic.woff") format("woff"),url("MaisonNeueExtendedTRIAL-ThinItalic.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        