
@font-face {
    font-family:"Maison Mono Trial Bold";
    src:url("MaisonMonoTrial-Bold.woff2") format("woff2"),url("MaisonMonoTrial-Bold.woff") format("woff"),url("MaisonMonoTrial-Bold.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        

@font-face {
    font-family:"Maison Mono Trial Bold Oblique";
    src:url("MaisonMonoTrial-BoldOblique.woff2") format("woff2"),url("MaisonMonoTrial-BoldOblique.woff") format("woff"),url("MaisonMonoTrial-BoldOblique.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        

@font-face {
    font-family:"Maison Mono Trial Demi";
    src:url("MaisonMonoTrial-Demi.woff2") format("woff2"),url("MaisonMonoTrial-Demi.woff") format("woff"),url("MaisonMonoTrial-Demi.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        

@font-face {
    font-family:"Maison Mono Trial Demi Oblique";
    src:url("MaisonMonoTrial-DemiOblique.woff2") format("woff2"),url("MaisonMonoTrial-DemiOblique.woff") format("woff"),url("MaisonMonoTrial-DemiOblique.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        

@font-face {
    font-family:"Maison Mono Trial Light";
    src:url("MaisonMonoTrial-Light.woff2") format("woff2"),url("MaisonMonoTrial-Light.woff") format("woff"),url("MaisonMonoTrial-Light.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        

@font-face {
    font-family:"Maison Mono Trial Light Oblique";
    src:url("MaisonMonoTrial-LightOblique.woff2") format("woff2"),url("MaisonMonoTrial-LightOblique.woff") format("woff"),url("MaisonMonoTrial-LightOblique.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        

@font-face {
    font-family:"Maison Mono Trial Medium";
    src:url("MaisonMonoTrial-Medium.woff2") format("woff2"),url("MaisonMonoTrial-Medium.woff") format("woff"),url("MaisonMonoTrial-Medium.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        

@font-face {
    font-family:"Maison Mono Trial Medium Oblique";
    src:url("MaisonMonoTrial-MediumOblique.woff2") format("woff2"),url("MaisonMonoTrial-MediumOblique.woff") format("woff"),url("MaisonMonoTrial-MediumOblique.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        

@font-face {
    font-family:"Maison Mono Trial Regular";
    src:url("MaisonMonoTrial-Regular.woff2") format("woff2"),url("MaisonMonoTrial-Regular.woff") format("woff"),url("MaisonMonoTrial-Regular.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        

@font-face {
    font-family:"Maison Mono Trial Regular Oblique";
    src:url("MaisonMonoTrial-RegularOblique.woff2") format("woff2"),url("MaisonMonoTrial-RegularOblique.woff") format("woff"),url("MaisonMonoTrial-RegularOblique.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        

@font-face {
    font-family:"Maison Mono Trial Bold";
    src:url("MaisonMonoTrial-Bold.woff2") format("woff2"),url("MaisonMonoTrial-Bold.woff") format("woff"),url("MaisonMonoTrial-Bold.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        

@font-face {
    font-family:"Maison Mono Trial Bold Oblique";
    src:url("MaisonMonoTrial-BoldOblique.woff2") format("woff2"),url("MaisonMonoTrial-BoldOblique.woff") format("woff"),url("MaisonMonoTrial-BoldOblique.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        

@font-face {
    font-family:"Maison Mono Trial Demi";
    src:url("MaisonMonoTrial-Demi.woff2") format("woff2"),url("MaisonMonoTrial-Demi.woff") format("woff"),url("MaisonMonoTrial-Demi.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        

@font-face {
    font-family:"Maison Mono Trial Demi Oblique";
    src:url("MaisonMonoTrial-DemiOblique.woff2") format("woff2"),url("MaisonMonoTrial-DemiOblique.woff") format("woff"),url("MaisonMonoTrial-DemiOblique.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        

@font-face {
    font-family:"Maison Mono Trial Light";
    src:url("MaisonMonoTrial-Light.woff2") format("woff2"),url("MaisonMonoTrial-Light.woff") format("woff"),url("MaisonMonoTrial-Light.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        

@font-face {
    font-family:"Maison Mono Trial Light Oblique";
    src:url("MaisonMonoTrial-LightOblique.woff2") format("woff2"),url("MaisonMonoTrial-LightOblique.woff") format("woff"),url("MaisonMonoTrial-LightOblique.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        

@font-face {
    font-family:"Maison Mono Trial Medium";
    src:url("MaisonMonoTrial-Medium.woff2") format("woff2"),url("MaisonMonoTrial-Medium.woff") format("woff"),url("MaisonMonoTrial-Medium.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        

@font-face {
    font-family:"Maison Mono Trial Medium Oblique";
    src:url("MaisonMonoTrial-MediumOblique.woff2") format("woff2"),url("MaisonMonoTrial-MediumOblique.woff") format("woff"),url("MaisonMonoTrial-MediumOblique.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        

@font-face {
    font-family:"Maison Mono Trial Regular";
    src:url("MaisonMonoTrial-Regular.woff2") format("woff2"),url("MaisonMonoTrial-Regular.woff") format("woff"),url("MaisonMonoTrial-Regular.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        

@font-face {
    font-family:"Maison Mono Trial Regular Oblique";
    src:url("MaisonMonoTrial-RegularOblique.woff2") format("woff2"),url("MaisonMonoTrial-RegularOblique.woff") format("woff"),url("MaisonMonoTrial-RegularOblique.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        