
@font-face {
    font-family:"Maison Trial Bold";
    src:url("MaisonTrial-Bold.woff2") format("woff2"),url("MaisonTrial-Bold.woff") format("woff"),url("MaisonTrial-Bold.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        

@font-face {
    font-family:"Maison Trial Bold Oblique";
    src:url("MaisonTrial-BoldOblique.woff2") format("woff2"),url("MaisonTrial-BoldOblique.woff") format("woff"),url("MaisonTrial-BoldOblique.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        

@font-face {
    font-family:"Maison Trial Demi";
    src:url("MaisonTrial-Demi.woff2") format("woff2"),url("MaisonTrial-Demi.woff") format("woff"),url("MaisonTrial-Demi.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        

@font-face {
    font-family:"Maison Trial Demi Oblique";
    src:url("MaisonTrial-DemiOblique.woff2") format("woff2"),url("MaisonTrial-DemiOblique.woff") format("woff"),url("MaisonTrial-DemiOblique.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        

@font-face {
    font-family:"Maison Trial Light";
    src:url("MaisonTrial-Light.woff2") format("woff2"),url("MaisonTrial-Light.woff") format("woff"),url("MaisonTrial-Light.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        

@font-face {
    font-family:"Maison Trial Light Oblique";
    src:url("MaisonTrial-LightOblique.woff2") format("woff2"),url("MaisonTrial-LightOblique.woff") format("woff"),url("MaisonTrial-LightOblique.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        

@font-face {
    font-family:"Maison Trial Medium";
    src:url("MaisonTrial-Medium.woff2") format("woff2"),url("MaisonTrial-Medium.woff") format("woff"),url("MaisonTrial-Medium.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        

@font-face {
    font-family:"Maison Trial Medium Oblique";
    src:url("MaisonTrial-MediumOblique.woff2") format("woff2"),url("MaisonTrial-MediumOblique.woff") format("woff"),url("MaisonTrial-MediumOblique.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        

@font-face {
    font-family:"Maison Trial Regular";
    src:url("MaisonTrial-Regular.woff2") format("woff2"),url("MaisonTrial-Regular.woff") format("woff"),url("MaisonTrial-Regular.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        

@font-face {
    font-family:"Maison Trial Regular Oblique";
    src:url("MaisonTrial-RegularOblique.woff2") format("woff2"),url("MaisonTrial-RegularOblique.woff") format("woff"),url("MaisonTrial-RegularOblique.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        

@font-face {
    font-family:"Maison Trial Bold";
    src:url("MaisonTrial-Bold.woff2") format("woff2"),url("MaisonTrial-Bold.woff") format("woff"),url("MaisonTrial-Bold.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        

@font-face {
    font-family:"Maison Trial Bold Oblique";
    src:url("MaisonTrial-BoldOblique.woff2") format("woff2"),url("MaisonTrial-BoldOblique.woff") format("woff"),url("MaisonTrial-BoldOblique.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        

@font-face {
    font-family:"Maison Trial Demi";
    src:url("MaisonTrial-Demi.woff2") format("woff2"),url("MaisonTrial-Demi.woff") format("woff"),url("MaisonTrial-Demi.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        

@font-face {
    font-family:"Maison Trial Demi Oblique";
    src:url("MaisonTrial-DemiOblique.woff2") format("woff2"),url("MaisonTrial-DemiOblique.woff") format("woff"),url("MaisonTrial-DemiOblique.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        

@font-face {
    font-family:"Maison Trial Light";
    src:url("MaisonTrial-Light.woff2") format("woff2"),url("MaisonTrial-Light.woff") format("woff"),url("MaisonTrial-Light.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        

@font-face {
    font-family:"Maison Trial Light Oblique";
    src:url("MaisonTrial-LightOblique.woff2") format("woff2"),url("MaisonTrial-LightOblique.woff") format("woff"),url("MaisonTrial-LightOblique.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        

@font-face {
    font-family:"Maison Trial Medium";
    src:url("MaisonTrial-Medium.woff2") format("woff2"),url("MaisonTrial-Medium.woff") format("woff"),url("MaisonTrial-Medium.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        

@font-face {
    font-family:"Maison Trial Medium Oblique";
    src:url("MaisonTrial-MediumOblique.woff2") format("woff2"),url("MaisonTrial-MediumOblique.woff") format("woff"),url("MaisonTrial-MediumOblique.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        

@font-face {
    font-family:"Maison Trial Regular";
    src:url("MaisonTrial-Regular.woff2") format("woff2"),url("MaisonTrial-Regular.woff") format("woff"),url("MaisonTrial-Regular.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        

@font-face {
    font-family:"Maison Trial Regular Oblique";
    src:url("MaisonTrial-RegularOblique.woff2") format("woff2"),url("MaisonTrial-RegularOblique.woff") format("woff"),url("MaisonTrial-RegularOblique.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        