
@font-face {
    font-family:"Maison Neue TRIAL Black";
    src:url("MaisonNeueTRIAL-Black.woff2") format("woff2"),url("MaisonNeueTRIAL-Black.woff") format("woff"),url("MaisonNeueTRIAL-Black.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        

@font-face {
    font-family:"Maison Neue TRIAL Black Italic";
    src:url("MaisonNeueTRIAL-BlackItalic.woff2") format("woff2"),url("MaisonNeueTRIAL-BlackItalic.woff") format("woff"),url("MaisonNeueTRIAL-BlackItalic.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        

@font-face {
    font-family:"Maison Neue TRIAL Bold";
    src:url("MaisonNeueTRIAL-Bold.woff2") format("woff2"),url("MaisonNeueTRIAL-Bold.woff") format("woff"),url("MaisonNeueTRIAL-Bold.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        

@font-face {
    font-family:"Maison Neue TRIAL Bold Italic";
    src:url("MaisonNeueTRIAL-BoldItalic.woff2") format("woff2"),url("MaisonNeueTRIAL-BoldItalic.woff") format("woff"),url("MaisonNeueTRIAL-BoldItalic.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        

@font-face {
    font-family:"Maison Neue TRIAL Book";
    src:url("MaisonNeueTRIAL-Book.woff2") format("woff2"),url("MaisonNeueTRIAL-Book.woff") format("woff"),url("MaisonNeueTRIAL-Book.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        

@font-face {
    font-family:"Maison Neue TRIAL Book Italic";
    src:url("MaisonNeueTRIAL-BookItalic.woff2") format("woff2"),url("MaisonNeueTRIAL-BookItalic.woff") format("woff"),url("MaisonNeueTRIAL-BookItalic.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        

@font-face {
    font-family:"Maison Neue TRIAL Demi";
    src:url("MaisonNeueTRIAL-Demi.woff2") format("woff2"),url("MaisonNeueTRIAL-Demi.woff") format("woff"),url("MaisonNeueTRIAL-Demi.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        

@font-face {
    font-family:"Maison Neue TRIAL Demi Italic";
    src:url("MaisonNeueTRIAL-DemiItalic.woff2") format("woff2"),url("MaisonNeueTRIAL-DemiItalic.woff") format("woff"),url("MaisonNeueTRIAL-DemiItalic.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        

@font-face {
    font-family:"Maison Neue TRIAL Extra Bold";
    src:url("MaisonNeueTRIAL-ExtraBold.woff2") format("woff2"),url("MaisonNeueTRIAL-ExtraBold.woff") format("woff"),url("MaisonNeueTRIAL-ExtraBold.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        

@font-face {
    font-family:"Maison Neue TRIAL Extra Bold Italic";
    src:url("MaisonNeueTRIAL-ExtraBoldItalic.woff2") format("woff2"),url("MaisonNeueTRIAL-ExtraBoldItalic.woff") format("woff"),url("MaisonNeueTRIAL-ExtraBoldItalic.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        

@font-face {
    font-family:"Maison Neue TRIAL Extra Thin";
    src:url("MaisonNeueTRIAL-ExtraThin.woff2") format("woff2"),url("MaisonNeueTRIAL-ExtraThin.woff") format("woff"),url("MaisonNeueTRIAL-ExtraThin.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        

@font-face {
    font-family:"Maison Neue TRIAL Extra Thin Italic";
    src:url("MaisonNeueTRIAL-ExtraThinItalic.woff2") format("woff2"),url("MaisonNeueTRIAL-ExtraThinItalic.woff") format("woff"),url("MaisonNeueTRIAL-ExtraThinItalic.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        

@font-face {
    font-family:"Maison Neue TRIAL Light";
    src:url("MaisonNeueTRIAL-Light.woff2") format("woff2"),url("MaisonNeueTRIAL-Light.woff") format("woff"),url("MaisonNeueTRIAL-Light.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        

@font-face {
    font-family:"Maison Neue TRIAL Light Italic";
    src:url("MaisonNeueTRIAL-LightItalic.woff2") format("woff2"),url("MaisonNeueTRIAL-LightItalic.woff") format("woff"),url("MaisonNeueTRIAL-LightItalic.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        

@font-face {
    font-family:"Maison Neue TRIAL Medium";
    src:url("MaisonNeueTRIAL-Medium.woff2") format("woff2"),url("MaisonNeueTRIAL-Medium.woff") format("woff"),url("MaisonNeueTRIAL-Medium.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        

@font-face {
    font-family:"Maison Neue TRIAL Medium Italic";
    src:url("MaisonNeueTRIAL-MediumItalic.woff2") format("woff2"),url("MaisonNeueTRIAL-MediumItalic.woff") format("woff"),url("MaisonNeueTRIAL-MediumItalic.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        

@font-face {
    font-family:"Maison Neue TRIAL Thin";
    src:url("MaisonNeueTRIAL-Thin.woff2") format("woff2"),url("MaisonNeueTRIAL-Thin.woff") format("woff"),url("MaisonNeueTRIAL-Thin.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        

@font-face {
    font-family:"Maison Neue TRIAL Thin Italic";
    src:url("MaisonNeueTRIAL-ThinItalic.woff2") format("woff2"),url("MaisonNeueTRIAL-ThinItalic.woff") format("woff"),url("MaisonNeueTRIAL-ThinItalic.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        

@font-face {
    font-family:"Maison Neue TRIAL Black";
    src:url("MaisonNeueTRIAL-Black.woff2") format("woff2"),url("MaisonNeueTRIAL-Black.woff") format("woff"),url("MaisonNeueTRIAL-Black.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        

@font-face {
    font-family:"Maison Neue TRIAL Black Italic";
    src:url("MaisonNeueTRIAL-BlackItalic.woff2") format("woff2"),url("MaisonNeueTRIAL-BlackItalic.woff") format("woff"),url("MaisonNeueTRIAL-BlackItalic.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        

@font-face {
    font-family:"Maison Neue TRIAL Bold";
    src:url("MaisonNeueTRIAL-Bold.woff2") format("woff2"),url("MaisonNeueTRIAL-Bold.woff") format("woff"),url("MaisonNeueTRIAL-Bold.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        

@font-face {
    font-family:"Maison Neue TRIAL Bold Italic";
    src:url("MaisonNeueTRIAL-BoldItalic.woff2") format("woff2"),url("MaisonNeueTRIAL-BoldItalic.woff") format("woff"),url("MaisonNeueTRIAL-BoldItalic.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        

@font-face {
    font-family:"Maison Neue TRIAL Book";
    src:url("MaisonNeueTRIAL-Book.woff2") format("woff2"),url("MaisonNeueTRIAL-Book.woff") format("woff"),url("MaisonNeueTRIAL-Book.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        

@font-face {
    font-family:"Maison Neue TRIAL Book Italic";
    src:url("MaisonNeueTRIAL-BookItalic.woff2") format("woff2"),url("MaisonNeueTRIAL-BookItalic.woff") format("woff"),url("MaisonNeueTRIAL-BookItalic.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        

@font-face {
    font-family:"Maison Neue TRIAL Demi";
    src:url("MaisonNeueTRIAL-Demi.woff2") format("woff2"),url("MaisonNeueTRIAL-Demi.woff") format("woff"),url("MaisonNeueTRIAL-Demi.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        

@font-face {
    font-family:"Maison Neue TRIAL Demi Italic";
    src:url("MaisonNeueTRIAL-DemiItalic.woff2") format("woff2"),url("MaisonNeueTRIAL-DemiItalic.woff") format("woff"),url("MaisonNeueTRIAL-DemiItalic.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        

@font-face {
    font-family:"Maison Neue TRIAL Extra Bold";
    src:url("MaisonNeueTRIAL-ExtraBold.woff2") format("woff2"),url("MaisonNeueTRIAL-ExtraBold.woff") format("woff"),url("MaisonNeueTRIAL-ExtraBold.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        

@font-face {
    font-family:"Maison Neue TRIAL Extra Bold Italic";
    src:url("MaisonNeueTRIAL-ExtraBoldItalic.woff2") format("woff2"),url("MaisonNeueTRIAL-ExtraBoldItalic.woff") format("woff"),url("MaisonNeueTRIAL-ExtraBoldItalic.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        

@font-face {
    font-family:"Maison Neue TRIAL Extra Thin";
    src:url("MaisonNeueTRIAL-ExtraThin.woff2") format("woff2"),url("MaisonNeueTRIAL-ExtraThin.woff") format("woff"),url("MaisonNeueTRIAL-ExtraThin.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        

@font-face {
    font-family:"Maison Neue TRIAL Extra Thin Italic";
    src:url("MaisonNeueTRIAL-ExtraThinItalic.woff2") format("woff2"),url("MaisonNeueTRIAL-ExtraThinItalic.woff") format("woff"),url("MaisonNeueTRIAL-ExtraThinItalic.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        

@font-face {
    font-family:"Maison Neue TRIAL Light";
    src:url("MaisonNeueTRIAL-Light.woff2") format("woff2"),url("MaisonNeueTRIAL-Light.woff") format("woff"),url("MaisonNeueTRIAL-Light.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        

@font-face {
    font-family:"Maison Neue TRIAL Light Italic";
    src:url("MaisonNeueTRIAL-LightItalic.woff2") format("woff2"),url("MaisonNeueTRIAL-LightItalic.woff") format("woff"),url("MaisonNeueTRIAL-LightItalic.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        

@font-face {
    font-family:"Maison Neue TRIAL Medium";
    src:url("MaisonNeueTRIAL-Medium.woff2") format("woff2"),url("MaisonNeueTRIAL-Medium.woff") format("woff"),url("MaisonNeueTRIAL-Medium.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        

@font-face {
    font-family:"Maison Neue TRIAL Medium Italic";
    src:url("MaisonNeueTRIAL-MediumItalic.woff2") format("woff2"),url("MaisonNeueTRIAL-MediumItalic.woff") format("woff"),url("MaisonNeueTRIAL-MediumItalic.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        

@font-face {
    font-family:"Maison Neue TRIAL Thin";
    src:url("MaisonNeueTRIAL-Thin.woff2") format("woff2"),url("MaisonNeueTRIAL-Thin.woff") format("woff"),url("MaisonNeueTRIAL-Thin.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        

@font-face {
    font-family:"Maison Neue TRIAL Thin Italic";
    src:url("MaisonNeueTRIAL-ThinItalic.woff2") format("woff2"),url("MaisonNeueTRIAL-ThinItalic.woff") format("woff"),url("MaisonNeueTRIAL-ThinItalic.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        