@font-face {
  font-family: 'MaisonNeue';
  src: url('/fonts/MaisonNeue-Bold.woff2') format('woff2'),
       url('/fonts/MaisonNeue-Bold.woff') format('woff');
  font-stretch: normal;
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: 'MaisonNeue';
  src: url('/fonts/MaisonNeue-BoldItalic.woff2') format('woff2'),
       url('/fonts/MaisonNeue-BoldItalic.woff') format('woff');
  font-stretch: normal;
  font-style: italic;
  font-weight: 700;
}
@font-face {
  font-family: 'MaisonNeue';
  src: url('/fonts/MaisonNeue-Book.woff2') format('woff2'),
       url('/fonts/MaisonNeue-Book.woff') format('woff');
  font-stretch: normal;
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'MaisonNeue';
  src: url('/fonts/MaisonNeue-BookItalic.woff2') format('woff2'),
       url('/fonts/MaisonNeue-BookItalic.woff') format('woff');
  font-stretch: normal;
  font-style: italic;
  font-weight: 400;
}
@font-face {
  font-family: 'MaisonNeue';
  src: url('/fonts/MaisonNeue-Demi.woff2') format('woff2'),
       url('/fonts/MaisonNeue-Demi.woff') format('woff');
  font-stretch: normal;
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: 'MaisonNeue';
  src: url('/fonts/MaisonNeue-DemiItalic.woff2') format('woff2'),
       url('/fonts/MaisonNeue-DemiItalic.woff') format('woff');
  font-stretch: normal;
  font-style: italic;
  font-weight: 600;
}
@font-face {
  font-family: 'MaisonNeue';
  src: url('/fonts/MaisonNeue-Light.woff2') format('woff2'),
       url('/fonts/MaisonNeue-Light.woff') format('woff');
  font-stretch: normal;
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: 'MaisonNeue';
  src: url('/fonts/MaisonNeue-LightItalic.woff2') format('woff2'),
       url('/fonts/MaisonNeue-LightItalic.woff') format('woff');
  font-stretch: normal;
  font-style: italic;
  font-weight: 300;
}
@font-face {
  font-family: 'MaisonNeue';
  src: url('/fonts/MaisonNeue-Medium.woff2') format('woff2'),
       url('/fonts/MaisonNeue-Medium.woff') format('woff');
  font-stretch: normal;
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: 'MaisonNeue';
  src: url('/fonts/MaisonNeue-MediumItalic.woff2') format('woff2'),
       url('/fonts/MaisonNeue-MediumItalic.woff') format('woff');
  font-stretch: normal;
  font-style: italic;
  font-weight: 500;
}

$maison-neue: (
  family: 'MaisonNeue',
  offset-capline: 0.1,
  offset-baseline: 0.1,
);
