
@font-face {
    font-family:"Maison Neue Mono Trial Bold";
    src:url("MaisonNeueMonoTrial-Bold.woff2") format("woff2"),url("MaisonNeueMonoTrial-Bold.woff") format("woff"),url("MaisonNeueMonoTrial-Bold.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        

@font-face {
    font-family:"Maison Neue Mono Trial Bold Italic";
    src:url("MaisonNeueMonoTrial-BoldItalic.woff2") format("woff2"),url("MaisonNeueMonoTrial-BoldItalic.woff") format("woff"),url("MaisonNeueMonoTrial-BoldItalic.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        

@font-face {
    font-family:"Maison Neue Mono Trial Italic";
    src:url("MaisonNeueMonoTrial-Italic.woff2") format("woff2"),url("MaisonNeueMonoTrial-Italic.woff") format("woff"),url("MaisonNeueMonoTrial-Italic.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        

@font-face {
    font-family:"Maison Neue Mono Trial Regular";
    src:url("MaisonNeueMonoTrial-Regular.woff2") format("woff2"),url("MaisonNeueMonoTrial-Regular.woff") format("woff"),url("MaisonNeueMonoTrial-Regular.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        

@font-face {
    font-family:"Maison Neue Mono Trial Bold";
    src:url("MaisonNeueMonoTrial-Bold.woff2") format("woff2"),url("MaisonNeueMonoTrial-Bold.woff") format("woff"),url("MaisonNeueMonoTrial-Bold.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        

@font-face {
    font-family:"Maison Neue Mono Trial Bold Italic";
    src:url("MaisonNeueMonoTrial-BoldItalic.woff2") format("woff2"),url("MaisonNeueMonoTrial-BoldItalic.woff") format("woff"),url("MaisonNeueMonoTrial-BoldItalic.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        

@font-face {
    font-family:"Maison Neue Mono Trial Italic";
    src:url("MaisonNeueMonoTrial-Italic.woff2") format("woff2"),url("MaisonNeueMonoTrial-Italic.woff") format("woff"),url("MaisonNeueMonoTrial-Italic.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        

@font-face {
    font-family:"Maison Neue Mono Trial Regular";
    src:url("MaisonNeueMonoTrial-Regular.woff2") format("woff2"),url("MaisonNeueMonoTrial-Regular.woff") format("woff"),url("MaisonNeueMonoTrial-Regular.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        