
@font-face {
	font-family:'MessinaModern';
	src: url('/fonts/MessinaModernTrialWeb-Bold.eot'); /* IE9 Compat Modes */
	src: url('/fonts/MessinaModernTrialWeb-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	     url('/fonts/MessinaModernTrialWeb-Bold.woff2') format('woff2'), /* Super Modern Browsers */
         url('/fonts/MessinaModernTrialWeb-Bold.woff') format('woff'); /* Pretty Modern Browsers */
	font-weight: 700;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+000D-FB04;
}

@font-face {
	font-family:'MessinaModern';
	src: url('/fonts/MessinaModernTrialWeb-BoldItalic.eot'); /* IE9 Compat Modes */
	src: url('/fonts/MessinaModernTrialWeb-BoldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	     url('/fonts/MessinaModernTrialWeb-BoldItalic.woff2') format('woff2'), /* Super Modern Browsers */
         url('/fonts/MessinaModernTrialWeb-BoldItalic.woff') format('woff'); /* Pretty Modern Browsers */
	font-weight: 700;
	font-style: italic;
	font-stretch: normal;
	unicode-range: U+000D-FB04;
}

@font-face {
	font-family:'MessinaModern';
	src: url('/fonts/MessinaModernTrialWeb-Light.eot'); /* IE9 Compat Modes */
	src: url('/fonts/MessinaModernTrialWeb-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	     url('/fonts/MessinaModernTrialWeb-Light.woff2') format('woff2'), /* Super Modern Browsers */
         url('/fonts/MessinaModernTrialWeb-Light.woff') format('woff'); /* Pretty Modern Browsers */
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+000D-FB04;
}

@font-face {
	font-family:'MessinaModern';
	src: url('/fonts/MessinaModernTrialWeb-LightItalic.eot'); /* IE9 Compat Modes */
	src: url('/fonts/MessinaModernTrialWeb-LightItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	     url('/fonts/MessinaModernTrialWeb-LightItalic.woff2') format('woff2'), /* Super Modern Browsers */
         url('/fonts/MessinaModernTrialWeb-LightItalic.woff') format('woff'); /* Pretty Modern Browsers */
	font-weight: 300;
	font-style: italic;
	font-stretch: normal;
	unicode-range: U+000D-FB04;
}

@font-face {
	font-family:'MessinaModern';
	src: url('/fonts/MessinaModernTrialWeb-Regular.eot'); /* IE9 Compat Modes */
	src: url('/fonts/MessinaModernTrialWeb-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	     url('/fonts/MessinaModernTrialWeb-Regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('/fonts/MessinaModernTrialWeb-Regular.woff') format('woff'); /* Pretty Modern Browsers */
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+000D-FB04;
}

@font-face {
	font-family:'MessinaModern';
	src: url('/fonts/MessinaModernTrialWeb-RegularItalic.eot'); /* IE9 Compat Modes */
	src: url('/fonts/MessinaModernTrialWeb-RegularItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	     url('/fonts/MessinaModernTrialWeb-RegularItalic.woff2') format('woff2'), /* Super Modern Browsers */
         url('/fonts/MessinaModernTrialWeb-RegularItalic.woff') format('woff'); /* Pretty Modern Browsers */
	font-weight: 400;
	font-style: italic;
	font-stretch: normal;
	unicode-range: U+000D-FB04;
}

$messina-modern: (
  family: 'MessinaModern',
  trim-capline: 0.125,
  trim-baseline: 0.1,
);
