@font-face {
  font-family: "Neutral";
  src: url("https://s3-eu-west-1.amazonaws.com/fonts-ireland.typotheque.com/WF-024085-009332-001251-e0b371350f356247570e817d161a8bcb.woff2") format("woff2"),
       url("https://s3-eu-west-1.amazonaws.com/fonts-ireland.typotheque.com/WF-024085-009332-001251-e0b371350f356247570e817d161a8bcb.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Neutral";
  src: url("https://s3-eu-west-1.amazonaws.com/fonts-ireland.typotheque.com/WF-024085-009332-001251-e0b371350f356247570e817d161a8bcb.woff2") format("woff2"),
       url("https://s3-eu-west-1.amazonaws.com/fonts-ireland.typotheque.com/WF-024085-009332-001251-e0b371350f356247570e817d161a8bcb.woff") format("woff");
  font-style: italic;
  font-weight: 400;
}
@font-face {
  font-family: "Neutral";
  src: url("https://s3-eu-west-1.amazonaws.com/fonts-ireland.typotheque.com/WF-024085-009332-001253-dc18c8e5777b1789a0ab97b2d6b3c789.woff2") format("woff2"),
       url("https://s3-eu-west-1.amazonaws.com/fonts-ireland.typotheque.com/WF-024085-009332-001253-dc18c8e5777b1789a0ab97b2d6b3c789.woff") format("woff");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "Neutral";
  src: url("https://s3-eu-west-1.amazonaws.com/fonts-ireland.typotheque.com/WF-024085-009332-001253-dc18c8e5777b1789a0ab97b2d6b3c789.woff2") format("woff2"),
       url("https://s3-eu-west-1.amazonaws.com/fonts-ireland.typotheque.com/WF-024085-009332-001253-dc18c8e5777b1789a0ab97b2d6b3c789.woff") format("woff");
  font-style: italic;
  font-weight: 700;
}
// @font-face {
//   font-family: "Neutral";
//   src: url("https://s3-eu-west-1.amazonaws.com/fonts-ireland.typotheque.com/WF-024085-009332-001255-1500caa81df3d54ff166ed007576deba.woff2") format("woff2"),
//        url("https://s3-eu-west-1.amazonaws.com/fonts-ireland.typotheque.com/WF-024085-009332-001255-1500caa81df3d54ff166ed007576deba.woff") format("woff");
//   font-style: normal;
//   font-weight: 700;
// }
// @font-face {
//   font-family: "Neutral";
//   src: url("https://s3-eu-west-1.amazonaws.com/fonts-ireland.typotheque.com/WF-024085-009332-001255-1500caa81df3d54ff166ed007576deba.woff2") format("woff2"),
//        url("https://s3-eu-west-1.amazonaws.com/fonts-ireland.typotheque.com/WF-024085-009332-001255-1500caa81df3d54ff166ed007576deba.woff") format("woff");
//   font-style: italic;
//   font-weight: 700;
// }

$neutral: (
  font-family: "Neutral",
  offset-capline: 0.1,
  offset-baseline: 0.1,
  font-spacing: calc(0.5px - 0.025em),
);
