
@font-face {
    font-family:"Patron TRIAL Black";
    src:url("PatronTRIAL-Black.woff2") format("woff2"),url("PatronTRIAL-Black.woff") format("woff"),url("PatronTRIAL-Black.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        

@font-face {
    font-family:"Patron TRIAL Black Italic";
    src:url("PatronTRIAL-BlackItalic.woff2") format("woff2"),url("PatronTRIAL-BlackItalic.woff") format("woff"),url("PatronTRIAL-BlackItalic.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        

@font-face {
    font-family:"Patron TRIAL Bold";
    src:url("PatronTRIAL-Bold.woff2") format("woff2"),url("PatronTRIAL-Bold.woff") format("woff"),url("PatronTRIAL-Bold.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        

@font-face {
    font-family:"Patron TRIAL Bold Italic";
    src:url("PatronTRIAL-BoldItalic.woff2") format("woff2"),url("PatronTRIAL-BoldItalic.woff") format("woff"),url("PatronTRIAL-BoldItalic.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        

@font-face {
    font-family:"Patron TRIAL Italic";
    src:url("PatronTRIAL-Italic.woff2") format("woff2"),url("PatronTRIAL-Italic.woff") format("woff"),url("PatronTRIAL-Italic.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        

@font-face {
    font-family:"Patron TRIAL Light";
    src:url("PatronTRIAL-Light.woff2") format("woff2"),url("PatronTRIAL-Light.woff") format("woff"),url("PatronTRIAL-Light.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        

@font-face {
    font-family:"Patron TRIAL Light Italic";
    src:url("PatronTRIAL-LightItalic.woff2") format("woff2"),url("PatronTRIAL-LightItalic.woff") format("woff"),url("PatronTRIAL-LightItalic.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        

@font-face {
    font-family:"Patron TRIAL Medium";
    src:url("PatronTRIAL-Medium.woff2") format("woff2"),url("PatronTRIAL-Medium.woff") format("woff"),url("PatronTRIAL-Medium.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        

@font-face {
    font-family:"Patron TRIAL Medium Italic";
    src:url("PatronTRIAL-MediumItalic.woff2") format("woff2"),url("PatronTRIAL-MediumItalic.woff") format("woff"),url("PatronTRIAL-MediumItalic.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        

@font-face {
    font-family:"Patron TRIAL";
    src:url("PatronTRIAL-Regular.woff2") format("woff2"),url("PatronTRIAL-Regular.woff") format("woff"),url("PatronTRIAL-Regular.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        

@font-face {
    font-family:"Patron TRIAL Thin";
    src:url("PatronTRIAL-Thin.woff2") format("woff2"),url("PatronTRIAL-Thin.woff") format("woff"),url("PatronTRIAL-Thin.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        

@font-face {
    font-family:"Patron TRIAL Thin Italic";
    src:url("PatronTRIAL-ThinItalic.woff2") format("woff2"),url("PatronTRIAL-ThinItalic.woff") format("woff"),url("PatronTRIAL-ThinItalic.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        

@font-face {
    font-family:"Patron TRIAL Black";
    src:url("PatronTRIAL-Black.woff2") format("woff2"),url("PatronTRIAL-Black.woff") format("woff"),url("PatronTRIAL-Black.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        

@font-face {
    font-family:"Patron TRIAL Black Italic";
    src:url("PatronTRIAL-BlackItalic.woff2") format("woff2"),url("PatronTRIAL-BlackItalic.woff") format("woff"),url("PatronTRIAL-BlackItalic.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        

@font-face {
    font-family:"Patron TRIAL Bold";
    src:url("PatronTRIAL-Bold.woff2") format("woff2"),url("PatronTRIAL-Bold.woff") format("woff"),url("PatronTRIAL-Bold.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        

@font-face {
    font-family:"Patron TRIAL Bold Italic";
    src:url("PatronTRIAL-BoldItalic.woff2") format("woff2"),url("PatronTRIAL-BoldItalic.woff") format("woff"),url("PatronTRIAL-BoldItalic.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        

@font-face {
    font-family:"Patron TRIAL Italic";
    src:url("PatronTRIAL-Italic.woff2") format("woff2"),url("PatronTRIAL-Italic.woff") format("woff"),url("PatronTRIAL-Italic.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        

@font-face {
    font-family:"Patron TRIAL Light";
    src:url("PatronTRIAL-Light.woff2") format("woff2"),url("PatronTRIAL-Light.woff") format("woff"),url("PatronTRIAL-Light.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        

@font-face {
    font-family:"Patron TRIAL Light Italic";
    src:url("PatronTRIAL-LightItalic.woff2") format("woff2"),url("PatronTRIAL-LightItalic.woff") format("woff"),url("PatronTRIAL-LightItalic.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        

@font-face {
    font-family:"Patron TRIAL Medium";
    src:url("PatronTRIAL-Medium.woff2") format("woff2"),url("PatronTRIAL-Medium.woff") format("woff"),url("PatronTRIAL-Medium.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        

@font-face {
    font-family:"Patron TRIAL Medium Italic";
    src:url("PatronTRIAL-MediumItalic.woff2") format("woff2"),url("PatronTRIAL-MediumItalic.woff") format("woff"),url("PatronTRIAL-MediumItalic.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        

@font-face {
    font-family:"Patron TRIAL";
    src:url("PatronTRIAL-Regular.woff2") format("woff2"),url("PatronTRIAL-Regular.woff") format("woff"),url("PatronTRIAL-Regular.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        

@font-face {
    font-family:"Patron TRIAL Thin";
    src:url("PatronTRIAL-Thin.woff2") format("woff2"),url("PatronTRIAL-Thin.woff") format("woff"),url("PatronTRIAL-Thin.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        

@font-face {
    font-family:"Patron TRIAL Thin Italic";
    src:url("PatronTRIAL-ThinItalic.woff2") format("woff2"),url("PatronTRIAL-ThinItalic.woff") format("woff"),url("PatronTRIAL-ThinItalic.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        