@font-face {
  font-family: 'UntitledSans';
  src: url('/fonts/UntitledSansWeb-Bold.woff2') format('woff2'),
       url('/fonts/UntitledSansWeb-Bold.woff') format('woff');
  font-stretch: normal;
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: 'UntitledSans';
  src: url('/fonts/UntitledSansWeb-Regular.woff2') format('woff2'),
       url('/fonts/UntitledSansWeb-Regular.woff') format('woff');
  font-stretch: normal;
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'UntitledSans';
  src: url('/fonts/UntitledSansWeb-RegularItalic.woff2') format('woff2'),
       url('/fonts/UntitledSansWeb-RegularItalic.woff') format('woff');
  font-stretch: normal;
  font-style: italic;
  font-weight: 400;
}

$untitled-sans: (
  family: 'UntitledSans',
  offset-capline: 0.1,
  offset-baseline: 0.1,
);
