@mixin homework-frame-setup($modern: true) {

  #{base-class('bleed')} { width: unset !important; }

  @if $modern {

    @each $m in join((null), map-keys($media)) {
      @include m($m) {

        .frame#{m-suffix()}, .frame-x#{m-suffix()}, .frame-right#{m-suffix()} { padding-right: var(--outer-right); }
        .frame#{m-suffix()}, .frame-x#{m-suffix()}, .frame-left#{m-suffix()} { padding-left: var(--outer-left); }
        .frame-y#{m-suffix()}, .frame-top#{m-suffix()} { padding-top: var(--outer-top); }
        .frame-y#{m-suffix()}, .frame-bottom#{m-suffix()} { padding-bottom: var(--outer-left); }

        .bleed#{m-suffix()}, .bleed-x#{m-suffix()}, .bleed-right#{m-suffix()} { margin-right: calc(var(--outer-right) * -1); }
        .bleed#{m-suffix()}, .bleed-x#{m-suffix()}, .bleed-left#{m-suffix()} { margin-left: calc(var(--outer-left) * -1); }
        .bleed-y#{m-suffix()}, .bleed-top#{m-suffix()} { margin-top: calc(var(--outer-top) * -1); }
        .bleed-y#{m-suffix()}, .bleed-bottom#{m-suffix()} { margin-bottom: calc(var(--outer-left) * -1); }

      }
    }
  } @else {
    // @include homework-frame-legacy-setup;
  }
}
